<!-- ------------------------------------------------
PROCESS 7:  I have two Sky boxes, I want to move my subscription to the one in the other room.
-------------------------------------------------- -->
<div class="text-left">
  <h2 class="m-b-md yellow">Please follow these steps:</h2>
  <ul style="padding: 0;">
    <li>
      <h3>1.Go back to the account.</h3>
    </li>
    <li>
      <h3>2.Remove all the entitlements.</h3>
    </li>
    <li>
      <h3>3.Click on View Customer and then Join Card.</h3>
    </li>
    <li>
      <h3>4.Add entitlements to the new account created.</h3>
    </li>
  </ul>
</div>
