.overflow {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
  /*box-shadow: inset 0 4px 23px -7px rgba(228, 228, 228, 0.67);*/
}


/*SHOW CAMERA ON HOVER*/
/*.panel-heading .camera{*/
  /*display: none;*/
/*}*/

/*.panel-heading:hover .camera{*/
  /*display: block;*/
/*}*/


.panel-body {
  border-top: 1px solid #ddd;
}
.dark {
  color: #3d4d5d;
}


/*CAMERA ANIMATION*/

.camera {
  display: inline-block;
  float: right;
  height: 15px;
  overflow: hidden;
}
.camera a{
  display: inline-block;
  transform: translateX(76%);
  transition: all 0.5s ease;
  color: #797979;
}
.camera:hover a{
  color: #337ab7;
  transform: translateX(0);
}

/*RIGHT PANEL*/
.rightPanel {
  background: #f5f5f5;
  padding: 20px;
}

/*DATEPICKER*/

/deep/ .mat-datepicker-content {
border-radius: 3px;
}

/deep/ .mat-form-field-underline {
  background-color: rgb(238, 238, 238);
}

/deep/ .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-placeholder {
  /*color: white;*/
}
/deep/ .mat-datepicker-content {
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
  display: block;
}

.mat-form-field {
  top: -10px;
}


/*CLIENT PANEL*/

.client-content {
  /*box-shadow: none !important;*/
}

.client-content .ibox-content {
  /*background: none;*/
  border: none;
  padding: 20px 15px 10px;
}


.options li {
  padding: 2px 4px 2px 2px;
  background: white;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.options li:hover,
.options .active{
  background: #f5f5f5;
  padding: 2px 4px 2px 13px;
}

.category-list .chevron  {
  font-size: 8px;
  color: #acacac;
  position: relative;
  top: -1px;
}

.category-list li a:hover,
.category-list li a.active {
  text-decoration: underline;
  color: #337ab7;
}
.panelContent{
  overflow: auto;
}
.my-pagination /deep/ .ngx-pagination li.current{
  /*border: 1px solid #e3e3e3;*/
  color: #0570e2;
  background: white;
}
.my-pagination /deep/ .ngx-pagination li {
  margin-right: 0 !important;
  float: left;

}
.my-pagination /deep/ .ngx-pagination{
  padding: 0;
}

.my-pagination /deep/  .ngx-pagination a,
.my-pagination /deep/  .ngx-pagination button {
  color: #505b66;
}
.datepicker /deep/.ngx-datepicker-input {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  width: 120px !important;
  padding: 3px 10px !important;
  font-size: 13px !important;
}
@media (max-width: 1600px) {
  .mat-input-container {
    max-width: 120px;
  }
}

@media (max-width: 1400px) {
  .mat-input-container {
    max-width: 90px;
  }
}
