<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a>Search</a>
      </li>
      <li>
        <a>Account</a>
      </li>
      <li>
        <a>Customer</a>
      </li>
      <li class="active">
        <a>History</a>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  fadeInRight " *ngIf="customer" style="padding-left: 0; padding-right: 0;">
  <div class="container-fluid">
    <div class="row">
      <div  class="col-lg-2 col-md-12" *ngIf="histories && customer">
        <div class="ibox client-content float-e-margins">
          <div class="ibox-content ">
            <div class="header">
              <h2>
                {{customer.title}} {{customer.surname}}
              </h2>
              <div class="mail-tools tooltip-demo m-t-md">
                <div class="btn-group pull-right">
                  <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox" (click)="helpers.reset()"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
                <h4><strong>ID: </strong> {{id}}</h4>
              </div>
            </div>
            <div class="file-manager">
              <div class="space-25"></div>
              <div class="row">
                <div class="col-lg-12 col-md-6"> <h5>Categories</h5>
                  <ul class="category-list m-b-md" style="padding: 0">
                    <li (click)="getHistories('customer')"> <a [ngClass]="{active: categorySelected == 'customer' }"> <i class="fa fa-circle text-navy"></i> Customer </a></li>
                    <li>
                      <a (click)="showSubscribers = !showSubscribers"> <i class="fa fa-circle text-primary"></i> Accounts <i [ngClass]="[showSubscribers ? 'fa-chevron-up' : 'fa-chevron-down']" class="chevron fa "></i></a>
                      <ul *ngIf="showSubscribers" style="list-style: circle;">
                        <li (click)="getHistories(sub)"  *ngFor="let sub of subscribers"><a>{{sub.title}} {{sub.surname}} </a></li>
                      </ul>
                    </li>
                    <li (click)="getEntitlementsHistoryById()"><a [ngClass]="{active: categorySelected == 'entitlement'}"> <i class="fa fa-circle text-danger"></i> Entitlements </a></li>
                    <li (click)="getHistories('payment-token')"><a [ngClass]="{active: categorySelected == 'payment-token'}"> <i class="fa fa-circle text-info"></i> Payment </a></li>
                  </ul></div>
                <div class="col-lg-12 col-md-6">
                  <h5>Options</h5>
                  <ul class="folder-list options" style="padding: 0">
                    <li [ngClass]="{active: views.history && !views.snapshot}">
                      <a (click)="changeView('H')"> <i class="fa fa-list "></i> History <span class="label label-warning pull-right">{{histories.length}} entries</span></a>
                    </li>
                    <li [ngClass]="{active: views.compare}">
                      <a (click)="changeView('C')" > <i class="fa fa-columns"></i> Compare</a>
                    </li>
                    <li [ngClass]="{active: views.revision}">
                      <a (click)="changeView('R')"> <i class="fa fa-certificate"></i> Revision</a>
                    </li>
                    <li [ngClass]="{active: views.snapshot && views.history}">
                      <a (click)="changeView('S'); getSnapshot( histories[0].revisionId, histories[0].resourceId, histories[0].date, histories[0].auditor)" > <i class="fa fa-camera"></i> Snapshot</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <hr>
            <button type="button" routerLink="/customer/{{id}}" class="btn btn-danger">Back to customer</button>
          </div>
        </div>
      </div>
      <!--HISTORY VIEW-->
      <div *ngIf="views.history || views.compare" [ngClass]="[views.history && !views.snapshot ? 'col-lg-10' : 'col-lg-6',
      views.history && !views.snapshot ? 'col-lg-10' : 'col-lg-6']" class=" col-sm-12  col-xs-12 col-md-12">
        <div class="ibox">
          <div class="ibox-title" style="max-height: 60px;">
            <h5>{{categorySelected | capitalize }} History</h5>
            <div class="ibox-tools">
              <!--<a  class="btn btn-primary btn-xs">Filter by date</a>-->
              <!--<mat-form-field class="m-r-lg">-->
                <!--&lt;!&ndash;(dateChange)="picker1($event)"&ndash;&gt;-->
                <!--<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  (dateChange)="showHistoryByDate()" placeholder="From" [(ngModel)]="date1">-->
                <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
                <!--<mat-datepicker   #picker></mat-datepicker>-->
              <!--</mat-form-field>-->
              <div style="position: relative; top: -5px">
                From: <ng-datepicker [(ngModel)]="date1" class="inline datepicker" (ngModelChange)="showHistoryByDate()" [options]="options"></ng-datepicker>
                To: <ng-datepicker [(ngModel)]="date2" class="inline datepicker" [position]="'bottom-left'" (ngModelChange)="showHistoryByDate()" [options]="options"></ng-datepicker>
              </div>

              <!--<mat-form-field class="">-->
                <!--<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" (dateChange)="showHistoryByDate()" placeholder="To" [(ngModel)]="date2">-->
                <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
                <!--<mat-datepicker #picker2></mat-datepicker>-->
              <!--</mat-form-field>-->

            </div>
          </div>
          <div class="ibox-content">
            <div class="m-b-lg">
              <div class="">
                <div class="pull-right">
                  <!--Subscriber entitlements dropdown-->
                  <div class="btn-group  dropdown" *ngIf="categorySelected === 'entitlement'">
                    <button class="btn btn-sm btn-white dropdown-toggle" data-toggle="dropdown">
                      <span> {{entsViewSelected}} entitlements</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a (click)="getEntitlementsHistoryById(); entsViewSelected = 'All' ">All Entitlements</a>
                      </li>
                      <li *ngFor="let sub of subscribers">
                        <a (click)="getEntitlementsHistoryById(sub); entsViewSelected = sub.title + ' ' + sub.surname">
                          {{sub.title}} {{sub.surname}} entitlements
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- END: Subscriber entitlements dropdown -->
                  <div class="input-group-btn inline">
                    <button data-toggle="dropdown" class="btn btn-white btn-sm dropdown-toggle" type="button" aria-expanded="false">
                      <span *ngIf="showNumber == 999999999"> All</span>
                      <span *ngIf="showNumber != 999999999">{{showNumber}}</span> entries
                      <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li (click)="showNumber = 10"><a >10 entries</a></li>
                      <li (click)="showNumber = 20"><a >20 entries</a></li>
                      <li (click)="showNumber = 50"><a >50 entries</a></li>
                      <li (click)="showNumber = 100"><a >100 entries</a></li>
                      <li (click)="showNumber = 999999999"><a>All entries</a></li>
                    </ul>
                    <button type="button" class="btn btn-sm btn-white" (click)="histories.reverse(); order = !order;">
                      <i [ngClass]="[order ? 'fa-sort-amount-asc' : 'fa-sort-amount-desc']" class="fa " aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-white" (click)="closeAll()"> <i class="fa fa-times"></i> </button>
                  </div>
                </div>
                <strong *ngIf="histories != null">Found {{histories.length}} history entries.</strong>
              </div>
            </div>
            <div class="panel-group" id="accordion">
              <ng-container  *ngFor="let history of histories | paginate: { itemsPerPage: showNumber, currentPage: p}; let i = index">
              <div class="panel panel-default" >
                <div class="panel-heading">
                    <span class="inline m-r-md" *ngIf="categorySelected != 'entitlement'">
                      <input type="checkbox" (change)="arrayCompare($event, history); "  name="compare" class=" m-r-md inline" [checked]="history.checked">
                    </span>
                    <span class="label label-primary" [ngClass]="{'byellow': history.type === 'MOD', 'bred': history.type === 'DEL'}">{{history.type}}</span>
                    <a data-toggle="collapse" data-parent="#accordion" class="m-l-lg" href="#{{history.revisionId}}{{history.resourceId}}" *ngIf="categorySelected != 'payment-token' && categorySelected != 'entitlement' ">
                      <span [ngClass]="{hidden: innerWidth < 1600}">Revision </span> ID: {{history.revisionId}}
                    </a>
                    <a data-toggle="collapse" data-parent="#accordion" class="m-l-lg collapsed" href="#{{history.revisionId}}{{history.resourceId}}" *ngIf="categorySelected == 'payment-token'" (click)="getPaymentSnapshots(i, $event.currentTarget)">
                      <span [ngClass]="{hidden: innerWidth < 1600}">Revision </span> ID: {{history.revisionId}}
                    </a>
                    <a class="m-l-md collapsed" *ngIf="categorySelected == 'entitlement'" (click)="getSnapshot( history.revisionId, history.resourceId, history.date, history.auditor)">
                      <span [ngClass]="{hidden: innerWidth < 1600}">Revision </span> ID: {{history.revisionId}}
                    </a>
                    <span class="m-l-md" *ngIf="history.auditor">{{history.auditor.name.toUpperCase()}}</span>
                    <span class="m-l-md"><span [ngClass]="{hidden: innerWidth < 1600}">Date: </span> {{history.date | date : 'd-MM-yyyy, h:mm a'}}</span>
                    <span class="m-l-md"><span [ngClass]="{hidden: innerWidth < 1600}">Number of </span> Updates: {{history.updates.length}}</span>
                    <span class="camera" (click)="getSnapshot( history.revisionId, history.resourceId, history.date, history.auditor)">
                      <a><i class="fa fa-camera"></i> Snapshot</a>
                    </span>
                </div>
                <div id="{{history.revisionId}}{{history.resourceId}}"   class="panel-collapse collapse panelContent">
                  <div class="panel-body"  *ngIf="categorySelected != 'entitlement'">
                    <div class="row">
                      <div class="col-xs-4">  <span class="m-l-lg"><label class="m-n">PROPERTY NAME: </label></span></div>
                      <div class="col-xs-4" >  <span class="m-l-lg"><label class="m-n">PREVIOUS VALUE: </label></span></div>
                      <div class="col-xs-4">  <span class="m-l-lg"><label class="m-n">NEW VALUE: </label></span></div>
                    </div>
                  </div>
                  <div [ngClass]="{'overflow': history.updates.length > 8}">
                    <!--Customer / Subscribers category-->
                    <ng-container *ngIf="categorySelected != 'payment-token' && categorySelected != 'entitlement'">
                    <div class="panel-body " *ngFor="let update of history.updates">
                      <div class="row" *ngIf="update.propertyName == 'marketingPreferencesConsentDate'">
                        <div class="col-xs-4">
                          <span class="m-l-lg"> {{update.propertyName}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="m-l-lg">
                              <span *ngIf="update.previousValue == null || update.previousValue.length == 0" class="emptyUnknown">Empty</span>
                              {{update.previousValue | date: "medium"}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span class="m-l-lg">
                            <span *ngIf="update.newValue == null || update.newValue.length == 0" class="emptyUnknown">Empty</span><i>{{update.newValue | date: "d-MM-yyyy"}}</i></span>
                        </div>
                      </div>
                      <div class="row"  *ngIf="update.propertyName == 'marketingPreferences'">
                          <div class="col-xs-4">
                            <span class="m-l-lg"> marketingPreferences</span>
                          </div>
                          <div class="col-xs-4">
                            <span *ngIf="!update.previousValue" class="m-l-lg emptyUnknown">Empty</span>
                            <ng-container *ngIf="update.previousValue">
                              <p  class="m-l-lg">FP_POST: {{update.previousValue['FP_POST']}}</p>
                              <p  class="m-l-lg">FP_EMAIL: {{update.previousValue['FP_EMAIL']}}</p>
                              <p  class="m-l-lg">FP_PHONE: {{update.previousValue['FP_PHONE']}}</p>
                              <p  class="m-l-lg">FP_SMS: {{update.previousValue['FP_SMS']}}</p>
                              <p  class="m-l-lg">TP_POST: {{update.previousValue['TP_POST']}}</p>
                              <p  class="m-l-lg">TP_EMAIL: {{update.previousValue['TP_EMAIL']}}</p>
                              <p  class="m-l-lg">TP_PHONE: {{update.previousValue['TP_PHONE']}}</p>
                              <p  class="m-l-lg">TP_SMS: {{update.previousValue['TP_SMS']}}</p>
                            </ng-container>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="update.newValue">
                              <p class="m-l-lg">FP_POST: {{update.newValue['FP_POST']}}</p>
                              <p class="m-l-lg">FP_EMAIL: {{update.newValue['FP_EMAIL']}}</p>
                              <p class="m-l-lg">FP_PHONE: {{update.newValue['FP_PHONE']}}</p>
                              <p class="m-l-lg">FP_SMS: {{update.newValue['FP_SMS']}}</p>
                              <p class="m-l-lg">TP_POST: {{update.newValue['TP_POST']}}</p>
                              <p class="m-l-lg">TP_EMAIL: {{update.newValue['TP_EMAIL']}}</p>
                              <p class="m-l-lg">TP_PHONE: {{update.newValue['TP_PHONE']}}</p>
                              <p class="m-l-lg">TP_SMS: {{update.newValue['TP_SMS']}}</p>
                            </ng-container>
                          </div>
                        </div>
                        <div class="row" *ngIf="update.propertyName != 'marketingPreferences' && update.propertyName != 'marketingPreferencesConsentDate'">
                          <div class="col-xs-4">
                            <span class="m-l-lg"> {{update.propertyName}}</span>
                          </div>
                          <div class="col-xs-4">
                            <span class="m-l-lg">
                              <span *ngIf="update.previousValue == null || update.previousValue.length == 0" class="emptyUnknown">Empty</span>
                              {{update.previousValue}}</span>
                          </div>
                          <div class="col-xs-4">
                            <span class="m-l-lg">
                            <span *ngIf="update.newValue == null || update.newValue.length == 0" class="emptyUnknown">Empty</span><i>{{update.newValue}}</i></span>
                          </div>
                      </div>
                    </div>
                    </ng-container>
                    <!--Payment-token category-->
                    <ng-container *ngIf="categorySelected == 'payment-token' && paymentSnapshotNew ">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-xs-4">
                            <span class="m-l-lg"> Token </span>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotPrevious.token; else empty">{{paymentSnapshotPrevious.token}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotNew.token; else empty">{{paymentSnapshotNew.token}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-xs-4">
                            <span class="m-l-lg"> Token Id </span>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotPrevious.tokenId; else empty"> {{paymentSnapshotPrevious.tokenId}} </ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotNew.tokenId; else empty">{{paymentSnapshotNew.tokenId}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-xs-4">
                            <span class="m-l-lg"> Expiry Date </span>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotPrevious.expiryDate; else empty">{{paymentSnapshotPrevious.expiryDate}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotNew.expiryDate; else empty">{{paymentSnapshotNew.expiryDate}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-xs-4">
                            <span class="m-l-lg"> Default Credit Limit </span>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotPrevious.account; else empty">{{paymentSnapshotPrevious.account.defaultCreditLimit}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotNew.account; else empty">{{paymentSnapshotNew.account.defaultCreditLimit}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-xs-4">
                            <span class="m-l-lg"> Billing Address Line 1 </span>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotPrevious.customer; else empty">{{paymentSnapshotPrevious.customer.billingAddressLine1}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotNew.customer; else empty">{{paymentSnapshotNew.customer.billingAddressLine1}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-xs-4">
                            <span class="m-l-lg"> Billing Address Line 2</span>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotPrevious.customer; else empty">{{paymentSnapshotPrevious.customer.billingAddressLine2}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                          <div class="col-xs-4">
                            <ng-container *ngIf="paymentSnapshotNew.customer; else empty"> {{paymentSnapshotNew.customer.billingAddressLine2}}</ng-container>
                            <ng-template #empty ><span class="emptyUnknown">Empty </span> </ng-template>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                 </div>
                </div>
              </div>
              </ng-container>
            </div>
            <div class="text-right">
              <pagination-controls (pageChange)="p = $event" class="my-pagination "></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <!--COMPARE VIEW-->
      <div *ngIf="views.compare && categorySelected != 'entitlement'" [ngClass]="[views.compare  ? 'col-lg-4' : 'col-lg-4']" class=" col-sm-12  col-xs-12">
        <div class="ibox">
          <div class="ibox-title" style="max-height: 60px;">
            <h5><i class="fa fa-columns"></i> Compare</h5>
            <div class="ibox-tools">
              <a (click)="changeView('H');"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="m-b-lg">
              <div class="row">
                <div class="col-xs-12">
                  <div class="panel-group m-t-lg" *ngIf="compareResults != null">
                    <table class="table" *ngIf="compareResults.length > 0">
                      <thead>
                      <tr>
                        <th class="dark">PROPERTY NAME</th>
                        <th class="dark">{{compareItemsDates[0] | date : 'd-MM-yyyy, h:mm a'}} </th>
                        <th class="dark">{{compareItemsDates[1] | date : 'd-MM-yyyy, h:mm a'}} </th>
                      </tr>
                      </thead>
                      <tbody>
                      <ng-container *ngIf="categorySelected != 'payment-token'">
                        <ng-container *ngIf="marketingPreferences">
                          <tr *ngIf="marketingPreferences.previousValue.FP_EMAIL != marketingPreferences.newValue.FP_EMAIL"><td>First-Party EMAIL</td><td>{{marketingPreferences.previousValue.FP_EMAIL}}</td><td>{{marketingPreferences.newValue.FP_EMAIL}}</td></tr>
                          <tr *ngIf="marketingPreferences.previousValue.FP_POST != marketingPreferences.newValue.FP_POST"><td>First-Party POST</td><td>{{marketingPreferences.previousValue.FP_POST}}</td><td>{{marketingPreferences.newValue.FP_POST}}</td></tr>
                          <tr *ngIf="marketingPreferences.previousValue.FP_PHONE != marketingPreferences.newValue.FP_PHONE"><td>First-Party PHONE</td><td>{{marketingPreferences.previousValue.FP_PHONE}}</td><td>{{marketingPreferences.newValue.FP_PHONE}}</td></tr>
                          <tr *ngIf="marketingPreferences.previousValue.FP_SMS != marketingPreferences.newValue.FP_SMS"><td>First-Party SMS</td><td>{{marketingPreferences.previousValue.FP_SMS}}</td><td>{{marketingPreferences.newValue.FP_SMS}}</td></tr>
                          <tr *ngIf="marketingPreferences.previousValue.TP_EMAIL != marketingPreferences.newValue.TP_EMAIL"><td>Third-Party EMAIL</td><td>{{marketingPreferences.previousValue.TP_EMAIL}}</td><td>{{marketingPreferences.newValue.TP_EMAIL}}</td></tr>
                          <tr *ngIf="marketingPreferences.previousValue.TP_POST != marketingPreferences.newValue.TP_POST"><td>Third-Party POST</td><td>{{marketingPreferences.previousValue.TP_POST}}</td><td>{{marketingPreferences.newValue.TP_POST}}</td></tr>
                          <tr *ngIf="marketingPreferences.previousValue.TP_PHONE != marketingPreferences.newValue.TP_PHONE"><td>Third-Party PHONE</td><td>{{marketingPreferences.previousValue.TP_PHONE}}</td><td>{{marketingPreferences.newValue.TP_PHONE}}</td></tr>
                          <tr *ngIf="marketingPreferences.previousValue.TP_SMS != marketingPreferences.newValue.TP_SMS"><td>Third-Party SMS</td><td>{{marketingPreferences.previousValue.TP_SMS}}</td><td>{{marketingPreferences.newValue.TP_SMS}}</td></tr>
                        </ng-container>
                        <tr *ngFor="let res of compareResults">
                          <ng-container *ngIf="res.propertyName != 'marketingPreferences'">
                            <td>{{res.propertyName}} <span *ngIf="res.propertyName == null || res.propertyName == undefined || res.propertyName == ''">Unknown</span></td>
                            <td>{{res.previousValue}} <span *ngIf="res.previousValue == null || res.previousValue == undefined || res.previousValue == ''">Unknown</span></td>
                            <td><i>{{res.newValue}} <span *ngIf="res.newValue == null || res.newValue == undefined || res.newValue == ''">Unknown</span></i></td>
                          </ng-container>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="categorySelected == 'payment-token'">
                        <tr *ngIf="compareResults[2]">
                          <td>Token</td>
                          <td>{{compareResults[2].previousValue}}</td>
                          <td>{{compareResults[2].newValue}}</td>
                        </tr>
                        <tr *ngIf="compareResults[3]">
                          <td>Expiry Date</td>
                          <td>{{compareResults[3].previousValue}}</td>
                          <td>{{compareResults[3].newValue}}</td>
                        </tr>
                        <tr *ngIf="compareResults[0]">
                          <td>Credit Limit</td>
                          <td>{{compareResults[0].previousValue.defaultCreditLimit}}</td>
                          <td>{{compareResults[0].newValue.defaultCreditLimit}}</td>
                        </tr>
                        <tr *ngIf="compareResults[1]">
                          <td>Billing Address</td>
                          <td>{{compareResults[1].previousValue.billingAddressLine1}} {{compareResults[1].previousValue.billingAddressLine2}}</td>
                          <td>{{compareResults[1].newValue.billingAddressLine1}} {{compareResults[1].newValue.billingAddressLine2}}</td>
                        </tr>
                        <ng-template #empty>
                          Empty
                        </ng-template>
                      </ng-container>
                      </tbody>
                    </table>
                    <div class="text-center ">
                      <h2 style="color: #c1c1c1;" *ngIf="compareResults.length == 0">{{compareMessage}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row" *ngIf="compareResults != null ">
              <div class="text-left col-md-12">
                <p>Number of updates: {{compareResults.length}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--SNAPSHOT VIEW-->
      <div *ngIf="views.snapshot && views.history" class="col-lg-4  col-sm-12  col-xs-12  fadeInRight">
        <div class="ibox">
          <div class="ibox-title" style="max-height: 60px;">
            <h5>Snapshot</h5>
            <div class="ibox-tools">
              <a (click)="changeView('H')" ><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="panel-group m-b-lg " *ngIf="snapshot">
              <div class="row">
                <!--<div class="col-md-4">-->
                  <!--<span class="dark">Revision ID: </span>-->
                  <!--<a data-toggle="collapse"  href="#{{revisionId}}" class="blue">{{revisionId}}</a>-->
                <!--</div>-->
                <div class="col-md-6 col-xs-6">
                  <h4>
                    <span class="dark"> Auditor: </span> <span class="blue">{{snapAuditor.toUpperCase()}}</span>
                  </h4>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                  <h4>
                    <span class="dark"> Date: </span> <span class="">{{snapDate | date : 'd-MM-yyyy, h:mm a'}}</span>
                  </h4>
                </div>

              </div>
              <div class="panel panel-default rightPanel" *ngIf="snapshot != undefined">
                <div *ngIf="categorySelected == 'customer'">
                  <h2>{{snapshot.title}} {{snapshot.name}} {{snapshot.surname}}</h2>
                  <p><span class="dark">Customer ID:</span>  {{snapshot.id}}</p>
                  <p><span class="dark">Created at:</span> {{snapshot.createdAt}}</p>
                  <p><span class="dark">Updated at: </span>{{snapshot.updatedAt}}</p>
                  <p><span class="dark">Title:</span> {{snapshot.title}}</p>
                  <p><span class="dark">Initials:</span> {{snapshot.initials}}</p>
                  <p><span class="dark">Surname:</span> {{snapshot.surname}}</p>
                  <p><span class="dark">Billing Address Line1: </span>{{snapshot.billingAddressLine1}}</p>
                  <p><span class="dark">Billing Address Line2:</span> {{snapshot.billingAddressLine2}}</p>
                  <p><span class="dark" *ngIf="snapshot.billingAddressLine3">Billing Address Line3: </span>{{snapshot.billingAddressLine3}}</p>
                  <p><span class="dark" *ngIf="snapshot.billingAddressLine4">Billing Address Line4: </span>{{snapshot.billingAddressLine4}}</p>
                  <p><span class="dark" *ngIf="snapshot.billingAddressLine5">Billing Address Line5: </span>{{snapshot.billingAddressLine5}}</p>
                  <p><span class="dark">Billing Postcode: </span>{{snapshot.billingPostcode}}</p>
                  <p><span class="dark">Billing Country Code:</span> {{snapshot.billingCountryCode}}</p>
                  <p><span class="dark">Home Tel No:</span>{{snapshot.homeTelNo}}</p>
                  <p><span class="dark">Work Tel No: </span>{{snapshot.workTelNo}}</p>
                  <p><span class="dark">Mob Tel No: </span>{{snapshot.mobTelNo}}</p>
                  <p><span class="dark">Email:</span> {{snapshot.email}}</p>
                  <p><span class="dark">Marketing Preferences:</span></p>
                  <div class="row" *ngIf="snapshot.marketingPreferences">
                    <div class="col-md-6 col-xs-12">
                      <ul style="padding-left: 15px;">
                        <li> - FP_POST: {{snapshot.marketingPreferences['FP_POST']}}</li>
                        <li> - FP_EMAIL:  {{snapshot.marketingPreferences['FP_EMAIL']}}</li>
                        <li> - FP_PHONE: {{snapshot.marketingPreferences['FP_PHONE']}}</li>
                        <li> - FP_SMS: {{snapshot.marketingPreferences['FP_SMS']}}</li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <ul style="padding-left: 0;">
                        <li> - TP_POST: {{snapshot.marketingPreferences['TP_POST']}}</li>
                        <li> - TP_EMAIL:  {{snapshot.marketingPreferences['TP_EMAIL']}}</li>
                        <li> - TP_PHONE: {{snapshot.marketingPreferences['TP_PHONE']}}</li>
                        <li> - TP_SMS: {{snapshot.marketingPreferences['TP_SMS']}}</li>
                      </ul>
                    </div>
                  </div>
                  <p><span class="dark">Marketing Preferences Consent Date:</span> {{snapshot.marketingPreferencesConsentDate | date : "d-MM-yyyy"}}</p>

                </div>
                <div *ngIf="categorySelected == 'subscriber'">
                  <h2>{{snapshot.title}} {{snapshot.name}} {{snapshot.surname}}</h2>
                  <p *ngIf="snapshot.viewingCard"><span class="dark">Viewing Card Number:</span>  {{snapshot.viewingCard.cardNumber}}</p>
                  <p><span class="dark">Subscriber ID:</span>  {{snapshot.id}}</p>
                  <p><span class="dark">Card Subscriber ID:</span>  {{snapshot.cardSubscriberId}}</p>
                  <p><span class="dark">Country Code:</span> {{snapshot.countryCode}}</p>
                  <p><span class="dark">Currency Code: </span>{{snapshot.currencyCode}}</p>
                  <p><span class="dark">Card Holder type: </span>{{snapshot.cardHolderType}}</p>
                  <p><span class="dark">Title:</span> {{snapshot.title}}</p>
                  <p><span class="dark">Initials:</span> {{snapshot.initials}}</p>
                  <p><span class="dark">Surname:</span> {{snapshot.surname}}</p>
                  <p><span class="dark">Address Line 1: </span>{{snapshot.addressLine1}}</p>
                  <p><span class="dark">Address Line 2:</span> {{snapshot.addressLine2}}</p>
                  <p *ngIf="snapshot.addressLine3"><span class="dark">Address Line 3:</span>{{snapshot.addressLine3}}</p>
                  <p *ngIf="snapshot.addressLine4"><span class="dark">Address Line 4:</span>{{snapshot.addressLine4}}</p>
                  <p *ngIf="snapshot.addressLine5"><span class="dark">Address Line 5:</span>{{snapshot.addressLine5}}</p>
                  <p><span class="dark">Postcode: </span>{{snapshot.postcode}}</p>
                  <p><span class="dark">Billing Country Code:</span> {{snapshot.billingCountryCode}}</p>
                  <p><span class="dark">Home Tel No:</span>{{snapshot.homeTelNo}}</p>
                  <p><span class="dark">Work Tel No: </span>{{snapshot.workTelNo}}</p>
                  <p><span class="dark">Mob Tel No: </span>{{snapshot.mobTelNo}}</p>
                  <p><span class="dark">Credit Limit:</span> {{snapshot.creditLimit | currency: snapshot.currencyCode : 'symbol'}}</p>
                  <p><span class="dark">VIP: </span> {{snapshot.vip}}</p>
                </div>
                <div *ngIf="categorySelected == 'entitlement' && snapshot.productGroup != undefined">
                  <p><span class="dark">Product Group ID: </span>{{snapshot.productGroup.id}}</p>
                  <p><span class="dark">Title Label: </span>{{snapshot.productGroup.titleLabel}}</p>
                  <p><span class="dark">Title Dscription: </span>{{snapshot.productGroup.titleDescription}}</p>
                  <p><span class="dark">Created At: </span>{{snapshot.productGroup.createdAt | date: 'd-MM-yyyy'}}</p>
                  <p><span class="dark">Updated At: </span>{{snapshot.productGroup.updatedAt | date: 'd-MM-yyyy'}}</p>
                  <p><span class="dark">Valid From: </span>{{snapshot.productGroup.validFromDate | date: 'd-MM-yyyy'}}</p>
                  <p><span class="dark">Valid To: </span>{{snapshot.productGroup.validTo | date: 'd-MM-yyyy'}}</p>
                  <p><span class="dark">Price: </span><span *ngIf="!snapshot.productGroup.price">Unknown</span>{{snapshot.productGroup.price | currency : snapshot.productGroup.currencyCode}}</p>
                  <p><span class="dark">Discount: </span>{{snapshot.discount | currency : snapshot.productGroup.currencyCode}}</p>
                  <p><span class="dark">Currency: </span>{{snapshot.productGroup.currencyCode}}</p>
                  <!--<p><span class="dark">STATUS: </span>{{snapshot.activated}}</p>-->
                </div>
                <div *ngIf="categorySelected == 'payment-token' && snapshot.customer != undefined">
                  <p><span class="dark">Token ID: </span>{{snapshot.tokenId}}</p>
                  <p><span class="dark">Token: </span>{{snapshot.token}}</p>
                  <p><span class="dark">Expiry Date: </span> <span *ngIf="!snapshot.expiryDate">Unknown</span>{{snapshot.expiryDate}}</p>
                  <p><span class="dark">Default Credit Limit: </span>{{snapshot.account.defaultCreditLimit | currency : subscribers[0].currencyCode : 'symbol'}}</p>
                  {{snapshot.customer.currencyCode}}
                  <p><span class="dark">Billing Address Line 1: </span>{{snapshot.customer.billingAddressLine1}}</p>
                  <p><span class="dark">Billing Address Line 2: </span>{{snapshot.customer.billingAddressLine2}}</p>
                  <p *ngIf="snapshot.customer.billingAddressLine3"><span class="dark">Billing Address Line 3: </span>{{snapshot.customer.billingAddressLine3}}</p>
                  <p *ngIf="snapshot.customer.billingAddressLine4"><span class="dark">Billing Address Line 4: </span>{{snapshot.customer.billingAddressLine4}}</p>
                  <p *ngIf="snapshot.customer.billingAddressLine5"><span class="dark">Billing Address Line 5: </span>{{snapshot.customer.billingAddressLine5}}</p>
                </div>
              </div>
            </div>
            <div class="text-center m-t-lg m-b-lg">
              <h2 style="color: #c1c1c1;" *ngIf="!snapshot">Please click <i class="fa fa-camera m-l-sm m-r-sm"></i> of any history item.</h2>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ---------
DIALOG BOXES
---------- -->

<!--INFO-->
<div class="overlay err" *ngIf="info != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>{{info.status}}</h2>
      <h2>{{info.title}}</h2>
      <h3>{{info.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="info = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>
