<!-- ---------------------------------
PROCESS 17: View my subscription channels on my Ipad and other devices
----------------------------------- -->


<!-- --------
DIALOG BOXES
--------- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/search"> OK </button>
      </div>
    </div>
  </div>
</div>

<!-- ADVISE CUSTOMER -->
<div class="overlay info" *ngIf="advise">
  <div class="overlayBox  fadeIn" style="max-width: 650px">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 style="font-size: 22px">Please advise customer that the subscription channels on iPad and other devices are not available for adult. </h2>
      <hr>
      <h2 >To access on Ipad and other devices please visit <strong style="font-size: 22px">www.televisionx.com</strong></h2>
      <div class="overlayButtons m-t-lg" >
        <!--<button class="btn btn-success" (click)="advise = false; advise2 = true"> NEXT </button>-->
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"> OK</button>
      </div>
    </div>
  </div>
</div>

