<!----------------------------------
PROCESS 29:
----------------------------------->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li>
        <a >Account</a>
      </li>
      <li class="active">
        <strong>Request replacement card</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  fadeInRight"  *ngIf="true">
  <app-replacement-process [urgent]="urgent" [title]="title" [options]="options" ></app-replacement-process>
</div>

<!-----------
DIALOG BOXES
------------>



<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/search"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success" >
  <div class="overlayBox  fadeInDown" style="max-width: 422%">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>The replacement card request has been canceled.</h2>
      <hr>
      <h2 style="font-size: 20px">Please advise the customer to insert the original viewing card in the Sky box. <br><br> Has the viewing card been reactivated?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" routerLink="/process21" ><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>




