<div class="row wrapper border-bottom white-bg page-heading" *ngIf="!customerPage">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li class="active" >
        <strong *ngIf="!advanced">Search Account</strong>
        <strong *ngIf="advanced">Advanced Search</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content Right" *ngIf="!packages" (click)="addressList = null">
  <div class="container m-t-md">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="ibox ibox-main float-e-margins" >
          <div class="ibox-title">
            <h5 *ngIf="!advanced"> Search Account</h5>
            <h5 *ngIf="advanced"> Advanced Search</h5>
            <div class="ibox-tools">
              <a *ngIf="!customerPage" title="Refresh Search" (click)="helpers.reset()"> <i class="fa fa-refresh" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="ibox-content">
            <form [formGroup]="searchForm" *ngIf="!subscribers && !skySubscriber" autocomplete="off">
              <div class="form-group row"  *ngIf="advanced">
                <div class="col-md-4">
                  <label class="control-label">Card Subscriber Id</label>
                  <input type="text" class="form-control" name="cardSubscriberId" formControlName="cardSubscriberId" #cardSubscriberId [readonly]="readOnlyCSI" (keyup)="readOnly()">
                  <div *ngIf="searchForm.controls['cardSubscriberId'].hasError('onlyNumbers')  && (searchForm.controls['cardSubscriberId'].touched || submitted)" class="error">
                    Only Numbers
                  </div><br class="visible-xs visible-sm">
                </div>
                <div class="col-md-4">
                  <label class="control-label"> Subscriber Id <small>(Internal DB)</small></label>
                  <input type="text" class="form-control" name="subscriberId" formControlName="subscriberId" #subscriberId [readonly]="readOnlySI" (keyup)="readOnly()">
                  <div *ngIf="searchForm.controls['subscriberId'].hasError('onlyNumbers')  && (searchForm.controls['subscriberId'].touched || submitted)" class="error">
                    Only Numbers
                  </div><br class="visible-xs visible-sm">
                </div>
                <div class="col-md-4">
                  <label class="control-label">Customer Id <small>(Internal DB)</small></label>
                  <input type="text" class="form-control" name="customerId" formControlName="customerId" [readonly]="readOnlyCI" (keyup)="readOnly()">
                  <div *ngIf="searchForm.controls['customerId'].hasError('onlyNumbers')  && (searchForm.controls['customerId'].touched || submitted)" class="error">
                    Only Numbers
                  </div><br class="visible-xs visible-sm">
                </div>
              </div>
              <div class="hr-line-dashed" *ngIf="advanced"></div>
              <div class="form-group">
                <label class="control-label">Surname</label>
                <input type="text" class="form-control" name="surname" formControlName="surname" #surname [readonly]="readOnlySearch">
                <div *ngIf="searchForm.controls['surname'].invalid  && (searchForm.controls['surname'].touched || submitted)" class="error">
                  Surname is required. (Only letters)
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                <div class="col-lg-8">
                <label class="control-label">Postcode</label>
                <span class="input-group">
                 <input type="text"  formControlName="postcode"  name="postcode" class="form-control" maxlength="9" (keyup)="exception.value = ''" autocomplete="user-postcode" [readonly]="readOnlySearch">
                    <a class="input-group-addon btn-white" [ngClass]="{'bblue white': searchForm.value.postcode.length > 0}" *ngIf="searchForm.value.postcode.length > 0; else buttonDisabled"
                       (click)="findAddress()">Find address</a>
                     <ng-template #buttonDisabled>
                      <a class="input-group-addon btn-white" [ngClass]="{'bblue white': searchForm.value.postcode.length > 0}" disabled >Find address</a>
                     </ng-template>
                  </span>
                <div *ngIf="searchForm.controls['postcode'].invalid  && (searchForm.controls['postcode'].touched || submitted)" class="error">
                  No special characters allowed
                </div>
                <div class="findAddress" *ngIf="addressList">
                  <ul>
                    <li *ngFor="let address of addressList" (click)="setAddress(address)">
                      <a>{{address.notFound}} {{address.addressLine1}} {{address.addressLine2}} {{address.addressLine3}} {{address.addressLine4}} {{address.addressLine5}}</a>
                    </li>
                  </ul>
                  <button class="btn btn-primary" (click)="showSearchRemote = true; disableInput = false; addressSelected = true" style="margin: 0; width: 100%;">Add address manually.</button>
                </div>
                </div>
                <div class="col-lg-4">
                  <label class=" control-label m-t-sm"></label>
                  <select class="form-control m-t-xs" (change)="searchForm.controls['postcode'].setValue(exception.value); addressManually = true;" #exception >
                    <option value="" disabled>Select instead of postcode</option>
                    <!--<option value="UK"> UK </option>-->
                    <option value="ROI">ROI</option>
                    <option value="IOM" *ngIf="role === 'admin'">IOM</option>
                    <option value="CI" *ngIf="role === 'admin'">CI</option>
                  </select>
                </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Viewing Card Number</label>
                <input type="text" class="form-control" name="viewingCardNumber" maxlength="9"  formControlName="viewingCardNumber" #viewingCardNumber (keyup)="addViewingCardBox = false" autocomplete="off" [readonly]="readOnlySearch">
                <div *ngIf="searchForm.controls['viewingCardNumber'].invalid  && (searchForm.controls['viewingCardNumber'].touched || submitted)" class="error">
                  Only Numbers
                </div>
                <div *ngIf="addViewingCardBox"  class="warning">
                  Please add viewing card number.
                </div>
              </div>
            </form>
            <form [formGroup]="searchRemoteForm" *ngIf="showSearchRemote" autocomplete="off">
              <div class="form-group">
                <label class="control-label">Address Line 1</label>
                <input type="text" class="form-control" name="addressLine1" formControlName="addressLine1" #addressLine1 [readonly]="disableInput">
                <div *ngIf="searchRemoteForm.controls['addressLine1'].hasError('required')  && (searchRemoteForm.controls['addressLine1'].touched || submitted)" class="warning">
                  Please provide address line 1.
                </div>
                <!--<h3 class="warning" *ngIf="showSearchRemote">Please provide address line 1.</h3>-->
              </div>
              <div class="form-group">
                <label class="control-label">Address Line 2</label>
                <input type="text" class="form-control" name="addressLine2" formControlName="addressLine2" #addressLine2 [readonly]="disableInput">
                <div *ngIf="searchRemoteForm.controls['addressLine2'].hasError('required')  && (searchRemoteForm.controls['addressLine2'].touched || submitted)" class="warning">
                  Please provide address line 2.
                </div>
              </div>
              <div class="form-group" *ngIf="searchRemoteForm.value['addressLine3'] || !disableInput ">
                <label class="control-label">Address Line 3</label>
                <input type="text" class="form-control" name="addressLine2" formControlName="addressLine3" #addressLine3 [readonly]="disableInput">
                <div *ngIf="searchRemoteForm.controls['addressLine3'].hasError('required')  && (searchRemoteForm.controls['addressLine3'].touched || submitted)" class="warning">
                  Please provide address line 3.
                </div>
              </div>
              <div class="form-group"  *ngIf="searchRemoteForm.value['addressLine4'] || !disableInput ">
                <label class="control-label">Address Line 4</label>
                <input type="text" class="form-control" name="addressLine4" formControlName="addressLine4" #addressLine4 [readonly]="disableInput">
                <div *ngIf="searchRemoteForm.controls['addressLine4'].hasError('required')  && (searchRemoteForm.controls['addressLine4'].touched || submitted)" class="warning">
                  Please provide address line 4.
                </div>
              </div>
              <div class="form-group"  *ngIf="searchRemoteForm.value['addressLine5']  || !disableInput">
                <label class="control-label">Address Line 5</label>
                <input type="text" class="form-control" name="addressLine5" formControlName="addressLine5" #addressLine5 [readonly]="disableInput">
                <div *ngIf="searchRemoteForm.controls['addressLine5'].hasError('required')  && (searchRemoteForm.controls['addressLine5'].touched || submitted)" class="warning">
                  Please provide address line 5.
                </div>
              </div>
            </form>
            <div class=" m-t-lg">
              <hr>
              <button class="btn btn-danger" *ngIf="customerPage" (click)="customerPageBack()">Back</button>
              <input type="button" class="btn btn-primary" value="Search" (click)="postcodeValidation()" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ---------
DIALOG BOXES
---------- -->

<!--<div class="overlay info" *ngIf="overlay">-->
  <!--<div class="overlayBox ">-->
    <!--<div class="overlayContent text-center">-->
      <!--<h2>No local results! <br> Search on Sky?</h2>-->
      <!--<div class="overlayButtons m-t-lg" >-->
        <!--<button class="btn btn-success" (click)="overlayYes()"><i class="fa fa-check" style="color:white;"></i> YES</button>-->
        <!--<button class="btn btn-danger m-l-xs" (click)="overlayNo()"><i class="fa fa-times"></i> NO</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="overlay err" *ngIf="noResults">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: red"></i>
      </div>
      <h2>No accounts found.</h2>
      <p>Please call Sky</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="noResults = false"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2 *ngIf="error.message || error.message2"> Error <br> {{error.message}}</h2>
      <h3>{{error.message2}}</h3>
      <h3>{{error.message3}}</h3>
      <h2>{{error.description}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--JOIN CUSTOMER TO CHANNEL?-->
<div class="overlay info" *ngIf="joinBox">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 class="red">We do not have a record for this customer.</h2>
      <h2>Would you like to add this customer?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="joinYes()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="joinNo()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--PLEASE CLICK ON FIND ADDRESS AND SELECT AN ADDRESS BEFORE SEARCH-->
<div class="overlay info" *ngIf="addressSelectedCheck">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please click on 'Find address' and select a address before search.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="addressSelectedCheck = false">OK</button>
      </div>
    </div>
  </div>
</div>

<!--SEARCH ERROR-->
<div class="overlay info" *ngIf="searchError">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 class="red">{{searchError.notFound}}</h2>
      <h2>{{searchError.message}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="searchError = null">OK</button>
      </div>
    </div>
  </div>
</div>

<!--DOES THE CUSTOMER HAVE A VIEWING CARD?-->
<div class="overlay info" *ngIf="viewingCardBox">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Does the customer have a viewing card?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="vcYes()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="vcNo()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--CREATE A NEW CUSTOMER?-->
<div class="overlay info" *ngIf="createNewBox">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Would you like to create a new customer and request viewing card?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" [routerLink]="['/newsubscriber']"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="createNewBox = false" ><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--INFO-->
<div class="overlay info" *ngIf="info">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>{{info.message}}</h2>
      <h3>{{info.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="info = null">OK</button>
      </div>
    </div>
  </div>
</div>
