<div class="wrapper wrapper-content" >
  <div class="container-fluid">
    <div class="row dashboardRow">

      <div class="col-md-8 spc">
        <!--SUBSCRIPTIONS PANEL-->
          <div class="ibox float-e-margins">
            <div style="width: 100%; min-height: 31px; border-bottom: 1px solid #eee">
              <div class="ibox-tools pull-left" style="padding: 5px 10px;">
                <span class="">
                    <button class="b-n" [ngClass]="{'disable': !trends.registered_ppn['COUNT']}" [disabled]="!trends.registered_ppn['COUNT']"  (click)=" this.SRADateOpen = !this.SRADateOpen; stopPropagation($event)"><i class="fa fa-calendar" ></i></button>
                    <ng-datepicker [(ngModel)]="SRADate"
                                   class="inline"
                                   [options]="options2"
                                   (ngModelChange)="getData('SRA')"
                                   [headless]="true"
                                   [isOpened]="SRADateOpen"
                                   [position]="'bottom-right'"
                                   (click)="stopPropagation($event)">
                    </ng-datepicker>
                </span>
                <span class="label" style="background: transparent; font-size: 11px;">
                  Date: {{globals.yesterday | date : 'dd-MM-yyyy'}}
                  <ng-container *ngIf="SRADate < globals.yesterday; else yesterday">against {{SRADate | date : 'dd-MM-yyyy'}}</ng-container>
                  <ng-template #yesterday> against {{(+ globals.firstDayYesterdayMonth) | date : 'dd-MM-yyyy'}}</ng-template>
                </span>
                <!--<span class="label label-info bgreen">{{SRADate | date : 'mediumDate'}}</span>-->

              </div>
            </div>
            <div class="ibox-title">
              <div class="row">
                <div class="col-xs-4 spcBorder"><h5>Active Customers</h5></div>
                <div class="col-xs-4 spcBorder"><h5>Active Subscriptions</h5></div>
                <div class="col-xs-4 spcBorder"><h5>Pay Per Night</h5></div>
              </div>
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="col-xs-4 spcBorder">
                  <div class="row" *ngIf="trends.customers_GBR['COUNT']; else zero">
                    <div class="col-md-6">
                      <small class="text-success">Total UK customers</small>
                      <h1 class="no-margins">{{businessVolume.daily[businessVolume.daily.length - 1]['GBR']['CUSTOMERS']}}</h1>
                      <div class=" font-bold" [ngClass]="{'red': trends.customers_GBR['TREND'] < 0, 'green': trends.customers_GBR['TREND'] > 0, 'yellow': trends.customers_GBR['TREND'] == 0}">
                        {{trends.customers_GBR['TREND']}}% <i class="fa" [ngClass]="{'fa-level-up': trends.customers_GBR['TREND'] > 0, 'fa-level-down':  trends.customers_GBR['TREND'] < 0}"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <small class="text-success">Total IRL customers</small>
                      <h1 class="no-margins">{{businessVolume.daily[businessVolume.daily.length - 1]['IRL']['CUSTOMERS']}}</h1>
                      <div class=" font-bold" [ngClass]="{'red': trends.customers_IRL['TREND'] < 0, 'green': trends.customers_IRL['TREND'] > 0, 'yellow': trends.customers_IRL['TREND'] == 0}">
                        {{trends.customers_IRL['TREND']}}% <i class="fa " [ngClass]="{'fa-level-up': trends.customers_IRL['TREND'] > 0, 'fa-level-down':  trends.customers_IRL['TREND'] < 0}" ></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 spcBorder">
                  <ng-container  *ngIf="trends.subscriptions_GBR['COUNT']; else zero">
                    <div class="row">
                      <div class="col-md-6">
                        <small class="text-success">Total UK subscriptions</small>
                        <h1 class="no-margins">{{trends.subscriptions_GBR['COUNT']}}</h1>
                        <div class=" font-bold" [ngClass]="{'red': trends.subscriptions_GBR['TREND'] < 0, 'green': trends.subscriptions_GBR['TREND'] > 0, 'yellow': trends.subscriptions_GBR['TREND'] == 0}">
                          {{trends.subscriptions_GBR['TREND']}}% <i class="fa" [ngClass]="{'fa-level-up': trends.subscriptions_GBR['TREND'] > 0, 'fa-level-down':  trends.subscriptions_GBR['TREND'] < 0}"></i>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <small class="text-success">Total IRL subscriptions</small>
                        <h1 class="no-margins">{{trends.subscriptions_IRL['COUNT']}}</h1>
                        <div class=" font-bold" [ngClass]="{'red': trends.subscriptions_IRL['TREND'] < 0, 'green': trends.subscriptions_IRL['TREND'] > 0, 'yellow': trends.subscriptions_IRL['TREND'] == 0}">
                          {{trends.subscriptions_IRL['TREND']}}% <i class="fa "  [ngClass]="{'fa-level-up': trends.subscriptions_IRL['TREND'] > 0, 'fa-level-down':  trends.subscriptions_IRL['TREND'] < 0}" ></i>
                        </div>
                      </div>
                    </div>

                  </ng-container>
                  <ng-template #zero>
                    <h2 class="loading" style="padding: 0;">
                      <img src="../assets/img/img_loading.gif">
                    </h2>
                  </ng-template>
                </div>
                <div class="col-xs-4 spcBorder">
                  <div class="row">
                    <ng-container *ngIf="trends.registered_ppn['COUNT']; else zero">
                      <div class="col-md-6">
                          <small class="text-success">Registered PPN</small>
                          <h1 class="no-margins" >{{trends.registered_ppn['COUNT']}}</h1>
                          <div  [ngClass]="{'red': trends.registered_ppn['TREND'] < 0, 'green': trends.registered_ppn['TREND'] > 0, 'yellow': trends.registered_ppn['TREND'] == 0}">
                            {{trends.registered_ppn['TREND']}}% <i class="fa" [ngClass]="{'fa-level-up': trends.registered_ppn['TREND'] > 0, 'fa-level-down':  trends.registered_ppn['TREND'] < 0}" ></i>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <small class="text-success">Active PPN</small>
                          <h1 class="no-margins">{{trends.active_ppn['COUNT']}}</h1>
                          <div [ngClass]="{'red': trends.active_ppn['TREND'] < 0, 'green': trends.active_ppn['TREND'] > 0, 'yellow': trends.active_ppn['TREND'] == 0}">
                            {{trends.active_ppn['TREND']}}% <i class="fa" [ngClass]="{'fa-level-up': trends.active_ppn['TREND'] > 0, 'fa-level-down':  trends.active_ppn['TREND'] < 0}"  ></i>
                          </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

            </div>
          </div>
        <!--&lt;!&ndash;PPN PANEL&ndash;&gt;-->
          <!--<div class="ibox float-e-margins">-->
            <!--<div class="ibox-title">-->
              <!--<h5>PPN</h5>-->
              <!--<div class="ibox-tools pull-right">-->
                <!--<span class="label label-info bgreen">-->
                  <!--Date: {{globals.yesterday | date : 'dd-MM-yyyy'}}-->
                  <!--<ng-container *ngIf="SRADate < globals.yesterday">to {{SRADate | date : 'dd-MM-yyyy'}}</ng-container>-->
                <!--</span>-->
                <!--&lt;!&ndash;<span class="label label-info bgreen">{{SRADate | date : 'mediumDate'}}</span>&ndash;&gt;-->
                <!--<span class="pull-right m-l-sm">-->
                 <!--<button class="b-n" [ngClass]="{'disable': !trends.registered_ppn['COUNT']}" [disabled]="!trends.registered_ppn['COUNT']"  (click)=" this.SRADateOpen = !this.SRADateOpen; stopPropagation($event)"><i class="fa fa-calendar" ></i></button>-->
                  <!--<ng-datepicker [(ngModel)]="SRADate"-->
                                 <!--class="inline"-->
                                 <!--[options]="options2"-->
                                 <!--(ngModelChange)="getData('SRA')"-->
                                 <!--[headless]="true"-->
                                 <!--[isOpened]="SRADateOpen"-->
                                 <!--[position]="'bottom-left'"-->
                                  <!--(click)="stopPropagation($event)">-->
                  <!--</ng-datepicker>-->
                <!--</span>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="ibox-content">-->

            <!--</div>-->
          <!--</div>-->
        <!--&lt;!&ndash;CUSTOMERS PANEL&ndash;&gt;-->
          <!--<div class="ibox float-e-margins">-->
            <!--<div class="ibox-title">-->
              <!--<span class="label label-info pull-right bgreen">Yesterday</span>-->
              <!--<h5>Customers</h5>-->
            <!--</div>-->
            <!--<div class="ibox-content" *ngIf="businessVolume.daily[businessVolume.daily.length - 1]">-->

            <!--</div>-->
          <!--</div>-->
      </div>

      <!--CHURN PANEL-->
      <div class="col-md-4">
        <div class="ibox float-e-margins">
          <div style="width: 100%; min-height: 31px; border-bottom: 1px solid #eee">
            <div class="ibox-tools pull-left" style="padding: 5px 10px;">
              <span class="" >
              <button class="b-n" [ngClass]="{'disable': !monthlyChurn}" [disabled]="!monthlyChurn" (click)="dateDirectivePickerChurn.api.open()">   <i class="fa fa-calendar" ></i></button>
              <input style="position: absolute; z-index: -1; right: 0; color: transparent; background: transparent; border: none; width: 100%;" [dpDayPicker]="churnPickerConfig"
                     name="datePicker"
                     #dateComponent="dpDayPicker"
                     #dateDirectivePickerChurn="dpDayPicker"
                     #dateDirectivePickerChurnModel="ngModel"
                     mode="month"
                     [(ngModel)]="churnDate"
                     (onChange)="getData('C')"
              />
            </span>
              <span class="label" style="background: transparent; font-size: 11px;" >
              Date:
              <ng-container *ngIf="churnDate; else pMonth">
                 {{churnDate}}
              </ng-container>
                <ng-template #pMonth>
                  {{globals.lastDayPreviousOfMonth | date : 'MM-yyyy'}}
                </ng-template>
            </span>
            </div>
          </div>
          <div class="ibox-title">
            <div class="ibox-tools pull-right">
              Target ≤ {{target}}% <i class="fa fa-ellipsis-v" (click)="requireAdminCheck()" title="Edit target"> </i>
            </div>
            <h5>Monthly Customer Churn</h5>
          </div>
          <div class="ibox-content" >
            <div class="row" *ngIf="monthlyChurn; else zero">
              <div class="col-xs-4">
                <small class="stats-label text-success">Total Churn</small>
                <h3 [ngClass]="[monthlyChurn.Total > target ? 'red' : 'green']">{{monthlyChurn.Total}} %</h3>
              </div>
              <div class="col-xs-4">
                <small class="stats-label text-success">Involuntary Cancellations</small>
                <h3>{{monthlyChurn.TotalSystem}} %</h3>
              </div>
              <div class="col-xs-4">
                <small class="stats-label text-success">Voluntary Cancellations</small>
                <h3>{{monthlyChurn.TotalVoluntary}} %</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row dashboardRow">
      <!--GRAPH-->
      <div class="col-lg-8">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div>
              <span class="pull-right text-right">
              <!--<span>Total {{graph}}: <strong>Portland TV</strong></span>-->
                  <!--<br/>-->
                 <small><i class="fa fa-info-circle"></i> Data calculated to last completed
                   <span *ngIf="graphOpt.period == 'monthly' || graph == 'Monthly Revenue'; else day">month</span>
                   <ng-template #day>day</ng-template>
                 </small>
              </span>
              <!--<h3 class="font-bold no-margins">-->
                <!--Overall Customers and Subscribers <i data-toggle="dropdown"  class="fa fa-chevron-down emptyUnknown"></i>-->

              <!--</h3>-->
              <small>Select graph:</small>
              <h3 data-toggle="dropdown" class="dropdown-toggle" type="button" style="cursor: pointer" aria-expanded="true"> {{graph}} <span class="caret"></span></h3>
              <ul class="dropdown-menu">
                <li><a (click)="graph = 'Business Volume'; graphOpt.monetaryValue = 'All'; graphOpt.period = 'daily'; graphOpt.time = 7; getChart(); "><h3>Business Volume</h3></a></li>
                <li><a (click)="graph = 'Monthly Revenue'; graphOpt.monetaryValue = 'GBR'; graphOpt.time = 6; getRevenueChart()"><h3>Monthly Revenue</h3></a></li>
                <li><a (click)="graph = 'Monthly ARPU'; graphOpt.monetaryValue = 'GBR'; graphOpt.time = 6; getARPUChart()"><h3>Monthly ARPU</h3></a></li>
                <li><a (click)="graph = 'Monthly Churn'; graphOpt.option = 'Net Churn'; graphOpt.time = 6; getChurnChart()"><h3>Monthly Churn</h3></a></li>
              </ul>

            </div>

            <!--GRAPH-->
            <div class="m-t-sm">
              <div class="row">
                <div class="col-md-8">
                  <div [chart]="chart" *ngIf="chart; else loading"></div>
                  <ng-template #loading>
                    <h2 class="m-t-xl m-b-xl loading" >
                      <img src="../assets/img/img_loading.gif">Please wait...
                    </h2>
                  </ng-template>
                </div>
                <div class="col-md-4">
                  <!--BUSINESS VOLUME GRAPH OPTIONS-->
                  <ul class="stat-list m-t-lg" *ngIf="graph != 'Monthly Revenue' && graph != 'Monthly ARPU' && graph != 'Monthly Churn'">
                    <li>
                      <label>Region</label><br>
                      <div class="btn-group">
                        <button [ngClass]="[graphOpt.monetaryValue == 'All' ? 'btn-primary' : 'btn-white']" class="btn btn-sm" (click)="graphOpt.monetaryValue = 'All'; getChart()">All</button>
                        <button [ngClass]="[graphOpt.monetaryValue == 'GBR' ? 'btn-primary' : 'btn-white']" class="btn  btn-sm" (click)="graphOpt.monetaryValue = 'GBR'; getChart()">GBR</button>
                        <button [ngClass]="[graphOpt.monetaryValue == 'IRL' ? 'btn-primary' : 'btn-white']" class="btn  btn-sm" (click)="graphOpt.monetaryValue = 'IRL'; getChart()">IRL</button>
                      </div>
                    </li>
                    <li>
                      <label>Interval</label> <br>
                      <div class="btn-group">
                        <button [ngClass]="[graphOpt.period == 'daily' ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)="graphOpt.period = 'daily'; graphOpt.time = 7; getChart(); ">Daily</button>
                        <button [ngClass]="[graphOpt.period == 'monthly' ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)=" graphOpt.period = 'monthly'; graphOpt.time = 6; getChart();">Monthly</button>
                      </div>
                      <br>
                    </li>
                    <li>
                      <label>Period</label> <br>
                      <ng-container *ngIf="graphOpt.period == 'daily'">
                        <div class="btn-group">
                          <button class="btn-sm btn"  [ngClass]="[graphOpt.time == 7 ? 'btn-primary' : 'btn-white']" (click)="graphOpt.time = 7; getChart();">1 week</button>
                          <button class=" btn-sm btn" [ngClass]="[graphOpt.time == 30 ? 'btn-primary' : 'btn-white']" (click)="graphOpt.time = 30; getChart(); ">1 month</button>
                          <button class=" btn-sm btn" [ngClass]="[graphOpt.time == 90 ? 'btn-primary' : 'btn-white']" (click)="graphOpt.time = 90; getChart(); ">3 months</button>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="graphOpt.period == 'monthly'">
                        <div class="btn-group">
                          <button class="btn-sm btn" [ngClass]="[graphOpt.time == 6 ? 'btn-primary' : 'btn-white']" (click)="graphOpt.time = 6;  getChart(); ">6 months</button>
                          <button class=" btn-sm btn" [ngClass]="[graphOpt.time == 12 ? 'btn-primary' : 'btn-white']" (click)="graphOpt.time = 12; getChart(); ">1 year</button>
                          <button class=" btn-sm btn" [ngClass]="[graphOpt.time == 24 ? 'btn-primary' : 'btn-white']" (click)="graphOpt.time = 24; getChart(); ">2 years</button>
                          <button class=" btn-sm btn" [ngClass]="[graphOpt.time == 36 ? 'btn-primary' : 'btn-white']" (click)="graphOpt.time = 36; getChart(); ">3 years</button>
                        </div>
                      </ng-container>
                    </li>
                    <!--<li *ngIf="businessVolume.daily[businessVolume.daily.length - 1]">-->
                      <!--<h2 class="no-margins" >-->
                        <!--{{ (businessVolume.daily[businessVolume.daily.length - 1]['GBR']['CUSTOMERS'] | toNumber ) + (businessVolume.daily[businessVolume.daily.length - 1]['GBR']['CUSTOMERS'] | toNumber)}}-->
                      <!--</h2>-->
                      <!--<small>Total Customers in {{businessVolume.daily[businessVolume.daily.length - 1].date}}</small>-->
                      <!--<div class="progress progress-mini">-->
                        <!--<div class="progress-bar" style="width: 48%;"></div>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li *ngIf="businessVolume.daily[businessVolume.daily.length - 1]">-->
                      <!--<h2 class="no-margins " >-->
                        <!--{{ (businessVolume.daily[businessVolume.daily.length - 1]['GBR']['SUBSCRIPTIONS'] | toNumber ) + (businessVolume.daily[businessVolume.daily.length - 1]['GBR']['SUBSCRIPTIONS'] | toNumber)}}-->
                      <!--</h2>-->
                      <!--<small>Total Subscribers in {{businessVolume.daily[businessVolume.daily.length - 1].date}}</small>-->
                      <!--<div class="progress progress-mini">-->
                        <!--<div class="progress-bar" style="width: 60%;"></div>-->
                      <!--</div>-->
                    <!--</li>-->
                  </ul>
                  <!--MONTHLY REVENUE GRAPH OPTIONS-->
                  <ul class="stat-list m-t-lg" *ngIf="graph == 'Monthly Revenue'">
                    <li>
                      <label>Region</label><br>
                      <div class="btn-group">
                        <button [ngClass]="[graphOpt.monetaryValue == 'GBR' ? 'btn-primary' : 'btn-white']" class="btn  btn-sm" (click)="graphOpt.monetaryValue = 'GBR'; getRevenueChart()">GBR</button>
                        <button [ngClass]="[graphOpt.monetaryValue == 'IRL' ? 'btn-primary' : 'btn-white']" class="btn  btn-sm" (click)="graphOpt.monetaryValue = 'IRL'; getRevenueChart()">IRL</button>
                      </div>
                    </li>
                    <li>
                      <label>Period</label> <br>
                      <div class="btn-group">
                        <button [ngClass]="[graphOpt.time == 6 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)=" graphOpt.time = 6; getRevenueChart(); ">6 months</button>
                        <button [ngClass]="[graphOpt.time == 12 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)="  graphOpt.time = 12; getRevenueChart();">1 year</button>
                        <button [ngClass]="[graphOpt.time == 24 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)=" graphOpt.time = 24; getRevenueChart();">2 years</button>
                        <button [ngClass]="[graphOpt.time == 36 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)="  graphOpt.time = 36; getRevenueChart();">3 years</button>
                      </div>
                    </li>
                    <!--<li *ngIf="businessVolume.daily[businessVolume.daily.length - 1]">-->
                      <!--<h2 class="no-margins" >-->
                        <!--£{{ monthlyRevenue[ this.monthlyRevenue.length - 1]['GBR']}}-->
                      <!--</h2>-->
                      <!--<small>GBR Revenue in {{ monthlyRevenue[ this.monthlyRevenue.length - 1].date * 1000 | date : 'mediumDate'}}</small>-->
                      <!--<div class="progress progress-mini">-->
                        <!--<div class="progress-bar" style="width: 48%;"></div>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li *ngIf="businessVolume.daily[businessVolume.daily.length - 1]">-->
                      <!--<h2 class="no-margins " >-->
                        <!--€{{ monthlyRevenue[ this.monthlyRevenue.length - 1]['GBR']}}-->
                      <!--</h2>-->
                      <!--<small>ROI Revenue in {{ monthlyRevenue[ this.monthlyRevenue.length - 1].date  * 1000| date : 'mediumDate'}}</small>-->
                      <!--<div class="progress progress-mini">-->
                        <!--<div class="progress-bar" style="width: 60%;"></div>-->
                      <!--</div>-->
                    <!--</li>-->
                  </ul>
                  <!--MONTHLY REVENUE GRAPH OPTIONS-->
                  <ul class="stat-list m-t-lg" *ngIf="graph == 'Monthly ARPU'">
                    <li>
                      <label>Region</label><br>
                      <div class="btn-group">
                        <button [ngClass]="[graphOpt.monetaryValue == 'GBR' ? 'btn-primary' : 'btn-white']" class="btn  btn-sm" (click)="graphOpt.monetaryValue = 'GBR'; getARPUChart()">GBR</button>
                        <button [ngClass]="[graphOpt.monetaryValue == 'IRL' ? 'btn-primary' : 'btn-white']" class="btn  btn-sm" (click)="graphOpt.monetaryValue = 'IRL'; getARPUChart()">IRL</button>
                      </div>
                    </li>
                    <li>
                      <label>Period</label> <br>
                      <div class="btn-group">
                        <button [ngClass]="[graphOpt.time == 6 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)=" graphOpt.time = 6; getARPUChart(); ">6 months</button>
                        <button [ngClass]="[graphOpt.time == 12 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)="  graphOpt.time = 12; getARPUChart();">1 year</button>
                        <button [ngClass]="[graphOpt.time == 24 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)=" graphOpt.time = 24; getARPUChart();">2 years</button>
                        <button [ngClass]="[graphOpt.time == 36 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)="  graphOpt.time = 36; getARPUChart();">3 years</button>
                      </div>
                    </li>
                  </ul>

                  <!--MONTHLY CHURN GRAPH OPTIONS-->
                  <ul class="stat-list m-t-lg" *ngIf="graph == 'Monthly Churn'">
                    <li>
                      <label>Option</label><br>
                      <div class="btn-group">
                        <button [ngClass]="[graphOpt.option == 'Net Churn' ? 'btn-primary' : 'btn-white']" class="btn  btn-sm" (click)="graphOpt.option = 'Net Churn'; getChurnChart()">Net Churn</button>
                        <button [ngClass]="[graphOpt.option == 'Split' ? 'btn-primary' : 'btn-white']" class="btn  btn-sm" (click)="graphOpt.option = 'Split'; getChurnChart()">Split</button>
                      </div>
                    </li>
                    <li>
                      <label>Period</label> <br>
                      <div class="btn-group">
                        <button [ngClass]="[graphOpt.time == 6 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)=" graphOpt.time = 6; getChurnChart(); ">6 months</button>
                        <button [ngClass]="[graphOpt.time == 12 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)="  graphOpt.time = 12; getChurnChart();">1 year</button>
                        <button [ngClass]="[graphOpt.time == 24 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)=" graphOpt.time = 24; getChurnChart();">2 years</button>
                        <button [ngClass]="[graphOpt.time == 36 ? 'btn-primary' : 'btn-white']" class="btn-sm btn" (click)="  graphOpt.time = 36; getChurnChart();">3 years</button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="m-t-md">
              <small class="pull-right">
                <i class="fa fa-clock-o"> </i>
                Updated on: {{date | date : 'dd-MMM-yyyy, h:mm a'}}
              </small>
              <small>
                <!--<strong>*Important: </strong> -->
                <a (click)="graph = 'Business Volume'; graphOpt.monetaryValue = 'All'; graphOpt.period = 'daily'; graphOpt.time = 7; getChart();"><i class="fa fa-refresh"></i> </a>Click here to refresh data shown in the graph.
              </small>
            </div>
          </div>
        </div>
      </div>
      <!--REVENUE-->
      <div class="col-lg-4">
        <div class="row">
          <!--MONTHLY REVENUE PANEL-->
          <div class="col-lg-12 ">
            <div class="ibox float-e-margins">
              <div style="width: 100%; min-height: 31px; border-bottom: 1px solid #eee">
                <div class="ibox-tools pull-left" style="padding: 5px 10px;">
                <span class="" >
                   <button class="b-n" [ngClass]="{'disable': !mr}" [disabled]="!mr"  (click)="dateDirectivePickerMR.api.open();"><i class="fa fa-calendar" ></i></button>
                     <input style="width: 100%; position: absolute; z-index: -1; right: 0px; color: transparent; background: transparent; border: none;" [dpDayPicker]="monthPickerConfig"
                            name="datePicker"
                            #dateComponent="dpDayPicker"
                            #dateDirectivePickerMR="dpDayPicker"
                            #dateDirectivePickerModel="ngModel"
                            mode="month"
                            [(ngModel)]="MRDate"
                            (onChange)="getData('MR'); getData('A')"
                     />
                </span>
                  <span class="label" style="background: transparent; font-size: 11px;" >
              Date: {{globals.lastDayPreviousOfMonth | date : 'MM-yyyy'}}
              <ng-container *ngIf="MRDate; else mrd">
                against {{MRDate}}
              </ng-container>
              <ng-template #mrd>
                 against {{globals.lastDayPreviousTwoMonth | date : 'MM-yyyy'}}
              </ng-template>
            </span>
                </div>
              </div>
              <div class="ibox-title">
                <h5>Monthly Revenue</h5>
                <!--<div class="ibox-tools pull-right">-->
              <!--<span class="label label-primary">-->
                <!--Date: {{globals.lastDayPreviousOfMonth | date : 'MM-yyyy'}}-->
              <!--<ng-container *ngIf="MRDate">-->
                <!--against {{MRDate}}-->
              <!--</ng-container>-->
              <!--</span>-->
                  <!--<span class="pull-right m-l-sm">-->
                <!--<button class="b-n" [ngClass]="{'disable': !mr}" [disabled]="!mr"  (click)="dateDirectivePickerMR.api.open();"><i class="fa fa-calendar" ></i></button>-->
                   <!--<input style="position: absolute; z-index: -1; right: 0px; color: transparent; background: transparent; border: none;" [dpDayPicker]="monthPickerConfig"-->
                          <!--name="datePicker"-->
                          <!--#dateComponent="dpDayPicker"-->
                          <!--#dateDirectivePickerMR="dpDayPicker"-->
                          <!--#dateDirectivePickerModel="ngModel"-->
                          <!--mode="month"-->
                          <!--[(ngModel)]="MRDate"-->
                          <!--(onChange)="getData('MR')"-->
                   <!--/>-->
              <!--</span>-->
                <!--</div>-->
              </div>
              <div class="ibox-content" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
                <div class="row" *ngIf="mr; else zero">
                  <div class="col-md-6">
                    <small class="text-success"> GBR Revenue</small>
                    <h1 class="no-margins">£{{mr['GBR']['REVENUE']}}</h1>
                    <div class="text-success" [ngClass]="{'red': mr['GBR']['REVENUE Trend'] < 0, 'green': mr['GBR']['REVENUE Trend'] > 0, 'yellow': mr['GBR']['REVENUE Trend'] == 0}">
                      {{mr['GBR']['REVENUE Trend']}}%
                      <i class="fa" [ngClass]="{'fa-level-up': mr['GBR']['REVENUE Trend'] > 0, 'fa-level-down':  mr['GBR']['REVENUE Trend'] < 0}"></i>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <small class="text-success"> IRL Revenue</small>
                    <h1 class="no-margins">€{{mr['IRL']['REVENUE']}}</h1>
                    <div class=" text-success"  [ngClass]="{'red': mr['IRL']['REVENUE Trend'] < 0, 'green': mr['IRL']['REVENUE Trend'] > 0, 'yellow': mr['IRL']['REVENUE Trend'] == 0}">
                      {{mr['IRL']['REVENUE Trend']}}%
                      <i class="fa" [ngClass]="{'fa-level-up': mr['IRL']['REVENUE Trend'] > 0, 'fa-level-down':  mr['IRL']['REVENUE Trend'] < 0}"></i>
                    </div>
                  </div>
                  <div class="col-md-2">

                  </div>
                </div>
              </div>
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;ARPU PANEL&ndash;&gt;-->
          <!--<div class="col-lg-12">-->
            <!--<div class="ibox float-e-margins">-->
              <div class="ibox-title arpuBorder">
                <!--<span class="pull-right m-l-sm" >-->
                 <!--<div>-->
                   <!--<button class="b-n" [ngClass]="{'disable': !annualArpu || !monthlyArpu}" [disabled]="!annualArpu || !monthlyArpu"  (click)="datePickerDirective.api.open();"><i class="fa fa-calendar" ></i></button>-->
                   <!--<input style="position: absolute; z-index: -1; right: 0px; color: transparent; background: transparent; border: none;" [dpDayPicker]="monthPickerConfig"-->
                          <!--name="datePicker"-->
                          <!--#dateComponent="dpDayPicker"-->
                          <!--#dateDirectivePicker="dpDayPicker"-->
                          <!--#dateDirectivePickerModel="ngModel"-->
                          <!--mode="month"-->
                          <!--[(ngModel)]="ARPUDate"-->
                          <!--(onChange)="getData('A')"-->
                   <!--/>-->
                <!--</div>-->
                <!--</span>-->
                <!--<span class="label label-warning pull-right" >-->
                  <!--Date: {{globals.lastDayPreviousOfMonth | date : 'MM-yyyy'}}-->
                   <!--<ng-container *ngIf="ARPUDate">-->
                    <!--to {{ARPUDate}}-->
                  <!--</ng-container>-->
                <!--</span>-->
                <!--<span class="label label-warning pull-right" *ngIf="ARPUDate">-->
                <!--Date: {{ARPUDate}}-->
                <!--</span>-->
                <div class="row">
                  <div class="col-md-6"><h5>Monthly ARPU</h5></div>
                  <div class="col-md-6"> <h5>Annual ARPU</h5></div>
                </div>

              </div>
              <div class="ibox-content arpuBorder">
                <div class="row"  *ngIf="annualArpu && monthlyArpu; else zero">
                  <div class="col-md-6 arpuContent">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="bold text-success">GBR</div>
                        <div class="m-t-sm">
                          <small class="stats-label">ARPU</small>
                          <h3>£{{monthlyArpu['GBR']['ARPU']}}</h3>
                        </div>
                        <div class="m-t-sm">
                          <small class="stats-label">ARPU Trend</small>
                          <h3 [ngClass]="{'red': monthlyArpu['GBR']['ARPU Trend'] < 0, 'green': monthlyArpu['GBR']['ARPU Trend'] > 0, 'yellow': monthlyArpu['GBR']['ARPU Trend'] == 0}">
                            {{monthlyArpu['GBR']['ARPU Trend']}}% <i class="fa" [ngClass]="{'fa-level-up': monthlyArpu['GBR']['ARPU Trend'] > 0, 'fa-level-down':  monthlyArpu['GBR']['ARPU Trend'] < 0}"></i>
                          </h3>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="bold text-success">IRL</div>
                        <div class="m-t-sm">
                          <small class="stats-label">ARPU</small>
                          <h3>€{{monthlyArpu['IRL']['ARPU']}}</h3>
                        </div>
                        <div class="m-t-sm">
                          <small class="stats-label">ARPU Trend</small>
                          <h3 [ngClass]="{'red': monthlyArpu['IRL']['ARPU Trend'] < 0, 'green': monthlyArpu['IRL']['ARPU Trend'] > 0, 'yellow': monthlyArpu['IRL']['ARPU Trend'] == 0}">
                            {{monthlyArpu['IRL']['ARPU Trend']}}% <i class="fa" [ngClass]="{'fa-level-up': monthlyArpu['IRL']['ARPU Trend'] > 0, 'fa-level-down':  monthlyArpu['IRL']['ARPU Trend'] < 0}"></i>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 arpuContent">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="bold text-success">GBR</div>
                        <div class="m-t-sm">
                          <small class="stats-label">ARPU</small>
                          <h3>£{{annualArpu['GBR']['ARPU']}}</h3>
                        </div>
                        <div class="m-t-sm">
                          <small class="stats-label">ARPU Trend</small>
                          <h3 [ngClass]="{'red': annualArpu['GBR']['ARPU Trend'] < 0, 'green': annualArpu['GBR']['ARPU Trend'] > 0, 'yellow': annualArpu['GBR']['ARPU Trend'] == 0}">
                            {{annualArpu['GBR']['ARPU Trend']}}% <i class="fa" [ngClass]="{'fa-level-up': annualArpu['GBR']['ARPU Trend'] > 0, 'fa-level-down':  annualArpu['GBR']['ARPU Trend'] < 0}"></i>
                          </h3>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="bold text-success">IRL</div>
                        <div class="m-t-sm">
                          <small class="stats-label">ARPU</small>
                          <h3>€{{annualArpu['IRL']['ARPU']}}</h3>
                        </div>
                        <div class="m-t-sm">
                          <small class="stats-label">ARPU Trend</small>
                          <h3 [ngClass]="{'red': annualArpu['IRL']['ARPU Trend'] < 0, 'green': annualArpu['IRL']['ARPU Trend'] > 0, 'yellow': annualArpu['IRL']['ARPU Trend'] == 0}">
                            {{annualArpu['IRL']['ARPU Trend']}}% <i class="fa" [ngClass]="{'fa-level-up': annualArpu['IRL']['ARPU Trend'] > 0, 'fa-level-down':  annualArpu['IRL']['ARPU Trend'] < 0}"></i>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--------------
      REPORT TABLES
    --------------->
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Report tables</h5>
            <div class="ibox-tools">
              <div class="pull-right" style="position: relative; top: -8px;">
                <div class="btn-group m-r-xs">
                  <!--<button class="btn btn-white m-n sortD" style="border-right: none; padding-right: 0">-->
                  <!--<i class="fa fa-calendar-alt" style="position: relative; top: -2px"></i>-->
                  <!--</button>-->
                  <ng-datepicker [(ngModel)]="date" class="inline" [options]="options"></ng-datepicker>
                  <button  class="btn btn-white pull-right m-n" data-toggle="dropdown" style=" display: inline-block; border-left: none;" type="button"
                           (click)="this.date = this.helpers.dateToUTC(this.date); getSubscriptions(); getDetailed(); getOverallNoSubscriptions();
                              getPPNreports(); getIPPVOPPVbuys(); getRegistrations();  getIPPVOPPVviews();">
                    Get Reports
                  </button>

                </div>
                <button  class="btn btn-white  m-n" data-toggle="dropdown" style=" display: inline-block;" type="button" (click)="generateCSV()"> Export Tables</button>
              </div>
            </div>
          </div>
          <div class="ibox-content" style="min-height: 300px">

            <!--<app-pagination  number="10" ></app-pagination>-->

            <!--TABS VIEWS MENU-->
            <div class="row">
              <div class="col-sm-12 m-b-xs">
                  <div class="tabMenu overview ">
                    <label class="control-label">Overview: </label>
                    <div data-toggle="buttons" class="btn-group">
                      <ng-container  *ngFor="let tab of tabs">
                      <button
                        class="btn btn-md btn-white"
                        [ngClass]="{active: tab.active}"
                        *ngIf="tab.title == 'Subscriptions' || tab.title == 'PPN'"
                        (click)="changeTab(tab)">
                        <input type="radio" name="overview"> {{tab.title}}
                      </button>
                      </ng-container>
                    </div>
                  </div>
                <div class="tabMenu inDepth m-l-lg m-r-lg " >
                  <label class="control-label">Detailed :</label>
                  <div data-toggle="buttons" class="btn-group">
                    <ng-container *ngFor="let tab of tabs">
                      <button
                        class="btn btn-md btn-white"
                        [ngClass]="{active: tab.active}"
                        *ngIf="tab.title != 'Subscriptions' && tab.title != 'PPN'"
                        (click)="changeTab(tab);">
                        <input type="radio" name="overview"> {{tab.title}}
                      </button>
                    </ng-container>
                  </div>
                </div>
                <div class="detailTabs inline " *ngIf="!getOverviewButton">
                  <label class="control-label">Subscription: </label>
                  <div class="btn-group">
                    <button class="btn btn-white" [ngClass]="{active: dSelected.all}" (click)="getDetailSubscriptionType('all');"> All</button>
                    <ng-container  *ngFor="let title of subscriptionsTitles">
                      <button *ngIf="title.title != 'Overall'" [ngClass]="{active: dSelected[title.title]}"   (click)="getDetailSubscriptionType(title.title)" class="btn btn-white"> {{title.title}}</button>
                    </ng-container>

                    <!--<button class="btn btn-white" [ngClass]="{active: dSelected['TVX Excellence']}" (click)="getDetailSubscriptionType('TVX Excellence')">TVXcellence</button>-->
                    <!--<button class="btn btn-white" [ngClass]="{active: dSelected['TVX Premier']}" (click)="getDetailSubscriptionType('TVX Premier')">TVX Premier</button>-->
                    <!--<button class="btn btn-white" [ngClass]="{active: dSelected['RH Monthly']}" (click)="getDetailSubscriptionType('RH Monthly')"> RH Monthly</button>-->
                    <!--<button class="btn btn-white" [ngClass]="{active: dSelected.XP}" (click)="getDetailSubscriptionType('XP')">Legacy</button>-->
                    <!--<button class="btn btn-white" [ngClass]="{active: dSelected.OTT}" (click)="getDetailSubscriptionType('OTT')"> OTT</button>-->
                  </div>

                </div>
              </div>
              </div>


            <!----------------
            STATS TABLES
            ----------------->

            <!--Subscriptions Overview-->
            <app-stats-table title="Subscriptions">
              <div class="table-responsive m-t-lg"  *ngIf="subscriptions; else loading">
                <div *ngFor="let title of subscriptionsTitles">
                  <!--OVERALL TABLE-->
                  <table class="table table-striped" style="margin-bottom: 50px" id="tableTest">
                    <thead>
                    <tr>
                      <th width="250px"><strong>{{title.title}} Subscriptions</strong></th>
                      <th *ngFor="let o of subscriptionsDates; let i = index" [ngClass]="{dimmed : subscriptions[i].closing_balance[title.title] == 0}"><span>{{o}}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><a class="green">Additions</a></td>
                      <td *ngFor="let o of subscriptions" [ngClass]="{dimmed : o.closing_balance[title.title] == 0}">{{o.addition[title.title]}}</td>
                    </tr>
                    <tr>
                      <td><a class="red">Cancellations</a></td>
                      <td *ngFor="let o of subscriptions" [ngClass]="{dimmed : o.closing_balance[title.title] == 0}">{{o.cancellation[title.title]}}</td>
                    </tr>
                    <tr style="border-top: 1px solid #333">
                      <td><a>Closing Balance</a></td>
                      <td *ngFor="let o of subscriptions" [ngClass]="{dimmed : o.closing_balance[title.title] == 0}">
                      {{o.closing_balance[title.title]}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <ng-template #loading>
                <h2 class="m-t-xl m-b-xl loading" >
                  <img src="../assets/img/img_loading.gif">Please wait...
                </h2>
              </ng-template>
            </app-stats-table>
            <!--PPN Overview-->
            <app-stats-table title="PPN">
              <div *ngIf="subscriptions; else loading">
                <div class="table-responsive m-t-lg">
                <!--PPN table-->
                <table class="table table-striped" *ngFor="let title of noSubscriptionTitles">
                  <thead>
                  <tr>
                    <th width="200px"><strong>{{title}}</strong></th>
                    <th *ngFor="let o of subscriptionsDates; let i = index" [ngClass]="{dimmed : subscriptions[i].closing_balance.Overall == 0}"><span>{{o}}</span></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a class="green">Additions</a></td>
                    <td *ngFor="let o of noSubscription; let i = index"  [ngClass]="{dimmed : subscriptions[i].closing_balance.Overall == 0}">{{o.content.addition[title]}}</td>
                    <!--<td *ngFor="let o of noSubscription" [ngClass]="{dimmed : o.closing_balance.Overall == 0}"></td>-->
                  </tr>
                  <tr>
                    <td><a class="red">Cancellations</a></td>
                    <td *ngFor="let o of noSubscription;  let i = index" [ngClass]="{dimmed : subscriptions[i].closing_balance.Overall == 0}">{{o.content.cancellation[title]}}</td>
                  </tr>
                  <tr>
                    <td><a>Closing Balance</a></td>
                    <td *ngFor="let o of noSubscription; let i = index" [ngClass]="{dimmed : subscriptions[i].closing_balance.Overall == 0}">{{o.content.closing_balance[title]}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive m-t-lg">
                <!--IPPV / OPPV table-->
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th style="width: 200px"><strong></strong></th>
                    <th *ngFor="let o of subscriptionsDates; let i = index" [ngClass]="{dimmed : subscriptions[i].closing_balance.Overall == 0}"><span>{{o}}</span></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a>IPPV Buys</a></td>
                    <td *ngFor="let o of noSubscription; let i = index" [ngClass]="{dimmed : subscriptions[i].closing_balance.Overall == 0}">{{o.content.ippv_buy.PPN}}</td>
                  </tr>
                  <tr>
                    <td><a>OPPV Buys</a></td>
                    <td *ngFor="let o of noSubscription; let i = index" [ngClass]="{dimmed : subscriptions[i].closing_balance.Overall == 0}">{{o.content.oppv_buy.PPN}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              </div>
              <ng-template #loading>
                <h2 class="m-t-xl m-b-xl loading" >
                  <img src="../assets/img/img_loading.gif" >Please wait...
                </h2>
              </ng-template>
            </app-stats-table>
            <!--Detailed Subscriptions -->
            <app-stats-table title="Subscription" >
              <div *ngIf="detailedSubscriptions; else loading" class="table-responsive m-t-lg detailedTables">
                <!--New Business by Payment Type table-->
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th><strong>New Business by Payment Type</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>Inception</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="detailedSubscriptions['New business by payment type']">
                    <td class="blue">Credit Card</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by payment type']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Credit Card']}}
                      <!--OTT: "0", RH Monthly: "1", TVX Excellence: "7", TVX Premier: "1", XP: "0"-->
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">Direct Debit</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by payment type']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Direct Debit']}}
                    </td>
                  </tr>
                  <tr><td class="blue">Total</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by payment type']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Credit Card'] + cc['Direct Debit']}}
                    </td>
                  </tr>
                  <tr></tr>
                  </tbody>
                </table>
                <!--New Business by Source table-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>New Business by Source</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>Inception</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="blue">Agent Addition</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by source']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Agent Addition']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">Web Addition</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by source']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Web Addition']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">IVR Addition</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by source']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['IVR Addition']}}
                    </td>
                  </tr>
                  <!--<tr>-->
                    <!--<td class="blue">Unknown Addition</td>-->
                    <!--<td *ngFor="let cc of detailedSubscriptions['New business by source']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">-->
                      <!--{{cc['Unknown Addition']}}-->
                    <!--</td>-->
                  <!--</tr>-->
                  <tr>
                    <td class="blue">Total</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by source']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['IVR Addition'] + cc['Web Addition'] + cc['Agent Addition']}}
                    </td>
                  </tr>

                  </tbody>
                </table>
                <!--New Business by Payment Frequency-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>New Business by Payment Frequency</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>Inception</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="blue">Monthly</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by payment frequency']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Monthly']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">Annually</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by payment frequency']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Annually']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">Total</td>
                    <td *ngFor="let cc of detailedSubscriptions['New business by payment frequency']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Monthly'] + cc['Annually']}}
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!--Churn-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>Churn</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>Inception</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="blue">Reinstatements</td>
                    <td *ngFor="let cc of detailedSubscriptions['Churn']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Reinstatement']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">Customer Cancellations</td>
                    <td *ngFor="let cc of detailedSubscriptions['Churn']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['Customer Cancellation']}}
                    </td>
                  </tr>
                  <tr><td class="blue">System Cancellations</td>
                    <td *ngFor="let cc of detailedSubscriptions['Churn']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{cc['System Cancellation']}}
                    </td>
                  </tr>
                  <tr><td class="blue">Total Churn</td>
                    <td *ngFor="let cc of detailedSubscriptions['Churn']; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{ cc['Reinstatement'] + cc['Customer Cancellation'] + cc['System Cancellation']  }}
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!--Active subscriptions-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>Total Active Subscriptions</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <!--<th>WTD</th>-->
                    <!--<th>Inception</th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td></td>
                    <ng-container  *ngFor="let cc of detailedSubscriptions['Active subscriptions']; let i = index" >
                      <td *ngIf="i < 7" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                        {{cc['Active']}}
                      </td>
                    </ng-container>
                  </tr>

                  </tbody>
                </table>
                <!--By pricepoint-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>Total Subscriptions By Pricepoint</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <!--<th>WTD</th>-->
                    <!--<th>Inception</th>-->
                  </tr>
                  </thead>
                  <tbody *ngIf="totalByPricePoint.length > 0">
                  <tr *ngFor="let p of totalByPricePoint">
                      <td class="blue">{{p[0].pricepoint}}</td>
                    <ng-container *ngFor="let day of p; let i = index" >
                      <td *ngIf="i < 7"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                          <span *ngIf="(day.total || day.total == 0 ) && day.total != 'NaN'">
                            {{day.total}}
                          </span>
                          <!--<ng-template #na><span >N/A </span></ng-template>-->
                      </td>
                    </ng-container>
                  </tr>
                  <tr>
                    <td class="blue">Total</td>
                    <td *ngFor="let p of pricepointTotal; let i = index"  [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                        {{p}}
                    </td>
                    <!--<td>N/A</td>-->
                    <!--<td>N/A</td>-->
                  </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #loading>
                <h2 class="m-t-xl m-b-xl loading" >
                  <img src="../assets/img/img_loading.gif" >Please wait...
                </h2>
              </ng-template>
            </app-stats-table>
            <!--Detailed PPN report-->
            <app-stats-table title="PPN report">
              <div *ngIf="PPNreports; else loading" class="table-responsive m-t-lg ppnReportTables">
                <!--New Business by Source-->
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th><strong>New Business by Source</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>ITD</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="PPNreports">
                    <td class="blue">PPN Registrations (IVR)</td>
                    <td *ngFor="let p of PPNreports['New business by source']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['PPN Registrations (IVR)']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">PPN Registrations (Agent)</td>
                    <td *ngFor="let p of PPNreports['New business by source']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['PPN Registrations (Agent)']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">PPN Registrations (Web)</td>
                    <td *ngFor="let p of PPNreports['New business by source']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['PPN Registrations (Web)']}}
                    </td>
                  </tr>

                  <tr><td class="blue">Total</td>
                    <td *ngFor="let p of PPNreports['New business by source']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{(p['PPN Registrations (Web)'] | toNumber) + (p['PPN Registrations (IVR)'] | toNumber) + (p['PPN Registrations (Agent)'] | toNumber)}}
                    </td>
                  </tr>
                  <tr></tr>
                  </tbody>
                </table>
                <!--Churn-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>Churn</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>ITD</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="PPNreports">
                    <td class="blue">Customer Cancellations</td>
                    <td *ngFor="let p of PPNreports['Churn']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['Customer Cancellation']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">System Cancellations</td>
                    <td *ngFor="let p of PPNreports['Churn']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['System Cancellation']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">Reinstates</td>
                    <td *ngFor="let p of PPNreports['Churn']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['Reinstatement']}}
                    </td>
                  </tr>

                  <tr><td class="blue">Total</td>
                    <td *ngFor="let p of PPNreports['Churn']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{(p['Reinstatement'] | toNumber) +  (p['System Cancellation'] | toNumber) + (p['Customer Cancellation'] | toNumber)}}
                    </td>
                  </tr>
                  <tr></tr>
                  </tbody>
                </table>
                <!--PPN Customer Movement-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>PPN Customer Movement</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>ITD</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="PPNreports">
                    <td class="blue"></td>
                    <td *ngFor="let p of PCM; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p}}
                    </td>
                  </tr>
                  <tr></tr>
                  </tbody>
                </table>
                <!--Active PPN-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>Active PPN Customers</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>ITD</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="PPNreports">
                    <td class="blue"></td>
                    <td *ngFor="let p of PPNreports['PPN']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['active']}}
                    </td>
                  </tr>
                  <tr></tr>
                  </tbody>
                </table>
                <!--Buys-->
                <table class="table table-striped m-t-lg">
                  <thead>
                  <tr>
                    <th><strong>Buys</strong></th>
                    <ng-container *ngFor="let d of subscriptionsDates; let i = index">
                      <th [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}" *ngIf="i < 7">
                        {{d}}
                      </th>
                    </ng-container>
                    <th>WTD</th>
                    <th>ITD</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngIf="PPNreports">
                    <td class="blue">IPPV Purchases Notified</td>
                    <td *ngFor="let p of PPNreports['Buys']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['ippv_buy']}}
                    </td>
                  </tr>
                  <tr>
                    <td class="blue">OPPVs Purchased</td>
                    <td *ngFor="let p of PPNreports['Buys']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{p['oppv_buy']}}
                    </td>
                  </tr>
                  <tr><td class="blue">Total</td>
                    <td *ngFor="let p of PPNreports['Buys']; let i = index" [ngClass]="{'dimmed': i > dayDimmed - 1 && i < 7}">
                      {{(p['oppv_buy']  | toNumber) + (p['ippv_buy'] | toNumber) }}
                    </td>
                  </tr>
                  <tr></tr>
                  </tbody>
                </table>
              </div>
              <ng-template #loading>
                <h2 class="m-t-xl m-b-xl loading" >
                  <img src="../assets/img/img_loading.gif" >Please wait...
                </h2>
              </ng-template>
            </app-stats-table>
            <!--IPPV OPPV views-->
            <app-stats-table title="IPPV OPPV views">
              <div *ngIf="IPPVOPPVviews[0]; else loading" class="table-responsive m-t-lg IOviewsTables">
                <!--New Business by Source-->
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th><strong>View Date</strong></th>
                    <th><strong>IPPV</strong></th>
                    <th><strong>OPPV</strong></th>
                    <th><strong>Total</strong></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  *ngFor="let p of IPPVOPPVviews | paginate: { itemsPerPage: showNumber, currentPage: p};">
                      <td class="blue">
                        {{p.date}}
                      </td>
                      <td>
                        {{p.IPPV}}
                      </td>
                      <td>
                        {{p.OPPV}}
                      </td>
                      <td>
                        {{(p.IPPV |toNumber) + (p.OPPV | toNumber)}}
                      </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row" *ngIf="IPPVOPPVviews[0]">
                <div class="col-md-6" >
                  <p>Number of rows: {{IPPVOPPVviews.length}}  </p>
                </div>
                <div class="col-md-6 text-right">
                  <pagination-controls (pageChange)="p = $event" class="my-pagination "></pagination-controls>
                </div>
              </div>
              <ng-template #loading>
                <h2 class="m-t-xl m-b-xl loading" >
                  <img src="../assets/img/img_loading.gif" >Please wait...
                </h2>
              </ng-template>
            </app-stats-table>
            <!--IPPV OPPV buys-->
            <app-stats-table title="IPPV OPPV buys">
              <div *ngIf="IPPVOPPVbuys[0]; else loading" class="table-responsive m-t-lg IObuysTables">
                <!--New Business by Source-->
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th><strong>Billing Date</strong></th>
                    <th><strong>IPPV</strong></th>
                    <th><strong>OPPV</strong></th>
                    <th><strong>Total</strong></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  *ngFor="let p of IPPVOPPVbuys">
                    <td class="blue">
                      {{p.date}}
                    </td>
                    <td>
                      {{p.IPPV}}
                    </td>
                    <td>
                      {{p.OPPV}}
                    </td>
                    <td>
                      {{(p.IPPV |toNumber) + (p.OPPV | toNumber)}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #loading>
                <h2 class="m-t-xl m-b-xl loading" >
                  <img src="../assets/img/img_loading.gif" >Please wait...
                </h2>
              </ng-template>
            </app-stats-table>
            <!--Registrations-->
            <app-stats-table title="Registrations">
              <div *ngIf="registrations; else loading" class="table-responsive m-t-lg registrationsTables">
                <!--New Business by Source-->
                <table class="table table-striped table-hover">
                  <thead>
                  <tr>
                    <th><strong>Date</strong></th>
                    <th><strong>Sky Pack Requests</strong></th>
                    <th><strong>Sky Joins</strong></th>
                    <th><strong>Sky Total</strong></th>
                    <th><strong> Non-Sky Registrations</strong></th>
                  </tr>
                  </thead>
                  <tbody>

                  <!--{Non-Sky Registrations: "0", Sky Joins: "0", Sky Pack Requests: "0", date: "2018-01-27"}-->
                  <tr  *ngFor="let r of registrations">
                    <td class="blue">
                      {{r.date}}
                    </td>
                    <td>
                      {{r["Sky Pack Requests"]}}
                    </td>
                    <td>
                      {{r['Sky Joins']}}
                    </td>
                    <td>
                      {{r.skyTotal}}
                    </td>
                    <td>
                      {{r['Non-Sky Registrations']}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #loading>
                <h2 class="m-t-xl m-b-xl loading" >
                  <img src="../assets/img/img_loading.gif" >Please wait...
                </h2>
              </ng-template>
            </app-stats-table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!--ERROR-->
<div class="overlay err" *ngIf="error != null && !error.message.includes('Duplicate')">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2 *ngIf="error"> Error</h2>
      <h3>{{error.message}}</h3>
      <h3 *ngFor="let e of error.fieldErrors"> - {{e.field}} {{e.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--Change Churn Target-->
<div class="overlay success" *ngIf="targetDialog != null">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <h2 class="blue">Monthly Customer Churn Target</h2>
      <div class="text-left m-t-lg">
        <form [formGroup]="targetForm">
          <span class="input-group m-t-lg targetInput">
             <input type="text" class="form-control " formControlName="target"  placeholder="Target...">
             <span class="input-group-addon" >%</span>
          </span>
          <div *ngIf="(targetForm.controls['target'].invalid) && (targetForm.controls['target'].touched || submitted)" class="red text-center" >
            <div *ngIf="(targetForm.controls['target'].hasError('required'))">- Value required. </div>
            <div *ngIf="(targetForm.controls['target'].hasError('maxlength'))">- Max. length 9 characters. </div>
            <div *ngIf="(targetForm.controls['target'].hasError('onlyMoney'))">- Only numbers. </div>
            <div *ngIf="(targetForm.controls['target'].hasError('ZeroHundred'))">- Value must be between 0 - 100. </div>
          </div>

        </form>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger" (click)="targetDialog = null; getTarget();" > Cancel </button>
        <button class="btn btn-success" (click)="changeTarget()" > OK </button>
      </div>
    </div>
  </div>
</div>



<!--AUTH REQUIRED-->
<app-auth-required
  [requireAdmin]="requireAdmin"
  (requireAdminDialog)="requireAdmin = $event"
  (error)="authError($event)"
  (accessGranted)="authorize($event)"
  (authorisingUserId)="authorisingUserId = $event">
</app-auth-required>

