.tabMenu{
  display: inline-block;
}
.dimmed {
  color: #c7c7c7;
}
.detailedTables table th:first-child,
.ppnReportTables table th:first-child{
  width: 200px;
}

.IOviewsTables table td{
  max-width: 300px;
}
.loading{
  margin: 0 auto; display: table; color: #c1c1c1; padding-top: 20px;
}

.loading img{
  margin-top: -7px; margin-right: -15px; width: 60px;
}

.registrationsTables td,
.IObuysTables td,
.IOviewsTables td{
  width: 20%;
}
.ARPUswitch {
  cursor: pointer;
}

.ARPUswitch:hover {
    color: #1c84c6;
}

/deep/.is-today {
  color: white !important;
}
/deep/.is-today:hover {
  color: #a4a9b1 !important;
}

.dashboardRow /deep/.ngx-datepicker-calendar-container {
  top: 10px !important;
}

.dashboardRow /deep/.dropdown-menu {
  top: 40px;
  left: 35px;
}
.spc .ibox-title,
.spc .ibox-content
{
  padding-top: 0;
  padding-bottom: 0;
}
.spc .ibox-title .spcBorder {
  padding-top: 20px;
  padding-bottom: 10px;
}
.spc .ibox-content .spcBorder {
  padding-top: 8px;
  padding-bottom: 10px;
}
.spcBorder {
  border-left: 1px solid #eee;
}
.spcBorder:nth-child(1),
.spcBorder:nth-child(4)
{
  border: none !important;
}

.arpuBorder {
  border-top: 1px solid #eee;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.arpuBorder.ibox-title .col-md-6 {
  border-left: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 10px;
}
.arpuBorder.ibox-title .col-md-6:nth-child(1),
.arpuContent:nth-child(1)
{
  border: none !important;
}
.arpuContent{
  border-left: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 10px;
}
.fa-ellipsis-v {
  cursor: pointer;
  padding: 0 5px;
}
.fa-ellipsis-v:hover {
  color: #1c84c6;
}
.targetInput {
  width: 118px;
  margin: 0 auto;
}
span.input-group-addon {
  background: #f3f3f3;
  font-weight: bold;
}
@media (max-width: 992px) {
  .stat-list li {
    float: left;
    margin: 0 4% 4%;
  }
}
/*i.fa.fa-calendar {*/
  /*background: white;*/
  /*border: 1px solid #ececec;*/
  /*padding: 4px;*/
  /*border-radius: 50px;*/
  /*position: absolute;*/
  /*top: 2.5px;*/
  /*left: 10px;*/
/*}*/
/*i.fa.fa-calendar:hover {*/
  /*border: 1px solid #bbb;*/
/*}*/
