<div class="wrapper wrapper-content  fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome to Media Access Services
                </h1>

            </div>
        </div>
    </div>
</div>
