
<div class="middle-box text-center loginscreen   fadeInDown">
  <div class="login-box " [ngClass]="{' fadeOutDown': loggedIn }">
    <div>
      <h1 class="logo-name" style="width: 180px; height: auto; margin: 0 auto; display: table;" >
        <img src="../../../assets/img/mas_logo.svg" alt="Media Access Services Logo"  width="180px" >
      </h1>
    </div>
    <!--<style>-->
      <!--.st0 {stroke-dasharray: 1000; stroke-dashoffset: 1000;-->
        <!-- -webkit-animation: dash 2s linear forwards;-->
        <!--animation: dash 2s linear forwards;}-->
      <!--@-webkit-keyframes dash { to { stroke-dashoffset: 0;}}-->
      <!--@keyframes dash { to { stroke-dashoffset: 0;}}-->
    <!--</style>-->
    <h2 style="color: white; font-size: 30px;">Media Access Services</h2>
    <form class="m-t" role="form" autocomplete="off" method="post" *ngIf="!loading">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" >
      </div>
      <button type="submit" (click)="onSubmit($event)" class="btn btn-primary block full-width m-b" >Login</button>
      <!--<button type="submit"  (click)="router.navigate(['/search'])"  class="btn btn-primary block full-width m-b" >Login</button>-->
    </form>
    <div class="form-group" *ngIf="showEnvironmentRadio">
      <span style="color: white;">Test</span>
      <input class="m-n m-r-xs" style="height: auto; margin-right: 10px!important;" type="radio" value="test" (change)="changeEnvironment()" name="environment" [(ngModel)]="environment">
      <span style="color: white;">Stage</span>
      <input class="m-n" style="height: auto;" type="radio" name="environment" (change)="changeEnvironment()" value="stage" [(ngModel)]="environment" >
    </div>
    <div *ngIf="loading">
      <img src="../assets/img/img_loading.gif" width="100px">
    </div>
    <a routerLink="/password-email" class="forgotLink"><small>Forgot password?</small></a>
    <p > <small>&copy; MAS 2017</small> </p>
  </div>
</div>

<!-- ---
DIALOG
----- -->

<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{error.message}}</h2>
      <h3>{{error.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--Please wait-->
<div class="overlay info" style="background: rgba(0, 0, 0, 0.8);" *ngIf="pleaseWait">
  <h1><i class="fa fa-spinner fa-spin" style="color: white"></i></h1>
  <h1 style="color: white">Please wait... </h1>
</div>

<!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"-->
<!--viewBox="0 0 301 442.2" style="enable-background:new 0 0 301 442.2;" xml:space="preserve">-->
<!--<g>-->
<!--<line id="XMLID_39_" class="st0" x1="7.4" y1="210.8" x2="7.4" y2="167.3"/>-->
<!--<line id="XMLID_38_" class="st0" x1="41.4" y1="209.8" x2="41.4" y2="134.1"/>-->
<!--<line id="XMLID_37_" class="st0" x1="75.7" y1="209.8" x2="75.7" y2="90.6"/>-->
<!--<line id="XMLID_36_" class="st0" x1="111.5" y1="209.8" x2="111.5" y2="50.9"/>-->
<!--<line id="XMLID_35_" class="st0" x1="151.5" y1="7.4" x2="151.5" y2="434.8"/>-->
<!--<line id="XMLID_34_" class="st0" x1="293.6" y1="231.6" x2="293.6" y2="275"/>-->
<!--<line id="XMLID_33_" class="st0" x1="258.7" y1="231.6" x2="258.7" y2="307.3"/>-->
<!--<line id="XMLID_32_" class="st0" x1="224.4" y1="231.6" x2="224.4" y2="350.8"/>-->
<!--<line id="XMLID_2_" class="st0" x1="188.7" y1="231.6" x2="188.7" y2="390.5"/>-->
<!--</g>-->
<!--</svg>-->
