<div class="row wrapper border-bottom white-bg page-heading  fadeIn">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li class="active">
        <strong>Add Account</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<!--JOIN SUBSCRIBER-->
<div class="wrapper wrapper-content  fadeInRight">
  <div class="col-lg-9" *ngIf="true">
    <div class="ibox ibox-main float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-address-card-o" aria-hidden="true"></i> Add Packages</h5>
        <div class="ibox-tools">
           <span class="pull-right m-t-n-sm" style="display: inline-flex;">
                <input type="text" placeholder="Filter..." class="form-control" [(ngModel)]="filterValue" (keyup)="filter()">
                <button class="btn btn-white" [ngClass]="{'active' : view1}"  type="button" (click)="view1 = true; view2 = false;"> <i class="fa fa-th-large"></i></button>
                <button class="btn btn-white " [ngClass]="{'active' : view2}"  type="button" (click)="view2 = true; view1 = false;"><i class="fa fa-list-ul"></i></button>
           </span>
        </div>
      </div>
      <div class="ibox-content ">
        <h3><strong>+ Double click to add packages</strong></h3>
        <div class='row m-t-md' >
          <!--<h2 *ngIf="!PGFound.length > 0 " class="m-t-xl" style="margin: 0 auto; display: table; color: #c1c1c1; padding-top: 20px ">No more available packages.</h2>-->
          <h2 *ngIf="pleaseWait || PGFound.length == 0" class="m-t-xl" style="margin: 0 auto; display: table; color: #c1c1c1; padding-top: 20px ">
            <img src="../assets/img/img_loading.gif" width="60px" style="margin-top: -7px; margin-right: -15px;">Please wait...
          </h2>
          <div [ngClass]="{'col-xs-12' : view2, 'col-xs-6 col-md-4 col-lg-4': view1}" *ngFor="let pG of PGFound; let i = index" >
            <!--NOT OPPV SELLABLES-->
            <div class="ibox" (dblclick)="selectPackage(pG, i)"  [ngClass]="{'packActive' : isSelected(pG)[0]}" style="cursor: pointer;  z-index: 1; position: relative;" *ngIf="!_array.isArray(pG)">
              <div class="ibox-content product-box" >
                <div class="product-desc">
                  <div class=" m-t-xs product-name productDescription">
                    <!--{{pG.titleLabel}} <br>-->
                    <strong>{{pG.titleDescription}}</strong>
                  </div>
                  <div *ngIf="pG.pricing.oneOff != null" class="m-t-xs product-price"> {{pG.pricing.oneOff.price | currency : this.pG.currencyCode : 'symbol'}} <span *ngIf="pG.pricing.oneOff.indicative">(indicative)</span></div>
                  <div *ngIf="pG.pricing.subscription != null" class="m-t-xs product-price">
                    {{pG.pricing.subscription.initialAmount | currency : this.pG.currencyCode : 'symbol'}} now, covering {{pG.pricing.subscription.initialPeriod}}
                    <ng-container *ngIf="pG.pricing.subscription.contractLength != pG.pricing.subscription.initialPeriod">  
	                    + <br> {{pG.pricing.subscription.recurringAmount | currency : this.pG.currencyCode : 'symbol'}} every {{pG.pricing.subscription.recurringPeriod}}
	                    <span *ngIf="pG.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                    <span *ngIf="pG.pricing.subscription.contractLength != 'infinite'"> for {{pG.pricing.subscription.contractLength}}</span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <!--OPPV SELLABLES-->
            <div class="ibox"  (dblclick)="selectAllOPPV(i)"   style="cursor: pointer;  z-index: 1; position: relative;" *ngIf="_array.isArray(pG) && pG.length > 0">
              <div class="ibox-content product-box OPPV" >
                <div class="product-desc">
                  <div class=" m-t-xs product-name productDescription" style="-webkit-box-orient: horizontal;">
                    <div class="row">
                      <div class="col-xs-12">
                        <span style="color: #0570e2" *ngIf="pG[0].name.includes('IPPV_OPPV')">IPPV_OPPV EVENT</span>
                        <span style="color: #0570e2" *ngIf="!pG[0].name.includes('IPPV_OPPV')">OPPV EVENT</span>
                      </div>
                      <div class="col-xs-6 ">
                        <small> Valid From: {{pG[0].validFrom * 1000 | date : shortDate}}</small>
                      </div>
                      <div class="col-xs-6">
                        <small> Valid To:  {{pG[pG.length-1].validFrom * 1000 | date : shortDate}}</small>
                      </div>
                      <div class="col-xs-12 m-t-xs">
                        <div *ngFor="let OPPV of pG, let ind = index" >
                          <small>- {{OPPV.titleLabel}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fadeLayer"></div>
              <span class="angle" (click)="showOPPVs(i)">
                <i class="fa fa-angle-down" aria-hidden="true" *ngIf="showCards != i"></i>
                <i class="fa fa-angle-up" aria-hidden="true" *ngIf="showCards == i"></i>
              </span>
            </div>

            <div *ngIf="_array.isArray(pG)">
              <div *ngFor="let OPPV of pG , let ind = index">
                <div class="ibox" (dblclick)="selectOPPV(OPPV, i, ind, pG)" [ngClass]="{'packActive' : isSelected(pG)[0], 'showOPPVs' : showCards == i, ' fadeIn': showCards == i}" style="cursor: pointer; position: absolute; top: 8px; left: 6px; width: 94%; z-index: 0; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0)" >
                  <div class="ibox-content product-box">
                    <div class="product-desc">
                      <div class=" m-t-xs product-name productDescription">
                        <!--{{OPPV.titleLabel}} <br>-->
                        <strong>{{OPPV.titleDescription}}</strong>
                      </div>
                      <div *ngIf="OPPV.pricing.oneOff != null" class="m-t-xs product-price"> {{OPPV.pricing.oneOff.price | currency : this.OPPV.currencyCode : 'symbol'}} <span *ngIf="OPPV.pricing.oneOff.indicative">(indicative)</span></div>
                      <div *ngIf="OPPV.pricing.subscription != null" class="m-t-xs product-price">
                        {{OPPV.pricing.subscription.initialAmount | currency : this.OPPV[OPPV.length -1].currencyCode : 'symbol'}} now, covering {{OPPV.pricing.subscription.initialPeriod}}  
                        <ng-container *ngIf="OPPV.pricing.subscription.contractLength != OPPV.pricing.subscription.initialPeriod">
	                        + <br> {{OPPV.pricing.subscription.recurringAmount | currency : this.OPPV.currencyCode : 'symbol'}} every {{OPPV.pricing.subscription.recurringPeriod}}
	                        <span *ngIf="OPPV.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                        <span *ngIf="OPPV.pricing.subscription.contractLength != 'infinite'"> for {{OPPV.pricing.subscription.contractLength}}</span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3" *ngIf="true">
    <div class="ibox ibox-main float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-cubes"></i> Packages Selected</h5>
      </div>
      <div class="ibox-content">
        <h3 *ngIf="packagesSelected.length == 0" style="color: #c9c9c9">Please select a package...</h3>
        <div  *ngFor="let ent of packagesSelected, let i = index" >
          <div class="ibox" style="cursor: pointer;" (dblclick)="removePackage(ent, i)">
            <div class="ibox-content product-box" >
              <div class="product-desc">
                <!--ADD PACKAGES NO OPPV-->
                <div *ngIf="!_array.isArray(ent)">
                  <div class=" m-t-xs product-name productDescription">
                    <!--{{ent.titleLabel}} <br>-->
                    <strong>{{ent.titleDescription}}</strong>
                  </div>
                  <div *ngIf="ent.pricing.oneOff != null" class="m-t-xs product-price"> {{ent.pricing.oneOff.price | currency : this.ent.currencyCode : 'symbol'}} <span *ngIf="ent.pricing.oneOff.indicative">(indicative)</span></div>
                  <div *ngIf="ent.pricing.subscription != null" class="m-t-xs product-price">
                    {{ent.pricing.subscription.initialAmount | currency : this.ent.currencyCode : 'symbol'}} now, covering {{ent.pricing.subscription.initialPeriod}}  
                    <ng-container *ngIf="ent.pricing.subscription.contractLength != ent.pricing.subscription.initialPeriod">
	                    + <br> {{ent.pricing.subscription.recurringAmount | currency : this.ent.currencyCode : 'symbol'}} every {{ent.pricing.subscription.recurringPeriod}}
	                    <span *ngIf="ent.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                    <span *ngIf="ent.pricing.subscription.contractLength != 'infinite'"> for {{ent.pricing.subscription.contractLength}}</span>
                    </ng-container>
                  </div>
                </div>
                <!--ADD PACKAGES OPPV-->
                <div *ngIf="_array.isArray(ent)" class="OPPV">
                  <div class=" m-t-xs product-name productDescription" style="-webkit-box-orient: horizontal;">
                    <div class="row">
                      <div class="col-xs-12">
                        <span style="color: #0570e2" *ngIf="ent[0].name.includes('IPPV_OPPV')">IPPV_OPPV EVENT</span>
                        <span style="color: #0570e2" *ngIf="!ent[0].name.includes('IPPV_OPPV')">OPPV EVENT</span>
                      </div>
                      <div class="col-xs-6 ">
                        <small> Valid From: {{ent[0].validFrom * 1000 | date : shortDate}}</small>
                      </div>
                      <div class="col-xs-6">
                        <small> Valid To:  {{ent[ent.length-1].validFrom * 1000 | date : shortDate}}</small>
                      </div>
                      <div class="col-xs-12 m-t-xs">
                        <div *ngFor="let OPPV of ent" >
                          <small>- {{OPPV.titleLabel}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fadeLayer"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <button class="btn btn-primary m-t-xs" (click)="addedRemovedPackages()">Add to Account</button>
      </div>
    </div>
  </div>
</div>

<!-- ---------
DIALOG BOXES
----------- -->

<div class="overlay info" *ngIf="previewDialog">
  <div class="overlayBox  fadeIn" style="min-width: 50% !important; padding: 20px 40px;">
    <div class="overlayContent text-center m-b-lg" style="display: inline-block; width: 100%;">
      <div class="col-md-12">
        <h2>Packages Preview </h2>
        <hr>
      </div>
      <!--ADDED PACKAGES-->
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-6 text-left">
            <h4>ADDED PACKAGES</h4>
          </div>
          <div class="col-xs-3 text-left">
            <h4>DISCOUNT</h4>
          </div>
          <div class="col-xs-3 text-left">
            <h4>OPPV Validation</h4>
          </div>
        </div>
        <div style="max-height: 300px; width: 100%; overflow-y: scroll;" id="addedPackages">
          <div class="col-xs-12" *ngFor="let added of packagesSelected; let i = index" >
            <div class="col-xs-6 text-left">
              <div  class="ibox ">
                <div class="ibox-content product-box"  >
                  <div class="product-desc" style="height: 130px;">
                    <!--NOT OPPV ARRAY ADDED-->
                    <div *ngIf="!_array.isArray(added)">
                      <div class=" m-t-xs product-name">
                        {{added.titleDescription}} <br>
                      </div>
                      <div *ngIf="added.pricing.oneOff != null && added.validated == null" class="m-t-xs product-price"> {{added.pricing.oneOff.price | currency : this.added.currencyCode : 'symbol'}}
                        <span *ngIf="added.pricing.oneOff.indicative ">(indicative)</span>
                      </div>
                      <div class="m-t-xs product-price"  *ngIf="added.validated != null">
                        <!--PIN:  <span class="m-r-md blue">{{added.pin}}  </span>-->
                        Price: <span class="m-r-md blue"> {{added.price}} </span>
                        Ind Spend Limit:
                        <span class="blue" *ngIf="added.individualSpendLimit != 655.35">{{added.individualSpendLimit | currency : subscriber.currencyCode : 'symbol'}}</span>
                        <span class="blue" *ngIf="added.individualSpendLimit == 655.35">Not set</span>
                      </div>
                      <div *ngIf="added.pricing.subscription != null" class="m-t-xs product-price">
                        {{added.pricing.subscription.initialAmount | currency : this.added.currencyCode : 'symbol'}} now, covering {{added.pricing.subscription.initialPeriod}}
                        <ng-container *ngIf="added.pricing.subscription.contractLength != added.pricing.subscription.initialPeriod">
	                        + <br> {{added.pricing.subscription.recurringAmount | currency : this.added.currencyCode : 'symbol'}} every {{added.pricing.subscription.recurringPeriod}}
	                        <span *ngIf="added.pricing.subscription.contractLength == 'infinite'"> onward</span>
                        	<span *ngIf="added.pricing.subscription.contractLength != 'infinite'"> for {{added.pricing.subscription.contractLength}}</span>
                       	</ng-container>
                      </div>
                    </div>
                    <!--OPPV ARRAY ADDED-->
                    <div *ngIf="_array.isArray(added)" class="OPPV">
                      <div class=" m-t-xs product-name productDescription" style="-webkit-box-orient: horizontal;">
                        <div class="row">
                          <div class="col-xs-12">
                            <span style="color: #0570e2" *ngIf="added[0].name.includes('IPPV_OPPV')">IPPV_OPPV EVENT</span>
                            <span style="color: #0570e2" *ngIf="!added[0].name.includes('IPPV_OPPV')">OPPV EVENT</span>
                          </div>
                          <div class="col-xs-6 ">
                            <small> Valid From: {{added[0].validFrom * 1000 | date : shortDate}}</small>
                          </div>
                          <div class="col-xs-6">
                            <small> Valid To:  {{added[added.length-1].validFrom * 1000 | date : shortDate}}</small>
                          </div>
                          <div class="col-xs-12 m-t-xs">
                            <div *ngFor="let OPPV of added" >
                              <small>- {{OPPV.titleLabel}}</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="fadeLayer"></div>
                    </div>
                  </div>
                  <div class="product-name" style="padding-bottom: 10px; padding-top: 10px; background: #f9f9f9"  *ngIf="added.validated != null && _array.isArray(added)">
                    <!--PIN: <span class="m-r-md blue">{{added.pin}}  </span>-->
                    Price: <span class="m-r-md blue">{{added.price}} </span>
                    Ind Spend Limit:
                    <span class="blue" *ngIf="added.individualSpendLimit != 655.35">{{added.individualSpendLimit | currency : subscriber.currencyCode : 'symbol'}}</span>
                    <span class="blue" *ngIf="added.individualSpendLimit == 655.35">Not set</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-left">
              <span class="input-group m-t-lg">
                 <span class="input-group-addon" *ngIf="subscriber.currencyCode == 'EUR'" >€</span>
                 <span class="input-group-addon" *ngIf="subscriber.currencyCode == 'GBP'" >£</span>
                 <input type="text" class="form-control " [(ngModel)]="discount[i]"  placeholder="Enter discount..." (keyup)="discountValidation(discount[i], i)">
              </span>
              <span class="error pull-right" style="width: 100%;" *ngIf="invalidDiscount[i]">Invalid discount value</span>
            </div>

            <!--IF ADDED OPPV ARRAY-->
            <div class="col-xs-3 text-left" *ngIf="_array.isArray(added)">
              <button *ngIf="_array.isArray(added) && added.validated == null" class="btn btn-primary m-t-lg" (click)="validateOPPVevent(i)">Validate OPPV Event</button>
              <span *ngIf="added.validated != null" class=" m-t-lg success"  style="display: inline-block" (click)="validateOPPVevent(i)"><i class="fa fa-check"></i> <strong>Validated</strong></span>
            </div>

            <!--IF ADDED NOT OPPV ARRAY-->
            <div class="col-xs-3 text-left" *ngIf="!_array.isArray(added)">
              <!--IF SINGLE OPPV-->
              <div *ngIf="added.pricing.oneOff != null">
                <button *ngIf="added.pricing.oneOff.indicative && added.validated == null" class="btn btn-primary m-t-lg" (click)="validateOPPVevent(i)">Validate OPPV Event</button>
                <span *ngIf="added.validated != null" class="m-t-lg success" style="display: inline-block" (click)="validateOPPVevent(i)"><i class="fa fa-check"></i> <strong>Validated</strong></span>
              </div>
              <!--IF NOT OPPV-->
              <div *ngIf="added.pricing.oneOff == null || added.pricing.oneOff.indicative == false" class="m-t-lg m-l-sm"><strong >Not Applicable</strong> </div>
            </div>

          </div>
        </div>
        <div class="col-xs-12 text-left" *ngIf="packagesSelected.length == 0">
          <h3><strong>No packages added</strong></h3>
        </div>
      </div>

      <div class="overlayButtons m-t-lg">
        <button class="btn btn-danger" (click)="previewDialog = false"> Back</button>
        <!--<button class="btn btn-success m-l-xs" >-->
          <!--Calculate Billing</button>-->
        <button class="btn btn-success m-l-xs" (click)="allOPPVvalidatedCheck()"> Proceed</button>
      </div>
    </div>
  </div>
</div>

<!--ERROR GETTING CARD TOKENS-->
<div class="overlay err" *ngIf="cardError != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{cardError.message}}</h2>
      <h3>{{cardError.message2}}</h3>
      <hr>
      <h2> Would you like to try again?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  routerLink="/joinSubscriber"> Yes </button>
        <button class="btn btn-danger"  routerLink="/search"> No </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="successMessage">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Account Added succesfully!</h2>
      <div *ngIf="error.vip">
        <hr>
        <h2 class="red">We couldn't set VIP status, please try again later.</h2>
      </div>
      <div class="overlayButtons m-t-lg" >
        <!--<button class="btn btn-success" routerLink="/viewSubscriber/{{newSubscriberCreated['id']}}" (click)="success = false"> OK </button>-->
        <button class="btn btn-success" routerLink="/viewSubscriber/{{joined.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>


<!--ERRORS-->
<div class="overlay err" *ngIf="error.subscriber">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <div *ngIf="error.subscriber">
        <h2>Error Joining subscriber</h2>
        <div *ngIf="error.subscriber.fieldErrors">
          <div *ngFor="let err of error.subscriber.fieldErrors">
            <h3>{{err.field}} {{err.message}}</h3>
          </div>
        </div>
        <p>
          {{error.subscriber.message}}
        </p>
      </div>
      <div *ngIf="error.vip">
        <h2>Error changing status to VIP</h2>
        <p>
          {{error.vip.message}}
        </p>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger"  routerLink="/joinSubscriber"> Back </button>
        <button *ngIf="error.subscriber" class="btn btn-success"  (click)="error.subscriber = false; joinSubscriber()"> Try again </button>
      </div>
    </div>
  </div>
</div>



<div class="overlay info" *ngIf="allOPPVvalidated">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please validate all OPPV events before proceding.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="allOPPVvalidated = false"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--OPPV VALID ERROR MESSAGES -->
<div class="overlay err" *ngIf="errorOPPVvalid != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{errorOPPVvalid.error}}</h2>
      <div class="m-t-md text-left">
        <h3 class="yellow">Further info from sky:</h3>
        <ul style="list-style: disc; padding: 0 15px;">
          <li *ngFor="let messages of errorOPPVvalid.messages"><h3>{{messages}}</h3> </li>
        </ul>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="errorOPPVvalid = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--OPPV VALIDATE PIN-->
<div class="overlay info" *ngIf="OPPVvalidatePin != null">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>{{OPPVvalidatePin.message}}</h2>
      <h3 *ngIf="count > 0" class="yellow">Number of attempts left: {{3 - count}}</h3>
      <form class="text-center m-t-lg">
        <span class="input-group pin ">
           <span class="input-group-addon">PIN</span>
           <input type="text" class="form-control" maxlength="4" [(ngModel)]="pin" name="pin" placeholder="Enter PIN">
        </span>
      </form>
      <div class="m-t-md text-left">
        <h3 class="yellow">Further info from sky:</h3>
        <ul style="list-style: disc; padding: 0 15px;">
          <li *ngFor="let messages of OPPVvalidatePin.messages"><h3>{{messages}}</h3> </li>
        </ul>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger" (click)="OPPVvalidatePin = null"> Back</button>
        <button class="btn btn-success"  (click)="PINcheck()"> Proceed </button>
      </div>
    </div>
  </div>
</div>


<!--ERROR-->
<div class="overlay err" *ngIf="err != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{err.status}}</h2>
      <h2>{{err.message}}</h2>
      <h3>{{err.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="err = null"> OK </button>
      </div>
    </div>
  </div>
</div>


<!--ERROR DISCOUNT-->
<div class="overlay err" *ngIf="errorDiscount != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error</h2>
      <h3>{{errorDiscount.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="errorDiscount = null"> OK </button>
      </div>
    </div>
  </div>
</div>


