<div class="row wrapper border-bottom white-bg page-heading  fadeIn">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a>Search</a>
      </li>
      <li class="active">
        <strong>Add Account</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<!--JOIN SUBSCRIBER-->
<div class="wrapper wrapper-content  fadeInRight" (click)="addressList = null">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" *ngIf="!entitlements">
        <div class="ibox ibox-main float-e-margins">
          <div class="ibox-title">
            <h5><i class="fa fa-address-card-o" aria-hidden="true"></i> Add Account</h5>
            <div class="ibox-tools"></div>
          </div>
          <div class="ibox-content">
            <form class="form-horizontal m-t-xs"  [formGroup]="form" autocomplete="off">
              <div class="form-group">
                <label class="col-lg-2 control-label">Account Type:</label>
                <div class="col-lg-3">
                  <select class="form-control" name="cardHolderType"  formControlName="cardHolderType" *ngIf="role == 'admin'" readonly disabled>
                    <option value="DTH"> Residential </option>
                    <option value="COM">Commercial</option>
                    <!--<option value="RET">Retailer</option>-->
                    <!--<option value="CAB">Cable</option>-->
                  </select>
                  <select class="form-control" name="cardHolderType" id="CHT" formControlName="cardHolderType" *ngIf="role != 'admin'" readonly disabled>
                    <option value="DTH"> Residential </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Viewing Card Number:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Viewing Card Number" formControlName="viewingCardNumber"  name="viewingCardNumber"  class="form-control" maxlength="9" readonly *ngIf="!editVCN">
                  <input type="text" placeholder="Viewing Card Number" formControlName="viewingCardNumber"  name="viewingCardNumber"  class="form-control" maxlength="9"  *ngIf="editVCN">
                  <div *ngIf="(form.controls['viewingCardNumber'].invalid) && (form.controls['viewingCardNumber'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['viewingCardNumber'].hasError('required'))"> Viewing card number required. </span>
                    <span *ngIf="(form.controls['viewingCardNumber'].hasError('maxlength'))"> Max. length 9 characters. </span>
                    <span *ngIf="(form.controls['viewingCardNumber'].hasError('onlyNumbers'))"> Only numbers. </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label">Title:</label>
                <div class="col-lg-3">
                  <select class="form-control" name="title" id="T" formControlName="title">
                    <option value="Mr" selected>Mr</option>
                    <option value="Mrs">Mrs </option>
                    <option value="Miss">Miss</option>
                    <option value="Ms">Ms</option>
                    <option value="Dr">Dr</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Initials:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Initials" formControlName="initials" name="initials"  class="form-control"  maxlength="3">
                  <!--<div *ngIf="(form.controls['initials'].hasError('required') || form.controls['initials'].hasError('maxlength') || form.controls['initials'].hasError('letterSpaces')) && (form.controls['initials'].touched || submitted)" class="error ">-->
                  <!--Initials are required (Letters and spaces only).-->
                  <!--</div>              -->
                  <div *ngIf="(form.controls['initials'].invalid) && (form.controls['initials'].touched || submitted)" class="error ">
                    <span *ngIf="(form.controls['initials'].hasError('required'))"> Initials are required </span>
                    <span *ngIf="(form.controls['initials'].hasError('maxLength'))"> Max. length 3 characters </span>
                    <span *ngIf="(form.controls['initials'].hasError('letterSpaces'))"> Only letters. </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Surname:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Surname" formControlName="surname" name="surname" class="form-control" [readonly]="disableSurname">
                  <div *ngIf="(form.controls['surname'].invalid) && (form.controls['surname'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['surname'].hasError('required'))"> Surname are required. </span>
                    <span *ngIf="(form.controls['surname'].hasError('maxlength'))"> Max. length 35 characters. </span>
                    <span *ngIf="(form.controls['surname'].hasError('minlength'))"> Min. length 2 characters. </span>
                    <span *ngIf="(form.controls['surname'].hasError('letterSpaces'))">Letters and spaces only. </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*UK Postcode:</label>
                <div class="col-lg-4">
                <span class="input-group">
                  <input type="text" placeholder="Postcode" formControlName="postcode" name="postcode" class="form-control" (keyup)="exception.value = ''" (change)="detectCountryFromPostcode(form.value.postcode)" maxlength="9" readonly>
                     <!--<a class="input-group-addon btn-white" [ngClass]="{'bblue white': form.value.postcode.length > 0}" (click)="findAddress()" *ngIf="form.value.postcode.length > 0; else buttonDisabled">Find address</a>-->
                     <a class="input-group-addon btn-white" [ngClass]="{'bblue white': form.value.postcode.length > 0}" *ngIf="form.value.postcode.length > 0; else buttonDisabled">Find address</a>
                   <ng-template #buttonDisabled>
                    <a class="input-group-addon btn-white" [ngClass]="{'bblue white': form.value.postcode.length > 0}" disabled >Find address</a>
                   </ng-template>
                </span>
                  <div *ngIf="(form.controls['postcode'].invalid) && (form.controls['postcode'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['postcode'].hasError('required'))"> Postcode required. </span>
                    <span *ngIf="(form.controls['postcode'].hasError('minlength'))"> Min. length 2 characters. </span>
                    <span *ngIf="(form.controls['postcode'].hasError('maxlength'))"> Max. length 9 characters. </span>
                    <span *ngIf="invalidPostcode"> Please enter a valid postcode. </span>
                  </div>
                  <div class="findAddress" *ngIf="addressList">
                    <ul>
                      <li *ngFor="let address of addressList" (click)="setAddress(address)">
                        <a>{{address.notFound}} {{address.addressLine1}} {{address.addressLine2}} {{address.addressLine3}} {{address.addressLine4}} {{address.addressLine5}}</a>
                      </li>
                    </ul>
                    <button class="btn btn-primary" (click)="addressManually = true;" style="margin: 0; width: 100%;">Add address manually.</button>
                  </div>
                </div>
                <!--<div class="col-lg-4" *ngIf="oneResult">-->
                 <!--<span class="input-group m-t-xs">-->
                    <!--<strong>{{form.value.postcode}}</strong>-->
                  <!--</span>-->
                <!--</div>-->
                <label class="col-lg-1 control-label" >Other:</label>
                <div class="col-lg-5" >
                  <select class="form-control" (change)="form.controls['postcode'].setValue(exception.value); addressManually = true; detectCountryFromPostcode(form.value.postcode)" #exception readonly disabled>
                    <option value="" disabled>Select instead of postcode</option>
                    <!--<option value="UK"> UK </option>-->
                    <option value="ROI">ROI</option>
                    <option *ngIf="role === 'admin'" value="IOM">IOM</option>
                    <option *ngIf="role === 'admin'" value="CI">CI</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Address Line 1:</label>
                <div class="col-lg-10" >
                  <input type="text" placeholder="Address Line 1" formControlName="addressLine1" name="addressLine1" class="form-control" readonly>
                  <!--<div *ngIf="(form.controls['addressLine1'].hasError('required') || form.controls['addressLine1'].hasError('maxlength') || form.controls['addressLine1'].hasError('specialChar')) && (form.controls['addressLine1'].touched || submitted)" class="error">-->
                  <!--Address line 1 is required. (Only Letters/Numbers/Spaces ).-->
                  <!--</div>              -->
                  <div *ngIf="(form.controls['addressLine1'].invalid) && (form.controls['addressLine1'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['addressLine1'].hasError('required'))"> Address line 1 is required. </span>
                    <span *ngIf="(form.controls['addressLine1'].hasError('minlength'))"> Min. length 2 characters. </span>
                    <span *ngIf="(form.controls['addressLine1'].hasError('maxlength'))"> Max. length 35 characters. </span>
                    <span *ngIf="(form.controls['addressLine1'].hasError('specialChar'))"> No special characters allowed. </span>
                  </div>
                </div>
                <!--<div class="col-lg-10 m-t-xs" *ngIf="oneResult">-->
                  <!--<strong >{{form.value.addressLine1}}</strong>-->
                <!--</div>-->
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Address Line 2:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 2" formControlName="addressLine2" name="addressLine2" class="form-control" readonly>
                  <!--<div *ngIf="(form.controls['addressLine2'].hasError('required') || form.controls['addressLine2'].hasError('maxlength') || form.controls['addressLine2'].hasError('specialChar')) && (form.controls['addressLine2'].touched || submitted)" class="error">-->
                  <!--Address line 2 is required (Only Letters/Numbers/Spaces ).-->
                  <!--</div>              -->
                  <div *ngIf="(form.controls['addressLine2'].invalid) && (form.controls['addressLine2'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['addressLine2'].hasError('required'))"> Address line 2 is required. </span>
                    <span *ngIf="(form.controls['addressLine2'].hasError('minlength'))"> Min. length 2 characters. </span>
                    <span *ngIf="(form.controls['addressLine2'].hasError('maxlength'))"> Max. length 35 characters. </span>
                    <span *ngIf="(form.controls['addressLine2'].hasError('specialChar'))"> No special characters allowed. </span>
                  </div>
                </div>
                <!--<div class="col-lg-10 m-t-xs" *ngIf="oneResult">-->
                  <!--<strong >{{form.value.addressLine2}} {{form.value.addressLine3}} {{form.value.addressLine4}} {{form.value.addressLine5}} </strong>-->
                <!--</div>-->
              </div>
              <!--<div *ngIf="addressManually && !oneResult">-->
              <div *ngIf="addressManually">
                <div class="form-group">
                  <label class="col-lg-2 control-label">Address Line 3:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Address Line 3"  formControlName="addressLine3" name="addressLine3" class="form-control" maxlength="35" readonly>
                    <div *ngIf="(form.controls['addressLine3'].invalid) && (form.controls['addressLine3'].touched || submitted)" class="error">
                      Min. 2 characters.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Address Line 4:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Address Line 4"  formControlName="addressLine4" name="addressLine4" class="form-control" maxlength="35" readonly>
                    <div *ngIf="(form.controls['addressLine4'].invalid) && (form.controls['addressLine4'].touched || submitted)" class="error">
                      Min. 2 characters.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Address Line 5:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Address Line 5"  formControlName="addressLine5" name="addressLine5" class="form-control" maxlength="35" readonly>
                    <div *ngIf="(form.controls['addressLine5'].invalid) && (form.controls['addressLine5'].touched || submitted)" class="error">
                      Min. 2 characters.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-2 control-label">Country:</label>
                <div class="col-xs-3" >
                  <!--<select class="form-control" name="country"  formControlName="countryCode" (change)="countryCurrencyMatch()" *ngIf="joinSubscriber.customerId == null">-->
                    <!--<option  value="GBR"  selected>United Kingdom</option>-->
                    <!--<option  value="IRL"  selected>Ireland</option>-->
                  <!--</select>-->
                  <!--<div  *ngIf="joinSubscriber.customerId" style="margin-top: 8px">-->
                  <div  *ngIf="true" style="margin-top: 8px">
                    <strong *ngIf="form.value.countryCode === 'GBR'">United Kingdom</strong>
                    <strong *ngIf="form.value.countryCode == 'IRL'">Ireland</strong>
                  </div>
                </div>
                <!--<div class="col-xs-3 m-t-xs"  *ngIf="oneResult">-->
                  <!--<strong>{{form.value.countryCode}}</strong>-->
                <!--</div>-->
              </div>
              <div formGroupName="phones">
                <div class="form-group">
                  <label class="col-lg-2 control-label">Home Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Home Telephone" formControlName="homeTelNr" name="homeTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="( form.controls['phones'].controls.homeTelNr.invalid) && (submitted || form.controls['phones'].controls.homeTelNr.touched)" class="error">
                      Only numbers
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Work Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Work Telephone" formControlName="workTelNr" name="workTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="( form.controls['phones'].controls.workTelNr.invalid) && (submitted || form.controls['phones'].controls.workTelNr.touched)" class="error">
                      Only numbers
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Mobile Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Mobile Telephone" formControlName="mobTelNr" name="mobileTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="(form.controls['phones'].controls.mobTelNr.invalid) && (submitted || form.controls['phones'].controls.mobTelNr.touched)" class="error">
                      Only numbers
                    </div>
                    <div *ngIf="(form.controls['phones'].invalid) && (submitted)" class="error">
                      At least one phone number is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Set Top Box Telephone:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Set Top Box Telephone" formControlName="cliTelNr" name="cliTelephone" class="form-control phoneVal" maxlength="15">
                </div>
              </div>
              <div class="form-group"  [hidden]="hideFormFields">
                <label class="col-xs-2 control-label">Email:</label>
                <div class="col-lg-5">
                  <div class="input-group" style="border: 1px solid #e5e6e7" [ngClass]="{'bcgreen': emailVerificationResponse === 'deliverable', 'bcred': emailVerificationResponse === 'undeliverable',
                  'bcyellow': emailVerificationResponse === 'risky', 'bcblue': emailVerificationResponse === 'unknown', 'bcgrey': emailVerificationResponse === 'Insufficient Balance'}" >
                    <!--<ng-container *ngIf="noEmail">-->
                      <!--<input type="hidden" placeholder="Email" formControlName="email" name="email"  class="input form-control b-n" (keyup)="emailVerificationResponse = false; noEmail = false;">-->
                      <!--<input type="text" placeholder="Email"  name="email"  class="input form-control b-n" (keyup)="emailVerificationResponse = false; noEmail = false;">-->
                    <!--</ng-container>-->
                    <ng-container *ngIf="true">
                      <input type="text" placeholder="Email" formControlName="email" name="email"  class="input form-control b-n" (keyup)="emailVerificationResponse = false; noEmail = false;">
                    </ng-container>
                    <a *ngIf="!emailVerificationResponse" class="btn btn-primary input-group-addon bblue white" style="border: #0f3b68;" (click)="validateEmail()" >
                      Validate
                    </a>
                    <span *ngIf="emailVerificationResponse == 'deliverable'" class=" input-group-addon b-n"  >
                      <i  class="fa fa-check green"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'undeliverable' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-times red"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'risky' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-exclamation yellow"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'unknown' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-question blue"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'loading'" class=" input-group-addon b-n"  >
                      <i class="fa fa-spinner fa-spin"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'Insufficient Balance'" class=" input-group-addon b-n"  >
                      <i class="fa fa-question"></i>
                    </span>
                  </div>
                  <!--<div *ngIf="(detailsForm.controls['email'].invalid  && (detailsForm.controls['email'].touched || submitted) || emailVerificationResponse == 'undeliverable')"  >-->
                  <div *ngIf=" emailVerificationResponse == 'undeliverable'"  >
                    <h4><span  class="red">Invalid Address. </span><span *ngIf="didYouMean">Did you mean <a (click)="patchEmail()">{{didYouMean}}</a>? </span></h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'deliverable'">
                    <h4 class="green">Valid Address</h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'risky'">
                    <h4 class="yellow">Low Quality Address – Please provide an alternative email address if possible</h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'unknown'">
                    <h4 class="blue">Unknown - We were unable to check this email address</h4>
                  </div>
                  <div *ngIf="emailVerificationResponse == 'Insufficient Balance'">
                    <h4 >Email address checking is currently unavailable [IB]</h4>
                  </div>
                </div>
                <div class="col-lg-2">
                  <label class="checkbox-inline control-label"><input type="checkbox" (click)="noEmailChecked()" [checked]="noEmail">No Email</label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-2 control-label">Currency:</label>
                <div class="col-xs-3"  *ngIf="!oneResult">
                  <!--<select class="form-control" name="currencyCode"  formControlName="currencyCode" (change)="countryCurrencyMatch()" *ngIf="joinSubscriber.customerId == null">-->
                    <!--<option value="GBP" selected="selected">GBP</option>-->
                    <!--<option value="EUR">EUR </option>-->
                  <!--</select>-->
                  <!--<div  *ngIf="joinSubscriber.customerId" style="margin-top: 8px">-->
                  <div  *ngIf="true" style="margin-top: 8px">
                    <strong>{{form.value.currencyCode}}</strong>
                  </div>
                </div>
                <div class="col-xs-3  m-t-xs"  *ngIf="oneResult">
                 <strong>{{form.value.currencyCode}}</strong>
                </div>
                <div class="col-xs-4">
                  <div class="warning  fadeIn" *ngIf="match">
                    Warning: Country and Currency don't match.
                  </div>
                </div>
              </div>
              <div class="form-group" formGroupName="marketingPreferences" [hidden]="hideFormFields">
                <label class="col-lg-2 control-label">Customer Marketing Preferences:</label>
                <div class="col-lg-2 m-t-sm">
                  <p><input type="checkbox"  name="FP_POST" formControlName="FP_POST"> First-Party Post</p>
                  <p><input type="checkbox"  name="FP_EMAIL" formControlName="FP_EMAIL"> First-Party Email</p>
                  <p><input type="checkbox"  name="FP_PHONE" formControlName="FP_PHONE"> First-Party Phone</p>
                  <p><input type="checkbox"  name="FP_SMS" formControlName="FP_SMS"> First-Party SMS</p>
                </div>
                <div class="col-lg-2 m-t-sm">
                  <p><input type="checkbox"  name="TP_POST" formControlName="TP_POST"> Third-Party Post</p>
                  <p><input type="checkbox"  name="TP_EMAIL" formControlName="TP_EMAIL"> Third-Party Email</p>
                  <p><input type="checkbox"  name="TP_PHONE" formControlName="TP_PHONE"> Third-Party Phone</p>
                  <p><input type="checkbox"  name="TP_SMS" formControlName="TP_SMS"> Third-Party SMS</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-2 control-label">VIP:</label>
                <div class="col-xs-3">
                  <select class="form-control" name="vip"  formControlName="vip">
                    <option value="true" >YES</option>
                    <option value="false" selected>NO </option>
                  </select>
                </div>
              </div>

              <!--SUBMIT-->
              <div class="form-group m-t-lg">
                <div class="col-lg-offset-2 col-lg-10">
                  <div *ngIf="form.invalid && submitted" class="error">
                    Fields in red are required
                  </div>
                  <!--Valid Email required to proceed or 'No Email' checkbox-->
                  <button class="btn btn-primary"
                          *ngIf="(emailVerificationResponse ===  'undeliverable' || !emailVerificationResponse || emailVerificationResponse == null)
                            && !noEmail; else proceed"
                          (click)="error = {message: 'A valid email or \'No Email\' checkbox is required.'}">Proceed</button>
                  <ng-template #proceed>
                    <button class="btn btn-primary"  (click)="checkVCN()">Proceed</button>
                  </ng-template>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- --------
DIALOG BOXES
--------- -->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <p>{{error.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>


<div class="overlay info" *ngIf="VCNcheck">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Viewing Card Number already exists.</h2>
      <h2>Please check that it is correct and try again.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="VCNcheck = false"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SELECT DIRECT DEBIT OR CARD-->
<div class="overlay info" *ngIf="payMethDialog">
  <div class="overlayBox ">
    <div class="overlayContent text-left">
      <h2 class="">Please select payment method: </h2><br>
      <!--<input type="radio" [(ngModel)]="payMeth"  name="paymentMethod" value="false"  >-->
      <!--<label class="control-label">Card</label>-->
      <!--<br>-->
      <!--<input type="radio" [(ngModel)]="payMeth"  name="paymentMethod" value="true" >-->

      <div class="btn-group paymentMethods" data-toggle="buttons">
        <label class="btn btn-white " (click)="payMeth = false; processForm()">
          <input type="radio" [(ngModel)]="payMeth"  name="paymentMethod" value="false"  >
          <img src="../../../assets/img/card2.png" width="150px" alt="Card">
        </label>
        <label class="btn btn-white" (click)="payMeth = true; processForm()">
          <input type="radio" [(ngModel)]="payMeth"  name="paymentMethod" value="true" >
          <img src="../../../assets/img/direct_debit.png" width="150px" alt="DirectDebit">
        </label>
      </div>
      <div class="overlayButtons m-t-lg text-center">
        <button class="btn btn-danger m-l-xs" (click)="payMethDialog = false;"> Back</button>
        <!--<button class="btn btn-success" (click)="processForm()" [disabled]="payMeth == undefined" > Proceed</button>-->
      </div>
    </div>
  </div>
</div>

<!--REMOTE MATCH DIALOG-->
<div class="overlay info" *ngIf="remoteMatchDialog">
  <div class="overlayBox" style="max-width: 600px">
    <div class="overlayContent text-left">
      <div *ngIf="remoteMatch">
        <div class="row details">
          <div class="col-md-12" *ngFor="let sub of remoteMatch">
            <div class="row">
              <div class="col-md-12">
                <h2 class="yellow m-n">
                  Please check info as details below may not match form if information from Sky differs.
                </h2>
                <hr>
              </div>
              <div class="col-md-12">
                <h2 class="m-n">{{sub.title}} {{sub.firstname}}
                  <span >{{sub.surname}}</span>
                </h2>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-6">
                <h3><strong>Card Holder Type:</strong> {{sub.cardHolderType}}</h3>
              </div>
              <div class="col-md-12">
                <h3 ><strong>Viewing Card Number:</strong>
                  <span *ngIf="!viewingCardNumberCheck">{{sub.viewingCardNumber}}</span>
                  <span *ngIf="sub.viewingCardNumber == null">Unknown number</span>
                </h3>
              </div>
            </div>
            <br>
            <h4 class="primary"><i class="fa fa-map-marker" aria-hidden="true"></i> ADDRESS</h4>
            <div class="row">
              <div class="col-md-6">
                <h3>
                  <span *ngIf="!addressLine1Check"> {{sub.addressLine1}}</span>
                </h3>
                <h3>
                  <span *ngIf="!addressLine2Check"> {{sub.addressLine2}}</span>
                </h3>
                <h3>{{sub.addressLine3}}</h3>
                <h3>{{sub.addressLine4}}</h3>
                <h3>{{sub.addressLine5}}</h3>
              </div>
              <div class="col-md-6">
                <h3>
                  <strong>Postcode:</strong>
                  <span *ngIf="!postcodeCheck"> {{sub.postcode}}</span>
                </h3>
                <h3><strong>Country:</strong> {{sub.countryCode}}</h3>
              </div>
            </div>
            <br>
            <h4 class="primary"><i class="fa fa-phone"></i> PHONE NUMBERS</h4>
            <div class="row">
              <div class="col-md-6">
                <h3><strong>Home Telephone:</strong> {{sub.homeTelNo}}</h3>
                <h3><strong>Work Telephone:</strong> {{sub.workTelNo}}</h3>
              </div>
              <div class="col-md-6">
                <h3><strong>Mobile Telephone:</strong> {{sub.mobTelNo}}</h3>
                <h3><strong>Set Top Box Telephone: </strong> {{sub.cliTelNo}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlayButtons m-t-lg text-center">
        <button class="btn btn-danger m-l-xs" (click)="remoteMatchDialog = null;"> Back</button>
        <button *ngIf="form.valid === true && !hasPaymentCard && form.value.vip == 'false'; else proceed" class="btn btn-success" (click)="payMethDialog = true; remoteMatchDialog = null;" > Proceed with these details</button>
        <ng-template #proceed>
          <button  class="btn btn-success" (click)="processForm(); remoteMatchDialog = null;" > Proceed with these details</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>





