

/deep/ .dateForm {
  width: 100%;
}
.notificationsTable {
  display: block;
}
.notificationsTable tbody{
  max-height: 100px;
  overflow: scroll;
}
.notificationsTable .fa-edit{
  font-size: 88%;
  cursor: pointer;
}
.notificationsTable .fa-edit:hover {
  color: #0f3b68;
}
.notificationsTable .fa-times{
  cursor: pointer;
}
.notificationsTable .fa-times:hover {
  color: #e23237;
}
.notificationsTable .fa-circle{
  font-size: 88%;
}
.notificationsTable td,
.notificationsTable th {
  padding: 8px 16px;
}


.nav.nav-tabs li {
  background: none !important;
}
.nav.nav-tabs a {
  display: inline-block;
  margin: 0;
  padding: 15px;
  text-overflow: ellipsis;
  float: left;
  font-size: 16px;
  font-weight: 400;
  color: rgba(46, 61, 73, 0.51);
}
.nav.nav-tabs li.active a{
  color: #2e3d49;
}
.tabs-container {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.12);
}
.tabs-container .panel-body {
  border: none;
  border-left: 1px solid #e8eaec;
}

