<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a> <strong>Admin Panel</strong> </a>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="">
    <div class="col-lg-12">
      <div class="tabs-container">
        <ul class="nav nav-tabs">
          <li class="active" (click)="tab1Active = true; tab2Active = false; tab4Active = false; tab3Active = false;">
            <a data-toggle="tab" href="#tab-1" aria-expanded="true">
              <i class="fa fa-users"></i>
              Users
            </a>
          </li>
          <li class="" (click)="tab1Active = false;   tab3Active = false; tab4Active = false; tab2Active = true">
            <a data-toggle="tab" href="#tab-2" aria-expanded="false">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              Notifications
            </a>
          </li>
          <li class="" (click)="tab1Active = false; tab2Active = false; tab4Active = false; tab3Active = true">
            <a data-toggle="tab" href="#tab-3" aria-expanded="false">
              <i class="fa fa-cubes" aria-hidden="true"></i>
              Sales Item Groups
            </a>
          </li>
          <li class="" (click)="tab1Active = false; tab2Active = false; tab3Active = false; tab4Active = true;">
            <a data-toggle="tab" href="#tab-4" aria-expanded="false">
              <i class="fa fa-cube" aria-hidden="true"></i>
              Packages
            </a>
          </li>
        </ul>
        <div class="tab-content m-b-lg">
          <div id="tab-1" class="tab-pane active" *ngIf="tab1Active">
            <app-users></app-users>
          </div>
          <div id="tab-2" class="tab-pane" *ngIf="tab2Active">
            <app-notifications></app-notifications>
          </div>
          <div id="tab-3" class="tab-pane" *ngIf="tab3Active">
            <app-sales-items></app-sales-items>
          </div>
          <div id="tab-4" class="tab-pane" *ngIf="tab4Active">
            <app-product-groups></app-product-groups>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-lg-12">-->
    <!--<div class="ibox float-e-margins">-->
    <!--<div class="ibox-title">-->
    <!--<h5>Notifications</h5>-->
    <!--<div class="ibox-tools">-->
    <!--<a (click)="hideNotifications = !hideNotifications"><i  [ngClass]="hideNotifications ? 'fa-chevron-down' : 'fa-chevron-up'"  class="fa "></i></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="ibox-content" *ngIf="!hideNotifications">-->
    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
    <!--<div class="form-group">-->
    <!--<label for="title">Title</label>-->
    <!--<input id="title" type="text" class="form-control" [(ngModel)]="notification.title" placeholder="Enter a title ...">-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label for="message">Message</label>-->
    <!--<textarea class="form-control" id="message" rows="3" [(ngModel)]="notification.text" placeholder="Enter a message ..."></textarea>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label >Time Out (ms)</label>-->
    <!--<input type="text" [(ngModel)]="notification.options.timeOut" placeholder="ms" class="form-control" value="0">-->
    <!--</div>-->
    <!--<div class="checkbox">-->
    <!--<label class="checkbox" for="disableTimeOut">-->
    <!--<input id="disableTimeOut" [(ngModel)]="notification.options.disableTimeOut" type="checkbox" value="checked" class="input-mini" checked="">Disable Time Out-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
    <!--<label class="checkbox" for="closeButton">-->
    <!--<input id="closeButton" [(ngModel)]="notification.options.closeButton" type="checkbox" value="checked" class="input-mini" checked="">Show Close Button-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
    <!--<label class="checkbox" for="enableHTML">-->
    <!--<input id="enableHTML"-->
    <!--type="checkbox" [(ngModel)]="notification.options.enableHtml"-->
    <!--[value]="notification.options.enableHTML" class="input-mini">Enable HTML in Message-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="checkbox">-->
    <!--<label class="checkbox" for="preventDuplicates">-->
    <!--<input id="preventDuplicates" type="checkbox" value="checked" class="input-mini">Show in Login page-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-2">-->
    <!--<div class="form-group" id="toastTypeGroup">-->
    <!--<label>Notification Type</label>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" [(ngModel)]="notification.type" name="toasts" (click)="notification.type = 'success'; " value="success" checked="">Success-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label class="radio">-->
    <!--<input type="radio" [(ngModel)]="notification.type" name="toasts" (click)="notification.type = 'info'; " value="info">Info-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label class="radio">-->
    <!--<input type="radio" [(ngModel)]="notification.type" name="toasts" (click)="notification.type = 'warning'; " value="warning">Warning-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label class="radio">-->
    <!--<input type="radio" [(ngModel)]="notification.type" name="toasts" (click)="notification.type = 'error'; "  value="error">Error-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group" id="positionGroup">-->
    <!--<label>Position</label>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-top-right'" value="toast-top-right" checked="">Top Right-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-bottom-right'"  value="toast-bottom-right">Bottom Right-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-bottom-left'" value="toast-bottom-left">Bottom Left-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-top-left'" value="toast-top-left">Top Left-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-top-full-width'" value="toast-top-full-width">Top Full Width-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-bottom-full-width'" value="toast-bottom-full-width">Bottom Full Width-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-top-center'" value="toast-top-center">Top Center-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-bottom-center'" value="toast-bottom-center">Bottom Center-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-2">-->
    <!--<div class="form-group" >-->
    <!--<label>Log Out</label>-->
    <!--<div class="radio">-->
    <!--<label>-->
    <!--<input type="radio" name="logout"  checked="">Never-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label class="radio">-->
    <!--<input type="radio" name="logout"  value="info">Don't allow to log in-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label class="radio">-->
    <!--<input type="radio"  name="logout"  value="warning"> Log out users-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="radio">-->
    <!--<label class="radio">-->
    <!--<input type="radio"  name="logout"  value="error">Log out all (incl. admin)-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-3">-->
    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="showDuration">Show From</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input id="showDuration" type="text" [(ngModel)]="notification.options.timeOut" placeholder="ms" class="form-control" value="0">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="hideDuration">Show To</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<input id="hideDuration" type="text" placeholder="ms" class="form-control" value="1000">&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<mat-form-field class="m-r-xs dateForm">-->
    <!--<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  placeholder="Show From" [(ngModel)]="date1">-->
    <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--<mat-datepicker  #picker></mat-datepicker>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field class="m-t-sm dateForm">-->
    <!--<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="Show To" [(ngModel)]="date2">-->
    <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #picker2></mat-datepicker>-->
    <!--</mat-form-field>-->
    <!--</div>-->
    <!--<div class="col-md-5 m-t-lg">-->
    <!--<table class="table notificationsTable">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th>ID</th>-->
    <!--<th>NOTIFICATION TITLE</th>-->
    <!--<th>ACTIVE FROM</th>-->
    <!--<th>ACTIVE TO</th>-->
    <!--<th></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody *ngIf="notifications" >-->
    <!--<tr *ngFor="let not of notifications">-->
    <!--<td>{{not.id}}</td>-->
    <!--<td>{{not.title}}</td>-->
    <!--<td>{{not.activeFrom * 1000 | date : 'medium' }}</td>-->
    <!--<td>{{not.activeTo * 1000 | date: 'medium' }}</td>-->
    <!--<td><i class="fa fa-times"-->
    <!--(click)="dialog = {-->
    <!--message: 'Are you sure you want to delete this notification?',-->
    <!--id: not.id-->
    <!--}">-->
    <!--</i>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--<tbody *ngIf="!notifications"><h2>No active notifications found.</h2></tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
    <!--<hr>-->
    <!--<button type="button" class="btn btn-primary" (click)="show()">Show Notification Example</button>-->
    <!--<button type="button" class="btn btn-white" (click)="addNotification()"> Save Notification Changes</button>-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-white" id="clearlasttoast">Clear Last Notifications</button>&ndash;&gt;-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-white" id="showsimple">Show simple options</button>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
<!-- ---------
DIALOG BOXES
---------- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2 *ngIf="error"> Error</h2>
      <h3>{{error.message}}</h3>
      <h3 *ngFor="let e of error.fieldErrors"> - {{e.field}} {{e.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>{{success.message}}</h2>
      <h3>{{success.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="success = null"> OK </button>
      </div>
    </div>
  </div>
</div>



<!--&lt;!&ndash; DIALOG &ndash;&gt;-->
<!--<div class="overlay info" *ngIf="dialog">-->
  <!--<div class="overlayBox ">-->
    <!--<div class="overlayContent text-center">-->
      <!--<div class="overlayIcon">-->
        <!--<i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>-->
      <!--</div>-->
      <!--<h2>{{dialog.message}}</h2>-->
      <!--<h2>{{dialog.message2}}</h2>-->
      <!--<div class="overlayButtons m-t-lg" >-->
        <!--<button class="btn btn-success" (click)="deleteNotification(dialog.id)"><i class="fa fa-check" style="color:white;"></i> YES</button>-->
        <!--<button class="btn btn-danger m-l-xs" (click)="dialog = null"><i class="fa fa-times"></i> NO</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

