<!-- ---------------------------------
PROCESS 23:
---------------------------------- -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li>
        <a >View Account</a>
      </li>
      <li class="active">
        <strong>Process23</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  fadeIn"  *ngIf="!advise">
  <div class="  fadeIn"  *ngIf="true">
    <div class="col-md-8 col-md-offset-2 ">
      <div class="ibox ibox-main float-e-margins" >
        <div class="ibox-title">
          <h5>Confirm which are the Active Viewing Card Numbers</h5>
        </div>
        <div class="ibox-content">
          <table class="table table-striped" >
            <thead>
            <tr>
              <th><strong> </strong></th>
              <th><strong>Account Surname </strong></th>
              <th><strong>Address </strong></th>
              <th><strong>Postcode </strong></th>
              <th><strong>Viewing Card Number</strong></th>
              <th><strong>Status</strong></th>
            </tr>
            </thead>
            <tbody *ngIf="customerSubscribers" class="customerSubscribers" >
            <tr *ngFor="let subs of  customerSubscribers; let i = index" >
              <td style="border-right: 1px solid  #dddddd; text-align: center;">
                <h3><input type="checkbox" name="val" (change)="checked(i, val.checked, subs)" #val></h3>
              </td>
              <td><h3>{{subs.title}} {{subs.surname}}</h3></td>
              <td><h3>{{subs.addressLine1}}</h3></td>
              <td><h3>{{subs.postcode}} </h3></td>
              <td><h3>{{subs.viewingCardNumber}}</h3></td>
              <!--<td><h3>{{subs.cardSubscriberId}}</h3></td>-->
              <td *ngIf="subs.active && subs.active != 'AW'" ><h3 class="green">ACTIVE</h3></td>
              <td *ngIf="!subs.active" ><h3 class="red">INACTIVE</h3></td>
              <td *ngIf="subs.active == 'AW'" ><h3 class="red">Entitlements Awaiting Activation</h3></td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-success" (click)="allChecked()">None of these</button>
          <div class="row">
            <div class="col-md-12">
              <hr>
              <button class="btn btn-danger"  routerLink="/viewSubscriber/{{subscriber.id}}" >Back</button>
              <span class="">
                <button class="btn btn-primary" (click)="allChecked()">Next</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<!--STEP 1: ADVISE CUSTOMER-->
<div class="overlay success" *ngIf="advise && customerSubscribers.length > 0">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please advise customer that Sky Q Minis is included their package.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="advise = false;"> Next </button>
      </div>
    </div>
  </div>
</div>

<!--NO SUBSCRIBERS ACTIVE-->
<div class="overlay success" *ngIf="customerSubscribers.length == 0">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>No active accounts found.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"> Back to account </button>
      </div>
    </div>
  </div>
</div>

<!--STEP 2: CANCEL ACCOUNTS-->
<div class="overlay success" *ngIf="cancel">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <h2 >Do you want to <span class="red">cancel</span> these accounts?</h2>
      <hr>
      <div *ngFor="let subs of noSelected" class="text-left">
        <h3>{{subs.surname}} - {{subs.postcode}} - {{subs.viewingCardNumber}}</h3>
      </div>
      <hr>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="getEntitlements()"><i class="fa fa-check" style="color:white;"></i> YES </button>
        <button class="btn btn-danger" (click)="selectedSubscribersCheck()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--STEP 3: PICK ACCOUNT-->
<div class="overlay success" *ngIf="pickAccount">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <!--<h2>{{noSelected.length}} Account(s) Cancelled</h2>-->

      <h2>Please pick account to receive Sky Q Minis</h2>
      <hr>
      <div *ngFor="let subs of selected" class="text-left">
        <h3><input type="radio" [(ngModel)]="picked"  name="picked" [value]="subs" (change)="pick(subs)"> {{subs.surname}} - {{subs.postcode}} - {{subs.viewingCardNumber}}</h3>
      </div>
      <hr>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="pickAccount = false; insert = true;"> Next </button>
      </div>
    </div>
  </div>
</div>

<!--STEP 4 INSERT CARD INTO SET TOP BOX-->
<div class="overlay success" *ngIf="insert">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 >Please advise customer to insert card into Set Top Box.</h2>
      <hr>
      <h2>Is viewing card OK on Sky Q Minis?</h2>

      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"><i class="fa fa-check" style="color:white;"></i> YES </button>
        <button class="btn btn-danger" (click)="insertProceed()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>



<!--JOIN EXIT-->
<div class="overlay " *ngIf="joinExit">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="text-left steps">
        <h2 class="m-t-n-xs yellow">Please follow these steps:</h2>
        <hr>
        <ul>
          <li>
            <strong>1.Click below to go back to the account.</strong>
          </li>
          <li>
            <strong>
              3.Click on <a class="btn btn-primary m-l-xs"><i class="fa fa-user"></i> View customer</a>
              and then  Join Existing Card.
            </strong>
          </li>
          <li>
            <strong>4.Add entitlements to the new account created.</strong>
          </li>
        </ul>
        <hr>
        <div class="overlayButtons m-t-lg" >
          <button class="btn btn-danger m-l-xs" routerLink="/viewSubscriber/{{subscriber.id}}">
            Back to account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <!--<h2> {{error.status}}</h2>-->
      <h2>{{error.field}} {{error.message1}}</h2>
      <h2>{{error.message2}}</h2>
      <h3>{{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Resend All Personal Bits sent!</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>
