<!-- ---------------------------------
PROCESS 16: Resend All Personal Bits
----------------------------------- -->

<!--<div class="row wrapper border-bottom white-bg page-heading">-->
  <!--<div class="col-lg-10">-->
    <!--<ol class="breadcrumb">-->
      <!--<li>-->
        <!--<a href="index.html">Home</a>-->
      <!--</li>-->
      <!--<li class="active">-->
        <!--<strong>Resend All Personal Bits</strong>-->
      <!--</li>-->
    <!--</ol>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="wrapper wrapper-content  fadeIn"  *ngIf="falses">-->
<!--<div class="  fadeIn" >-->
  <!--<div class="col-md-8 col-md-offset-2 ">-->
    <!--<div class="ibox ibox-main float-e-margins" >-->
      <!--<div class="ibox-title">-->
        <!--<h5>Resend All Personal Bits</h5>-->
      <!--</div>-->
      <!--<div class="ibox-content">-->
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<button class="btn btn-danger"  routerLink="/viewSubscriber/{{subscriber.id}}" >Back</button>-->
            <!--<button class="btn btn-primary" routerLink="/process20">Next</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->

<!-- --------
DIALOG BOXES
--------- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/search"> OK </button>
      </div>
    </div>
  </div>
</div>

<!-- ADVISE CUSTOMER -->
<div class="overlay info" *ngIf="advise">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please advise customer that Sky Q Minis is already included in the package. </h2>
      <hr>
      <h2>Is viewing in Sky Q Minis ok? </h2>
      <div class="overlayButtons m-t-lg" >
        <!--<button class="btn btn-success" (click)="advise = false; advise2 = true"> NEXT </button>-->
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="proceed()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>


