<div class="recoverWrapper">
  <div class="container">
    <div class="box">
      <div class="recoverBox">
        <h1>Recover Password</h1>
        <form [formGroup]="form" (submit)="sendEmail()" autocomplete="off">
          <label class="label-control">Please enter your email address</label>
          <input type="text" class="form-control" placeholder="Email address" name="email" formControlName="email">
          <div *ngIf="(form.invalid) && submitted" class="error ">
             Please enter a valid email address.
          </div>
          <div class="form-group">
            <button class="btn btn-primary m-t-md" type="submit" >Reset Password</button>
            <div class="m-t-xs backLogin" routerLink="/">
            <small ><i class="fa fa-arrow-left"></i> Back to login page</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ---
DIALOG
----- -->

<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{error.message}}</h2>
      <h3>{{error.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-envelope-o fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>{{success.message}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"   routerLink="/"> OK </button>
      </div>
    </div>
  </div>
</div>
