.recoverWrapper{
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,123,255,1) 0%, rgba(2,17,33,1) 100%);
  /*background: url("https://source.unsplash.com/1600x900?nature") no-repeat;*/
  -webkit-background-size: cover;
  background-size: cover;

  display: inline-block;
}
.recoverWrapper .box{
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  min-height: 90vh;
}
.box .recoverBox{
  align-self: center;
  margin: auto;
  width: 400px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.12);
  text-align: center;
  padding: 40px 40px 20px;
  /*-webkit-box-shadow:  10px 10px 10px rgba(0,0,0,0.2);*/
  /*-moz-box-shadow:  10px 10px 10px rgba(0,0,0,0.2);*/
  /*box-shadow:  10px 10px 10px rgba(0,0,0,0.2);*/
  border-radius: 5px;
}
.recoverBox h1  {
  color: white;
}
.recoverBox form{
  padding: 20px 40px;
}
.recoverBox label{
  color: white;
}

.recoverBox input{
  border-radius: 3px;
}
.recoverBox .btn {
  background: #e55d1b;
  border-color: #e55d1b;
}
.recoverBox .btn:hover {
  background: #ff671d;
  border-color: #ff671d;
}

.recoverBox .btn  {
  padding: 10px 50px;
  border-radius: 50px;
}
.backLogin{
  color: #879eba;
  cursor: pointer;
}
.backLogin:hover{
  color: white;
}
@media(max-width: 768px) {
  .box .recoverBox{
    padding: 20px;
  }
}
