<!-----------------------------------
PROCESS 25: Request Replacement Card
----------------------------------->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li class="active">
        <strong>Request replacement card</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  fadeInRight"  *ngIf="true">
  <app-replacement-process [urgent]="urgent" [title]="title" [options]="options" ></app-replacement-process>
</div>



<!-----------
DIALOG BOXES
------------>

<!-- ADVISE UNDELIVERED-->
<div class="overlay info" *ngIf="adviseUndelivered">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please advise customer that the card was returned as undelivered by Royal Mail and double
      check service address.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="adviseUndelivered = false;">OK</button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <!--<h3>{{error.field}} {{error.fieldErrors.field}} {{error.fieldErrors.message}}</h3>-->
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>The replacement card has been requested.</h2>
      <hr>
      <h3>Please advise the customer when he receives the new card to insert it in the Sky box and follow the instructions.</h3>
      <h3 *ngIf="requestForm.value.urgent" ><strong>"Urgent" requests require customer to call in and request a "repair" card.</strong></h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>


