

<!--ERROR GETTING CARD TOKENS-->
<div class="overlay err" *ngIf="cardError != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{cardError.message}}</h2>
      <h3>{{cardError.message2}}</h3>
      <hr>
      <!--<h2> Would you like to try again?</h2>-->
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="goBack()"> OK </button>
        <!--<button class="btn btn-danger"  routerLink="/search"> No </button>-->
      </div>
    </div>
  </div>
</div>
