<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li class="active">
        <strong>Recent Accounts</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content  fadeInRight">
  <div class="col-lg-12 ">
    <div class="ibox ibox-main float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-list-ul" aria-hidden="true"></i> Recent Accounts</h5>
        <div class="ibox-tools" style="top: -5px;">
          <div class="btn-group">
          <input  class="form-control" name="eventSearch" placeholder="Filter..." (keyup)="subFilter()" [(ngModel)]="filter" style="display: inline-block; max-width: 130px; height: 30px; ">
          <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle pull-right m-n"  style="border-left: none; display: inline-block;" type="button" aria-expanded="true">Show {{showNumber}}  <span class="caret"></span></button>
          <ul class="dropdown-menu pull-right">
            <li><a (click)="showNumber = 10">Show 10</a></li>
            <li><a (click)="showNumber = 20">Show 20</a></li>
            <li><a (click)="showNumber = 50">Show 50</a></li>
            <li><a (click)="showNumber = 100">Show 100</a></li>
          </ul>
          </div>
        </div>
      </div>
      <div class="ibox-content ">
        <div class="table-responsive" *ngIf="subscribers">
          <table class="table table-striped table-hover " style="margin: 10px 0 20px 0 !important;" >
            <thead>
            <tr>
              <th><label>Account Type</label></th>
              <th><label>Viewing Card Number</label></th>
              <th><label>Card Subscriber Id</label></th>
              <th><label>Initials</label></th>
              <th><label>Title</label></th>
              <th><label>Surname</label></th>
              <th><label>Address</label></th>
              <th><label>Postcode</label></th>
              <th><label>Country</label></th>
              <th><label>Phone Numbers</label></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sub of subscribersFound | paginate: { itemsPerPage: showNumber, currentPage: p};" (dblclick)="router.navigate(['/viewSubscriber/', sub.id])">
              <td>{{sub.cardHolderType}}</td>
              <td>{{sub.viewingCardNumber}}</td>
              <td>{{sub.cardSubscriberId}}</td>
              <td>{{sub.initials}}</td>
              <td>{{sub.title}}</td>
              <td>{{sub.surname}}</td>
              <td>{{sub.addressLine1}} {{sub.addressLine2}}<br>{{sub.addressLine3}} {{sub.addressLine4}} {{sub.addressLine5}}</td>
              <td>{{sub.postcode}}</td>
              <td>{{sub.countryCode}}</td>
              <td style="padding-top: 10px !important">
                <span *ngIf="sub.homeTelNo"> <strong>Home:</strong> {{sub.homeTelNo}} <br></span>
                <span *ngIf="sub.workTelNo"><strong> Work: </strong>{{sub.workTelNo}} <br></span>
                <span *ngIf="sub.mobTelNo"> <strong>Mobile: </strong>{{sub.mobTelNo}} <br></span>
                <span *ngIf="sub.cliTelNo"> <strong>STB: </strong>{{sub.cliTelNo}}</span>
              </td>
              <td ><div class="btn-group" style="min-width: 65px;">
                <button class="btn btn-sm btn-white m-n" style="border-right: 0" (click)="router.navigate(['/viewSubscriber/', sub.id])"><i class="fa fa-user"></i></button>
                <button class="btn btn-sm btn-white m-n" (click)="editSubscriber(sub)"><i class="fa fa-edit"></i></button>
              </div></td>
            </tr>
            </tbody>
          </table>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-6 text-left">
            Showing page {{p}} of 50. Total 500 entries
          </div>
          <div class="col-md-6 text-right">
            <pagination-controls (pageChange)="p = $event" class="my-pagination "></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <p>{{error.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

