
.my-pagination /deep/ .ngx-pagination li.current{
  /*border: 1px solid #e3e3e3;*/
  color: #0570e2;
  background: white;
}
.my-pagination /deep/ .ngx-pagination li {
  margin-right: 0 !important;
}
.my-pagination /deep/ .ngx-pagination{
  padding: 0;
}

.my-pagination /deep/  .ngx-pagination a,
.my-pagination /deep/  .ngx-pagination button {
  color: #505b66;
}
.filter {
  border: none;
  border-bottom: 1px solid #ccc;
}
.filter:focus{
  border-color: #0e9aef;
  box-shadow: none;
}
td{
  padding: 12px 8px !important;
}
table tbody tr{
  cursor: pointer;
}
table tbody tr:hover {
  background: #f3f6fb;
}
strong {
  font-size: 13px;
}
