notificationsTable .fa-edit,
notificationsTable .fa-times {
  color: rgba(151, 158, 164, 0.55) ;
  cursor: pointer;
}
notificationsTable .fa-edit:hover,
notificationsTable .fa-times:hover {
  color: #2e3d49;
}
.dateInput .input-group-addon {
  border-right: none !important;
  background: #f3f3f3;
}
