<div class="panel-body">
  <div class="row">
    <div class="col-md-4">
      <h2 *ngIf="!edit">Create Notification</h2>
      <h2 *ngIf="edit" ><span class="yellow">Edit Notification ID: {{notification.id}} </span>
        <!--<button type="button" class="btn btn-white" (click)="exitEditMode()" *ngIf="edit">Exit edit mode</button>-->
      </h2>
      <div class="form-group m-t-md">
        <label for="title">Title</label>
        <input id="title" type="text" class="form-control" [(ngModel)]="notification.title" placeholder="Enter a title ...">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" rows="3" [(ngModel)]="notification.text" placeholder="Enter a message ..."></textarea>
      </div>
      <div class="form-group">
        <label >Time Out (ms)</label>
        <input type="text" [(ngModel)]="notification.options.timeOut" placeholder="ms" class="form-control" value="0">
      </div>
      <!--<div class="checkbox">-->
        <!--<label class="checkbox" for="disableTimeOut">-->
          <!--<input id="disableTimeOut" [(ngModel)]="notification.options.disableTimeOut" type="checkbox" value="checked" class="input-mini" checked="">Disable Time Out-->
        <!--</label>-->
      <!--</div>-->
      <div class="checkbox">
        <label class="checkbox" for="closeButton">
          <input id="closeButton" [(ngModel)]="notification.options.closeButton" type="checkbox" value="checked" class="input-mini" checked="">Show Close Button
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox" >
          <input id="enableHTML"
                 type="checkbox" [(ngModel)]="notification.options.enableHtml"
                 [value]="notification.options.enableHtml" class="input-mini">Enable HTML in Message
        </label>
      </div>
      <div class="checkbox">
        <label class="checkbox" for="preventDuplicates">
          <input id="preventDuplicates"
                 [(ngModel)]="notification.options.showInLoginPage"
                 type="checkbox" [value]="notification.options.showInLoginPage" class="input-mini">Show in Login Page
        </label>
      </div>
    </div>
    <div class="col-md-2 m-t-lg">
      <div class="form-group" id="toastTypeGroup">
        <label>Notification Type</label>
        <div class="radio">
          <label>
            <input type="radio" [(ngModel)]="notification.type" name="toasts" (click)="notification.type = 'success'; " value="success" checked="">Success
          </label>
        </div>
        <div class="radio">
          <label class="radio">
            <input type="radio" [(ngModel)]="notification.type" name="toasts" (click)="notification.type = 'info'; " value="info">Info
          </label>
        </div>
        <div class="radio">
          <label class="radio">
            <input type="radio" [(ngModel)]="notification.type" name="toasts" (click)="notification.type = 'warning'; " value="warning">Warning
          </label>
        </div>
        <div class="radio">
          <label class="radio">
            <input type="radio" [(ngModel)]="notification.type" name="toasts" (click)="notification.type = 'error'; "  value="error">Error
          </label>
        </div>
      </div>
      <div class="form-group" id="positionGroup">
        <label>Position</label>
        <div class="radio">
          <label>
            <input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-top-right'" value="toast-top-right" checked="">Top Right
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-bottom-right'"  value="toast-bottom-right">Bottom Right
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-bottom-left'" value="toast-bottom-left">Bottom Left
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-top-left'" value="toast-top-left">Top Left
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-top-full-width'" value="toast-top-full-width">Top Full Width
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-bottom-full-width'" value="toast-bottom-full-width">Bottom Full Width
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-top-center'" value="toast-top-center">Top Center
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="positions" [(ngModel)]="notification.options.positionClass" (click)="notification.options.positionClass = 'toast-bottom-center'" value="toast-bottom-center">Bottom Center
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-2 m-t-lg">
      <div class="form-group" >
        <label>Log Out</label>
        <div class="radio">
          <label>
            <input type="radio" name="logout"  [(ngModel)]="notification.options.logOut" (click)="notification.options.logOut = 'DISABLED'" value="DISABLED">Disabled
          </label>
        </div>
        <!--<div class="radio">-->
          <!--<label class="radio">-->
            <!--<input type="radio" name="logout" [(ngModel)]="notification.options.logOut" (click)="notification.options.logOut = 'LOGIN'" value="LOGIN">Don't allow to log in-->
          <!--</label>-->
        <!--</div>-->
        <div class="radio">
          <label class="radio">
            <input type="radio"  name="logout" [(ngModel)]="notification.options.logOut" (click)="notification.options.logOut = 'USERS'" value="USERS"> Log out users
          </label>
        </div>
        <div class="radio">
          <label class="radio">
            <input type="radio"  name="logout" [(ngModel)]="notification.options.logOut"  (click)="notification.options.logOut = 'ALL'" value="ALL">Log out all (incl. supervisor)
          </label>
        </div>
      </div>
    </div>

    <div class="col-md-3 m-t-lg dateInput">
      <!--<label> Period </label>-->
      <div class="input-group">
        <label style="width: 30px">From:</label>
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
        <ng-datepicker [(ngModel)]="date1"  [options]="options" class="inline" aria-describedby="basic-addon1"></ng-datepicker>
      </div>
      <div class="m-t-sm input-group" >
        <label style="width: 30px">To:</label>
        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
        <ng-datepicker [(ngModel)]="date2"  [options]="options" class="inline" aria-describedby="basic-addon2"></ng-datepicker>
      </div>

      <!--<mat-form-field class="m-r-xs dateForm">-->
        <!--<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  placeholder="Show From" [(ngModel)]="date1">-->
        <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
        <!--<mat-datepicker  #picker></mat-datepicker>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field class="m-t-sm dateForm">-->
        <!--<input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="Show To" [(ngModel)]="date2">-->
        <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
        <!--<mat-datepicker #picker2></mat-datepicker>-->
      <!--</mat-form-field>-->
    </div>
    <div class="col-md-5 m-t-md">
      <h2>Current Notifications</h2>
      <div class="table-responsive">
        <table class="table notificationsTable m-t-md">
          <thead>
          <tr>
            <th>ID</th>
            <th>TYPE</th>

            <th>TITLE</th>
            <th>ACTIVE FROM</th>
            <th>ACTIVE TO</th>
            <th>STATUS</th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngIf="notifications" >
          <tr *ngFor="let not of notifications | paginate: { itemsPerPage: itemsPage, currentPage: page};">
            <!--<td>-->
            <!--<i *ngIf="not.notificationType === 'SUCCESS'" class="fa fa-circle green"></i>-->
            <!--<i *ngIf="not.notificationType === 'INFO'" class="fa fa-circle" style="color: #47a1bc"></i>-->
            <!--<i *ngIf="not.notificationType === 'WARNING'" class="fa fa-circle" style="color: #f79e24"></i>-->
            <!--<i *ngIf="not.notificationType === 'ERROR'" class="fa fa-circle red"></i>-->
            <!--</td>-->
            <td>{{not.id}}</td>
            <td>{{not.notificationType}}</td>
            <td>{{not.title}}</td>
            <td>{{not.activeFrom * 1000 | date: 'dd-MMM-yyyy'  }}</td>
            <td>{{not.activeTo * 1000 | date: 'dd-MMM-yyyy' }}</td>
            <td>
              <span class="green" *ngIf="unixDate >= not.activeFrom && unixDate <= not.activeTo; else inact">
                  Active
              </span>
              <ng-template  #inact>
                <span class="red">Inactive</span>
              </ng-template>
            </td>
            <td class="text-right">
              <i class="fa fa-edit" (click)="editMode(not)"></i>
              <i class="fa fa-times"
                 (click)="dialog = {
                                    message: 'Are you sure you want to delete this notification?',
                                    id: not.id
                                  }">
              </i>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="!notifications">
          <td colspan="6"><h3 class="emptyUnknown">No active notifications found.</h3></td>
          </tbody>
        </table>
      </div>
      <div class="row" *ngIf="notifications">
        <div class="col-md-6" >
          <p>Number of notifications: {{notifications.length}}  </p>
        </div>
        <div class="col-md-6 text-right">
          <pagination-controls (pageChange)="page = $event" class="my-pagination "></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <button type="button" class="btn btn-primary" (click)="show()">Show Notification Example</button>
      <button type="button" class="btn btn-white" (click)="addNotification()" *ngIf="!edit"> Save Notification Changes</button>
      <button type="button" class="btn btn-white" (click)="editNotificationDialog = true" *ngIf="edit">Save Edited Notification </button>
      <button type="button" class="btn btn-white" (click)="exitEditMode()" *ngIf="edit">Exit edit mode</button>
    </div>
  </div>
</div>

<!--TODO ADD OUTPUT FOR DIALOGS-->
<!-- DIALOG -->
<div class="overlay info" *ngIf="dialog">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>{{dialog.message}}</h2>
      <h2>{{dialog.message2}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="deleteNotification(dialog.id)"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="dialog = null"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT NOTIFICATION DIALOG -->
<div class="overlay info" *ngIf="editNotificationDialog">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2> Do you want to edit this notification?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="editNotification()" ><i class="fa fa-check"  style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="editNotificationDialog = null"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2 *ngIf="error"> Error</h2>
      <h3>{{error.message}}</h3>
      <h3 *ngFor="let e of error.fieldErrors"> - {{e.field}} {{e.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>{{success.message}}</h2>
      <h3>{{success.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="success = null"> OK </button>
      </div>
    </div>
  </div>
</div>


