<!--<div class="text-center m-b-sm m-t-sm" style="display: block;">-->
<!--<button class="btn btn-danger bred">Cancel</button>-->
<!--</div>-->
<iframe  id="myIframe"  [src]="urlSafe"  width="100%" height="900px" frameborder="0" allowfullscreen (load)="log()"></iframe>
<!--{{urlSafe}}-->
<!--<button (click)="log()"></button>-->

