<!-- ----------------------
PROCESS 19: Pin and Ratings
----------------------- -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li>
        <a >View Account</a>
      </li>
      <li class="active">
        <strong>PIN and Ratings</strong>
      </li>
    </ol>
  </div>
</div>


<div class="wrapper wrapper-content  fadeIn"  *ngIf="rapb">
  <div class="  fadeIn">
    <div class="col-md-8 col-md-offset-2 ">
      <div class="ibox ibox-main float-e-margins" >
        <div class="ibox-title">
          <h2 class="yellow">Please check if the parental settings are correct and advise the customer to follow these steps:</h2>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12" >
              <h3><strong>{{rapb.step1}}</strong></h3>
              <h3><strong>{{rapb.step2}}</strong></h3>
              <h3><strong>{{rapb.step3}}</strong></h3>
              <h3><strong>{{rapb.step4}}</strong></h3>
              <h3><strong>{{rapb.step5}}</strong></h3>
              <hr>
              <div class="d-inline">
                <h2>Is Sky Q Minis now working?</h2>
                <button class="btn btn-success"  routerLink="/viewSubscriber/{{subscriber.id}}"> YES</button>
                <button class="btn btn-danger"  (click)="resendAllPersonalBits()"> NO</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper wrapper-content  fadeIn"  *ngIf="pinRatings">
<div class="  fadeIn"  *ngIf="pinRatings">
  <div class="col-md-8 col-md-offset-2 ">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>PIN and Ratings</h5>
      </div>
      <div class="ibox-content">
          <div class="col-md-12">
            <h2>PIN:  {{pinRatings.PIN}}</h2>
            <hr>
            <h3><img src="../assets/img/u.png"  width="25px" class="m-r-sm"><strong> PIN Required on U rated:</strong> {{pinRatings['RATING-BLOCK'].rating_setting[1] | yesNo : str }}</h3>
            <h3><img src="../assets/img/pg.png" width="25px" class="m-r-sm"> <strong>PIN Required on PG rated:</strong> {{pinRatings['RATING-BLOCK'].rating_setting[2] | yesNo : str }}</h3>
            <h3><img src="../assets/img/12.png" width="25px" class="m-r-sm"> <strong>PIN Required on 12 rated:</strong> {{pinRatings['RATING-BLOCK'].rating_setting[3] | yesNo : str }}</h3>
            <h3><img src="../assets/img/15.png" width="25px" class="m-r-sm"> <strong>PIN Required on 15 rated:</strong> {{pinRatings['RATING-BLOCK'].rating_setting[4] | yesNo : str }}</h3>
            <h3><img src="../assets/img/18.png" width="25px" class="m-r-sm"> <strong>PIN Required on 18 rated:</strong> {{pinRatings['RATING-BLOCK'].rating_setting[5] | yesNo : str }}</h3>
            <hr>
            <h3><strong>*PIN Required on out-of-watershed:</strong> {{watershed | yesNo : str}}</h3>
            <hr>
            <h2>Spend Limit</h2>
            <h2>
              <strong>Individual spend limit:
                <span *ngIf="indSpendLimit != 655.35"> {{  indSpendLimit | currency : this.subscriber.currencyCode : 'symbol'}}</span>
                <span *ngIf="indSpendLimit == 655.35">Not set</span>
              </strong>
            </h2>

            <!--<h2 ><strong>Global spend limit:-->
              <!--<span *ngIf="gloSpendLimit < 999999; else none">{{  gloSpendLimit | currency : this.subscriber.currencyCode : 'symbol'}}</span>-->
              <!--<ng-template #none>-->
                <!--None-->
              <!--</ng-template></strong>-->
            <!--</h2>-->
          </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <button class="btn btn-danger"  routerLink="/viewSubscriber/{{subscriber.id}}" >Back</button>
            <button class="btn btn-primary" routerLink="/process20">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/viewSubscriber/{{subscriber.id}}"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Resend All Personal Bits sent!</h2>
      <hr>
      <h2>Please ask customer to check if viewing Sky Q is working.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>

