<!-- ------------------------------------------------
PROCESS 33 :  Resend Automatically Entitled services
------------------------------------------------- -->

<div class="overlay info" *ngIf="rae">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Do you want to resend Automatically Entitled services?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="send(); rae = false"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" routerLink="/viewSubscriber/{{subscriber.id}}" ><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/search"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success" >
  <div class="overlayBox  fadeInDown" style="max-width: 422%">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Automatically entitled service have been sent.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"> OK</button>
      </div>
    </div>
  </div>
</div>


