<div class="panel-body">
  <div class="row" *ngIf="view.main">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" style="padding:0 100px 60px;">
      <div class="m-t-lg m-b-lg">
        <div class="row text-center">
          <h1 class="m-b-md">Select Action:</h1>
          <div class="box col-md-4" (click)="changeView('createProductGroup')">
            <i class="fa fa-plus fa-3x emptyUnknown" style="padding: 0 20px 20px"></i>
            <h2 class="m-n emptyUnknown">Create New Package</h2>
          </div>
          <div class="box col-md-4" (click)="changeView('editProductGroup')">
            <i class="fa fa-edit fa-3x emptyUnknown" style="padding: 0 20px 20px"></i>
            <h2 class="m-n emptyUnknown">Edit Package</h2>
          </div>
          <div class="box col-md-4" (click)="changeView('productGroupOrder'); getSellables();">
            <i class="fa fa-th fa-3x emptyUnknown" style="padding: 0 20px 20px"></i>
            <h2 class="m-n emptyUnknown">Display Order</h2>
          </div>
          <!--<div class="box col-md-4" (click)="changeView('deleteProductGroup')">-->
            <!--<i class="fa fa-minus fa-3x emptyUnknown" style="padding: 0 20px 20px"></i>-->
            <!--<h2 class="m-n emptyUnknown">Delete Product Group </h2>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

  <!-------------------
  CREATE PRODUCT GROUP
  ------------------->
  <div class="createAction" *ngIf="view.createProductGroup">
    <div class="row">
      <div class="col-md-12 text-left">
        <h2>Create New Package</h2>
        <hr>
      </div>
      <div class="col-md-10">
        <form class="form-horizontal m-b-md" autocomplete="off" [formGroup]="createForm">
          <div class="form-group">
            <div class="col-lg-2 control-label">Selling Constrains: </div>
            <div class="col-md-10">
              <span class="m-r-md m-t-xs inline" *ngFor="let sC of sellingConstraints">
                <input type="checkbox" name="{{sC.name}}" formControlName="{{sC.name}}" [checked]="sC.checked" (click)="addSellingConstrains($event, sC)">
                {{sC.description}}
              </span>
              <div *ngIf="submitted && addedSellingConstrains.length == 0" class="error ">
                <span>At least one selling constrain is required</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 control-label">Categories: </div>
            <div class="col-md-10">
              <button data-toggle="dropdown" class="btn btn-white dropdown-toggle m-r-sm" type="button" aria-expanded="true">
                <span *ngIf="categoriesSelected.length == 0">Select Categories</span>
                <span *ngIf="categoriesSelected.length > 0;">
                    <span *ngFor="let cs of categoriesSelected; let i = index">
                      <ng-container *ngIf="i < 4">
                        {{cs.name}},
                      </ng-container>
                    </span>
                </span>
                <span *ngIf="categoriesSelected.length > 4">...</span>
                <span class="caret"></span>
              </button>
              <div *ngIf="submitted && categoriesSelected.length == 0" class="error ">
                <span>At least one category is required</span>
              </div>
              <ul class="dropdown-menu">
                <li *ngFor="let c of categories">
                  <a><input type="checkbox" (click)="addCategory($event.target.checked, c)"> {{c.name}}</a>
                </li>
              </ul>
              <!--<select class="form-control">-->
                <!--<option value="" disabled selected>Select Category</option>-->
                <!--<option value="{{c.id}}" *ngFor="let c of categories">{{c.name}}</option>-->
              <!--</select>-->

            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 control-label">Title Label:</div>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Title Label..." formControlName="titleLabel" name="titleLabel" [(ngModel)]="package.titleLabel">
              <div *ngIf="(createForm.controls['titleLabel'].invalid) && (createForm.controls['titleLabel'].touched || submitted)" class="error ">
                <span *ngIf="(createForm.controls['titleLabel'].hasError('required'))"> Title Label is required </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 control-label">Title Description:</div>
            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Title Description..." formControlName="titleDescription" name="titleDescription"  [(ngModel)]="package.titleDescription">
              <div *ngIf="(createForm.controls['titleDescription'].invalid) && (createForm.controls['titleDescription'].touched || submitted)" class="error ">
                <span *ngIf="(createForm.controls['titleDescription'].hasError('required'))"> Title Description is required </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 control-label">Currency:</div>
            <div class="col-md-10">
              <div class="m-t-xs">
                <span class="m-r-sm"><input type="radio"  name="currency" formControlName="currency" value="GBP"> GBP</span>
                <span><input type="radio" name="currency" formControlName="currency" value="EUR"> EUR</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 control-label">Realex Merchant Config: </div>
            <div class="col-md-4">
              <div *ngIf="realexMerchantOptions.length == 0" class="emptyUnknown"><img src="./../../../assets/img/img_loading.gif" width="35px">Loading...</div>
              <select class="form-control" name="realexMerchant" formControlName="realexMerchant" *ngIf="realexMerchantOptions.length > 0">
                <option value="" disabled>Please Select One</option>
                <ng-container *ngFor="let opt of realexMerchantOptions">
                  <option value="{{opt}}" *ngIf="opt"> {{opt}}</option>
                </ng-container>
              </select>
              <div *ngIf="(createForm.controls['realexMerchant'].invalid) && (createForm.controls['realexMerchant'].touched || submitted)" class="error ">
                <span *ngIf="(createForm.controls['realexMerchant'].hasError('required'))"> Realex Merchant Config is required </span>
              </div>
            </div>
            <div class="col-lg-2 control-label">Surf & Pay Merchant Config: </div>
            <div class="col-md-4">
              <div *ngIf="surfAndPayOptions.length == 0" class="emptyUnknown"><img src="../../../../assets/img/img_loading.gif" width="35px">Loading...</div>
              <select class="form-control" name="surfAndPayMerchant" formControlName="surfAndPayMerchant" *ngIf="surfAndPayOptions.length > 0">
                <option value="" disabled>Please Select One</option>
                <ng-container *ngFor="let opt of surfAndPayOptions">
                  <option value="{{opt}}" *ngIf="opt"> {{opt}}</option>
                </ng-container>
              </select>
              <div *ngIf="(createForm.controls['surfAndPayMerchant'].invalid) && (createForm.controls['surfAndPayMerchant'].touched || submitted)" class="error ">
                <span *ngIf="(createForm.controls['surfAndPayMerchant'].hasError('required'))">Surf & Pay Merchant Config is required </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 control-label">Products:</div>
            <div class="col-md-10">
              <button data-toggle="dropdown" class="btn btn-white dropdown-toggle m-r-sm" type="button" aria-expanded="true">
                <ng-container *ngIf="others.length == 0 && ppnEnablers.length == 0 && subscriptions.length == 0">
                  Select Products
                </ng-container>
                <ng-container>
                  <span class="m-r-xs" *ngFor="let o of others">{{o.caProductId}}, </span>
                  <span class="m-r-xs" *ngFor="let p of ppnEnablers"> {{p.caProductId}},</span>
                  <span class="m-r-xs" *ngFor="let s of subscriptions"> {{s.caProductId}},</span>
                </ng-container>
                <!--<ng-container *ngIf="(others.length +  ppnEnablers.length + subscriptions.length) > 3">...</ng-container>-->
                <span class="caret"></span>
              </button>

              <div *ngIf="submitted && (others.length == 0 && ppnEnablers.length == 0 && subscriptions.length == 0)" class="error ">
                <span>At least one product is required</span>
              </div>

              <ul class="dropdown-menu">
                <li *ngFor="let p of searchOthers"><a><input type="checkbox" (click)="addTo('O', p, $event.target.checked)"> {{p.caProductId}}</a></li>
                <li *ngFor="let p of searchPpnEnablers"><a><input type="checkbox" (click)="addTo('P', p, $event.target.checked)"> {{p.caProductId}}</a></li>
                <li *ngFor="let p of searchSubscriptions"><a><input type="checkbox" (click)="addTo('S', p, $event.target.checked)"> {{p.caProductId}}</a></li>
              </ul>
              <div class="m-t-xs">
                (Form will change depending on the products selected)
              </div>
            </div>
          </div>
          <ng-container *ngIf="subscriptions.length > 0">
            <div class="form-group">
              <div class="col-lg-2 control-label">Contract Length:</div>
              <div class="col-md-10">
                <!--<input type="text" class="form-control" placeholder="Contract Length..." formControlName="contractLength" name="contractLength" >-->
                <select class="form-control" formControlName="contractLength" [(ngModel)]="package.contractLength">
                  <option value="" selected disabled>Select Contract Length</option>
                  <option value="{{cl.name}}" *ngFor="let cl of contractLengths"> {{cl.description}}</option>
                </select>
                <div *ngIf="(createForm.controls['contractLength'].invalid) && (createForm.controls['contractLength'].touched || submitted)" class="error ">
                  <span *ngIf="(createForm.controls['contractLength'].hasError('required'))"> Contract Length is required </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-2 control-label">Initial Period:</div>
              <div class="col-md-4">
                <!--<input type="text" class="form-control" placeholder="Initial Period..." formControlName="initialPeriod" name="initialPeriod" [(ngModel)]="package.initialPeriod">-->
                <select class="form-control" formControlName="initialPeriod" name="initialPeriod" [(ngModel)]="package.initialPeriod">
                  <option value="" selected disabled>Select Period</option>
                  <option value="{{sp.name}}" *ngFor="let sp of subscriptionPeriods">{{sp.description}}</option>
                </select>
                <div *ngIf="(createForm.controls['initialPeriod'].invalid) && (createForm.controls['initialPeriod'].touched || submitted)" class="error ">
                  <span *ngIf="(createForm.controls['initialPeriod'].hasError('required'))"> Initial Period is required </span>
                </div>
              </div>
              <div class="col-lg-2 control-label">Recurring Period:</div>
              <div class="col-md-4">
                <!--<input type="text" class="form-control" placeholder="Recurring Period..." formControlName="recurringPeriod" name="recurringPeriod" [(ngModel)]="package.recurringPeriod">-->
                <select class="form-control"formControlName="recurringPeriod" name="recurringPeriod" [(ngModel)]="package.recurringPeriod">
                  <option value="" selected disabled>Select Period</option>
                  <option value="{{sp.name}}" *ngFor="let sp of subscriptionPeriods">{{sp.description}}</option>
                </select>
                <div *ngIf="(createForm.controls['recurringPeriod'].invalid) && (createForm.controls['recurringPeriod'].touched || submitted)" class="error ">
                  <span *ngIf="(createForm.controls['recurringPeriod'].hasError('required'))"> Recurring Period is required </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-2 control-label">Initial Amount:</div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" *ngIf="createForm.value.currency == 'GBP'">£</span>
                  <span class="input-group-addon" *ngIf="createForm.value.currency == 'EUR'">€</span>
                  <input type="text" class="form-control" placeholder="Initial Amount..." formControlName="initialAmount" name="initialAmount" [(ngModel)]="package.initialAmount">
                </div>
                <div *ngIf="(createForm.controls['initialAmount'].invalid) && (createForm.controls['initialAmount'].touched || submitted)" class="error ">
                  <span *ngIf="(createForm.controls['initialAmount'].hasError('required'))"> Initial Amount is required </span>
                </div>
              </div>
              <div class="col-lg-2 control-label">Recurring Amount:</div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon" *ngIf="createForm.value.currency == 'GBP'">£</span>
                  <span class="input-group-addon" *ngIf="createForm.value.currency == 'EUR'">€</span>
                  <input type="text" class="form-control" placeholder="Recurring Amount..." formControlName="recurringAmount" name="recurringAmount" [(ngModel)]="package.recurringAmount">
                </div>
                <div *ngIf="(createForm.controls['recurringAmount'].invalid) && (createForm.controls['recurringAmount'].touched || submitted)" class="error ">
                  <span *ngIf="(createForm.controls['recurringAmount'].hasError('required'))"> Recurring Amount is required </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-2 control-label">Required Billing Periods:</div>
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Required Billing Periods ..." formControlName="requiredBillingPeriods" name="requiredBillingPeriods" [(ngModel)]="package.requiredBillingPeriods">
                <div *ngIf="(createForm.controls['requiredBillingPeriods'].invalid) && (createForm.controls['requiredBillingPeriods'].touched || submitted)" class="error ">
                  <span *ngIf="(createForm.controls['requiredBillingPeriods'].hasError('required'))"> Required Billing Periods is required </span>
                  <span *ngIf="(createForm.controls['requiredBillingPeriods'].hasError('onlyNumbers'))"> Only numbers </span>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="subscriptions.length == 0">
            <div class="form-group">
              <div class="col-lg-2 control-label">Price:</div>
              <div class="col-md-2">
                <div class="input-group">
                  <span class="input-group-addon" *ngIf="createForm.value.currency == 'GBP'">£</span>
                  <span class="input-group-addon" *ngIf="createForm.value.currency == 'EUR'">€</span>
                  <input type="number" class="form-control" placeholder="Price..." formControlName="price" name="price" [(ngModel)]="package.price">
                </div>
                <div *ngIf="(createForm.controls['price'].invalid) && (createForm.controls['price'].touched || submitted)" class="error ">
                  <span *ngIf="(createForm.controls['price'].hasError('required'))"> Price is required </span>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="form-group">
            <div class="col-md-2 control-label">Valid From:</div>
            <div class="col-md-2">
              <ng-datepicker [(ngModel)]="package.validFrom" formControlName="validFrom"   name="validFrom" class="inline" [options]="options" style="width: 100%;"></ng-datepicker>
              <div *ngIf="(createForm.controls['validFrom'].invalid) && (createForm.controls['validFrom'].touched || submitted)" class="error ">
                <span *ngIf="(createForm.controls['validFrom'].hasError('required'))">  Valid From is required </span>
              </div>
            </div>
            <div class="col-md-1 control-label">Valid To:</div>
            <div class="col-md-2">
              <!--<input type="text" class="form-control" placeholder="Valid From..." formControlName="validFrom" name="validFrom" [(ngModel)]="package.validFrom">-->
              <ng-datepicker [(ngModel)]="package.validTo" formControlName="validTo"   name="validTo" class="inline" [options]="options" style="width: 100%;"></ng-datepicker>
              <div *ngIf="(createForm.controls['validTo'].invalid) && (createForm.controls['validTo'].touched || submitted)" class="error ">
                <span *ngIf="(createForm.controls['validTo'].hasError('required'))">  Valid To is required </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <span class="m-r-md m-t-xs inline">
                  <input type="checkbox" name="suppressIppvBillingPpvService" formControlName="suppressIppvBillingPpvService" >
                  Suppress Ippv Billing Ppv Service
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <span class="m-r-md m-t-xs inline">
                  <input type="checkbox" name="sellable" formControlName="sellable" >
                  Make Package Sellable
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2 control-label">Sales Item Group: </div>
            <div class="col-md-4">
              <div *ngIf="salesItems.length == 0" class="emptyUnknown"><img src="./../../../assets/img/img_loading.gif" width="35px">Loading...</div>
              <select class="form-control" name="salesItemGroup" formControlName="salesItemGroup" *ngIf="salesItems.length > 0">
                <option value="" disabled>Please Select One</option>
                <ng-container *ngFor="let opt of salesItems">
                  <option value="{{opt.id}}" *ngIf="opt"> {{opt.name}}</option>
                </ng-container>
              </select>
              <div *ngIf="(createForm.controls['salesItemGroup'].invalid) && (createForm.controls['salesItemGroup'].touched || submitted)" class="error ">
                <span *ngIf="(createForm.controls['salesItemGroup'].hasError('required'))">Sales Item group Config is required </span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-2">
        <div class="file-box" style="max-width: 100%">
          <div class="file">
            <span class="corner"></span>
            <div class="icon">
              <small style="color: #676a6c">Valid from   {{package.validFrom | date : 'dd-MM-yy'}} to {{package.validTo | date : 'dd-MM-yy'}}</small>
              <br>
              <span class="blue">{{package.titleLabel}}</span>
              <br>
              <small style="color: #676a6c">  Description: {{package.titleDescription}} </small>
            </div>
            <div class="file-name">
              <ng-container *ngIf="subscriptions.length > 0">
                <small>Initial: {{package.initialAmount |  currency: package.currency: 'symbol'}} - {{package.initialPeriod}}</small>
                <br>
                <small >Recurring: {{package.recurringAmount |  currency: package.currency: 'symbol'}} -  {{package.recurringPeriod}}</small>
              </ng-container>
              <ng-container *ngIf="subscriptions.length == 0">
                <small>Price: <span >{{package.price | currency: createForm.value.currency : 'symbol' }}</span> </small>
              </ng-container>
            </div>
          </div>
        </div>
        <br>
        <h3 class="blue">Products Selected:</h3>
        <p *ngFor="let o of others">- {{o.caProductId}}</p>
        <p *ngFor="let p of ppnEnablers">- {{p.caProductId}}</p>
        <p *ngFor="let s of subscriptions">- {{s.caProductId}}</p>
      </div>

      <div class="col-xs-12">
        <hr>
        <div class="form-group">
          <button class="btn btn-white" (click)="changeView('main'); default();"><i class="fa fa-arrow-left"></i> Back to Select Action</button>
          <button class="btn btn-primary" *ngIf="!createForm.value.sellable" (click)="createProductGroup()">Create New Package</button>
          <button class="btn btn-primary" *ngIf="createForm.value.sellable" (click)="sellableWarning = true; submitted = true">Create New Package</button>
        </div>
      </div>
    </div>
  </div>

  <!------------------
  EDIT PRODUCT GROUP
  ------------------->
  <div class="createAction" *ngIf="view.editProductGroup">
    <div class="row">
      <div class="col-md-12 text-left">
        <h2>Edit Product Group</h2>
        <hr>
        <form class="form-horizontal" >
          <div class="form-group">
            <div class="col-md-offset-2 col-md-2 control-label">Search Package to edit:</div>
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" name="search" [(ngModel)]="search" placeholder="Package Name..." >
                <span  class="input-group-btn">
                  <button  class="btn btn btn-primary" type="button" (click)="searchProductGroups()"> <i class="fa fa-zoom"></i> Search</button>
                </span>
              </div>
            </div>
          </div>
        </form>
        <div class="col-md-12 m-t-md">
          <div class="file-box" style="max-width: 100%; width: 234px;" *ngFor="let res of searchResults">
            <div class="file">
              <span class="corner"></span>
              <div class="icon">
                <small style="color: #676a6c">Valid from {{res.validFrom * 1000 | date : 'dd-MM-yy'}} to {{res.validTo * 1000 | date : 'dd-MM-yy'}}</small>
                <br>
                  <span class="blue">{{res.titleLabel}}</span>
                <br>
                <small style="color: #676a6c">  Description: {{res.titleDescription}}</small>
              </div>
              <div class="file-name text-right">
                <button class="btn btn-white btn-sm" (click)="editPGForm(res);"><i class="fa fa-edit"></i> Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <hr>
        <div class="form-group">
          <button class="btn btn-white" (click)="changeView('main'); default();"><i class="fa fa-arrow-left"></i> Back to Select Action</button>
        </div>
      </div>
    </div>
  </div>

  <!------------------
  PACKAGES ORDER
  ------------------->
  <div class="createAction" *ngIf="view.productGroupOrder">
    <div class="row">
      <div class="col-md-12 text-left" >
        <h2>Packages Order</h2>
        <hr>
        <div class="col-md-12 text-right">
          <strong>Currency: </strong>
          <div  class="btn-group" data-toggle="buttons">
            <button  class="btn btn-md btn-white btn-sm " (click)="currencySelected = 'GBP'; sellablesByCurrency()" [ngClass]="{'active': currencySelected == 'GBP'}">
              <input  name="overview" type="radio" [value]="currencySelected" > GBP
            </button>
            <button  class="btn btn-md btn-white btn-sm" (click)="currencySelected = 'EUR'; sellablesByCurrency()" [ngClass]="{'active': currencySelected == 'EUR'}">
              <input  name="overview" type="radio" [value]="currencySelected"> EUR
            </button>
          </div>
        </div>
        <div class="col-md-12 text-center emptyUnknown "  *ngIf="!sellables">
          <h2><img src="../../../../assets/img/img_loading.gif" width="70px">Loading...</h2>
        </div>
        <div class="col-md-12 m-t-md" *ngIf="sellables" [dragula]='"second-bag"' [dragulaModel]="currencySellables">
          <ng-container *ngFor="let s of currencySellables">
            <div class="file-box" id="{{s.id}}" style="max-width: 100%; width: 234px;" >
              <div class="file">
                <span class="corner"></span>
                <div class="icon">
                  <small style="color: #676a6c">Valid from {{s.validFrom * 1000 | date : 'dd-MM-yy'}} to {{s.validTo * 1000 | date : 'dd-MM-yy'}}</small>
                  <br>
                  <span class="blue">{{s.titleLabel}}</span>
                  <br>
                  <small style="color: #676a6c">  Description: {{s.titleDescription}}</small>
                </div>
                <div class="file-name text-right">
                  <span class="badge badge-information blue" *ngIf="s.displayingOrder; else none">Display order: {{s.displayingOrder}}</span>
                  <ng-template #none>
                    <span class="badge badge-information blue">Display order: none</span>
                  </ng-template>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-xs-12">
        <hr>
        <div class="form-group">
          <button class="btn btn-white" (click)="changeView('main'); default();"><i class="fa fa-arrow-left"></i> Back to Select Action</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ------
  DIALOGS
------ -->
<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2 *ngIf="error"> Error</h2>
      <h3>{{error.message}}</h3>
      <h3 *ngFor="let e of error"> - {{e.field}} {{e.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>{{success.message}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="success = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SELLABLE WARNING-->
<div class="overlay info" *ngIf="sellableWarning && createForm.valid && addedSellingConstrains.length > 0 && categoriesSelected.length > 0">
  <div class="overlayBox " style="max-width: 650px; ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>The new Package created will be made sellable.</h2>
      <h2>Do you want to continue?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" (click)="sellableWarning = null" > NO</button>
        <button class="btn btn-success" (click)="createProductGroup(); sellableWarning = null;"> YES</button>
      </div>
    </div>
  </div>
</div>


<!--EDIT PRODUCT GROUP DIALOG-->
<div class="overlay success" *ngIf="productGroupSelected">
  <div class="overlayBox  fadeInDown" style="overflow-y: scroll; overflow-x: hidden;">
    <div class="overlayContent text-center">
      <div class="container" style="width: 500px !important;">
        <div class="row">
          <div class="col-md-12">
            <h2 class="blue m-b-md">Edit Package</h2>
            <form class="form-horizontal text-left m-t-lg" [formGroup]="editForm">
              <div class="form-group">
                <div class="col-md-4 control-label"><span>Selling Constrains: </span></div>
                <div class="col-md-8">
                  <span class="m-r-md m-t-xs inline" *ngFor="let sC of sellingConstraints">
                  <input type="checkbox" name="{{sC.name}}" formControlName="{{sC.name}}"  [checked]="sC.checked" (click)="addSellingConstrains($event, sC)">
                  {{sC.description}}
                </span>
                  <div *ngIf="submitted && addedSellingConstrains.length == 0" class="error ">
                    <span>At least one selling constrain is required</span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4 control-label"><span>Categories: </span></div>
                <div class="col-md-8">
                  <button data-toggle="dropdown" class="btn btn-white dropdown-toggle m-r-sm" type="button" aria-expanded="true">
                    <span *ngIf="categoriesSelected.length == 0">Select Categories</span>
                    <span *ngIf="categoriesSelected.length > 0;">
                      <span *ngFor="let cs of categoriesSelected; let i = index">
                        <ng-container *ngIf="i < 2">
                          {{cs.name}},
                        </ng-container>
                      </span>
                    </span>
                    <span *ngIf="categoriesSelected.length > 2">...</span>
                    <span class="caret"></span>
                  </button>
                  <div *ngIf="submitted && categoriesSelected.length == 0" class="error ">
                    <span>At least one category is required</span>
                  </div>
                  <ul class="dropdown-menu">
                    <li *ngFor="let c of categories">
                      <a><input type="checkbox" (click)="addCategory($event.target.checked, c)" [checked]="c.checked"> {{c.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-4 control-label"><span>Title Label: </span></div>
                <div class="col-md-8">
                  <input type="text" class="form-control" formControlName="titleLabel" placeholder="Title Label...">
                  <div *ngIf="(editForm.controls['titleLabel'].invalid) && (editForm.controls['titleLabel'].touched || submitted)" class="error ">
                    <span *ngIf="(editForm.controls['titleLabel'].hasError('required'))">Title Label is required </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4 control-label"><span>Title Description: </span></div>
                <div class="col-md-8">
                  <input type="text" class="form-control" formControlName="titleDescription" placeholder="Title Description...">
                  <div *ngIf="(editForm.controls['titleDescription'].invalid) && (editForm.controls['titleDescription'].touched || submitted)" class="error ">
                    <span *ngIf="(editForm.controls['titleDescription'].hasError('required'))">Title Description is required </span>
                  </div>
                </div>

              </div>
              <!--<div class="form-group">-->
                <!--<div class="col-md-4 control-label"><span>Currency: </span></div>-->
                <!--<div class="col-md-8">-->
                  <!--<div class="m-t-xs">-->
                    <!--<span class="m-r-sm"><input type="radio"  name="currency" formControlName="currency" value="GBP"> GBP</span>-->
                    <!--<span><input type="radio" name="currency" formControlName="currency" value="EUR"> EUR</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <ng-container *ngIf="productGroupSelected.productTypeStats.toLowerCase().includes('subscription')">
                <div class="form-group">
                  <div class="col-md-4 control-label"><span>Initial Amount: </span></div>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon" *ngIf="productGroupSelected.currencyCode == 'GBP'">£</span>
                      <span class="input-group-addon" *ngIf="productGroupSelected.currencyCode == 'EUR'">€</span>
                      <input type="text" class="form-control" formControlName="initialAmount" placeholder="Initial Amount..." [(ngModel)]="productGroupSelected.pricing.subscription.initialAmount">
                    </div>
                    <div *ngIf="(editForm.controls['initialAmount'].invalid) && (editForm.controls['initialAmount'].touched || submitted)" class="error ">
                      <span *ngIf="(editForm.controls['initialAmount'].hasError('required'))">Initial Amount is required </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 control-label"><span>Recurring Amount: </span> </div>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon" *ngIf="productGroupSelected.currencyCode == 'GBP'">£</span>
                      <span class="input-group-addon" *ngIf="productGroupSelected.currencyCode == 'EUR'">€</span>
                      <input type="text" class="form-control" formControlName="recurringAmount" placeholder="Recurring Amount..." [(ngModel)]="productGroupSelected.pricing.subscription.recurringAmount">
                    </div>
                    <div *ngIf="(editForm.controls['recurringAmount'].invalid) && (editForm.controls['recurringAmount'].touched || submitted)" class="error ">
                      <span *ngIf="(editForm.controls['recurringAmount'].hasError('required'))">Recurring Amountis required </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 control-label"><span>Required Billing Periods:</span> </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="requiredBillingPeriods" placeholder="Required Billing Periods..." [(ngModel)]="productGroupSelected.pricing.subscription.requiredBillingPeriods">
                    <div *ngIf="(editForm.controls['requiredBillingPeriods'].invalid) && (editForm.controls['requiredBillingPeriods'].touched || submitted)" class="error ">
                      <span *ngIf="(editForm.controls['requiredBillingPeriods'].hasError('required'))">Required Billing Periods is required </span>
                      <span *ngIf="(editForm.controls['requiredBillingPeriods'].hasError('onlyNumbers'))">Only numbers</span>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!productGroupSelected.productTypeStats.toLowerCase().includes('subscription')">
                <div class="form-group">
                  <div class="col-md-4 control-label"><span>Price: </span></div>
                  <div class="col-md-8">
                    <div class="input-group">
                      <span class="input-group-addon" *ngIf="productGroupSelected.currencyCode == 'GBP'">£</span>
                      <span class="input-group-addon" *ngIf="productGroupSelected.currencyCode == 'EUR'">€</span>
                      <input type="text" class="form-control" formControlName="price" [(ngModel)]="productGroupSelected.pricing.oneOff.price">
                    </div>
                    <div *ngIf="(editForm.controls['price'].invalid) && (editForm.controls['price'].touched || submitted)" class="error ">
                      <span *ngIf="(editForm.controls['price'].hasError('required'))">Price is required </span>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="form-group">
                <div class="col-md-10 col-md-offset-4">
                  <span class="m-r-md m-t-xs inline">
                      <input type="checkbox" name="suppressIppvBillingPpvService" formControlName="suppressIppvBillingPpvService" >
                      Suppress Ippv Billing Ppv Service
                  </span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-10 col-md-offset-4">
                <span class="m-r-md m-t-xs inline">
                    <input type="checkbox" name="sellable" formControlName="sellable" >
                    Make Package Sellable
                </span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4 control-label"><span>Valid From: </span> </div>
                <div class="col-md-8">
                  <ng-datepicker [(ngModel)]="editForm.value.validFrom" [position]="'top-left'" name="validFrom" formControlName="validFrom" class="inline" [options]="options" style="width: 100%;"></ng-datepicker>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-4 control-label"><span>Valid To: </span> </div>
                <div class="col-md-8">
                  <ng-datepicker [(ngModel)]="editForm.value.validTo" name="validTo" formControlName="validTo" [position]="'top-left'" class="inline" [options]="options" style="width: 100%;"></ng-datepicker>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger" (click)="productGroupSelected = null; categoriesSelected = [];"> Back </button>
        <button class="btn btn-success" (click)="saveEditedProductGroup();"> Save </button>
      </div>
    </div>
  </div>
</div>

