.box {
  cursor: pointer;
  padding: 40px;
  border: 1px solid #e9e9e9;
}

.box:hover h2,
.box:hover i{
  color: #686b6d;
}

.box:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.badge {
  border-radius: 0;
  padding: 10px;
  background: white;
  border: 1px solid #e8eaec;
  font-weight: 500;
}
