<!-- --------------------------------
PROCESS 4: Set CARD STB relationship
---------------------------------- -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li>
        <a >View Account</a>
      </li>
      <li class="active">
        <strong><span *ngIf="this.rePair == 1">Re-pair and</span> Set card STB relationship</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  fadeInRight"  *ngIf="subscriber">
  <div class="col-lg-6 col-lg-offset-3 ">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5><span *ngIf="this.rePair == 1">RE-PAIR AND</span> SET CARD STB RELATIONSHIP</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-12  m-t-md m-b-md">
            <form class="stbForm"  [formGroup]="form">
              <div class="row">
                <!--<div class="col-md-2">-->
                  <!--<label class="control-label">Make</label>-->
                  <!--<input type="text" maxlength="2" formControlName="make" class="form-control" placeholder="Make">-->
                  <!--<div *ngIf="(form.controls['make'].invalid) && (form.controls['make'].touched || submitted)" class="error">-->
                    <!--Required-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-2">-->
                  <!--<label class="control-label">Model</label>-->
                  <!--<input type="text" maxlength="2" formControlName="model" class="form-control" placeholder="Model">-->
                  <!--<div *ngIf="(form.controls['model'].invalid) && (form.controls['model'].touched || submitted)" class="error">-->
                    <!--Required-->
                  <!--</div>-->
                <!--</div>-->
                <div class="col-md-6">
                  <label class="control-label">Hardware Version / Version Number</label>
                  <input type="text" maxlength="6" formControlName="hardwareVersion"  class="form-control" placeholder="Hardware Version / Version Number">
                  <div *ngIf="(form.controls['hardwareVersion'].invalid) && (form.controls['hardwareVersion'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['hardwareVersion'].hasError('required'))"> Required </span>
                    <span *ngIf="(form.controls['hardwareVersion'].hasError('minlength'))"> Min. length 6 characters. </span>
                    <span *ngIf="(form.controls['hardwareVersion'].hasError('maxlength'))"> Max. length 6 characters. </span>
                    <span *ngIf="(form.controls['hardwareVersion'].hasError('specialChar'))"> Only letters and numbers </span>
                  </div>
                </div>
                 <div class="col-md-6">
                  <label class="control-label" >Serial Number</label>
                  <input type="text" maxlength="11"  formControlName="serialNbr" class="form-control" placeholder="Serial Number">
                  <div *ngIf="(form.controls['serialNbr'].invalid) && (form.controls['serialNbr'].touched || submitted)" class="error">
                    Required
                  </div>
                </div>
                <!--<div class="col-md-2">-->
                  <!--<label class="control-label">Check Digit </label>-->
                  <!--<input type="text" maxlength="1" formControlName="stbCheckDigit" class="form-control" placeholder="Check Digit">-->
                  <!--<div *ngIf="(form.controls['stbCheckDigit'].invalid) && (form.controls['stbCheckDigit'].touched || submitted)" class="error">-->
                    <!--Required-->
                  <!--</div>-->
                <!--</div>-->
              </div>
            </form>
            <div class="row " *ngIf="show">
              <form  [formGroup]="formId">
                <hr class="m-t-lg m-b-lg">
                <div class="col-md-12"><h2 class="m-t-md m-b-md yellow">Please provide receiver ID</h2></div>
                <div class="col-md-4 ">
                  <label class="control-label">Receiver Id Body</label>
                  <input type="text" maxlength="16" formControlName="receiverIdBody" class="form-control">
                  <div *ngIf="(formId.controls['receiverIdBody'].invalid) && (formId.controls['receiverIdBody'].touched )" class="error">
                    Required
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="control-label"> Check Digit</label>
                  <input type="text" maxlength="1" formControlName="receiverIdCheckDigit" class="form-control" style="width: 70px">
                  <div *ngIf="(formId.controls['receiverIdCheckDigit'].invalid) && (formId.controls['receiverIdCheckDigit'].touched )" class="error" style="width: 70px">
                    Required
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12">
            <hr>
            <button class="btn btn-danger" routerLink="/viewSubscriber/{{subscriber.id}}">Back</button>
            <button class="btn btn-primary" (click)="proceed()">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--NO SUBSCRIBER SELECTED-->
<div class="wrapper wrapper-content  fadeInRight"  *ngIf="!subscriber">
  <div class="col-lg-8 col-lg-offset-2 ">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>SET CARD STB RELATIONSHIP</h5>
      </div>
      <div class="ibox-content">
      <h2>No account selected...</h2>
      </div>
    </div>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2 *ngIf="!rePairMessage">Signal to activate viewing card has been sent.</h2>
      <h2 *ngIf="rePairMessage">Signal to activate viewing card has been sent and the card has been re paired.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--CASEBOX-->
<div class="overlay info" *ngIf="caseBox">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>{{caseBox.message}}</h2>
      <h3>{{caseBox.submessage}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="caseBox = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <div *ngIf="error.field">
        <h2>Validation Error</h2>
        <h3>{{error.field}}: {{error.message}}</h3>
      </div>
      <div *ngIf="!error.field">
        <h2>Error</h2>
        <h3>{{error.message}}</h3>
      </div>

      <p>{{error.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>


