<!-- -----------------------------------------------
PROCESS 3: Advise insert card and follow instructions
------------------------------------------------ -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a>Search</a>
      </li>
      <li class="active">
        <strong>Set card STB relationship</strong>
      </li>
    </ol>
  </div>
</div>

<div class="overlay info" *ngIf="true">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 style="font-size: 22px">Please advise customer to insert card and follow onscreen instructions (press select).</h2>
      <hr>
      <h2>Has the viewing card been activated?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"><i class="fa fa-check"></i> Yes </button>
        <button class="btn btn-danger" routerLink="/process4"><i class="fa fa-times"></i> No</button>
      </div>
    </div>
  </div>
</div>
