<div class="wrapper wrapper-content  fadeInRight"  *ngIf="true">
  <div  [ngClass]="{'col-md-6 col-md-offset-3': address, 'col-md-8 col-md-offset-2': !address}">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>{{title}}</h5>
      </div>
      <div class="ibox-content">
        <div class="col-md-12 m-t-md">
          <form class="form-horizontal"  [formGroup]="requestForm">
            <div class="form-group">
              <label class="col-lg-3 control-label">Replacement Reason:</label>
              <div class="col-lg-4">
                <select class="form-control" name="replacementReasonCode" formControlName="replacementReasonCode" *ngIf="this.urgent.u != 'undelivered'">
                  <option value="" disabled selected>Select Reason</option>
                  <option *ngFor="let RRcode of replacementReasonCode" value="{{RRcode.code}}" selected>{{RRcode.code}} {{RRcode.text}}</option>
                </select>
                <select class="form-control" name="replacementReasonCode" formControlName="replacementReasonCode" *ngIf="this.urgent.u == 'undelivered'">
                  <option value="E1" selected>E1 Reissue Undelivered Card</option>
                </select>
                <div *ngIf="(requestForm.controls['replacementReasonCode'].invalid ) && ( submitted)" class="error">
                  Reason is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Urgent:</label>
              <div class="col-lg-9">
                <input type="checkbox" formControlName="urgent" name="urgent"  class="form-control" style="position: relative; top: -3px">
              </div>
            </div>
          </form>
          <hr>
        </div>

        <div class="col-md-12 details" *ngIf="address">
          <!--<h4 class="m-t-md"><i class="fa fa-map-marker" aria-hidden="true"></i> PLEASE DOUBLE CHECK SERVICE ADDRESS</h4>-->
          <h2 class="m-b-md yellow"> Please double check service address</h2>
          <div class="row">
            <div class="col-md-12">
              <h2>{{subscriber.title}} {{subscriber.initials}} {{subscriber.surname}}</h2>
            </div>
            <div class="col-md-5">
              <h3>{{subscriber.addressLine1}}</h3>
              <h3>{{subscriber.addressLine2}}</h3>
              <h3>{{subscriber.addressLine3}}</h3>
              <h3>{{subscriber.addressLine4}}</h3>
              <h3>{{subscriber.addressLine5}}</h3>
            </div>
            <div class="col-md-6">
              <h3><strong>Postcode:</strong> {{subscriber.postcode}}</h3>
              <h3><strong>Country:</strong> {{subscriber.countryCode}}</h3>
            </div>
            <div class="col-md-12 m-t-sm">
              <span class="btn btn-white " (click)="address = false;" ><i class="fa fa-edit"></i>Change Address</span>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12 details" *ngIf="!address">
          <h2 class="m-b-lg yellow"> Change Address </h2>
          <form class="form-horizontal"  [formGroup]="addressForm">
            <div class="form-group">
              <label class="col-lg-2 control-label">Title:</label>
              <div class="col-lg-3">
                <select class="form-control" name="title" id="T" formControlName="title">
                  <option value="Mr" selected>Mr</option>
                  <option value="Mrs">Mrs </option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
                  <option value="Dr">Dr</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">*Initials:</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Initials" formControlName="initials" name="initials"  class="form-control"  maxlength="3">
                <div *ngIf="(addressForm.controls['initials'].hasError('required') || addressForm.controls['initials'].hasError('maxlength') || addressForm.controls['initials'].hasError('letterSpaces')) && (addressForm.controls['initials'].touched || submitted)" class="error ">
                  Initials are required (Letters and spaces only).
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">*Surname:</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Surname" formControlName="surname" name="surname" class="form-control">
                <div *ngIf="(addressForm.controls['surname'].hasError('required') || addressForm.controls['surname'].hasError('maxlength') || addressForm.controls['surname'].hasError('letterSpaces')) && (addressForm.controls['surname'].touched || submitted)" class="error">
                  Surname is required (Letters and spaces only).
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">*Address Line 1:</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Address Line 1" formControlName="addressLine1" name="addressLine1" class="form-control" >
                <div *ngIf="(addressForm.controls['addressLine1'].hasError('required') || addressForm.controls['addressLine1'].hasError('maxlength') || addressForm.controls['addressLine1'].hasError('specialChar')) && (addressForm.controls['addressLine1'].touched || submitted)" class="error">
                  Address line 1 is required. (Only Letters/Numbers/Spaces ).
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">*Address Line 2:</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Address Line 2" formControlName="addressLine2" name="addressLine2" class="form-control" >
                <div *ngIf="(addressForm.controls['addressLine2'].hasError('required') || addressForm.controls['addressLine2'].hasError('maxlength') || addressForm.controls['addressLine2'].hasError('specialChar')) && (addressForm.controls['addressLine2'].touched || submitted)" class="error">
                  Address line 2 is required (Only Letters/Numbers/Spaces ).
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Address Line 3:</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Address Line 3"  formControlName="addressLine3" name="addressLine3" class="form-control" maxlength="35">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Address Line 4:</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Address Line 4"  formControlName="addressLine4" name="addressLine4" class="form-control" maxlength="35">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Address Line 5:</label>
              <div class="col-lg-10">
                <input type="text" placeholder="Address Line 5"  formControlName="addressLine5" name="addressLine5" class="form-control" maxlength="35">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Postcode:</label>
              <div class="col-lg-4">
                <input type="text" placeholder="Postcode" formControlName="postcode" name="postcode" class="form-control"  maxlength="9">
                <div *ngIf="(addressForm.controls['postcode'].hasError('required') || addressForm.controls['postcode'].hasError('maxlength')) && (addressForm.controls['postcode'].touched || submitted)" class="error">
                  Postcode is required
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Country:</label>
              <div class="col-lg-4">
                <span style="padding: 7px; display: inline-block;"><strong>{{addressForm.value.countryCode}}</strong></span>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <button class="btn btn-danger"  routerLink="/viewSubscriber/{{subscriber.id}}">Back</button>
            <button class="btn btn-primary" (click)="requestCard()"><span *ngIf="!address">Change address &</span> Request Card</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-----------
DIALOG BOXES
------------>

<!-- ADVISE UNDELIVERED-->
<div class="overlay info" *ngIf="adviseUndelivered">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please advise customer that the card was returned as undelivered by Royal Mail and double
        check service address.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="adviseUndelivered = false;">OK</button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <!--<h3>{{error.field}} {{error.fieldErrors.field}} {{error.fieldErrors.message}}</h3>-->
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>The replacement card has been requested.</h2>
      <hr>
      <h3>Please advise the customer when he receives the new card to insert it in the Sky box and follow the instructions.</h3>
      <h3 *ngIf="requestForm.value.urgent" ><strong>"Urgent" requests require customer to call in and request a "repair" card.</strong></h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>


