.details .fa{padding: 4px 6px; border-radius: 50%;}
.details .fa-map-marker{color: white; background: #f7a230; padding: 4px 7px;}
.details .fa-phone{color: white; background: #1c7fe9 }
.details .fa-envelope{color: white; background: #32c57f; padding: 5px;}
.details .fa-credit-card-alt { color: white; background: #a92252; padding: 6.2px 4.5px; font-size: 12px}
.details h2{color: #2e3d49}
h4 {color: #2e3d49;
  font-weight: 500;
}
.emailLabel {
  background-color: #f9f9f9;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 9px 3px 0;
  text-shadow: none;
  margin-left:5px;
  display: inline-block;
  border: 1px solid #eeeeee;
}
.active {padding: 10px;  color: #11c397;  border-radius: 2px; font-size: 16px}
.inactive  { padding: 10px;  color: #e23237;  border-radius: 2px;  font-size: 16px}


@media (max-width: 1600px) {
  .btn {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    transition: all 0.5s;
  }
  h3,
  strong{
    font-size: 13px;
  }
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  table td {
    padding: 5px 8px;
  }
}
