<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a>Search</a>
      </li>
      <li>
        <a>View Account</a>
      </li>
      <li>
        <strong>View Customer</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  fadeInRight"  *ngIf="customer">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="[innerWidth < 1600 ? 'col-lg-5' : 'col-lg-4']" class=" col-md-6 " >
        <div class="ibox ibox-main float-e-margins" >
          <div class="ibox-title">
            <h5>Customer Details</h5>
            <div class="pull-right">
              <div *ngIf="status">
                <div  *ngIf="status.toLowerCase() == 'active'; else noActive">
                  <span class="active" style="">{{status}}</span>
                </div>
                <ng-template #noActive>
                  <span class="inactive" style="">{{status}}</span>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row details">
              <div class="col-md-6"><h2><i class="fa fa-user"></i>{{customer.title}} {{customer.firstname}} {{customer.surname}}</h2></div>
              <div class="col-md-6">
                <div class="m-t-md">
                <h3>
                <strong>Customer Id:</strong>
                {{customer.id}}
                </h3>
                </div>
              </div>

              <div class="col-md-12">
                <br>
                <h4><i class="fa fa-map-marker" aria-hidden="true"></i> ADDRESS</h4>
                <hr style="margin: 15px 0">
                <div class="row">
                  <div class="col-md-6">
                    <h3>{{customer.billingAddressLine1}}</h3>
                    <h3>{{customer.billingAddressLine2}}</h3>
                    <h3>{{customer.billingAddressLine3}}</h3>
                    <h3>{{customer.billingAddressLine4}}</h3>
                    <h3>{{customer.billingAddressLine5}}</h3>
                  </div>
                  <div class="col-md-6">
                    <h3><strong>Postcode:</strong> {{customer.billingPostcode}}</h3>
                    <h3><strong>Country:</strong> {{customer.billingCountryCode}}</h3>
                  </div>
                </div>
                <br>
                <h4><i class="fa fa-phone"></i> PHONE NUMBERS</h4>
                <hr style="margin: 15px 0">
                <div class="row">
                  <div class="col-md-4">
                    <h3><strong>Home:</strong> {{customer.homeTelNo}} <span class="emptyUnknown" *ngIf="customer.homeTelNo == ''">Empty</span></h3>
                  </div>
                  <div class="col-md-4">
                    <h3><strong>Mobile:</strong> {{customer.mobTelNo}} <span class="emptyUnknown" *ngIf="customer.mobTelNo == ''">Empty</span></h3>
                  </div>
                  <div class="col-md-4">
                    <h3><strong>Work:</strong> {{customer.workTelNo}} <span class="emptyUnknown" *ngIf="customer.workTelNo == ''"> Empty</span></h3>
                  </div>
                </div>
                <div *ngIf="customer.email">
                  <br>
                  <h4><i class="fa fa-envelope" aria-hidden="true"></i> EMAIL</h4>
                  <hr style="margin: 15px 0">
                  <div class="row">
                    <div class="col-md-12">
                      <h3>{{customer.email}}

                        <ng-container [ngSwitch]="validEmail">
                          <span class="green emailLabel " *ngSwitchCase="'deliverable'"><i class="fa fa-check"></i>Valid Address</span>
                          <span class="red emailLabel " *ngSwitchCase="'undeliverable'"><i class="fa fa-times"></i>Invalid Address</span>
                          <span class="yellow emailLabel " *ngSwitchCase="'risky'"><i class="fa fa-exclamation"></i>Low Quality Address</span>
                          <span class="blue emailLabel " *ngSwitchCase="'unknown'"><i class="fa fa-question"></i>Unknown Address</span>
                          <span class="yellow emailLabel " *ngSwitchCase="'notYetValidated'"><i class="fa fa-question"></i>Not Verified</span>
                        </ng-container>
                      </h3>
                    </div>
                  </div>
                </div>
                <div *ngIf="false">
                  <br>
                  <h4><i class="fa fa-bookmark" aria-hidden="true"></i> MARKETING PREFERENCES</h4>
                  <hr style="margin: 15px 0">
                  <div class="row">
                    <div class="col-md-6">
                      <h3 *ngIf="customer.marketingPreferences.FP_POST">First-Party Post</h3>
                      <h3 *ngIf="customer.marketingPreferences.FP_EMAIL">First-Party Email</h3>
                      <h3 *ngIf="customer.marketingPreferences.FP_PHONE">First-Party Phone</h3>
                      <h3 *ngIf="customer.marketingPreferences.FP_SMS">First-Party SMS</h3>
                    </div>
                    <div class="col-md-6">
                      <h3 *ngIf="customer.marketingPreferences.TP_POST">Third-Party Post</h3>
                      <h3 *ngIf="customer.marketingPreferences.TP_EMAIL">Third-Party Email</h3>
                      <h3 *ngIf="customer.marketingPreferences.TP_PHONE">Third-Party Phone</h3>
                      <h3 *ngIf="customer.marketingPreferences.TP_SMS">Third-Party SMS</h3>
                    </div>
                  </div>
                </div>
                <br>
                <div >
                  <h4><i class="fa fa-credit-card-alt" aria-hidden="true"></i> PAYMENT DETAILS</h4>
                  <hr style="margin: 15px 0">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div *ngIf="hasPaymentCard != null">
                          <div class="col-xs-8 m-t-xs" *ngIf="hasPaymentCard">
                            <h3><strong>Payment Details:</strong>
                              <span class="green " *ngIf="hasPaymentCard">STORED</span>
                            </h3>
                            <h3>
                              <span class="blue" > {{paymentDetailCard}} </span>
                              <span *ngIf="paymentDetailNumber">**** **** ****</span>
                              <span class="blue ">{{paymentDetailNumber}}</span>
                            </h3>
                            <h3 *ngIf="paymentDetailExpiry">
                              <strong>Expiry Date:</strong>
                              <!--<span>'yellow': paymentDetailExpiry.expiryYear + 2000 === date.getFullYear() && paymentDetailExpiry.expiryMonth - 1 === date.getMonth()</span>-->
                              <span [ngClass]="{
                              'red': (paymentDetailExpiry.expiryYear + 2000 === date.getFullYear() && paymentDetailExpiry.expiryMonth  < (date.getMonth() + 1)) ||  paymentDetailExpiry.expiryYear + 2000 < date.getFullYear(),
                              'yellow': paymentDetailExpiry.expiryYear + 2000 === date.getFullYear() && paymentDetailExpiry.expiryMonth  === (date.getMonth() + 1)
                              }">
                                {{paymentDetailExpiry.expiry}}
                              </span>
                            </h3>
                          </div>
                          <div class="col-xs-4" *ngIf="hasPaymentCard">
                            <h3><button class="btn btn-sm btn-white  m-t-n-xs pull-right" (click)="payMethDialog = true">Update Payment Details</button></h3>
                          </div>

                          <div class="col-xs-8 m-t-xs" *ngIf="!hasPaymentCard">
                            <h3><strong>Payment Details:</strong>
                              <span class="red " *ngIf="!hasPaymentCard">NONE</span></h3>
                          </div>
                          <div class="col-xs-4" *ngIf="!hasPaymentCard">
                            <h3><button class="btn btn-sm btn-white  pull-right" (click)="payMethDialog = true">Add Payment Details</button></h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-xs-5 m-t-xs">
                          <h3><strong>Balance Owed: </strong>{{billingInfo.owed | currency: subscriber.currencyCode : "symbol"}} <span class="emptyUnknown" *ngIf="billingInfo.owed == null">Unknown</span></h3>
                        </div>
                        <div class="col-xs-7 text-right">
                          <h3 *ngIf="billingInfo.owed > 0" class="pull-right">
                            <button class="btn btn-sm btn-white"  (click)="settleBalance()">Settle balance</button>
                            <button class="btn btn-sm btn-white" (click)="checkIfAdmin(); voidBalanceCheck = true">Void balance</button>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <hr>
              </div>
              <div class="col-xs-2">
                <button class="btn btn-danger" routerLink="/viewSubscriber/{{subscriber.id}}">Back</button>
              </div>
               <div class="col-xs-10">
                <div class="pull-right">
                  <button class="btn btn-primary" (click)="route.navigate(['/editCustomer'], { queryParams: { id: subscriber.id }})"><i class="fa fa-edit"></i> Edit <span class="hidden-xs hidden-sm">Customer Details</span></button>
                  <button class="btn btn-primary " routerLink="/billingHistory/{{ customer.id }}"><i class="fa fa-line-chart"></i> Billing History</button>
                  <button *ngIf="role == 'admin'" class="btn btn-primary " routerLink="/histories/{{ customer.id }}"><i  class="fa fa-list"></i> History</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="[innerWidth < 1600 ? 'col-lg-7' : 'col-lg-8']" class=" col-md-6">
        <div class="ibox ibox-main float-e-margins" >
          <div class="ibox-title">
            <h5>Accounts</h5>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table table-striped table-hover m-b-xs" >
                <thead>
                <tr>
                  <th><strong>Account Name </strong></th>
                  <th><strong>Address </strong></th>
                  <th ><strong>Postcode </strong></th>
                  <th><strong>Viewing Card Number</strong></th>
                  <th class="hidden-md"><strong>Card Subscriber Id</strong></th>
                  <th><strong>Status</strong></th>
                </tr>
                </thead>
                <tbody *ngIf="subscribers">
                <tr *ngFor="let subs of  subscribers; let i = index" (dblclick)="route.navigate(['/viewSubscriber', subs.id])" >
                  <td><h3>{{subs.title}} {{subs.surname}}</h3></td>
                  <td><h3>{{subs.addressLine1}}</h3></td>
                  <td><h3>{{subs.postcode}} </h3></td>
                  <td><h3>{{subs.viewingCardNumber}}</h3></td>
                  <td class="hidden-md"><h3>{{subs.cardSubscriberId}}</h3></td>
                  <td *ngIf="subs.active == 'ACTIVE'; else noActive" ><h3 class="green">{{subs.active}}</h3></td>
                    <!--<td *ngIf="subs.active == 'AW'" ><h3 class="red">Entitlements Awaiting Activation</h3></td>-->
                  <ng-template #noActive>
                    <td><h3 class="red">{{subs.active}}</h3></td>
                  </ng-template>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <!--NO FREEVIEW CUSTOMERS-->
            <button class="btn btn-primary" *ngIf="customer.billingAddressLine5 != 'FREEVIEW'" (click)="searchDialog = true; joinCard()">
              <i class="fa fa-address-card-o" aria-hidden="true" *ngIf="subscribers"></i> Add Account
            </button>
            <button class="btn btn-primary"  (click)="requestAdditionalCard()" *ngIf="customer.billingAddressLine5 != 'FREEVIEW'">
              <i class="fa fa-user-plus" aria-hidden="true" *ngIf="subscribers"></i> Request Additional Card
            </button>

            <!--FREEVIEW CUSTOMERS (*****Temporary fix******)-->
            <button class="btn btn-primary"  *ngIf="customer.billingAddressLine5 == 'FREEVIEW'" (click)="freeviewNotAllowed = true">
              <i class="fa fa-address-card-o" aria-hidden="true" *ngIf="subscribers"></i> Add Account
            </button>
            <button class="btn btn-primary"  *ngIf="customer.billingAddressLine5 == 'FREEVIEW'" (click)="freeviewNotAllowed = true">
              <i class="fa fa-user-plus" aria-hidden="true" *ngIf="subscribers"></i> Request Additional Card
            </button>
          </div>
        </div>
      </div>
      <div [ngClass]="[innerWidth < 1600 ? 'col-lg-7' : 'col-lg-8']" class=" col-md-6">
        <div class="ibox ibox-main float-e-margins" *ngIf="customer">
          <div class="ibox-title">
            <h5> Marketing Preferences</h5>
            <div class="ibox-tools">Consent Date: {{customer.marketingPreferencesConsentDate | date: "dd-MMM-yyyy, h:mm:ss a"}}</div>
          </div>

          <div class="ibox-content">
            <div class="row">
              <!--<div class="col-md-12" *ngIf="!customer.marketingPreferences.FP_POST && !customer.marketingPreferences.FP_EMAIL && !customer.marketingPreferences.FP_PHONE && !customer.marketingPreferences.FP_SMS-->
                                      <!--&& !customer.marketingPreferences.TP_EMAIL && !customer.marketingPreferences.TP_POST && !customer.marketingPreferences.TP_PHONE && !customer.marketingPreferences.TP_SMS">-->
                <!--<h3 class="emptyUnknown">No marketing preferences found.</h3>-->
              <!--</div>-->
              <div class="col-md-4">
                <h3>
                  <input type="checkbox" [(ngModel)]="customer.marketingPreferences.FP_POST" [disabled]="editMarketing">
                  First-Party Post
                </h3>
                <h3>
                  <input type="checkbox" [(ngModel)]="customer.marketingPreferences.FP_EMAIL" [disabled]="editMarketing">
                  First-Party Email</h3>
                <h3>
                  <input type="checkbox" [(ngModel)]="customer.marketingPreferences.FP_PHONE" [disabled]="editMarketing">
                  First-Party Phone</h3>
                <h3>
                  <input type="checkbox" [(ngModel)]="customer.marketingPreferences.FP_SMS" [disabled]="editMarketing">
                  First-Party SMS</h3>
              </div>
              <div class="col-md-6">
                <h3>
                  <input type="checkbox" [(ngModel)]="customer.marketingPreferences.TP_POST" [disabled]="editMarketing">
                  Third-Party Post</h3>
                <h3>
                  <input type="checkbox" [(ngModel)]="customer.marketingPreferences.TP_EMAIL" [disabled]="editMarketing">
                  Third-Party Email</h3>
                <h3>
                  <input type="checkbox" [(ngModel)]="customer.marketingPreferences.TP_PHONE" [disabled]="editMarketing">
                  Third-Party Phone</h3>
                <h3>
                  <input type="checkbox" [(ngModel)]="customer.marketingPreferences.TP_SMS" [disabled]="editMarketing">
                  Third-Party SMS</h3>
              </div>
            </div>
            <hr>
            <button class="btn btn-primary" (click)="editMarketing = !editMarketing">
              <i class="fa fa-edit" aria-hidden="true" *ngIf="editMarketing"></i>
              <span *ngIf="editMarketing">Edit Marketing preferences</span>
              <span *ngIf="!editMarketing">Cancel</span>
            </button>
            <button class="btn btn-white" *ngIf="!editMarketing" (click)="saveMarketing()">Save Marketing Preferences</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--NO CUSTOMER SELECTED-->
<div class="wrapper wrapper-content  fadeInRight"  *ngIf="!customer">
  <div class="col-lg-12">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>CUSTOMER</h5>
      </div>
      <div class="ibox-content">
        <h3>Customer not found...</h3>
        <hr>
        <button class="btn btn-danger" (click)="back();">Back</button>
      </div>
    </div>
  </div>
</div>

<!-- ---------
DIALOG BOXES
----------- -->

<!--SUCCESS-->
<div class="overlay success" *ngIf="balanceSettled">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Balance has been updated.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="helpers.reset()" > OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Marketing preferences have been saved</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="success = null" > OK </button>
      </div>
    </div>
  </div>
</div>

<!--VOID BALANCE CHECK-->
<div class="overlay info" *ngIf="voidBalanceCheck && accessGranted == 'admin'">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Are you sure that you want to void balance of: {{billingInfo.owed}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="voidBalance()"><i class="fa fa-check"></i> YES </button>
        <button class="btn btn-success" (click)="voidBalanceCheck = false"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <p>{{error.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--ERROR GETTING CARD TOKENS-->
<div class="overlay err" *ngIf="cardError != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{cardError.message}}</h2>
      <h3>{{cardError.message2}}</h3>
      <!--<h2> Please try again later.</h2>-->
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="cardError = null" > OK </button>
      </div>
    </div>
  </div>
</div>

<!--REQUIRE ADMIN USER-->
<div class="overlay info" *ngIf="requireAdmin">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-left">
      <h2 class="yellow">Supervisor Authorization Required</h2><br>
      <div class="row m-b-lg">
        <div class="col-xs-12">
          <label class="control-label">User:</label>
          <input type="text" class="form-control" [(ngModel)]="user" autocomplete="off">
          <br>
          <label  class="control-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" autocomplete="off">
        </div>
      </div>
      <div class="overlayButtons m-t-lg">
        <button class="btn btn-danger m-l-xs" (click)="requireAdmin = false;"> Back</button>
        <button class="btn btn-success" (click)="authorize()" > Proceed</button>
      </div>
    </div>
  </div>
</div>


<!--SELECT DIRECT DEBIT OR CARD-->
<div class="overlay info" *ngIf="payMethDialog">
  <div class="overlayBox ">
    <div class="overlayContent text-left">
      <h2 class="">Please select payment method: </h2><br>
      <!--<input type="radio" [(ngModel)]="payMeth"  name="paymentMethod" value="false" (change)="log()" >-->
      <!--<label class="control-label">Card</label>-->
      <!--<br>-->
      <!--<input type="radio" [(ngModel)]="payMeth"  name="paymentMethod" value="true" (change)="log()">-->
      <!--<label class="control-label" >Direct Debit</label>-->

      <div class="btn-group paymentMethods" data-toggle="buttons">
        <label class="btn btn-white " (click)="payMeth = false; addPaymentCard()">
          <input type="radio" [(ngModel)]="payMeth"  name="paymentMethod" value="false"  >
          <img src="../../../assets/img/card2.png" width="150px" alt="Card">
        </label>
        <label class="btn btn-white" (click)="payMeth = true; addPaymentCard()">
          <input type="radio" [(ngModel)]="payMeth"  name="paymentMethod" value="true" >
          <img src="../../../assets/img/direct_debit.png" width="150px" alt="DirectDebit">
        </label>
      </div>
      <div class="overlayButtons m-t-lg text-center">
        <button class="btn btn-danger m-l-xs" (click)="payMethDialog = false;"> Back</button>
        <!--<button class="btn btn-success" (click)="addPaymentCard()" [disabled]="payMeth == undefined" > Proceed</button>-->
      </div>
    </div>
  </div>
</div>

<!-- FREEVIEW NOT ALLOWED -->
<div class="overlay info" *ngIf="freeviewNotAllowed">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>This operation cannot be performed on FREEVIEW accounts.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="freeviewNotAllowed = false"> OK</button>
      </div>
    </div>
  </div>
</div>

<!--SEARCH BEFORE ADDING ACCOUNT-->
<div class="overlay info" *ngIf="searchDialog">
  <app-search
    [customerPage]="true"
    [customerSearchDetails]="customerSearchDetails"
    (closeCustomerSearch)="searchDialog = $event"
  >
  </app-search>
</div>
