<!-- ---------------------
EDIT CUSTOMER
---------------------- -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a>Home</a>
      </li>
      <li>
        <a>View Account</a>
      </li>
      <li>
        <a>View Customer</a>
      </li>
      <li class="active">
        <strong>Edit Customer Details</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  fadeInRight"  *ngIf="customer" (click)="addressList = null">
  <div class="col-lg-8 col-lg-offset-2 ">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>Edit Customer Details</h5>
      </div>
      <div class="ibox-content">
        <div class="">
          <div class="col-md-12 m-t-md" >
            <form class="form-horizontal"  [formGroup]="detailsForm" autocomplete="off">
              <div class="form-group">
                <label class="col-lg-2 control-label">Title:</label>
                <div class="col-lg-3">
                  <select class="form-control" name="title" id="T" formControlName="title">
                    <option value="Mr" selected>Mr</option>
                    <option value="Mrs">Mrs </option>
                    <option value="Miss">Miss</option>
                    <option value="Ms">Ms</option>
                    <option value="Dr">Dr</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Initials:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Initials" formControlName="initials" name="initials"  class="form-control"  maxlength="3">
                  <div *ngIf="(detailsForm.controls['initials'].hasError('required') || detailsForm.controls['initials'].hasError('maxlength') || detailsForm.controls['initials'].hasError('letterSpaces')) && (detailsForm.controls['initials'].touched || submitted)" class="error ">
                    Initials are required (Letters and spaces only).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*First Name:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="First Name" formControlName="firstname" name="firstname" class="form-control">
                  <div *ngIf="(detailsForm.controls['firstname'].hasError('required') || detailsForm.controls['firstname'].hasError('maxlength') || detailsForm.controls['firstname'].hasError('letterSpaces')) && (detailsForm.controls['firstname'].touched || submitted)" class="error">
                    First name is required (Letters and spaces only).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Surname:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Surname" formControlName="surname" name="surname" class="form-control">
                  <div *ngIf="(detailsForm.controls['surname'].hasError('required') || detailsForm.controls['surname'].hasError('maxlength') || detailsForm.controls['surname'].hasError('letterSpaces')) && (detailsForm.controls['surname'].touched || submitted)" class="error">
                    Surname is required (Letters and spaces only).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Postcode: </label>
                <div class="col-lg-5">
                  <div class="input-group">
                    <input type="text"  formControlName="billingPostcode"  name="billingPostcode" class="form-control" maxlength="9"   autocomplete="off">
                    <a class="input-group-addon btn-white" [ngClass]="{'bblue white': detailsForm.value.billingPostcode.length > 0}" *ngIf="detailsForm.value.billingPostcode.length > 0; else buttonDisabled"
                       (click)="findAddress()">Find address</a>
                    <ng-template #buttonDisabled>
                      <a class="input-group-addon btn-white" [ngClass]="{'bblue white': detailsForm.value.billingPostcode.length > 0}" disabled >Find address</a>
                    </ng-template>
                  </div>
                  <div *ngIf="detailsForm.controls['billingPostcode'].invalid  && (detailsForm.controls['billingPostcode'].touched || submitted)" class="error">
                    No special characters allowed
                  </div>
                  <div class="findAddress" *ngIf="addressList">
                    <ul>
                      <li *ngFor="let address of addressList" (click)="setAddress(address)">
                        <a>{{address.notFound}} {{address.addressLine1}} {{address.addressLine2}} {{address.addressLine3}} {{address.addressLine4}} {{address.addressLine5}}</a>
                      </li>
                    </ul>
                    <button class="btn btn-primary" (click)="showSearchRemote = true; disableInput = false; addressSelected = true" style="margin: 0; width: 100%;">Add address manually.</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Address Line 1:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 1" formControlName="billingAddressLine1" name="billingAddressLine1" class="form-control" [readonly]="role != 'admin'">
                  <div *ngIf="(detailsForm.controls['billingAddressLine1'].hasError('required') || detailsForm.controls['billingAddressLine1'].hasError('maxlength') || detailsForm.controls['billingAddressLine1'].hasError('specialChar')) && (detailsForm.controls['billingAddressLine1'].touched || submitted)" class="error">
                    Address line 1 is required. (Only Letters/Numbers/Spaces ).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Address Line 2:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 2" formControlName="billingAddressLine2" name="billingAddressLine2" class="form-control" [readonly]="role != 'admin'">
                  <div *ngIf="(detailsForm.controls['billingAddressLine2'].hasError('required') || detailsForm.controls['billingAddressLine2'].hasError('maxlength') || detailsForm.controls['billingAddressLine2'].hasError('specialChar')) && (detailsForm.controls['billingAddressLine2'].touched || submitted)" class="error">
                    Address line 2 is required (Only Letters/Numbers/Spaces ).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Address Line 3:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 3"  formControlName="billingAddressLine3" name="billingAddressLine3" class="form-control" maxlength="35" [readonly]="role != 'admin'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Address Line 4:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 4"  formControlName="billingAddressLine4" name="billingAddressLine4" class="form-control" maxlength="35" [readonly]="role != 'admin'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Address Line 5:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 5"  formControlName="billingAddressLine5" name="billingAddressLine5" class="form-control" maxlength="35" [readonly]="role != 'admin'">
                </div>
              </div>
              <!--<div class="form-group">-->
              <!--<label class="col-lg-2 control-label">Postcode:</label>-->
              <!--<div class="col-lg-4">-->
              <!--<input type="text" placeholder="Postcode" formControlName="billingPostcode" name="billingPostcode" class="form-control"  maxlength="9">-->
              <!--<div *ngIf="(detailsForm.controls['billingPostcode'].hasError('required') || detailsForm.controls['billingPostcode'].hasError('maxlength')) && (detailsForm.controls['billingPostcode'].touched || submitted)" class="error">-->
              <!--Postcode is required-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->

              <div class="form-group">
                <label class="col-lg-2 control-label">Country:</label>
                <div class="col-lg-4">
                  <span style="padding: 7px; display: inline-block;"><strong>{{detailsForm.value.billingCountryCode}}</strong></span>
                </div>
              </div>
              <div formGroupName="phones">
                <div class="form-group">
                  <label class="col-lg-2 control-label">*Home Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Home Telephone" formControlName="homeTelNr" name="homeTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="( detailsForm.controls['phones'].controls.homeTelNr.invalid) && (submitted || detailsForm.controls['phones'].controls.homeTelNr.touched)" class="error">
                      Only numbers
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">*Work Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Work Telephone" formControlName="workTelNr" name="workTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="( detailsForm.controls['phones'].controls.workTelNr.invalid) && (submitted || detailsForm.controls['phones'].controls.workTelNr.touched)" class="error">
                      Only numbers
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">*Mobile Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Mobile Telephone" formControlName="mobTelNr" name="mobileTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="(detailsForm.controls['phones'].controls.mobTelNr.invalid) && (submitted || detailsForm.controls['phones'].controls.mobTelNr.touched)" class="error">
                      Only numbers
                    </div>
                    <div *ngIf="(!detailsForm.controls['phones'].valid) && (submitted)" class="error">
                      At least one phone number is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Email:</label>
                <div class="col-lg-5">
                  <div class="input-group" style="border: 1px solid #e5e6e7" [ngClass]="{'bcgreen': emailVerificationResponse === 'deliverable', 'bcred': emailVerificationResponse === 'undeliverable',
                  'bcyellow': emailVerificationResponse === 'risky', 'bcblue': emailVerificationResponse === 'unknown', 'bcgrey': emailVerificationResponse === 'Insufficient Balance'}" >
                    <input type="text" placeholder="Email" formControlName="email" name="email"  class="input form-control b-n" (keyup)="emailVerificationResponse = false; noEmail = false; didYouMean = false">
                    <a *ngIf="!emailVerificationResponse" class="btn btn-primary input-group-addon bblue white" style="border: #0f3b68;" (click)="validateEmail()" >
                       Validate
                    </a>
                    <span *ngIf="emailVerificationResponse == 'deliverable'" class=" input-group-addon b-n"  >
                      <i  class="fa fa-check green"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'undeliverable' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-times red"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'risky' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-exclamation yellow"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'unknown' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-question blue"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'loading'" class=" input-group-addon b-n"  >
                      <i class="fa fa-spinner fa-spin"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'Insufficient Balance'" class=" input-group-addon b-n"  >
                      <i class="fa fa-question"></i>
                    </span>
                  </div>
                  <!--<div *ngIf="(detailsForm.controls['email'].invalid  && (detailsForm.controls['email'].touched || submitted) || emailVerificationResponse == 'undeliverable')"  >-->
                  <div *ngIf=" emailVerificationResponse == 'undeliverable'"  >
                    <h4><span  class="red">Invalid Address. </span><span *ngIf="didYouMean">Did you mean <a (click)="patchEmail()">{{didYouMean}}</a>? </span></h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'deliverable'">
                    <h4 class="green">Valid Address</h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'risky'">
                    <h4 class="yellow">Low Quality Address – Please provide an alternative if possible?</h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'unknown'">
                    <h4 class="blue">Unknown - We were unable to check this email address</h4>
                  </div>
                  <div *ngIf="emailVerificationResponse == 'Insufficient Balance'">
                    <h4 >Email address checking is currently unavailable [IB]</h4>
                  </div>
                </div>
                <div class="col-lg-2">
                  <label class="checkbox-inline control-label"><input type="checkbox" (click)="noEmailChecked()" [checked]="noEmail">No Email</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <button class="btn btn-danger"  routerLink="/customer/{{customer.id}}">Back</button>
            <!--Valid Email required to proceed or 'No Email' checkbox-->
            <button class="btn btn-primary"
                    *ngIf="(emailVerificationResponse ===  'undeliverable' || !emailVerificationResponse || emailVerificationResponse == null)
                            && !noEmail
                            && detailsForm.value.email !== customer.email;
                            else proceed"
                    (click)="error = {message: 'A valid email or \'No Email\' checkbox is required.'}">Proceed</button>
            <ng-template #proceed>
              <button class="btn btn-primary"  (click)="spread = true">Proceed</button>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Details have been updated.</h2>
      <h3>{{message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <div *ngIf="aI != null">
          <button class="btn btn-success"  (click)="backTo()"> OK </button>
        </div>
        <div *ngIf="aI == null">
          <button class="btn btn-success" routerLink="/customer/{{customer.id}}" (click)="success = false"> OK </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--APPLY CHANGES TO ALL SUBSCRIBERS-->
<div class="overlay info" *ngIf="spread">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <h2>Apply updates to all account records?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="spreadChanges(); message = 'Updates applied to customer and all account records.'" ><i class="fa fa-check"></i> YES </button>
        <button class="btn btn-danger" (click)="update(); message = 'Updates applied only to customer.'" ><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>
