<!-- ---------------------------------
PROCESS 21: Resend all personal bits
---------------------------------- -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a>Search</a>
      </li>
      <li class="active">
        <strong>Resend all personal bits</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content"  *ngIf="false">
  <div class="  fadeIn" >
    <div class="col-md-6 col-md-offset-3 ">
      <div class="ibox ibox-main float-e-margins" >
        <div class="ibox-title">
          <h5>Process 21</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <h2>Process 21</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <!--<h2> {{error.status}}</h2>-->
      <h2>{{error.field}} {{error.message1}}</h2>
      <h2>{{error.message2}}</h2>
      <h3>{{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/viewSubscriber/{{subscriber.id}}"> OK </button>
      </div>
    </div>
  </div>
</div>

<!-- CHECK VIEWING CARD NUMBER -->
<div class="overlay info" *ngIf="VCNCheck">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Viewing Card Number: <span class="green">{{subscriber.viewingCardNumber}}</span></h2>
      <h2>Please check with the client that the Viewing Card Number is correct.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="resendAllPersonalBits()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="process6 = true; VCNCheck = false"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>


<div class="overlay " *ngIf="process6">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="text-left steps">
        <h2 class="m-t-n-xs yellow">Please follow these steps:</h2>
        <hr>
        <!--PROCESS 6-->
        <ul *ngIf="process6">
          <li>
            <strong>1.Click below to go back to the account.</strong>
          </li>
          <li>
            <strong>2.Click <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> and remove all the entitlements.</strong>
          </li>
          <li>
            <strong>
              3.Click on <a class="btn btn-primary m-l-xs"><i class="fa fa-user"></i> View customer</a>
              and then  Join Existing Card.
            </strong>
          </li>
          <li>
            <strong>4.Add entitlements to the new account created.</strong>
          </li>
        </ul>
      </div>
      <hr>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" routerLink="/viewSubscriber/{{subscriber.id}}">
          Back to account
        </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Resend All Personal Bits sent!</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>
