<!-- ----------------------
NEW SUBSCRIBER ENTITLEMENTS
----------------------- -->

<div class="row wrapper border-bottom white-bg page-heading  fadeIn">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Home</a>
      </li>
      <li class="active">
        <strong>New Account</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content  fadeInRight">
  <div class="col-lg-9" *ngIf="true">
    <div class="ibox ibox-main float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-user-plus" aria-hidden="true"></i> New Account</h5>
        <div class="ibox-tools">
          <span class="pull-right m-t-n-sm" style="display: inline-flex;">
                <input type="text" placeholder="Filter..." class="form-control" [(ngModel)]="filterValue" (keyup)="filter()">
                <button class="btn btn-white" [ngClass]="{'active' : view1}"  type="button" (click)="view1 = true; view2 = false;"> <i class="fa fa-th-large"></i></button>
                <button class="btn btn-white " [ngClass]="{'active' : view2}"  type="button" (click)="view2 = true; view1 = false;"><i class="fa fa-list-ul"></i></button>
           </span>
        </div>
      </div>
      <div class="ibox-content">
        <h3><strong>+ Double click to add packages</strong></h3>
        <div class="row  m-t-md">
          <h2 *ngIf="PGFound.length == 0" class="m-t-xl" style="margin: 0 auto; display: table; color: #c1c1c1; padding-top: 20px ">
            <img src="../assets/img/img_loading.gif" width="60px" style="margin-top: -7px; margin-right: -15px;">Please wait...
          </h2>
          <div  [ngClass]="{'col-xs-12' : view2, 'col-xs-6 col-md-4 col-lg-4': view1}" *ngFor="let pG of PGFound; let i = index;" >
            <div class="ibox" (dblclick)="selectPackage(pG, i)"  [ngClass]="{'packActive' : isSelected(pG)[0]}" style="cursor: pointer;  z-index: 1; position: relative;"  >
              <div class="ibox-content product-box">
                <div class="product-desc">
                  <div class=" m-t-xs product-name productDescription">
                    <strong >{{pG.titleDescription}}</strong>
                  </div>
                  <div *ngIf="pG.pricing.oneOff != null" class="m-t-xs product-price"> {{pG.pricing.oneOff.price | currency : this.pG.currencyCode : 'symbol'}} <span *ngIf="pG.pricing.oneOff.indicative">(indicative)</span></div>
                  <div *ngIf="pG.pricing.subscription != null" class="m-t-xs product-price">
                    {{pG.pricing.subscription.initialAmount | currency : this.pG.currencyCode : 'symbol'}} now, covering {{pG.pricing.subscription.initialPeriod}}
                    <ng-container *ngIf="pG.pricing.subscription.contractLength != pG.pricing.subscription.initialPeriod">
	                    + <br> {{pG.pricing.subscription.recurringAmount | currency : this.pG.currencyCode : 'symbol'}} every {{pG.pricing.subscription.recurringPeriod}}
	                    <span *ngIf="pG.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                    <span *ngIf="pG.pricing.subscription.contractLength != 'infinite'"> for {{pG.pricing.subscription.contractLength}}</span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3" *ngIf="true">
    <div class="ibox ibox-main float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-cubes"></i> Packages Selected</h5>
      </div>
      <div class="ibox-content">
        <h3 *ngIf="packagesSelected.length == 0" style="color: #c9c9c9">Please select a package...</h3>
        <div  *ngFor="let ent of packagesSelected, let i = index" >
          <div class="ibox" style="cursor: pointer;" (dblclick)="removePackage(ent, i)">
            <div class="ibox-content product-box" >
              <div class="product-desc">
                <!--ADD PACKAGES NO OPPV-->
                <div *ngIf="ent">
                  <div class=" m-t-xs product-name productDescription">
                    <strong>{{ent.titleDescription}}</strong>
                  </div>
                  <div *ngIf="ent.pricing.oneOff != null" class="m-t-xs product-price"> {{ent.pricing.oneOff.price | currency : this.ent.currencyCode : 'symbol'}} <span *ngIf="ent.pricing.oneOff.indicative">(indicative)</span></div>
                  <div *ngIf="ent.pricing.subscription != null" class="m-t-xs product-price">
                    {{ent.pricing.subscription.initialAmount | currency : this.ent.currencyCode : 'symbol'}} now, covering {{ent.pricing.subscription.initialPeriod}}
                    <ng-container *ngIf="ent.pricing.subscription.contractLength != ent.pricing.subscription.initialPeriod">
	                    + <br> {{ent.pricing.subscription.recurringAmount | currency : this.ent.currencyCode : 'symbol'}} every {{ent.pricing.subscription.recurringPeriod}}
	                    <span *ngIf="ent.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                    <span *ngIf="ent.pricing.subscription.contractLength != 'infinite'"> for {{ent.pricing.subscription.contractLength}}</span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <button class="btn btn-primary m-t-xs" (click)="addedRemovedPackages()">Create subscriber</button>
      </div>
    </div>
  </div>
</div>

<!-- --------
DIALOG BOXES
-------- -->
<div class="overlay info" *ngIf="previewDialog">
  <div class="overlayBox  fadeIn" style="min-width: 50% !important; padding: 20px 40px;">
    <div class="overlayContent text-center m-b-lg" style="display: inline-block; width: 100%;">
      <div class="col-md-12">
        <h2>Packages Preview </h2>
        <hr>
      </div>

      <!--ADDED PACKAGES-->
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-6 text-left">
            <h4>ADDED PACKAGES</h4>
          </div>
          <div class="col-xs-3 text-left">
            <h4>DISCOUNT</h4>
          </div>
          <div class="col-xs-3 text-left">
            <h4>OPPV Validation</h4>
          </div>
        </div>
        <div style="max-height: 300px; width: 100%; overflow-y: scroll;" id="addedPackages">
          <div class="col-xs-12" *ngFor="let added of packagesSelected; let i = index" >
            <div class="col-xs-6 text-left">
              <div  class="ibox packActive">
                <div class="ibox-content product-box"  >
                  <div class="product-desc" style="height: 130px;">
                    <div class=" m-t-xs product-name">
                      {{added.titleDescription}} <br>
                    </div>
                    <div *ngIf="added.pricing.oneOff != null" class="m-t-xs product-price"> {{added.pricing.oneOff.price | currency : this.added.currencyCode : 'symbol'}}
                      <span *ngIf="added.pricing.oneOff.indicative">(indicative)</span>
                    </div>
                    <div *ngIf="added.pricing.subscription != null" class="m-t-xs product-price">
                      {{added.pricing.subscription.initialAmount | currency : this.added.currencyCode : 'symbol'}} now, covering {{added.pricing.subscription.initialPeriod}}
                      <ng-container *ngIf="added.pricing.subscription.contractLength != added.pricing.subscription.initialPeriod">
	                      + <br> {{added.pricing.subscription.recurringAmount | currency : this.added.currencyCode : 'symbol'}} every {{added.pricing.subscription.recurringPeriod}}
	                      <span *ngIf="added.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                      <span *ngIf="added.pricing.subscription.contractLength != 'infinite'"> for {{added.pricing.subscription.contractLength}}</span>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-left">
              <span class="input-group m-t-lg">
                 <span class="input-group-addon" *ngIf="subscriber.currencyCode == 'EUR'" >€</span>
                 <span class="input-group-addon" *ngIf="subscriber.currencyCode == 'GBP'" >£</span>
                 <input type="text" class="form-control " [(ngModel)]="discount[i]"  placeholder="Enter discount..." (keyup)="discountValidation(discount[i], i)">
              </span>
              <span class="error pull-right" style="width: 100%;" *ngIf="invalidDiscount[i]">Invalid discount value</span>
            </div>
            <div class="col-xs-3 text-left">
              <div *ngIf="added.pricing.oneOff != null">
                <button *ngIf="added.pricing.oneOff.indicative" class="btn btn-primary m-t-lg" [disabled]="true">Validate OPPV Event</button>
                <div *ngIf="added.pricing.oneOff.indicative" class="red" >Only available for existing <br> Sky subscribers</div>
              </div>
              <div *ngIf="added.pricing.oneOff == null">
                <div class="m-t-lg m-l-sm"><strong >Not Applicable </strong> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-left" *ngIf="packagesSelected.length == 0">
          <h3><strong>No packages added</strong></h3>
        </div>
      </div>

      <div class="overlayButtons m-t-lg">
        <button class="btn btn-danger" (click)="previewDialog = false"> Back</button>
        <!--<button class="btn btn-success m-l-xs" >-->
          <!--Calculate Billing</button>-->
        <button class="btn btn-success m-l-xs" (click)="createSubscriber()"> Proceed</button>
      </div>
    </div>
  </div>
</div>

<!--ERRORS-->
<div class="overlay err" *ngIf="error.subscriber || error.entitlements || error.vip || error.payment">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <div *ngIf="error.subscriber">
        <h2>Error creating subscriber</h2>
        <p>
          {{error.subscriber.message}}
        </p>
      </div>
      <div *ngIf="error.payment">
        <h2>Error saving payment</h2>
        <p>{{error.payment.message}}</p>
        <h3 *ngFor="let err of error.payment.fieldErrors">
          {{err.field}} -
          {{err.message}}
        </h3>
      </div>
      <div *ngIf="error.entitlements">
        <h2>Error creating entitlements</h2>
        <p>
          {{error.entitlements.message}}
        </p>
      </div>
      <div *ngIf="error.vip">
        <h2>Error changing status to VIP</h2>
        <p>
          {{error.vip.message}}
        </p>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger"  routerLink="/newsubscriber" *ngIf="!error.entitlements"> Back to form </button>
        <button class="btn btn-danger"  (click)="error.entitlements = false" *ngIf="error.entitlements"> Back </button>

        <button *ngIf="error.subscriber" class="btn btn-success"  (click)="error.subscriber = false; createSubscriber()"> Try again </button>
        <button *ngIf="error.payment" class="btn btn-success"  (click)="error.payment = false; savePayment(created)"> Try again </button>
        <button *ngIf="error.entitlements" class="btn btn-success"  (click)="error.entitlements = false; addEntitlements(created.id)"> Try again </button>
        <button *ngIf="error.vip" class="btn btn-success"  (click)="error.vip = false; vip(created.id)"> Try again </button>
      </div>
    </div>
  </div>
</div>

<!--ERROR GETTING CARD TOKENS-->
<div class="overlay err" *ngIf="cardError != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{cardError.message}}</h2>
      <h3>{{cardError.message2}}</h3>
      <hr>
      <h2> Would you like to try again?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  routerLink="/newsubscriber"> Yes </button>
        <button class="btn btn-danger"  routerLink="/search"> No </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="successMessage">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Subscriber created succesfully!</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{created.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--ERROR DISCOUNT-->
<div class="overlay err" *ngIf="errorDiscount != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error</h2>
      <h3>{{errorDiscount.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="errorDiscount = null"> OK </button>
      </div>
    </div>
  </div>
</div>


