<!-- ---------------------------------
PROCESS 24:
---------------------------------- -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li>
        <a >View Account</a>
      </li>
      <li class="active">
        <strong>Process24</strong>
      </li>
    </ol>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<!--STEP 1: ADVISE CUSTOMER-->
<div class="overlay success" *ngIf="advise && customerSubscribers.length > 0">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please advise customer that Sky Q Minis is included their package.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="advise = false; continueHybrid = true;"> Next </button>
      </div>
    </div>
  </div>
</div>

<!--NO SUBSCRIBERS ACTIVE-->
<div class="overlay success" *ngIf="customerSubscribers.length == 0">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>No active account found.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"> Back to account </button>
      </div>
    </div>
  </div>
</div>

<!--STEP 2: CONTINUE WITH HYBRID-->
<div class="overlay success" *ngIf="continueHybrid">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <h2 >Do you want to continue with Hybrid Sky Q and Sky + HD solution?</h2>
      <hr>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="continueHybrid = false; pickAccount = true"><i class="fa fa-check" style="color:white;"></i> YES </button>
        <button class="btn btn-danger" routerLink="/process23"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--STEP 3: PICK ACCOUNT-->
<div class="overlay success" *ngIf="pickAccount">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <!--<h2>{{noSelected.length}} Account(s) Cancelled</h2>-->

      <h2>Please pick account to receive Sky Q Minis</h2>
      <hr>
      <div *ngFor="let subs of customerSubscribers" class="text-left">
        <h3><input type="radio" [(ngModel)]="picked"  name="picked" [value]="subs" (change)="pick(subs)"> {{subs.surname}} - {{subs.postcode}} - {{subs.viewingCardNumber}}</h3>
      </div>
      <hr>
      <div class="overlayButtons m-t-lg">
        <button class="btn btn-success" (click)="noneOfThese()"> None of these </button>
        <button class="btn btn-success" (click)="proceed16()"> Next </button>
      </div>
    </div>
  </div>
</div>

<!--STEP 4 INSERT CARD INTO SET TOP BOX-->
<div class="overlay success" *ngIf="insert">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 >Please advise customer to insert card into Set Top Box.</h2>
      <hr>
      <h2>Is viewing card OK on Sky Q Minis?</h2>

      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"><i class="fa fa-check" style="color:white;"></i> YES </button>
        <button class="btn btn-danger" (click)="insertProceed()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>



<!--JOIN EXIT-->
<div class="overlay " *ngIf="joinExit">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="text-left steps">
        <h2 class="m-t-n-xs yellow">Please follow these steps:</h2>
        <hr>
        <ul>
          <li>
            <strong>1.Click below to go back to the account.</strong>
          </li>
          <li>
            <strong>
              3.Click on <a class="btn btn-primary m-l-xs"><i class="fa fa-user"></i> View customer</a>
              and then  Join Existing Card.
            </strong>
          </li>
          <li>
            <strong>4.Add entitlements to the new account created.</strong>
          </li>
        </ul>
        <hr>
        <div class="overlayButtons m-t-lg" >
          <button class="btn btn-danger m-l-xs" routerLink="/viewSubscriber/{{subscriber.id}}">
            Back to account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <!--<h2> {{error.status}}</h2>-->
      <h2>{{error.field}} {{error.message1}}</h2>
      <h2>{{error.message2}}</h2>
      <h3>{{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Resend All Personal Bits sent!</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}" (click)="success = false"> OK </button>
      </div>
    </div>
  </div>
</div>
