<!-- ------------------------------------------------
PROCESS 5: Existing viewing card with new set top box
-------------------------------------------------- -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Home</a>
      </li>
      <li class="active">
        <strong>Existing viewing card with new set top box</strong>
      </li>
    </ol>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/search"> OK </button>
      </div>
    </div>
  </div>
</div>
