<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <p>{{error.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null; goBack()"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--ERROR GETTING CARD TOKENS-->
<div class="overlay err" *ngIf="cardError != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{cardError.message}}</h2>
      <h3>{{cardError.message2}}</h3>
      <!--<h2> Please try again later.</h2>-->
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="cardError = null; goBack()" > OK </button>
      </div>
    </div>
  </div>
</div>
