.red{
  color: #e64247;
}
.subscribersTable td,
.subscriptionsTable td,
.PPVsTable td{
}
.BETable th{
  padding: 5px;
}

.subscribersTable h4{
  text-transform: uppercase;
}
.subscribersTable table h4{
  text-transform: inherit;
}
.ibox-tools input {
  padding: 0 14px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}

.billingEntriesPanel th,
.billingEntriesPanel td{
  color: #505b66;
  border-bottom: 1px solid #e9e9e9;

}
.billingEntriesPanel th,
.billingEntriesPanel table tr td{
  padding: 5px 10px!important;
}

.billingEntriesPanel td .table td{
  /*padding: 8px  20px 5px 10px;*/
  border-bottom: 1px solid #e7eaec;
}
.activeStatus{
  padding: 5px 10px;
  color: #fff !important;
  background: #4cc37d;
  border: 2px solid #4cc37d;
  border-radius: 50px;
  text-align: center;
  width: 90px;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
  /*font-weight: 600 !important;*/
}
.inactiveStatus{
  padding: 5px 10px;
  color: #fff !important;
  background: #e64247;
  border: 2px solid #e64247;
  border-radius: 50px;
  text-align: center;
  width: 90px;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.35);
  /*font-weight: 600 !important;*/
}

.project-list th,
.project-list table tr td{
  padding: 12px 5px;
}
.project-list th h4{
  color: #505b66;
}



.activeView{
  background: #f1f1f1;
}
.list-group-item:focus{
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


.subSelected{
  /*background: rgba(255, 191, 0, 0.18);*/
  /*box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.11);*/
  /*border-left: 3px solid blue;*/
}

.progress {
  background-color: #e7eaec;
}

.TRTable td, .TRTable th, .BETable th, .PPVsTable th {
  border-bottom: 1px solid #efefef;
  /*padding: 10px;*/
}
.TRTable tr td .table td{
  padding: 10px 10px !important;
}

.my-pagination /deep/ .ngx-pagination li.current{
  /*border: 1px solid #e3e3e3;*/
  color: #0570e2;
  background: white;
}
.my-pagination /deep/ .ngx-pagination li {
  margin-right: 0 !important;
  float: left;

}
.my-pagination /deep/ .ngx-pagination{
  padding: 0;
}

.my-pagination /deep/  .ngx-pagination a,
.my-pagination /deep/  .ngx-pagination button {
  color: #505b66;
}

.description-clamp a{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.description-clamp a:hover{
  -webkit-line-clamp: 6;
}

/deep/ .mat-tooltip {
  font-size: 12px;
  max-width: 160px !important;
}

.arrowShow {
  padding: 12px;
  color: #999;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: white;
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}
.arrowShow:hover {
  padding-right: 16px;
}

.list-group-item {
  border-radius:  0 !important;
}

.subscribersTable label {
  text-transform: uppercase;
}


.nav.nav-tabs li {
  background: none !important;
}
.nav.nav-tabs a {
  display: inline-block;
  margin: 0;
  padding: 15px;
  text-overflow: ellipsis;
  float: left;
  font-size: 16px;
  font-weight: 400;
  color: rgba(46, 61, 73, 0.51);
}
.nav.nav-tabs li.active a{
  color: #2e3d49;
}
.tabs-container {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.12);
}
.tabs-container .panel-body {
  border: none;
  border-left: 1px solid #e8eaec;
}
.tab-content .ibox-content{
  border-top: none !important;
}

