<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span>
                            <!--<img alt="image" class="img-circle" width="75px"  src="http://c1.nrostatic.com/sites/default/files/uploaded/donald-trump-incapable-of-embarrassment-r_0.jpg">-->
                        </span>
                        <span class="block m-t-xs"> Example user </span>
                        <span class="text-muted text-xs block">Example <b class="caret"></b> </span>
                    </a>
                    <ul class="dropdown-menu  fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element ">
                  <!--MAS-->
                  <img src="../assets/img/1234.png" width="30px" alt="">
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('newsubscriber') || activeRoute('search') && !activeRoute('advanced-search') }"  >
                <a [routerLink]="['/search']" ><i class="fa fa-search" aria-hidden="true" title="Search"></i></a>
            </li>
            <li [ngClass]="{active: activeRoute('recent-accounts') }" >
              <a [routerLink]="['/recent-accounts']" title="Recent Accounts"><i class="fa fa-list-ul" aria-hidden="true" ></i></a>
            </li>
            <li *ngIf="role == 'admin' || role == 'supervisor'" [ngClass]="{active: activeRoute('advanced-search') }"  >
              <a [routerLink]="['/advanced-search']" title="Advanced Search"><img src="../assets/img/binoculars.png" width="23px" style="margin-left: -3px"></a>
            </li>
            <li *ngIf="role == 'admin'" [ngClass]="{active: activeRoute('stats') }">
              <a [routerLink]="['/stats']" title="Stat Reports"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
            </li>
            <li *ngIf="role == 'admin' || role == 'supervisor'">
              <a (click)="helpers.reset()" title="Reset Route"><i class="fa fa-refresh" aria-hidden="true"></i></a>
            </li>

            <!--<li *ngIf="role == 'admin'">-->
              <!--<a (click)="helpers.resetSession()" title="Delete Session Storage"><i class="fa fa-eraser" aria-hidden="true"></i></a>-->
            <!--</li>-->
            <li *ngIf="role == 'admin'" style="position: fixed; bottom: 60px; z-index: 1;" >
              <a [routerLink]="['/admin-panel']" title="Admin Panel"><i class="fa fa-cogs"></i> </a>
            </li>
            <li style="position: fixed; bottom: 0; z-index: 0;">
                <a [routerLink]="['/login']"  (click)="logOut()" title="Log Out"><i class="fa fa-sign-out"></i> </a>
            </li>
        </ul>
    </div>
</nav>
