<!-- ------------------------------
PROCESS 20: Change Pin and Ratings
------------------------------- -->


<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Home</a>
      </li>
      <li class="active">
        <strong>Edit PIN and Ratings</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content"  *ngIf="subscriber">
  <div class="  fadeIn" >
    <div class="col-md-6 col-md-offset-3 ">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>Edit PIN and Ratings</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-12" *ngIf="pinRatingsForm">
            <form [formGroup]="pinRatingsForm">
              <h2>Please select one option:</h2>
              <div class="radio m-t-md">
                <label><input type="radio" value="U" name="rating" formControlName="rating"><strong>Pin on U rated content or greater</strong></label>
              </div>
              <div class="radio">
               <label><input type="radio" value="PG" name="rating" formControlName="rating"><strong>Pin on PG rated content or greater</strong></label>
              </div>
              <div class="radio">
               <label><input type="radio" value="12" name="rating" formControlName="rating" ><strong>Pin on 12 rated content or greater</strong></label>
              </div>
              <div class="radio">
                <label><input type="radio" value="15" name="rating" formControlName="rating" ><strong>Pin on 15 rated content or greater</strong></label>
              </div>
              <div class="radio">
                <label><input type="radio" value="18" name="rating" formControlName="rating" ><strong>Pin on 18 rated content</strong></label>
              </div>
              <hr>
              <label ><h2>Please insert new PIN Code:</h2></label>
              <input type="text" class="form-control" style="width: 120px" formControlName="pin" maxlength="4">
              <div *ngIf="pinRatingsForm.controls['pin'].invalid  && (pinRatingsForm.controls['pin'].touched || submitted)" class="error">
                Postcode is required. (No special characters allowed).
              </div>
            </form>
            <hr>
          </div>
          <div class="col-md-12">
            <button class="btn btn-danger"  routerLink="/process19" >Back</button>
            <button class="btn btn-primary" (click)=" processForm()">Proceed</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/search"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>The ratings have been successfully changed!</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="success = false; goBack();"> OK </button>
      </div>
    </div>
  </div>
</div>
