<div class="recoverWrapper">
  <div class="container">
    <div class="box" *ngIf="showPage">
      <div class="recoverBox text-left">
        <h1> New Password</h1>
        <form [formGroup]="form" autocomplete="off">
          <div class="form-group">
            <label class="label-control">Please enter a new Password</label>
            <input type="text" class="form-control" placeholder="Password" name="email" formControlName="password">

          </div>
          <div class="form-group m-t-xs">
            <input type="text" class="form-control" placeholder="Confirm password" name="email" formControlName="passwordConfirm">

             <div *ngIf="errorPasswordMatch && submitted" class="error ">
              Passwords don't match
              </div>
              <div *ngIf="form.invalid && submitted" class="error ">
                <ul class="m-n" style="padding: 0;">
                  <li *ngIf="(form.controls['password'].hasError('required')) ">- Password is required </li>
                  <li *ngIf="(form.controls['password'].hasError('maxlength')) ">- Max. length 255 characters </li>
                  <li *ngIf="(form.controls['password'].hasError('minlength')) " >- Min. length 8 characters </li>
                  <li *ngIf="(form.controls['password'].hasError('forceSpecialChar')) ">- At least 1 special character is required. </li>
                </ul>
              </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary m-t-sm" (click)="resetPassword()">Reset Password</button>
            <div class="m-t-xs backLogin" routerLink="/">
              <small ><i class="fa fa-arrow-left"></i> Go login page</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ---
DIALOG
----- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{error.message}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  routerLink="/"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>{{success.message}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"   routerLink="/"> OK </button>
      </div>
    </div>
  </div>
</div>
