<script src="changePackages.component.ts"></script>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li>
        <a>View Account</a>
      </li>
      <li class="active">
        <strong *ngIf="type == 1">Change Packages</strong>
        <strong  *ngIf="type == 2">OPPV Purchase</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="col-lg-6 " >
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5 *ngIf="type == 1" >Add packages</h5>
        <h5 *ngIf="type == 2" >Available OPPV Events</h5>
        <div class="ibox-tools">
          <span class="pull-right m-t-n-sm" style="display: inline-flex;">
            <input type="text" placeholder="Filter..." class="form-control" [(ngModel)]="filterValue" (keyup)="filter()" *ngIf="this.type == 1">
            <input type="text" placeholder="Filter..." class="form-control" [(ngModel)]="filterValue" (keyup)="filterOPPV()" *ngIf="this.type == 2">
            <button class="btn btn-white" [ngClass]="{'active' : view1}"  type="button" (click)="view1 = true; view2 = false;"> <i class="fa fa-th-large"></i></button>
            <button class="btn btn-white " [ngClass]="{'active' : view2}"  type="button" (click)="view2 = true; view1 = false;"><i class="fa fa-list-ul"></i></button>
          </span>
        </div>
      </div>
      <div class="ibox-content ">
        <h3 *ngIf="type == 1"><a>+ Double click to add packages</a></h3>
        <h3 *ngIf="type == 2"><a>+ Double click to purchase OPPV event</a></h3>
        <!--<div class='row m-t-md' [dragula]='"bag"' [dragulaModel]='PGFound'>-->
        <div class='row m-t-md' >
          <h2 *ngIf="PGFound.length == 0 && !pleaseWait" class="m-t-xl" style="margin: 0 auto; display: table; color: #c1c1c1; padding-top: 20px ">
            <span *ngIf="type == 1">No more available packages.</span>
            <span *ngIf="type == 2"> No more available OPPV Events. </span>
          </h2>
          <h2 *ngIf="pleaseWait" class="m-t-xl" style="margin: 0 auto; display: table; color: #c1c1c1; padding-top: 20px ">
            <img src="../assets/img/img_loading.gif" width="60px" style="margin-top: -7px; margin-right: -15px;">Please wait...</h2>
          <div [ngClass]="{'col-xs-12' : view2, 'col-xs-6 col-md-4 col-lg-6': view1}" *ngFor="let pG of PGFound; let i = index" >
            <!--NOT OPPV SELLABLES-->
            <div class="ibox" (dblclick)="selectPackage(pG, i)"  [ngClass]="{'packActive' : isSelected(pG)[0]}" style="cursor: pointer;  z-index: 1; position: relative;" *ngIf="!_array.isArray(pG)">
              <div class="ibox-content product-box" >
                <div class="product-desc">
                  <div class=" m-t-xs product-name productDescription">
                    <!--{{pG.titleLabel}} <br>-->
                   <strong>{{pG.titleDescription}}</strong>
                  </div>
                  <div *ngIf="pG.pricing.oneOff != null" class="m-t-xs product-price"> {{pG.pricing.oneOff.price | currency : this.pG.currencyCode : 'symbol'}} <span *ngIf="pG.pricing.oneOff.indicative">(indicative)</span></div>
                  <div *ngIf="pG.pricing.subscription != null" class="m-t-xs product-price">
                    <ng-container *ngIf="pG.pricing.subscription.initialAmount != 'NA'; else NA">
                      {{pG.pricing.subscription.initialAmount | currency : this.pG.currencyCode : 'symbol'}} now, covering {{pG.pricing.subscription.initialPeriod}}
                      <ng-container *ngIf="pG.pricing.subscription.contractLength != pG.pricing.subscription.initialPeriod">
	                      + <br> {{pG.pricing.subscription.recurringAmount | currency : this.pG.currencyCode : 'symbol'}} every {{pG.pricing.subscription.recurringPeriod}}
	                      <span *ngIf="pG.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                      <span *ngIf="pG.pricing.subscription.contractLength != 'infinite'"> for {{pG.pricing.subscription.contractLength}}</span>
                      </ng-container>
                    </ng-container>
                    <ng-template #NA>
                      Price info not available.
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <!--OPPV SELLABLES-->
            <div class="ibox"  (dblclick)="selectAllOPPV(i)"   style="cursor: pointer;  z-index: 1; position: relative;" *ngIf="_array.isArray(pG) && pG.length > 0 ">
              <div class="ibox-content product-box OPPV" >
                <div class="product-desc">
                  <div class=" m-t-xs product-name productDescription" style="-webkit-box-orient: horizontal;">
                    <div class="row">
                      <div class="col-xs-12">
                        <span style="color: #0570e2" *ngIf="pG[0].name.includes('IPPV_OPPV')">IPPV_OPPV EVENT</span>
                        <span style="color: #0570e2" *ngIf="!pG[0].name.includes('IPPV_OPPV')">OPPV EVENT</span>
                      </div>
                      <div class="col-xs-6 ">
                       <small> Valid From: {{pG[0].validFrom * 1000 | date : 'dd-MMM-yyyy'}}</small>
                      </div>
                      <div class="col-xs-6">
                        <small> Valid To:  {{pG[pG.length-1].validFrom * 1000 | date : 'dd-MMM-yyyy'}}</small>
                      </div>
                      <div class="col-xs-12 m-t-xs">
                        <div *ngFor="let OPPV of pG, let ind = index" >
                          <small>- {{OPPV.titleDescription}}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="fadeLayer"></div>
              <span class="angle" (click)="showOPPVs(i)">
                <i class="fa fa-angle-down" aria-hidden="true" *ngIf="showCards != i"></i>
                <i class="fa fa-angle-up" aria-hidden="true" *ngIf="showCards == i"></i>
              </span>
            </div>
            <div *ngIf="_array.isArray(pG)">
              <div *ngFor="let OPPV of pG, let ind = index ">
                <div class="ibox"  (dblclick)="selectOPPV(OPPV, i, ind, pG)" [ngClass]="{'packActive' : isSelected(pG)[0], 'showOPPVs' : showCards == i, ' fadeIn': showCards == i}" style="cursor: pointer; position: absolute; top: 8px; left: 6px; width: 94%; z-index: 0; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0)" >
                <!--<div class="ibox" (dblclick)="selectAllOPPV(i)"  [ngClass]="{'packActive' : isSelected(pG)[0], 'showOPPVs' : showCards == i, ' fadeIn': showCards == i}" style="cursor: pointer; position: absolute; top: 8px; left: 6px; width: 94%; z-index: 0; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0)" >-->
                  <div class="ibox-content product-box">
                    <div class="product-desc">
                      <div class=" m-t-xs product-name productDescription">
                        <strong>{{OPPV.titleDescription}}</strong>
                      </div>
                      <div *ngIf="OPPV.pricing.oneOff != null" class="m-t-xs product-price"> {{OPPV.pricing.oneOff.price | currency : this.OPPV.currencyCode : 'symbol'}} <span *ngIf="OPPV.pricing.oneOff.indicative">(indicative)</span></div>
                      <div *ngIf="OPPV.pricing.subscription != null" class="m-t-xs product-price">
                        {{OPPV.pricing.subscription.initialAmount | currency : this.OPPV[OPPV.length -1].currencyCode : 'symbol'}} now, covering {{OPPV.pricing.subscription.initialPeriod}}
                        <ng-container *ngIf="OPPV.pricing.subscription.contractLength != OPPV.pricing.subscription.initialPeriod">
	                        + <br> {{OPPV.pricing.subscription.recurringAmount | currency : this.OPPV.currencyCode : 'symbol'}} every {{OPPV.pricing.subscription.recurringPeriod}}
	                        <span *ngIf="OPPV.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                        <span *ngIf="OPPV.pricing.subscription.contractLength != 'infinite'"> for {{OPPV.pricing.subscription.contractLength}}</span>
	                    </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title" *ngIf="subscriber">
        <h5><i class="fa fa-cubes"></i>
          {{subscriber.title}} {{subscriber.surname}}
          <span *ngIf="type == 1">Packages</span>
          <span *ngIf="type == 2">Purchases</span>
        </h5>
      </div>
      <div class="ibox-content " >
        <h3 *ngIf="type == 1"><a>- Double click to remove packages</a></h3>
        <h3 *ngIf="type == 2"><a>- Double click to remove OPPV event</a></h3>
        <div class='row m-t-md' *ngIf="true" style=" min-height: 100px">
          <h2 *ngIf="addEnt.length == 0" class="m-t-xl" style="margin: 0 auto; display: table; color: #c1c1c1; padding-top: 30px ">
          <span *ngIf="type == 1">+ Double click to add Packages</span>
          <span *ngIf="type == 2">+ Double click to add OPPV events</span>
          </h2>
          <div class="col-md-6 col-lg-6" *ngFor="let ent of addEnt, let i = index" >
            <!--<div class="ibox" style="cursor: pointer;" (dblclick)="removeEntDialog(ent, i)">-->
            <div class="ibox" style="cursor: pointer;" (dblclick)="removeDialog = {pack: ent,i: i}">
              <div class="ibox-content product-box" >
                <div class="product-desc">
                  <!--ADD PACKAGES NO OPPV-->
                  <div *ngIf="!_array.isArray(ent)">
                    <div class=" m-t-xs product-name productDescription">
                        <!--{{ent.titleLabel}} <br>-->
                        <strong>{{ent.titleDescription}} </strong>
                      <div class="row m-t-xxs" *ngIf="ent.validTo && ent.titleDescription.toLowerCase().includes('last orders')">
                        <!---
                         ONLY for PORTLAND
                        -->
                        <div class="col-xs-6" >
                          <small> Valid From:  {{(ent.validTo - globals.ONE_DAY_SECONDS) * 1000  | date : 'dd-MMM-yyyy'}}</small>
                        </div>
                        <div class="col-xs-6" >
                          <small> Valid To:  {{ent.validTo * 1000 | date : 'dd-MMM-yyyy'}}</small>
                        </div>
                      </div>
                    </div>


                    <div *ngIf="ent.pricing.oneOff != null" class="m-t-xs product-price"> {{ent.pricing.oneOff.price | currency : this.ent.currencyCode : 'symbol'}} <span *ngIf="ent.pricing.oneOff.indicative">(indicative)</span></div>
                    <div *ngIf="ent.pricing.subscription" class="m-t-xs product-price">
                      <ng-container *ngIf="ent.pricing.subscription.initialAmount != 'NA'; else NA">
                        {{ent.pricing.subscription.initialAmount | currency : this.ent.currencyCode : 'symbol'}} now, covering {{ent.pricing.subscription.initialPeriod}}
                        <ng-container *ngIf="ent.pricing.subscription.contractLength != ent.pricing.subscription.initialPeriod">
	                        + <br> {{ent.pricing.subscription.recurringAmount | currency : this.ent.currencyCode : 'symbol'}} every {{ent.pricing.subscription.recurringPeriod}}
	                        <span *ngIf="ent.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                        <span *ngIf="ent.pricing.subscription.contractLength != 'infinite'"> for {{ent.pricing.subscription.contractLength}}</span>
	                    </ng-container>
                      </ng-container>
                      <ng-template #NA>
                        Price info not available.
                      </ng-template>
                    </div>
                  </div>
                  <!--ADD PACKAGES OPPV-->
                  <div *ngIf="_array.isArray(ent)" class="OPPV">
                    <div class=" m-t-xs product-name productDescription" style="-webkit-box-orient: horizontal;">
                      <div class="row">
                        <div class="col-xs-12">
                          <span style="color: #0570e2" *ngIf="ent[0].name.includes('IPPV_OPPV')">IPPV_OPPV EVENT</span>
                          <span style="color: #0570e2" *ngIf="!ent[0].name.includes('IPPV_OPPV')">OPPV EVENT</span>
                        </div>
                        <div class="col-xs-6 ">
                          <small> Valid From: {{ent[0].validFrom * 1000 | date : 'dd-MMM-yyyy'}}</small>
                        </div>
                        <div class="col-xs-6">
                          <small> Valid To:  {{ent[ent.length-1].validFrom * 1000 | date : 'dd-MMM-yyyy'}}</small>
                        </div>
                        <div class="col-xs-12 m-t-xs">
                          <div *ngFor="let OPPV of ent" >
                            <small>- {{OPPV.titleLabel}}</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="fadeLayer"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="min-height: 0;">
          <div class="col-md-12">
            <hr>
            <button class="btn btn-danger" routerLink="/viewSubscriber/{{subscriber.id}}">Back</button>
            <button class="btn btn-primary"    *ngIf="type == 1" (click)="addedRemovedPackages()">Update Packages</button>
            <button class="btn btn-primary"  *ngIf="type == 2" (click)="addedRemovedPackages()">Purchase OPPV</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<div class="overlay info" *ngIf="previewDialog">
  <div class="overlayBox" style="min-width: 50% !important; padding: 20px 30px; display: inline-table">
    <div class="overlayContent text-center m-b-lg" style="display: inline-block; width: 100%;">
      <div class="col-md-12">
        <h2 *ngIf="type == 1">Packages Preview </h2>
        <h2 *ngIf="type == 2">OPPV Events Preview </h2>
        <hr>
      </div>
      <!--ADDED PACKAGES-->
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-6 text-left">
            <h4 *ngIf="type == 1" class="blue">ADDED PACKAGES</h4>
            <h4 *ngIf="type == 2" class="blue">ADDED OPPV EVENTS</h4>
          </div>
          <div class="col-xs-3 text-left">
            <h4 class="blue">DISCOUNT</h4>
          </div>
          <div class="col-xs-3 text-left">
            <h4 *ngIf="type == 1" class="blue">OPPV Validation</h4>
            <h4 *ngIf="type == 2" class="blue">OPPV Validation</h4>
          </div>
        </div>
        <div style="max-height: 300px; width: 100%;  overflow-y: scroll;" id="addedPackages"> <!--overflow-y: scroll;-->
          <div class="col-xs-12 m-t-xs" *ngFor="let added of packAdded; let i = index" >
            <div class="col-xs-6 text-left">
              <div  class="ibox ">
                <div class="ibox-content product-box">
                  <div class="product-desc" style="min-height: 110px;">
                    <!--NOT OPPV ARRAY ADDED-->
                    <div *ngIf="!_array.isArray(added)">
                      <div class=" m-t-xs product-name">
                        {{added.titleDescription}} <br>
                      </div>
                      <div *ngIf="added.pricing.oneOff != null && added.validated == null" class="m-t-xs product-price"> {{added.pricing.oneOff.price | currency : this.added.currencyCode : 'symbol'}}
                        <span *ngIf="added.pricing.oneOff.indicative ">(indicative)</span>
                      </div>
                      <div class="m-t-xs product-price"  *ngIf="added.validated != null">
                        <!--PIN:  <span class="m-r-md blue">{{added.pin}}  </span>-->
                        Price: <span class="m-r-md blue"> {{added.price | currency : subscriber.currencyCode : 'symbol' }} </span>
                        Ind Spend Limit:
                        <span class="blue" *ngIf="added.individualSpendLimit != 655.35">{{added.individualSpendLimit | currency : subscriber.currencyCode : 'symbol'}}</span>
                        <span class="blue" *ngIf="added.individualSpendLimit == 655.35">Not set</span>
                      </div>
                      <div *ngIf="added.pricing.subscription != null" class="m-t-xs product-price">
                        {{added.pricing.subscription.initialAmount | currency : this.added.currencyCode : 'symbol'}} now, covering {{added.pricing.subscription.initialPeriod}}
                        <ng-container *ngIf="added.pricing.subscription.contractLength != added.pricing.subscription.initialPeriod">
	                        + <br> {{added.pricing.subscription.recurringAmount | currency : this.added.currencyCode : 'symbol'}} every {{added.pricing.subscription.recurringPeriod}}
	                        <span *ngIf="added.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                        <span *ngIf="added.pricing.subscription.contractLength != 'infinite'"> for {{added.pricing.subscription.contractLength}}</span>
	                    </ng-container>
                      </div>
                    </div>
                    <!--OPPV ARRAY ADDED-->
                    <div *ngIf="_array.isArray(added)" class="OPPV">
                      <div class=" m-t-xs product-name productDescription" style="-webkit-box-orient: horizontal;">
                        <div class="row">
                          <div class="col-xs-12">
                            <span style="color: #0570e2" *ngIf="added[0].name.includes('IPPV_OPPV')">IPPV_OPPV EVENT</span>
                            <span style="color: #0570e2" *ngIf="!added[0].name.includes('IPPV_OPPV')">OPPV EVENT</span>
                          </div>
                          <div class="col-xs-6 ">
                            <small> Valid From: {{added[0].validFrom * 1000 | date : 'dd-MMM-yyyy'}}</small>
                          </div>
                          <div class="col-xs-6">
                            <small> Valid To:  {{added[added.length-1].validFrom * 1000 | date : 'dd-MMM-yyyy'}}</small>
                          </div>
                          <div class="col-xs-12 m-t-xs">
                            <div *ngFor="let OPPV of added" >
                              <small>- {{OPPV.titleLabel}}</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="fadeLayer"></div>
                    </div>
                  </div>
                  <div class="product-name" style="padding-bottom: 10px; padding-top: 10px; background: #f9f9f9; height: 40px;"  *ngIf="added.validated != null && _array.isArray(added)">
                    <!--PIN: <span class="m-r-md blue">{{added.pin}}  </span>-->
                    Price: <span class="m-r-md blue">{{added.price | currency : subscriber.currencyCode : 'symbol'}} </span>
                    Ind Spend Limit:
                    <span class="blue" *ngIf="added.individualSpendLimit != 655.35">{{added.individualSpendLimit | currency : subscriber.currencyCode : 'symbol'}}</span>
                    <span class="blue" *ngIf="added.individualSpendLimit == 655.35">Not set</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3 text-left">
              <span class="input-group m-t-lg">
                   <span class="input-group-addon" *ngIf="subscriber.currencyCode == 'EUR'" >€</span>
                   <span class="input-group-addon" *ngIf="subscriber.currencyCode == 'GBP'" >£</span>
                   <input type="text"  class="form-control " [(ngModel)]="discount[i]"  placeholder="Enter discount..." (keyup)="discountValidation(discount[i], i)">
              </span>
              <span class="error pull-right" style="width: 100%;" *ngIf="invalidDiscount[i]">Invalid discount value</span>
            </div>

            <!--IF ADDED OPPV ARRAY-->
            <div class="col-xs-3 text-left" *ngIf="_array.isArray(added)">
              <button *ngIf="_array.isArray(added) && added.validated == null" class="btn btn-primary m-t-lg" (click)="validateOPPVevent(i)">Validate OPPV Event</button>
              <span *ngIf="added.validated != null" class=" m-t-lg success"  style="display: inline-block" (click)="validateOPPVevent(i)"><i class="fa fa-check"></i> <strong>Validated</strong></span>
            </div>

            <!--IF ADDED NOT OPPV ARRAY-->
            <div class="col-xs-3 text-left" *ngIf="!_array.isArray(added)">
              <!--IF SINGLE OPPV-->
              <div *ngIf="added.pricing.oneOff != null">
                <button *ngIf="added.pricing.oneOff.indicative && added.validated == null" class="btn btn-primary m-t-lg" (click)="validateOPPVevent(i)">Validate OPPV Event</button>
                <span *ngIf="added.validated != null" class="m-t-lg success" style="display: inline-block" (click)="validateOPPVevent(i)"><i class="fa fa-check"></i> <strong>Validated</strong></span>
              </div>

              <!--IF NOT OPPV, Schedule cancellations -->
              <div *ngIf="type == 1" class="m-t-lg m-l-sm"><strong >Not Applicable</strong> </div>
              <!--<div *ngIf="type == 1" class=" ">-->
                <!--<div class="input-group">-->
                  <!--<span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>-->
                  <!--<ng-datepicker [(ngModel)]="added.date"  [options]="options" class="inline" aria-describedby="basic-addon1" ></ng-datepicker>-->
                <!--</div>-->
                <!--<div class="m-t-xs">-->
                  <!--<select class="form-control" (change)="addScheduleCancellationReason(added, $event)">-->
                    <!--<option value="" disabled selected>Reason</option>-->
                    <!--<option value="R1">Reason 1</option>-->
                    <!--<option value="R2">Reason 2</option>-->
                    <!--<option value="R£">Reason 3</option>-->
                  <!--</select>-->
                <!--</div>-->
                <!--<div>-->
                  <!--<textarea class="form-control m-t-xs" placeholder="Notes..." style="max-width: 100%" (keyup)="addScheduleCancellationNote(added, $event)"></textarea>-->
                <!--</div>-->
              <!--</div>-->
            </div>

          </div>
        </div>
        <div class="col-xs-12 text-left" *ngIf="packAdded.length == 0">
          <h3 *ngIf="type == 1"><strong class="m-l-lg">No packages added</strong></h3>
          <h3 *ngIf="type == 2"><strong class="m-l-lg">No OPPV events added</strong></h3>
        </div>
      </div>

     <!--REMOVED PACKAGES-->
      <div class="">
        <div class="col-xs-12 text-left">
          <hr>
        </div>
        <div class="col-xs-6 text-left">
          <h4 *ngIf="type == 1" class="blue">REMOVED PACKAGES</h4>
          <h4 *ngIf="type == 2" class="blue">REMOVED OPPV EVENTS</h4>
        </div>
        <div class="col-xs-6 text-left">
          <h4 *ngIf="type == 1" class="blue">SCHEDULE CANCELLATION</h4>
        </div>
        <div class="col-md-12"  *ngFor="let ent of packRemoved; let i = index;" style="max-height: 300px; width: 100%;">
          <div class="col-xs-6 text-left">
            <div  class="ibox packRemoved">
              <div class="ibox-content product-box"  >
                <div class="product-desc" style="min-height: 110px;">
                  <div class=" m-t-xs product-name">
                    {{ent.titleDescription}} <br>
                    <div class="row m-t-xxs" *ngIf="ent.validTo && ent.titleDescription.toLowerCase().includes('last orders')">
                      <!------------------------
                        ONLY for PORTLAND
                       -------------------------->
                      <div class="col-xs-6" >
                        <small> Valid From:  {{(ent.validTo - globals.ONE_DAY_SECONDS) * 1000  | date : 'dd-MMM-yyyy'}}</small>
                      </div>
                      <div class="col-xs-6" >
                        <small> Valid To:  {{ent.validTo * 1000 | date : 'dd-MMM-yyyy'}}</small>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="ent.pricing.oneOff != null" class="m-t-xs product-price"> {{ent.pricing.oneOff.price | currency : this.ent.currencyCode : 'symbol'}}
                    <span *ngIf="ent.pricing.oneOff.indicative">(indicative)</span>
                  </div>
                  <div *ngIf="ent.pricing.subscription != null" class="m-t-xs product-price">
                    <ng-container *ngIf="ent.pricing.subscription.initialAmount != 'NA'; else NA">
                      {{ent.pricing.subscription.initialAmount | currency : this.ent.currencyCode : 'symbol'}} now, covering {{ent.pricing.subscription.initialPeriod}}
                      <ng-container *ngIf="ent.pricing.subscription.contractLength != ent.pricing.subscription.initialPeriod">
	                      + <br> {{ent.pricing.subscription.recurringAmount | currency : this.ent.currencyCode : 'symbol'}} every {{ent.pricing.subscription.recurringPeriod}}
	                      <span *ngIf="ent.pricing.subscription.contractLength == 'infinite'"> onward</span>
	                      <span *ngIf="ent.pricing.subscription.contractLength != 'infinite'"> for {{ent.pricing.subscription.contractLength}}</span>
	                  </ng-container>
                    </ng-container>
                    <ng-template #NA>
                      Price info not available.
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 text-left" *ngIf="!ent.titleLabel.toLowerCase().includes('ppnreg') && type == 1 && !subscriber.vip && !subscriptionDetected && ent.productTypeStats.toLowerCase().includes('subscription')">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6" style="padding-right: 5px !important;">
                <div class="input-group ">
                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                  <ng-datepicker [(ngModel)]="ent.date"  [options]="ent.options" class="inline" aria-describedby="basic-addon1" ></ng-datepicker>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6"  style="padding-left: 0 !important; padding-right: 0 !important;">
                <small class="m-l-sm blue" style="display: inline-block; padding: 5px 0;" *ngIf="ent.earliestInThePast == null" >
                  <i class="fa fa-info-circle m-r-xs"
                     *ngIf="ent.options"
                      matTooltip="Minimum Term Expires: {{ent.earliestCancellation * 1000| date: 'dd-MM-yyyy'}}  &#13;  Notice Period: {{cancellationNoticePeriod}} days" [matTooltipClass]="'my-tooltip'"></i>
                  <input type="checkbox" [(ngModel)]="ent.checked"
                         (click)="overwriteEnt = {
                                      ent: ent,
                                      checked: $event.target.checked,
                                      index: i
                                  };
                                  checkIfAdmin();"
                  >  Void Minimum Term
                </small>
                <small class="m-l-sm blue" style="display: inline-block; padding: 5px 0;" *ngIf="ent.earliestInThePast != null" >
                  <i class="fa fa-info-circle m-r-xs"
                     *ngIf="ent.options"
                     matTooltip="Minimum Term Expires: {{ent.earliestInThePast * 1000| date: 'dd-MM-yyyy'}}  &#13;  Notice Period: {{cancellationNoticePeriod}} days" [matTooltipClass]="'my-tooltip'"></i>

                </small>
              </div>

            </div>


            <div class="m-t-xs">
              <select class="form-control" (change)="addScheduleCancellationReason(ent, $event)">
                <option value="" disabled selected>Reason</option>
                <option value="{{cOption}}" *ngFor="let cOption of cancellationOptions">{{cOption}}</option>
              </select>
            </div>
            <div>
              <textarea class="form-control m-t-xs" placeholder="Notes..." style="max-width: 100%" (keyup)="addScheduleCancellationNote(ent, $event)"></textarea>
            </div>
          </div>
          <div class="col-xs-6 text-left" *ngIf="!ent.productTypeStats.toLowerCase().includes('subscription') ">
            <div class="m-t-lg">
              <strong >Not Applicable</strong>
            </div>
          </div>
          <div class="col-xs-6 text-left" *ngIf="!ent.titleLabel.toLowerCase().includes('ppnreg') && type == 1 && !subscriber.vip  && subscriptionDetected">
            <div class="m-t-lg">
              <strong >Not Applicable</strong>
            </div>
          </div>
        </div>
        <div class="col-xs-12 text-left" *ngIf="packRemoved.length == 0">
          <h3 *ngIf="type == 1"><strong>No packages removed</strong></h3>
          <h3 *ngIf="type == 2"><strong>No OPPV events removed</strong></h3>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="col-md-12 overlayButtons m-t-sm">
        <button class="btn btn-danger" (click)="previewDialog = false; resetValidated()"> Back</button>
        <!--<button class="btn btn-success m-l-xs" >-->
          <!--Calculate Billing</button>-->
        <button class="btn btn-success m-l-xs"   *ngIf="type == 1" (click)="scheduleCancellations()"> Proceed</button>
        <button class="btn btn-success m-l-xs"  *ngIf="type == 2" (click)="allOPPVvalidatedCheck()"> Proceed</button>
      </div>
    </div>
  </div>
</div>

<!--REMOVE DIALOG-->
<div class="overlay info" *ngIf="removeDialog">
  <div class="overlayBox">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 *ngIf="type == 1">Are you sure you want to Remove this package?</h2>
      <h2 *ngIf="type == 2">Are you sure you want to Remove this OPPV event?</h2>
      <div class="overlayButtons m-t-lg" >
        <button *ngIf="type == 1" class="btn btn-success" (click)="canxAlreadyScheduled()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button *ngIf="type == 2" class="btn btn-success" (click)="removeEntitlement()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="removeDialog = false;"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<div class="overlay info" *ngIf="allOPPVvalidated">
  <div class="overlayBox">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please validate all OPPV events before proceeding.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="allOPPVvalidated = false"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--OPPV VALID ERROR MESSAGES -->
<div class="overlay err" *ngIf="errorOPPVvalid != null">
  <div class="overlayBox">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>{{errorOPPVvalid.error}}</h2>
      <div class="m-t-md text-left">
        <h3 class="yellow">Further info from sky:</h3>
        <ul style="list-style: disc; padding: 0 15px;">
          <li *ngFor="let messages of errorOPPVvalid.messages"><h3>{{messages}}</h3> </li>
        </ul>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="errorOPPVvalid = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--OPPV VALIDATE PIN-->
<div class="overlay info" *ngIf="OPPVvalidatePin != null">
  <div class="overlayBox">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>{{OPPVvalidatePin.message}}</h2>
      <h3 *ngIf="count > 0" class="yellow">Number of attempts left: {{3 - count}}</h3>
      <form class="text-center m-t-lg">
        <span class="input-group pin ">
           <span class="input-group-addon">PIN</span>
           <input type="text" class="form-control" maxlength="4" [(ngModel)]="pin" name="pin" placeholder="Enter PIN">
        </span>
      </form>
      <div class="m-t-md text-left">
        <h3 class="yellow">Further info from sky:</h3>
        <ul style="list-style: disc; padding: 0 15px;">
          <li *ngFor="let messages of OPPVvalidatePin.messages"><h3>{{messages}}</h3> </li>
        </ul>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger" (click)="OPPVvalidatePin = null" > Back</button>
        <button class="btn btn-success"  (click)="PINcheck()"> Proceed </button>
      </div>
    </div>
  </div>
</div>

<!--SUMMARY Show Success Error Panel-->
<div class="overlay info" *ngIf="showSuccessErrorPanel">
  <div class="overlayBox" style="max-width: 80%">
    <div class="overlayContent text-center">
      <h2 class="blue">SUMMARY</h2>
      <table class="table table-hover text-left m-t-md">
        <thead>
        <tr>
          <th>Type</th>
          <th>Package Name</th>
          <th>Cancellation Date</th>
          <th>Final Payment</th>
          <th>Final Payment Date</th>
          <th>STATUS</th>
        </tr>
        </thead>
        <tbody *ngIf="successErrorPanel">
        <tr *ngFor="let c of successErrorPanel">
          <td>
            <ng-container *ngIf="c.type == 'cancel'">
              <span class="red">Cancellation</span>
            </ng-container>
            <ng-container *ngIf="c.type == 'add'">
              <span class="green">Addition</span>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="c.type == 'cancel'">
              <!--<span *ngIf="c.package == 'PG_RH_PPNReg'"> {{c.package}}</span>-->
              <span *ngIf="c.package.titleDescription">{{c.package.titleDescription}}</span>
             <span *ngIf="!c.package.titleDescription">{{c.package}}</span>
            </ng-container>
            <ng-container *ngIf="c.type == 'add'">
              {{c.package}}
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="c.type == 'cancel' && c.package != 'PG_RH_PPNReg' && !subscriber.vip; else notApplicable">
              <span *ngIf="c.packageData.cancellationDate; else notApplicable">{{c.packageData.cancellationDate * 1000| date : 'dd-MM-yyyy' }}</span>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="c.response.body; else notApplicable">
              <span *ngIf="subscriber.currencyCode == 'GBP'">£</span>
              <span *ngIf="subscriber.currencyCode == 'EUR'">€</span>
              {{c.response.body['finalPayment']}}
            </ng-container>

            <ng-template #notApplicable>
              <span class="emptyUnknown">Not Applicable</span>
            </ng-template>
          </td>
          <td>
              <ng-container *ngIf="c.response.body; else notApplicable">
                <span *ngIf="c.response.body['finalPaymentTimestamp']; else notApplicable">
                  {{c.response.body['finalPaymentTimestamp'] * 1000| date : 'dd-MM-yyyy'}}
                </span>
              </ng-container>

              <ng-template #notApplicable>
                <span class="emptyUnknown">Not Applicable</span>
              </ng-template>
            </td>
          <td>
            <span [ngClass]="{'red': c.status ==  'error', 'green': c.status == 'success'}">
              {{c.status.toUpperCase()}}
            </span>
          </td>
          <td  style="max-width: 200px">
            <ng-container  *ngIf="c.status == 'error'">
              <span class="summaryErrorDetail" *ngIf="c.type == 'add'">
                {{c.response.error | errorDetail }}
              </span>
              <span class="summaryErrorDetail" *ngIf="c.type == 'cancel'">
                {{c.response.error.message | errorDetail}}
              </span>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="location.back()"> OK </button>
      </div>
    </div>
  </div>
</div>



<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h2>{{error.message}}</h2>
      <h3>{{error.message2}}</h3>
      <h3>{{error.message3}}</h3>
      <p>{{error.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--AUTH REQUIRED-->
<app-auth-required
  [requireAdmin]="requireAdmin"
  (requireAdminDialog)="requireAdmin = $event; closeDialogs() "
  (error)="authError($event); addedRemovedPackages();"
  (accessGranted)="accessGranted = $event; overwriteEarliestCancellation()"
  (authorisingUserId)="authorisedAdminUserId = $event "
>
</app-auth-required>

