<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <!--<h2>View Subscriber</h2>-->
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li class="">
        <strong>View Account</strong>
      </li>
    </ol>
  </div>
</div>


<!--<div class="wrapper wrapper-content  fadeInRight" *ngIf="subscriber" (click)="hide = !hide;">-->
<div class="wrapper wrapper-content  fadeInRight" *ngIf="subscriber" >
  <div class="container-fluid" >
    <div class="row">
      <div class="col-lg-6 ">
        <div class="ibox ibox-main float-e-margins" >
          <div class="ibox-title">
            <h5>Account Details</h5>
            <div class="pull-right">
              <div *ngIf="status">
                <div  *ngIf="status.toLowerCase() == 'active'; else noActive">
                  <span class="active" style="">{{status}}</span>
                </div>
                <ng-template #noActive>
                  <span class="inactive" style="">{{status}}</span>
                </ng-template>
              </div>
              <!--<div  *ngIf="entAwaitingActivation">-->
                <!--<span class="inactive" style="">Entitlements Awaiting Activation</span>-->
              <!--</div>-->
              <!--<div  *ngIf="!active && !entAwaitingActivation">-->
                <!--<span class="inactive" style="">INACTIVE</span>-->
              <!--</div>-->
            </div>
          </div>
          <div class="ibox-content details">
            <div class="row">
              <div class="col-md-8">
                <h2>{{subscriber.title}} {{subscriber.firstname}} {{subscriber.surname}}  {{open}}</h2>
              </div>
              <div class="col-md-4 text-right"  >
                <mat-slide-toggle
                  [checked]="subscriber.vip"
                  (change)="vipBox = true;"
                  [(ngModel)] = "subscriber.vip"
                  *ngIf="role == 'admin' || role == 'super_admin'"
                >
                  <h4><span *ngIf="vipVal" class="vip">VIP</span></h4>
                  <h4><span *ngIf="!vipVal" class="vip lightGrey">NO VIP</span></h4>
                </mat-slide-toggle>
                <h4  *ngIf="role != 'admin' && role != 'super_admin'"><span *ngIf="vipVal" class="vip">VIP</span></h4>
              </div>

            </div>
            <br>

            <div class="row">
              <div class="col-md-6">
                <h3><strong>ACCOUNT TYPE:</strong>
                  <span *ngIf="subscriber.cardHolderType == 'DTH'"> Residential </span>
                  <span *ngIf="subscriber.cardHolderType == 'COM'">Commercial</span>
                  <span *ngIf="subscriber.cardHolderType == 'RET'">Retailer</span>
                  <span *ngIf="subscriber.cardHolderType == 'CAB'">Cable</span>
                </h3>
                <h3 *ngIf="subscriber.skybox != undefined">
                  <strong>STB Type: </strong>
                  <span [ngClass]="{emptyUnknown: subscriber.skybox.skyBoxType == 'Unknown'}">{{subscriber.skybox.skyBoxType}}
                    <small *ngIf="subscriber.viewingCardId"  class="blue" style="cursor: default;" matTooltip="{{subscriber.skybox.details}} "> Details</small>
                  </span>

                </h3>
              </div>
              <div class="col-md-6">
                <h3 class=""><strong>VIEWING CARD NUMBER:</strong>
                  <span *ngIf="subscriber.viewingCardNumber != null" > {{subscriber.viewingCardNumber}}</span>
                  <span *ngIf="subscriber.viewingCardNumber == ''">Not found</span>
                  <button class="btn btn-white btn-sm m-l-xs m-t-n-md inline editVCN" (click)="editViewingCardNumber = true; newViewingCardNumber = ''" *ngIf="!CSIDisabledCheck"><i class="fa fa-edit"></i> Edit</button>
                  <button class="btn btn-white btn-sm m-l-xs m-t-n-md inline editVCN" (click)="CSIDisabled = true"  *ngIf="CSIDisabledCheck"><i class="fa fa-edit"></i> Edit</button>
                </h3>
              </div>
            </div>
            <br>
            <h4 class="m-t-md"><i class="fa fa-map-marker" aria-hidden="true"></i> ADDRESS </h4>
            <hr style="margin: 15px 0">
            <div class="row">
              <div class="col-md-6">
                <h3>{{subscriber.addressLine1 }}, </h3>
                <h3>{{subscriber.addressLine2}}</h3>
                <h3>{{subscriber.addressLine3}} <span *ngIf="subscriber.addressLine4">, {{subscriber.addressLine4}}</span></h3>
                <span *ngIf="subscriber.addressLine5"> <h3>{{subscriber.addressLine5}}</h3></span>
              </div>
              <div class="col-md-6">
                <h3><strong>Postcode:</strong> {{subscriber.postcode }}</h3>
                <h3><strong>Country:</strong> {{subscriber.countryCode}}</h3>

              </div>
              <div class="col-md-12 m-t-sm">
                <span class="btn btn-sm btn-white " routerLink="/process8"><i class="fa fa-edit"></i>Edit personal details</span>
              </div>
            </div>
            <br>
            <h4 class="m-t-md"><i class="fa fa-phone"></i> PHONE NUMBERS</h4>
            <hr style="margin: 15px 0">
            <div class="row phones">
              <div class="col-md-6">
                <h3><strong>Home Telephone:</strong> {{subscriber.homeTelNo}}<span *ngIf="subscriber.homeTelNo == ''"> Empty</span></h3>
                <h3><strong>Work Telephone:</strong> {{subscriber.workTelNo}} <span *ngIf="subscriber.workTelNo == ''"> Empty</span></h3>
              </div>
              <div class="col-md-6">
                <h3><strong>Mobile Telephone:</strong> {{subscriber.mobTelNo}}<span *ngIf="subscriber.mobTelNo == ''"> Empty</span></h3>
                <h3><strong>Set Top Box Telephone: </strong> {{subscriber.cliTelNo}}<span *ngIf="subscriber.cliTelNo == ''"> Empty</span></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12"><hr></div>
              <div class="col-md-6">
                <div>
                  <h3>
                    <strong>Billing date:</strong>
                    <span *ngIf="billingInfo.billingDate">{{billingInfo.billingDate * 1000 | date: 'dd-MMM-yyyy' }}</span>
                    <span *ngIf="!billingInfo.billingDate" class="emptyUnknown">Unknown</span>
                  </h3>
                  <h3>
                    <strong>Joined date:</strong>
                    <span *ngIf="subscriber.createdAt">{{subscriber.createdAt * 1000 | date: 'dd-MMM-yyyy'}}</span>
                    <span *ngIf="!subscriber.createdAt" class="emptyUnknown">Unknown</span>
                  </h3>
                </div>
              </div>
              <!--<div class="col-md-3">-->
                <!--<h3>-->
                <!--<strong>VIP</strong>-->
                  <!--&lt;!&ndash;<input type="radio"  name="vip" (click)="vipBox = true" [checked]="vipVal">&ndash;&gt;-->
                  <!--&lt;!&ndash;<input type="radio"  name="vip" (click)="vipBox = true" [checked]="!vipVal">&ndash;&gt;-->
                <!--<mat-slide-toggle-->
                  <!--[checked]="subscriber.vip"-->
                  <!--(change)="vipBox = true;"-->
                  <!--[(ngModel)] = "subscriber.vip"-->
                <!--&gt;-->

                <!--</mat-slide-toggle>-->
                <!--</h3>-->
              <!--</div>-->
              <div class="col-md-6 text-left" >
                <div style="display: inline-block;" >
                  <h3 style="display: inline-block;" ><strong>Credit Limit:</strong> {{subscriber.creditLimit | currency: subscriber.currencyCode : 'symbol' }}</h3>
                  <button class="btn btn-white m-l-lg btn-sm m-t-n-xs" (click)="checkIfAdmin(); changeCreditLimit = true; " *ngIf="!CSIDisabledCheck"> Change Credit Limit</button>
                  <button class="btn btn-white m-l-lg btn-sm m-t-n-xs" (click)="CSIDisabled = true;" *ngIf="CSIDisabledCheck" > Change Credit Limit</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <hr>
                <button class="btn btn-danger" routerLink="/search">Back to search</button>
                <span class="pull-right">
              <button class="btn btn-primary " routerLink="/customer/{{subscriber.customerId}}">
                <i class="fa fa-user" style="padding: 0"></i> View Customer
              </button>
              <button class="btn btn-primary hidden-xs" *ngIf="!CSIDisabledCheck; else PINDISABLED"  routerLink="/process19">
                <i class="fa fa-certificate" aria-hidden="true" style="padding: 0"></i> Pin and Ratings
              </button>
              <ng-template #PINDISABLED>
                <button class="btn btn-primary hidden-xs" (click)="CSIDisabled = true;">
                  <i class="fa fa-certificate" aria-hidden="true" style="padding: 0"></i> Pin and Ratings
                </button>
              </ng-template>
              <button class="btn btn-primary" (click)="CAoptions = !CAoptions; getHistory();" >
                <i aria-hidden="true" class="fa fa-bars" style="padding: 0"></i> CA Options
              </button>
             </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="ibox ibox-main float-e-margins" *ngIf="subscriber && !CAoptions">
          <div class="ibox-title">
            <h5> History </h5>
            <div class="ibox-tools" >
              <div class="m-r-xs text-left historyOptions" style="">
                <div class="historyCheckbox m-r-xs">
                <input type="checkbox"  [(ngModel)]="onlyAgent"  (change)="onlyAgentFilter()">
                <small style="color: #4b6175;">AGENT ENTRIES</small>
                </div>
                <div class="historyCheckbox">
                <input type="checkbox"  [(ngModel)]="hideDuplicates"  (change)="eventSearch()">
                <small style="color: #4b6175;">HIDE DUPLICATES</small>
                </div>
              </div>
              <!--<label class="control-label">Show:</label>-->
              <!--<select [(ngModel)]="eventShow" class="form-control m-r-xs" style="width: 45px; display: inline-block; height: 20px; padding: 0;" (change)="getHistoryNumber()" [disabled]="eventSearchVal.value != '' || onlyAgent">-->
                <!--<option value="5">5</option>-->
                <!--<option value="10">10</option>-->
                <!--<option value="20">20</option>-->
                <!--<option value="99999">All</option>-->
              <!--</select>-->

              <div class="btn-group">
                <!--<input  class="form-control" name="filter" placeholder="Filter..." (keyup)="trFilter()" [(ngModel)]="trFil" style="display: inline-block; max-width: 130px; height: 30px; ">-->
                <form [formGroup]="eventsFilter" style=" display: inline-block;" autocomplete="off">
                  <input class="form-control" style="display: inline-block; max-width: 130px; height: 29px; bottom: 4px; position: relative;" name="eventSearch" placeholder="Filter..." formControlName="filterValue" (keyup)="eventSearch()" #eventSearchVal>
                </form>
                <button aria-expanded="true" class="btn btn-sm btn-white dropdown-toggle pull-right m-n" data-toggle="dropdown"
                        style="height: 29px; position: relative; bottom: 4px; border-left: none; display: inline-block; padding: 3px 12px;" type="button"
                        [disabled]="eventSearchVal.value != '' || onlyAgent">
                        Show<span *ngIf="eventShow < 999999"> {{eventShow}}</span>  <span *ngIf="eventShow == 999999"> all</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li (click)="eventShow = 5; getHistoryNumber()"><a>Show 5</a></li>
                  <li (click)="eventShow = 10; getHistoryNumber()"><a>Show 10</a></li>
                  <li (click)="eventShow = 20; getHistoryNumber()"><a>Show 20</a></li>
                  <li (click)="eventShow = 999999; getHistoryNumber()"><a>Show all</a></li>
                </ul>

              </div>
              <button class="btn btn-sm btn-primary m-l-xs pull-right" style="padding: 4px 10px; position: relative; bottom: 4.3px;" (click)="addEv = true"><i class="fa fa-plus"></i> Add Note</button>

              <!--<div class="input-group-btn inline">-->
                <!--<button data-toggle="dropdown" class="btn btn-white btn-sm dropdown-toggle pull-right" type="button" aria-expanded="false">-->
                  <!--<span>5 </span> events-->
                  <!--<span class="caret"></span></button>-->
                <!--<ul class="dropdown-menu">-->
                  <!--<li ><a >10 entries</a></li>-->
                  <!--<li ><a >20 entries</a></li>-->
                  <!--<li ><a >50 entries</a></li>-->
                  <!--<li ><a >100 entries</a></li>-->
                  <!--<li ><a>All entries</a></li>-->
                <!--</ul>-->
              <!--</div>-->


              <!--<label class="control-label">Filter:</label>-->


            </div>
          </div>
          <div class="ibox-content" *ngIf="eventHistory.length <= 0">
            <h3 class="emptyUnknown">No events history found.</h3>
          </div>
          <div class="ibox-content" *ngIf="eventHistory.length > 0">
            <div  [ngClass]="{'tableOf': eventSearchVal.value != '' || eventShow > 5 || onlyAgent}" >
              <table class="table table-striped table-responsive" >
                <thead>
                <th><h3 style="padding-left: 8px"><strong>DATE</strong></h3></th>
                <th><h3 style="padding-left: 8px"><strong>EVENT / NOTE</strong></h3></th>
                <th><h3 style="padding-left: 8px"><strong></strong></h3></th>
                </thead>
                <tbody >
                <tr *ngFor="let event of eventHistory" >
                  <td style="width: 200px"><p style="margin: 5px 0 5px">{{event.createdAt * 1000 | date:'dd-MMM-yyyy, h:mm:ss a'}}</p></td>
                  <td style="max-width: 300px;"><p class="eventP" >{{event.text}} <span *ngIf="event.numberOfDuplicatesInGroupBy > 1">X {{event.numberOfDuplicatesInGroupBy}}</span></p></td>
                  <td style="min-width: 45px;">
                    <div class="btn-group pull-right eventButtons">
                      <a class="evEditBtn"><i class="fa fa-edit" (click)=" editEvent(event.text, event.id);"></i></a>

                      <a class="evDelBtn" *ngIf="role === 'super_admin'"><i class="fa fa-times" (click)="eventId = event.id; delEv = true; checkIfAdmin(); " ></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="pagination && eventSearchVal.value == ''">
              <div class="col-md-12">
                <div class="pull-left m-l-sm">
                  <strong style="font-size: 14px">Page: {{pagination.currentPage + 1 }}  <span *ngIf="pagination.last != 0">of {{pagination.last  }} </span></strong>
                </div>
                <!--PAGINATION FIRST-->
                <div class="btn-group pagination pull-right" *ngIf="pagination.currentPage == 0 && pagination.last != 0">
                  <button type="button" (click)="eventPage(pagination.first-1)" class="btn btn-white btn-sm" value="first" title="First page"><i class="fa fa-chevron-left"></i></button>
                  <button class="btn btn-white active btn-sm" (click)="eventPage(pagination.currentPage)">{{pagination.currentPage  + 1}}</button>
                  <button class="btn btn-white btn-sm"  (click)="eventPage(pagination.currentPage + 1)">{{pagination.currentPage + 2}} </button>
                  <button class="btn btn-white btn-sm" *ngIf="pagination.last > 2" (click)="eventPage(pagination.currentPage + 2)">{{pagination.currentPage + 3}} </button>
                  <button type="button" class="btn btn-white btn-sm" value="last" (click)="eventPage(pagination.last - 1)" title="Last page"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!--PAGINATION NEITHER FIRST NOR LAST-->
                <div class="btn-group pagination pull-right" *ngIf="pagination.currentPage != 0 && pagination.currentPage != pagination.last - 1 && pagination.last != 0">
                  <button type="button" (click)="eventPage(pagination.first-1)" class="btn btn-white btn-sm" value="first" title="First page"><i class="fa fa-chevron-left"></i></button>
                  <button class="btn btn-white btn-sm"  (click)="eventPage(pagination.currentPage - 1)">{{pagination.currentPage }} </button>
                  <button class="btn btn-white active btn-sm" (click)="eventPage(pagination.currentPage)">{{pagination.currentPage + 1}}</button>
                  <button class="btn btn-white btn-sm" *ngIf="pagination.last > 2" (click)="eventPage(pagination.currentPage + 1)">{{pagination.currentPage + 2}} </button>
                  <button type="button" class="btn btn-white btn-sm" value="last" (click)="eventPage(pagination.last - 1)" title="Last page"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!--PAGINATION LAST-->
                <div class="btn-group pagination pull-right" *ngIf="pagination.currentPage == pagination.last - 1 && pagination.last != 0">
                  <button type="button btn-sm" (click)="eventPage(pagination.first-1)" class="btn btn-white btn-sm" value="first" title="First page"><i class="fa fa-chevron-left"></i></button>
                  <button class="btn btn-white btn-sm" *ngIf="pagination.last > 2" (click)="eventPage(pagination.currentPage - 2)">{{pagination.currentPage - 1}} </button>
                  <button class="btn btn-white btn-sm" (click)="eventPage(pagination.currentPage - 1)">{{pagination.currentPage}} </button>
                  <button class="btn btn-white active btn-sm" (click)="eventPage(pagination.currentPage)">{{pagination.currentPage + 1}}</button>
                  <button type="button" class="btn btn-white btn-sm" value="last" (click)="eventPage(pagination.last - 1)" title="Last page"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!--<div class="m-r-lg m-t-xs pull-right">-->
                  <!--<input type="checkbox" [(ngModel)]="onlyAgent" (change)="onlyAgentFilter()">-->
                  <!--<small>ONLY AGENT ENTRIES</small>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="ibox ibox-main float-e-margins" *ngIf="subscriber && !CAoptions">
          <div class="ibox-title">
            <h5>Packages</h5>
            <div class="ibox-tools">
              <!--<a class="collapse-link" (click)="collapse = !collapse">-->
                <!--<span *ngIf="!collapse"></span><span *ngIf="collapse">Hide</span>-->
                <!--<i class="fa" [ngClass]="{'fa-chevron-up': collapse , 'fa-chevron-down': !collapse}"></i>-->
              <!--</a>-->
              <a *ngIf="scheduledCancellations" (click)="scheduledCancellationsDialog = !scheduledCancellationsDialog">
                <i class="fa fa-calendar"></i> Scheduled Cancellations
                <span [ngClass]="{'bred': scheduledCancellations.length > 0, 'bLightGrey': scheduledCancellations.length == 0}"  class="label-info label  pull-right">{{scheduledCancellations.length}}</span>
              </a>
            </div>
          </div>
          <div class="ibox-content " *ngIf="entitlements.length == 0 " >
            <h3 class="emptyUnknown">This account does not have any entitlements.</h3>
            <hr>
            <button class="btn btn-primary  m-t-n-xs"  (click)="changeDisabledCheck('S')"><i class="fa fa-edit"></i> Change Packages</button>
            <button  class="btn btn-primary  m-t-n-xs " (click)="changeDisabledCheck('O')" ><i class="fa fa-check-circle-o" ></i> OPPV  purchase </button>
            <!--<button  class="btn btn-primary  m-t-n-xs " (click)="changeDisabledCheck('O')"  (click)="CSIDisabled = true;" *ngIf="CSIDisabledCheck"><i class="fa fa-check-circle-o"></i> OPPV  purchase </button>-->
            <button class="btn btn-primary  m-t-n-xs"  [routerLink]="['/process21']"  *ngIf="!CSIDisabledCheck"><i class="fa fa-sliders"></i> Resend all bits</button>
            <button class="btn btn-primary  m-t-n-xs"  (click)="CSIDisabled = true;" *ngIf="CSIDisabledCheck"><i class="fa fa-sliders"></i> Resend all bits</button>
            <button class="btn btn-primary  m-t-n-xs"  [routerLink]="['/process4']" *ngIf="!CSIDisabledCheck"><i class="fa fa-retweet "></i> Re-pair Card</button>
            <button class="btn btn-primary  m-t-n-xs"  (click)="CSIDisabled = true;" *ngIf="CSIDisabledCheck"><i class="fa fa-retweet "></i> Re-pair Card</button>

          </div>
          <div class="ibox-content " *ngIf="entitlements.length > 0 " >
            <div  *ngIf=" collapse" class="row m-t-xs">
              <div *ngFor="let ent of entitlements">
                <div  [ngClass]="{'col-md-6 col-lg-6': entitlements.length > 2, 'col-md-6': entitlements.length <= 2}">
                  <strong>{{ent.productGroupTitleDescription}} <br>
                    <small> Created at: {{ent.createdAt * 1000 | date : 'dd-MMM-yyyy'}} </small>-
                    <span *ngIf="ent.activated" class="label-info label bgreen2">ACTIVE</span>
                    <span *ngIf="!ent.activated" class="label-info label bred">INACTIVE</span>
                    <!--<small>Cancellation Date: 30-Aug-2018</small> <span class="blue" style="font-size: 75%; cursor: pointer;" matTooltip="Reason and notes"><i class="fa fa-info-circle"></i></span>-->

                  </strong>
                  <hr>
                </div>
              </div>
            </div>
            <div *ngIf="!collapse">
              <h3><strong>Number of entitlements: </strong>{{entitlements.length}} -

                <a class="collapse-link" (click)="collapse = !collapse">
                  <span *ngIf="!collapse">Show</span><span *ngIf="collapse">Hide</span>
                  <!--<i class="fa" [ngClass]="{'fa-chevron-up': collapse , 'fa-chevron-down': !collapse}"></i>-->
                </a>
              </h3>
              <hr>
            </div>

            <button  class="btn btn-primary  m-t-n-xs changeEntitlementsBtn" (click)="changeDisabledCheck('S')"><i class="fa fa-edit"></i> Change Packages</button>
            <button  class="btn btn-primary  m-t-n-xs " (click)="changeDisabledCheck('O')" ><i class="fa fa-check-circle-o" ></i> OPPV  purchase </button>
            <button class="btn btn-primary  m-t-n-xs"  [routerLink]="['/process21']"  *ngIf="!CSIDisabledCheck"><i class="fa fa-sliders"></i> Resend all bits</button>
            <button class="btn btn-primary  m-t-n-xs"  (click)="CSIDisabled = true;" *ngIf="CSIDisabledCheck"><i class="fa fa-sliders"></i> Resend all bits</button>
            <button class="btn btn-primary  m-t-n-xs"  [routerLink]="['/process4']" *ngIf="!CSIDisabledCheck"><i class="fa fa-retweet "></i> Re-pair Card</button>
            <button class="btn btn-primary  m-t-n-xs"  (click)="CSIDisabled = true;" *ngIf="CSIDisabledCheck"><i class="fa fa-retweet "></i> Re-pair Card</button>

          </div>
        </div>

        <!--CA OPTIONS  -->
        <div class="ibox ibox-main float-e-margins" *ngIf="CAoptions">
          <div class="ibox-title">
            <h5> CA Options</h5>
            <div class="ibox-tools">
            </div>
          </div>
          <div class="ibox-content  CAoptions" *ngIf="CAoptions" >
            <div class="row text-center">
              <div class="col-xs-12 " style="padding: 20px 0 10px; ">
                <button class="btn btn-white  m-t-md" style="margin: 0 5px" (click)="changeDisabledCheck('O')"><i class="fa fa-bandcamp primary"></i> OPPV Purchase</button>
                <button class="btn btn-white  m-t-md" style="margin: 0 5px" [routerLink]="['/process21']" *ngIf="!CSIDisabledCheck; else RSAB"><i class="fa fa-sliders primary"></i> Resend All Bits</button><br><br>
                <ng-template #RSAB>
                  <button class="btn btn-white  m-t-md" style="margin: 0 5px" (click)="CSIDisabled = true;" ><i class="fa fa-sliders primary"></i> Resend All Bits</button><br>
                </ng-template>
                <button class="btn btn-white  m-t-md" style="margin: 0 5px" [routerLink]="['/process19']" *ngIf="!CSIDisabledCheck; else SKYPIN"><i class="fa fa-certificate primary"></i> Sky PIN</button>
                <ng-template #SKYPIN>
                  <button class="btn btn-white  m-t-md" style="margin: 0 5px" (click)="CSIDisabled = true;" ><i class="fa fa-certificate primary"></i> Sky PIN</button>
                </ng-template>
                <button class="btn btn-white  m-t-md" style="margin: 0 5px" [routerLink]="['/process4']" *ngIf="!CSIDisabledCheck; else RCARD"><i class="fa  fa-retweet primary" ></i> Re-Pair Card</button><br><br>
                <ng-template #RCARD>
                  <button class="btn btn-white  m-t-md" style="margin: 0 5px" (click)="CSIDisabled = true;" ><i class="fa  fa-retweet primary"></i> Re-Pair Card</button><br>
                </ng-template>
                <!--<button class="btn btn-white  m-t-md" style="margin: 0 5px" routerLink="/billingHistory/{{customer.id}}"><i class="fa fa fa-line-chart"></i> Billing History</button>-->
                <button class="btn btn-white  m-t-md m-b-lg" style="margin: 0 5px" (click)="reauthorise()" *ngIf="!CSIDisabledCheck"><i class="fa fa-toggle-on primary" aria-hidden="true"></i>
                  Re-Authorise Services </button>
                <button class="btn btn-white  m-t-md m-b-lg" style="margin: 0 5px"  (click)="CSIDisabled = true;" *ngIf="CSIDisabledCheck" ><i class="fa fa-toggle-on primary" aria-hidden="true"></i>
                  Re-Authorise Services </button>

                <button class="btn btn-white  m-t-md m-b-lg" style="margin: 0 5px" (click)="requestCallback()" *ngIf="!CSIDisabledCheck; else RCALLBACK"><i class="fa fa-asterisk primary"></i> Request Callback</button>
                <br><br>
                <ng-template #RCALLBACK>
                  <button class="btn btn-white  m-t-md" style="margin: 0 5px" (click)="CSIDisabled = true;" ><i class="fa fa-asterisk primary"></i> Request Callback</button><br><br>
                </ng-template>
                <button class="btn btn-white  m-t-md m-b-lg" style="margin: 0 5px" (click)="cancelAccount = true; checkIfAdmin()" ><i class="fa fa-ban red"></i> Cancel Account</button><br>

                <!--<div class="col-md-8 col-md-offset-2">-->
                <!--<div class="col-md-6"><button class="btn btn-white  m-t-md" style="margin: 0 5px; width: 100%" (click)="changeDisabledCheck('O')"><i class="fa fa-bandcamp primary"></i> OPPV Purchase</button></div>-->
                <!--<div class="col-md-6"><button class="btn btn-white  m-t-md" style="margin: 0 5px; width: 100%" (click)="changeDisabledCheck('O')"><i class="fa fa-bandcamp primary"></i> OPPV Purchase</button></div>-->
                <!--</div>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 ">
                <hr>
                <button  class="btn btn-danger" (click)="CAoptions = false; getHistory();">Back to Main View</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-12" *ngIf="!freeview">
        <div class="ibox ibox-main float-e-margins" >
          <div class="ibox-content ">
            <h2 class="m-b-md"> What would you like to do next? <span class="red" *ngIf="this.subscriber.cardSubscriberId == null || this.subscriber.cardSubscriberId == ''">(No Card Subscriber Id found)</span></h2>
            <input class="form-control" placeholder="Search keyword..." type="text" name="str" [(ngModel)]="str" (keyup)="processSearch()">
            <br>
            <div *ngFor="let process of processFound">
              <p [hidden]="process.CSI && (this.subscriber.cardSubscriberId == null || this.subscriber.cardSubscriberId == '')">
                <a *ngIf="process.link != '/process6' && process.link != '/process7' && process.link != '/process9'
                && process.link != '/process10' && process.link != '/process11'  && process.link != '/process12'
                && process.link != '/process13' && process.link != '/process14'  && process.link != '/process15'
                && process.link != '/process18' && process.link != '/process22'  && process.link != '/process29'
                && process.link != '/process32' && process.link != '/process34'  && process.link != '/process35'"
                   routerLink="{{process.link}}" [innerHTML]="process.text  | highlight : str">
                </a>

                <a *ngIf="process.link == '/process6'" (click)="process6 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process7'" (click)="process7 = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process9'" (click)="process9 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process13'" (click)="process9 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process10'" (click)="process10 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process11'" (click)="process11 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process12'" (click)="process11 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process14'" (click)="process14 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process29'" (click)="process29 = true; " [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process15'" (click)="process15 = true; " [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process18'" (click)="processOwedCheck(18)" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process22'" (click)="processOwedCheck(22)" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process32'" (click)="process32 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process34'" (click)="process34 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
                <a *ngIf="process.link == '/process35'" (click)="process35 = true; processBox = true;" [innerHTML]="process.text  | highlight : str"></a>
              </p>
            </div>
            <hr>
            <button class="btn btn-danger" [routerLink]="['/search']">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content  fadeInRight" *ngIf="error != null">
  <div class="col-lg-12 ">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-content">
        <h3>This account doesn't exist</h3><br>
        <button  class='btn btn-primary' routerLink="/search">Back to Search</button>
      </div>
    </div>
  </div>
</div>


<!-- ----------
DIALOG BOXES
----------- -->

<!--PROCESS 7-->
<div class="overlay info" *ngIf="process7">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Do you want Upsell to <!-- Multibox--> Multiroom?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="process15 = true; process7 = false;"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="process7 = false; process6 = true; processBox = true;"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--PROCESS 15-->
<div class="overlay info" *ngIf="process15">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Does the client want to buy Multiroom?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="joinCard()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="process7 = true; process15 = false;"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--PROCESS 18-->
<div class="overlay info" *ngIf="process18">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div *ngIf="billingInfo.owed > 0">
        <div class="overlayIcon">
          <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
        </div>
        <h2>The client has a Balance Outstanding of <span class="green">{{billingInfo.owed | currency: subscriber.currencyCode : 'symbol'}} </span> that must be settled.</h2>
        <div class="overlayButtons m-t-lg" >
          <button class="btn btn-danger " (click)="process18 = false">Back</button>
          <button class="btn btn-primary"  (click)="proceedPayment()">Process Payment</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay success" *ngIf="paymentSuccess">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Payment successful</h2>
      <div class="text-left steps">
        <hr>
        <ul>
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.Click on <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> to add packages
              <br> to the Account.</strong>
          </li>
        </ul>
      </div>
      <hr>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  routerLink="/viewSubscriber/{{subscriber.id}}" (click)="paymentSuccess = false"> Back to Account </button>
      </div>
    </div>
  </div>
</div>


<!--PROCESS FOLLOW STEPS-->
<div class="overlay " *ngIf="processBox">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="text-left steps">
        <h2 class="m-t-n-xs yellow">Please follow these steps:</h2>
        <hr>
        <!--PROCESS 6-->
        <ul *ngIf="process6">
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.Click <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> and remove all the entitlements.</strong>
          </li>
          <li>
            <strong>
              3.Click on <a class="btn btn-primary m-l-xs"><i class="fa fa-user"></i> View customer</a>
              and then  Join Existing Card.
            </strong>
          </li>
          <li>
            <strong>4.Add entitlements to the new Account created.</strong>
          </li>
        </ul>
        <!--PROCESS 9 / 13-->
        <ul *ngIf="process9">
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.Click on <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> to offer either <br> Retention packages or Remove packages.</strong>
          </li>
        </ul>
        <!--PROCESS 10-->
        <ul *ngIf="process10">
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.Click <a class="btn btn-primary m-l-xs"><i class="fa fa-user"></i> View customer</a></strong>
          </li>
          <li>
            <strong>3.Choose the Account the customer would like to stop viewing subscriptions on.</strong>
          </li>
          <li>
            <strong>4.Use <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> to offer Retention packages or Remove Packages.</strong>
          </li>
        </ul>
        <!--PROCESS 11 / 12 -->
        <ul *ngIf="process11">
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.Click <a class="btn btn-primary m-l-xs m-r-xs"><i class="fa fa-user"></i> View customer</a> to see all the cards belonging to this customer and Remove entitlements from any unused card. </strong>
          </li>
          <li>
            <strong>3.If the customer has no unused cards use <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> to offer Retention packages or Remove Packages.</strong>
          </li>
        </ul>
        <!--PROCESS 14-->
        <ul *ngIf="process14">
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.Use <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> to offer upgrades to
              <br> the customer existing packages.</strong>
          </li>
        </ul>
        <!--PROCESS 32-->
        <ul *ngIf="process32">
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.Click on <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a></strong>
          </li>
          <li>
            <strong>3.Select packages that the customer wants to purchase.</strong>
          </li>
          <li>
            <strong>4.Click on update packages and follow the instructions.</strong>
          </li>
        </ul>
        <!--PROCESS 34-->
        <ul *ngIf="process34">
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.If the customer would like to buy a OPPV event on the existing card, check that they have "Pay Per Night" product <span class="green">ACTIVE.</span></strong>
          </li>
          <li style="padding-left: 10px;">
            <strong>2a) If "Pay Per Night" is <span class="green">ACTIVE</span> click on <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-check-circle-o"></i>OPPV purchase</a>.</strong>
          </li>
          <li style="padding-left: 10px;">
            <strong>2b) If "Pay Per Night" is <span class="red">NOT ACTIVE</span>  click on <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> and add it before going back and adding OPPV purchases.</strong>
          </li>
          <hr>
          <li>
            <strong>3.If the customer would like this service on another unregistered existing card.</strong>
          </li>
          <li style="padding-left: 10px;">
            <strong>3a) Click on <a class="btn btn-primary m-l-xs m-r-xs"><i class="fa fa-user"></i> View customer</a></strong>
          </li>
          <li style="padding-left: 10px;">
            <strong>3b) Click <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-address-card-o"></i> Join Existing Card</a> and follow the process before doing the above.</strong>
          </li>

        </ul>
        <!--PROCESS 35-->
        <ul *ngIf="process35">
          <li>
            <strong>1.Click below to go back to the Account.</strong>
          </li>
          <li>
            <strong>2.If the customer would like to buy a OPPV event on the existing card, check that they have "Pay Per Night" product <span class="green">ACTIVE.</span></strong>
          </li>
          <li style="padding-left: 10px;">
            <strong>2a) If "Pay Per Night" is <span class="green">ACTIVE</span> click on <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-check-circle-o"></i>OPPV purchase</a>.</strong>
          </li>
          <li style="padding-left: 10px;">
            <strong>2b) If "Pay Per Night" is <span class="red">NOT ACTIVE</span>  click on <a class="btn btn-primary m-l-xs  m-r-xs"><i class="fa fa-edit"></i> Change Packages</a> and add it before going back and adding OPPV purchases.</strong>
          </li>
        </ul>
      </div>
      <hr>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" (click)="processBoxClose()">
          Back to Account
        </button>
      </div>
    </div>
  </div>
</div>

<!--PROCESS 29-->
<div class="overlay info" *ngIf="process29" >
  <div class="overlayBox  fadeIn process29" style="">
    <div class="overlayContent text-center">
      <div class="text-left steps">
        <h2 class="m-t-n-xs yellow">Please follow these steps:</h2>
        <hr>
        <ul>
          <li>
            <strong>1.See below the Event History for the last 10 days.</strong>
          </li>
          <li>
            <strong>2.Look for the last viewing card replacement request.</strong>
          </li>
          <li style="padding-left: 10px;">
            <strong>a) If the requests was done more than 5 days ago, click on Proceed button.</strong>
          </li>
          <li style="padding-left: 10px;">
            <strong>b) If the requests was done less than 5 days ago, please advise customer to wait 5 days and call back.</strong>
          </li>
        </ul>
        <hr>
        <div style="max-height: 200px; overflow: scroll;">
          <table class="table table-striped table-responsive" *ngIf="tenEventHistory.length > 0">
            <thead>
              <th><h3 style="padding-left: 8px"><strong>DATE</strong></h3></th>
              <th><h3 style="padding-left: 8px"><strong>EVENT / NOTE</strong></h3></th>
              <th><h3 style="padding-left: 8px"><strong></strong></h3></th>
            </thead>
            <tbody >
            <tr *ngFor="let event of tenEventHistory" >
              <td style="width: 200px"><p style="margin: 5px 0 5px">{{event.createdAt * 1000 | date:'dd-MM-yyyy, h:mm:ss a'}}</p></td>
              <td style="max-width: 300px;"><p class="eventP" >{{event.text}} <span *ngIf="event.numberOfDuplicatesInGroupBy > 1">X {{event.numberOfDuplicatesInGroupBy}}</span></p></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="tenEventHistory.length == 0">
          <h2>No events found for the last ten days.</h2>
        </div>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)=" process29 = false;"> Back</button>
        <button class="btn btn-danger m-l-xs" routerLink="/process29"> Proceed</button>
      </div>
    </div>
  </div>
</div>

<!--ADD EVENT/NOTE TO EVENT HISTORIES-->
<div class="overlay info" *ngIf="addEv">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <h2><i class="fa fa-plus"></i> Add note:</h2><br>
      <div class="row m-b-lg">
        <div class="col-xs-12">
          <textarea class="form-control" [(ngModel)]="note" placeholder="Add note here..." maxlength="975"></textarea>
        </div>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" (click)="addEv = false; note = '';"> Back</button>
        <button class="btn btn-success" (click)="addEvent()" *ngIf="note.length > 0; else addDisabled"> Add</button>
        <ng-template #addDisabled>
          <button class="btn btn-success" disabled> Add</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!--EDIT EVENT/NOTE TO EVENT HISTORIES-->
<div class="overlay info" *ngIf="updEv && accessGranted == 'admin'">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <h2><i class="fa fa-edit"></i> Edit note:</h2><br>
      <div class="row m-b-lg">
        <div class="col-xs-12">
          <textarea class="form-control" [(ngModel)]="note" placeholder="Add note here..."  maxlength="975"></textarea>
        </div>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" (click)="updEv = false; note = '';"> Back</button>
        <button class="btn btn-success" (click)="updateEvent()" > Update</button>
      </div>
    </div>
  </div>
</div>

<!--EDIT VIEWING CARD NUMBER-->
<div class="overlay info" *ngIf="editViewingCardNumber">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <h2>Please enter new viewing card number</h2><br>
      <div class="row m-b-lg">
        <div class="col-xs-12">
          <form [formGroup]="editVCNForm">
            <input class="form-control"   formControlName="viewingCardNumber" maxlength="9"  placeholder="New Viewing Card Number..." >
            <div *ngIf="(editVCNForm.controls['viewingCardNumber'].invalid) && (editVCNForm.controls['viewingCardNumber'].touched || submitted)" class="error">
              <span *ngIf="(editVCNForm.controls['viewingCardNumber'].hasError('required'))"> Viewing card number required. </span>
              <span *ngIf="(editVCNForm.controls['viewingCardNumber'].hasError('maxlength'))"> Max. length 9 characters. </span>
              <span *ngIf="(editVCNForm.controls['viewingCardNumber'].hasError('onlyNumbers'))"> Only numbers. </span>
            </div>
          </form>
        </div>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" (click)="editViewingCardNumber = false; submitted = false;"> Back</button>
        <button class="btn btn-success" (click)="editVCN(); " > Update</button>
      </div>
    </div>
  </div>
</div>

<!--DELETE-->
<div class="overlay info" *ngIf="delEv && accessGranted == 'admin'">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Are you sure that you want to delete this event?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="deleteEvent()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="delEv = false"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>


<!--CHANGE CREDIT LIMIT-->
<div class="overlay info" *ngIf="changeCreditLimit && accessGranted == 'admin'">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center" style="max-width: 400px;">
      <h2>Please enter the new Credit Limit</h2><br>
      <div class="row m-b-lg">
        <div class="col-xs-5 text-right" style="padding: 0;">
          <strong>Credit Limit: </strong>
        </div>

        <div class="col-xs-5 m-t-n-xs">
          <form [formGroup]="changeCreditLimitForm">
            <span class="input-group">
                 <span class="input-group-addon" *ngIf="subscriber.currencyCode == 'EUR'" >€</span>
                 <span class="input-group-addon" *ngIf="subscriber.currencyCode == 'GBP'" >£</span>
              <input type="text" class="form-control" placeholder="{{subscriber.creditLimit}}" formControlName="creditLimit">
            </span>
            <div *ngIf="(changeCreditLimitForm.controls['creditLimit'].invalid) && (changeCreditLimitForm.controls['creditLimit'].touched || submitted)" class="error">
              <span *ngIf="(changeCreditLimitForm.controls['creditLimit'].hasError('required'))"> Credit Limit required. </span>
              <span *ngIf="(changeCreditLimitForm.controls['creditLimit'].hasError('maxlength'))"> Max. length 12 characters. </span>
              <span *ngIf="(changeCreditLimitForm.controls['creditLimit'].hasError('onlyNumbers'))"> Only numbers. </span>
            </div>
          </form>
        </div>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" (click)="changeCreditLimit = false; submitted = false;"> Back</button>
        <button class="btn btn-success" (click)="changeCredit()"> Change</button>
      </div>
    </div>
  </div>
</div>

<!--VIP BOX-->
<div class="overlay info" *ngIf="vipBox">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Are you sure that you want to change the VIP status?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="vip()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="vipNo()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--CHANGE ENTITLEMENTS DISABLED-->
<div class="overlay info" *ngIf="changeDisabled">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 *ngIf="billingInfo.owed  > 0; else pleaseWait">Please
        settle  balance owed of {{billingInfo.owed | currency: subscriber.currencyCode : 'symbol'}}
        before changing packages.
      </h2>
      <ng-template #pleaseWait>
      <h2>Please wait
        <!--<span *ngIf="billingInfo.billingDate || billingInfo.hasPaymentCard"> wait</span>-->
        <span *ngIf="entAwaitingActivation">
           until all packages are active
        </span>
        <span *ngIf="entAwaitingActivation && billingInfo.owed > 0"> and </span>

        <span *ngIf="waitSubsActive">
           until the Account is active
        </span>
        before changing packages.</h2>
      </ng-template>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="changeDisabled = false"> OK</button>
      </div>
    </div>
  </div>
</div>

<!--CHANGE ENTITLEMENTS DISABLED-->
<div class="overlay info" *ngIf="vipChangeDisabled">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please settle  balance owed of {{billingInfo.owed | currency: subscriber.currencyCode : 'symbol'}}
        before changing VIP status.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="vipChangeDisabled = false"> OK</button>
      </div>
    </div>
  </div>
</div>


<!--NO CSI DISABLE BUTTONS -->
<div class="overlay info" *ngIf="CSIDisabled">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>This operation cannot be performed until Account registration
        is complete.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="CSIDisabled = false"> OK</button>
      </div>
    </div>
  </div>
</div>



<!--CANCEL ACCOUNT-->
<div class="overlay info" *ngIf="cancelAccount && accessGranted == 'admin'">
  <div class="overlayBox  fadeIn" style="min-width: 50% !important; padding: 20px 40px;">
    <div class="overlayContent text-center m-b-lg" style="display: inline-block; width: 100%;">
      <div class="col-md-12">
        <h2><i class="fa fa-ban red"></i> DSA Cancel Account </h2>
      </div>
      <!--REMOVED PACKAGES-->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="blue">All Packages would be removed from the Account.</h2>
          <hr>
        </div>
        <div class="col-md-12">
          <div class="col-xs-6 text-left" *ngFor="let ent of entitlements">
            <div  class="ibox packRemoved">
              <div class="ibox-content product-box"  >
                <div class="product-desc" style="height: 70px;">
                  <div class=" m-t-xs product-name">
                    {{ent.productGroupTitleDescription}} <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 text-left" *ngIf="entitlements.length == 0">
            <h3><strong>No packages removed</strong></h3>
          </div>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="overlayButtons m-t-lg">
        <button class="btn btn-danger" (click)="cancelAccount = false"> Back</button>
        <button class="btn btn-success m-l-xs" (click)="cancelProceed()"> Proceed</button>
      </div>
    </div>
  </div>
</div>


<!--SPECIAL CHARACTERS NOT ALLOW IN FILTER-->
<div class="overlay info" *ngIf="invalidFilter">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Special characters not allowed in events filter! </h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="invalidFilter = false"> OK</button>
      </div>
    </div>
  </div>
</div>

<!--REQUIRE ADMIN USER----- REPLACED BY AUTH-REQUIRED COMPONENT->
<!--<div class="overlay info" *ngIf="false">-->
  <!--<div class="overlayBox  fadeIn">-->
    <!--<div class="overlayContent text-left">-->
      <!--<h2 class="yellow">Supervisor Authorization Required</h2><br>-->
      <!--<div class="row m-b-lg">-->
        <!--<div class="col-xs-12">-->
          <!--<label class="control-label">User:</label>-->
          <!--<input type="text" class="form-control" [(ngModel)]="user" autocomplete="off">-->
          <!--<br>-->
          <!--<label  class="control-label">Password</label>-->
          <!--<input type="password" class="form-control" [(ngModel)]="password" autocomplete="off">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="overlayButtons m-t-lg">-->
        <!--<button class="btn btn-danger m-l-xs" (click)="requireAdmin = false;"> Back</button>-->
        <!--<button class="btn btn-success" (click)="authorize()" > Proceed</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--REQUEST-CALLBACK SUCCESS-->
<div class="overlay success" *ngIf="callbackDialog">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Request Callback successful.</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="callbackDialog = false"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="reauthoriseSuccess">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Re-Authorise Services successful!</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="reauthoriseSuccess = false"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SCHEDULED CANCELLATIONS-->
<div class="overlay success" *ngIf="scheduledCancellationsDialog">
  <div class="overlayBox  fadeInDown" style="max-width: 80%">
    <div class="overlayContent text-center">
      <h2 class="blue">Scheduled Cancellations</h2>
      <table class="table table-hover text-left m-t-md">
        <thead>
        <tr>
          <th>#</th>
          <th>Package Name</th>
          <th>Created At</th>
          <th>Cancellation Date</th>
          <th>Final Payment</th>
          <th>Final Payment Date</th>
          <th>Notes</th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngIf="scheduledCancellations">
          <tr *ngFor="let c of scheduledCancellations">
            <td>{{c.id}}</td>
            <td>{{c.subscriptionComponent.productGroup.titleDescription}}</td>
            <td>{{c.createdAt * 1000 | date  : 'dd-MM-yyyy'}}</td>
            <td>{{c.cancellationDate * 1000| date : 'dd-MM-yyyy'}}</td>
            <td>
              <span *ngIf="subscriber.currencyCode == 'GBP'">£</span>
              <span *ngIf="subscriber.currencyCode == 'EUR'">€</span>
              {{c.finalPayment}}
            </td>
            <td>
              <ng-container *ngIf="c.finalPaymentTimestamp; else finalPaymentTimestamp">
                {{c.finalPaymentTimestamp * 1000| date : 'dd-MM-yyyy'}}
              </ng-container>
              <ng-template #finalPaymentTimestamp>
                Not Applicable
              </ng-template>
            </td>
            <td>{{c.notes}}</td>
            <td><input type="checkbox" (change)="stopCancellations(c.id, $event.target.checked)"></td>
          </tr>
        </tbody>
      </table>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger"  (click)="scheduledCancellationsDialog = false; stopCancellationsList = []"> Back </button>
        <button class="btn btn-success" [disabled]="stopCancellationsList.length == 0"  (click)="checkIfAdmin(); cancellationDelete = stopCancellationsList">Stop Selected Cancellations</button>
      </div>
    </div>
  </div>
</div>

<!--DELETE SCHEDULED CANCELLATION-->
<div class="overlay info" *ngIf="cancellationDelete && accessGranted == 'admin'">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Are you sure that you want to stop {{cancellationDelete.length}} scheduled cancellation?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" (click)="cancellationDelete = false">NO</button>
        <!--<i class="fa fa-times"></i>-->
        <button class="btn btn-success" (click)="deleteScheduledCancellation(cancellationDelete); cancellationDelete = false"> YES</button>
        <!--<i class="fa fa-check" style="color:white;"></i>-->
      </div>
    </div>
  </div>
</div>


<!--EDIT CANCELLATION-->
<div class="overlay success" *ngIf="cancellationEdit">
  <div class="overlayBox  fadeInDown" style="max-width: 435px">
    <div class="overlayContent text-center">
      <h2 class="blue">Edit Cancellation</h2>
      <h4 style="color: #747d81">{{cancellationEdit.subscriptionComponent.productGroup.titleDescription}}</h4>
      <div class="text-left m-t-lg">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
            <ng-datepicker [(ngModel)]="cancellationEdit.cancellationDate"  [options]="options" class="inline" aria-describedby="basic-addon1"></ng-datepicker>
          </div>

          <div class="input-group m-t-sm" style="width: 360px;">
            <select name="reason" id="reason" class="form-control" >
              <option value="" disabled selected>Select reason</option>
              <option value="">Reason 1</option>
              <option value="">Reason 2</option>
              <option value="">Reason 3</option>
            </select>

          </div>
          <div class="input-group m-t-sm" style="width: 360px;">
            <textarea name="reason"  style="max-width: 360px;"  class="form-control m-t-xs" placeholder="Further information...">{{cancellationEdit.notes}}</textarea>
          </div>
      </div>
      <div class="overlayButtons m-t-lg">
        <button class="btn btn-success"  (click)="cancellationEdit = null" > Cancel </button>
        <button class="btn btn-danger"  (click)="updateScheduleCancellation(cancellationEdit);">Update</button>

      </div>
    </div>
  </div>
</div>

<!--AUTH REQUIRED-->
<app-auth-required
  [requireAdmin]="requireAdmin"
  (requireAdminDialog)="requireAdmin = $event; closeDialogs() "
  (error)="authError($event)"
  (accessGranted)="accessGranted = $event">
</app-auth-required>


<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn" >
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <h3>{{error.message2}}</h3>
      <h3 *ngFor="let err of error.fieldErrors">
        {{err.field}} {{err.message}}
      </h3>
      <h3 *ngFor="let err of error.errorList">
        <h3>{{err.message}}</h3>
        <h3>{{err.message2}}</h3>
        <hr>
      </h3>

      <p>{{error.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>
