h4{color:#2e3d49; font-weight: 500;} .active {padding: 10px;  color: #11c397;  border-radius: 2px; font-size: 16px}
.inactive  { padding: 10px;  color: #e23237;  border-radius: 2px;  font-size: 16px}
.details .fa{padding: 4px 6px; border-radius: 50%;}
.details h2{color: #2e3d49}
.details .fa-map-marker{color: white; background: #f7a230; padding: 4px 7px;}
.details .fa-phone{ color: white; background: #1c7fe9 }
.details .vip {color: white; background: #4c4c4c; padding: 3px 5px 2px; border-radius: 2px; display: inline-block;}
.lightGrey { background: #e8acac !important; margin-top: -10px;}
.details .btn i {
  padding-left: 0;
}
.pagination{margin:0} .pagination .btn{margin: 0;} .pagination .active{padding: 6px 12px; box-shadow:none; border: 0; font-size: 12px;}
.eventP{-webkit-line-clamp: 1; margin: 5px 0 5px;   overflow: hidden; display: -webkit-box;  -webkit-box-orient: vertical; color: #4A5960} tr:hover .eventP{-webkit-line-clamp: 99;}
.CAoptions .btn-white{background: #fbfbfb; padding: 10px 30px; width: 260px;  height: 56px; margin:0; text-align: left; text-transform: uppercase; border-radius: 4px;}
.CAoptions .btn-white:hover{ background: #0f3b68; color: white;} .CAoptions .btn-white:hover .fa{color: white !important;}
.eventButtons{padding-top: 2.5px} .eventButtons a {color: rgba(151, 158, 164, 0.55) !important;}
.overlay textarea{max-width: 400px; max-height: 500px; min-height: 150px; width: 400px;} .evEditBtn:hover i, .evDelBtn:hover i{color: #2e3d49 !important}
.phones span{color: #c1c1c1;}
.steps ul{padding: 0;} .steps ul li{margin: 10px 0;} .steps ul li strong{line-height: 26px;} .steps .btn:hover{background: #0f3b68; border-color: #0f3b68; cursor: default;}
a.evDelBtn {font-size: 15px;}
.emptyUnknown{color: #c1c1c1;}
.process29{max-width: 875px; max-height: 95%;} .process29 table tbody{  height: 300px; overflow-y: auto; width: 100%;}
.tableOf{height: 300px; overflow: scroll;}

.table {
  border-bottom: 1px solid #e7e7e7;
}

/deep/ .mat-slide-toggle-bar{
  margin-top: -6px;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  /*background-color: #4cc37d !important;*/
  background-color: #11c397 !important;
}
/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(196, 196, 196, 0.47);
}

/deep/ .mat-tooltip {
  font-size: 11px;
}

.historyOptions {
  display: inline-block;
  position: absolute;
  right: 305px;
  top: 2px;
}
.historyCheckbox {
  display: inline-block;
}
.editVCN{
  position: relative; top: 10px;
}


@media (max-width: 1600px) {
  .btn {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.5;
    transition: all 0.5s;
  }
  h3,
  strong{
    font-size: 13px;
  }
  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .control-label {
    font-size: 13px;
  }
  table td {
    padding: 5px 8px;
  }

}
.deleteSC:hover {
  color: #e23237;
  cursor: pointer;
}
@media (min-width: 1200px) and (max-width: 1468px) {
  .historyOptions {
    top: -8px;
  }

  .historyCheckbox {
    display: block;
  }

  .editVCN{
    position: relative; top: 28px;
    margin-left: 0;
  }

}

.ibox-tools a:hover {
  color: #666;
}
