<div class="panel-body">
  <div class="row">
    <div class="col-sm-8" *ngIf="users">
      <span class="text-muted small pull-right">Last modification:
        <i class="fa fa-clock-o"></i> {{users[0].updatedAt | date: "dd-MMM-yyyy, h:mm:ss a" }}
        <span *ngIf="users[0].updatedAt == null" class="emptyUnkown">Unknown</span>
      </span>
      <h2>Users</h2>
      <p>
        All users need to be enabled and unlocked before they can login in the CRM.
      </p>
      <div class="input-group">
        <input type="text" placeholder="Search user... " class="input form-control" name="filter" [(ngModel)]="filter" (keyup)="userFilter()">
        <span class="input-group-btn">
                <button type="button" class="btn btn btn-primary" (click)="addNewUser();"> <i class="fa fa-user-plus"></i> Add User</button>
              </span>
      </div>
      <div class="clients-list">
        <div class="tab-content">
          <div  class="tab-pane active">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div class="full-height-scroll" style="overflow: hidden; width: auto; height: 100%;">
              <div class="table-responsive">
                <table class="table table-striped table-hover">
                  <tbody>
                  <tr *ngFor="let user of usersFound | paginate: { itemsPerPage: showNumber, currentPage: p};" (dblclick)="userSelected = user; editDetails =false; addUserView = false;">
                    <td>{{user.id}}</td>
                    <td><a data-toggle="tab" href="#contact-1" class="client-link" (click)="userSelected = user; editDetails =false; addUserView = false;">{{user.name}}</a></td>
                    <td>
                     <span *ngIf="user.roles == 'ROLE_SUPER_ADMIN'">SUPER ADMIN</span>
                      <span *ngIf="user.roles == 'ROLE_SUPERVISOR'">SUPERVISOR</span>
                     <span *ngIf="user.roles == 'ROLE_ADMIN'">ADMIN</span>
                     <span *ngIf="user.roles == 'ROLE_USER'">USER</span>
                    </td>
                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                    <td> {{user.email}}</td>
                    <td class="client-status">
                      <span class="label label-primary" *ngIf="user.enabled">Enabled</span>
                      <span class="label label-danger bred" *ngIf="!user.enabled">Disabled</span>
                    </td>
                    <td ><span *ngIf="user.locked"><i class="fa fa-lock" ></i> <span class="locked">Locked </span>  </span></td>
                    <td style="width: 30px; padding: 0;"><span class="tableSelect"> <i class="fa fa-ellipsis-h" aria-hidden="true" (click)="userSelected = user; editDetails =false; addUserView = false;"></i></span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row" *ngIf="users">
                <div class="col-md-6" >
                  <p>Number of users: {{users.length}}  </p>
                </div>
                <div class="col-md-6 text-right">
                  <pagination-controls (pageChange)="p = $event" class="my-pagination "></pagination-controls>
                </div>
              </div>
            </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 83px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 365.112px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tab-content" *ngIf="userSelected">
        <div class="tab-pane active"  *ngIf="!addUserView">
          <div class="row m-b-lg">
            <div class="col-lg-7 text-left">
              <h2>{{userSelected.name}} </h2>
              <p><small>
                Created: {{userSelected.createdAt | date : 'dd-MMM-yyyy, h:mm:ss a'}}
                <span class="emptyUnkown" *ngIf="userSelected.createdAt == null">Unknown</span>
              </small></p>
              <div class="m-b-sm">
              </div>
            </div>
            <div class="col-lg-5 text-right">
              <button class="btn-xs btn-white m-r-xs" *ngIf="userSelected.locked"  (click)="unlock()" title="Click to unlock"><i class="fa fa-lock"></i> Locked</button>
              <strong>
                <span class="label label-primary" *ngIf="userSelected.enabled">Enabled</span>
                <span class="label label-info bred" *ngIf="!userSelected.enabled">Disabled</span>
              </strong>
              <mat-slide-toggle [checked]="userSelected.enabled"  [(ngModel)]="userSelected.enabled" (change)="dialog = {message: 'Are you sure you want to change the status of this user?'}"></mat-slide-toggle>
            </div>
          </div>
          <div class="client-detail">
            <div class="slimScrollDiv" style="positon: relative;  width: auto; height: 100%;"><div class="full-height-scroll" style="width: auto; height: 100%;">
              <strong><ng-container *ngIf="editDetails"> Edit </ng-container>Details</strong>
              <button class="btn-white btn-sm pull-right" (click)="editUser()" *ngIf="!editDetails"> <i class="fa fa-edit"></i> Edit details</button>
              <div *ngIf="!editDetails">
                <ul class="list-group clear-list">
                <li class="list-group-item fist-item">
                  <span class="pull-right">  </span>
                  Role:
                  <span *ngIf="userSelected.roles == 'ROLE_SUPER_ADMIN'">SUPER ADMIN</span>
                  <span *ngIf="userSelected.roles == 'ROLE_SUPERVISOR'">SUPERVISOR</span>
                  <span *ngIf="userSelected.roles == 'ROLE_ADMIN'">ADMIN</span>
                  <span *ngIf="userSelected.roles == 'ROLE_USER'">USER</span>
                </li>
                <li class="list-group-item ">
                  Username: {{userSelected.name}}
                </li>
                <li class="list-group-item">
                  <span class="pull-right"> <i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                  Password: *********
                </li>
                <li class="list-group-item">
                  <span class="pull-right">  </span>
                  Email: {{userSelected.email}}
                </li>
                <li class="list-group-item">
                  Last modified: {{userSelected.updatedAt | date : "dd-MMM-yyyy, h:mm:ss a"}}
                  <span class="emptyUnknown" *ngIf="userSelected.updatedAt == null">Unknown</span>
                </li>
              </ul>
                <strong>Notes</strong>
                <p *ngIf="userSelected.notes; else empty">
                {{userSelected.notes}}
                </p>
                <ng-template #empty>
                  <p class="emptyUnknown">Empty</p>
                </ng-template>
              </div>
              <form *ngIf="editDetails" [formGroup]="form"  class="m-t-md" autocomplete="off">
                <div class="form-group">
                  <input class="form-control" type="text" name="username" placeholder="Username" name="name" formControlName="name">
                  <div *ngIf="(form.controls['name'].invalid) && (form.controls['name'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['name'].hasError('maxlength'))"> Max. length 255 characters. </span>
                    <span *ngIf="(form.controls['name'].hasError('minlength'))"> Min. length 2 characters. </span>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="password" placeholder="New Password" name="password" formControlName="password">
                  <div *ngIf="(form.controls['password'].invalid) && (form.controls['password'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['password'].hasError('maxlength'))"> Max. length 255 characters. </span>
                    <span *ngIf="(form.controls['password'].hasError('minlength'))"> Min. length 8 characters. </span>
                  </div>
                </div>
                <div class="form-group">
                  <!--=-------------=-------------=-------------=-------------=--------------->
                  <div class="input-group" style="border: 1px solid #e5e6e7" [ngClass]="{'bcgreen': emailVerificationResponse === 'deliverable', 'bcred': emailVerificationResponse === 'undeliverable',
                  'bcyellow': emailVerificationResponse === 'risky', 'bcblue': emailVerificationResponse === 'unknown', 'bcgrey': emailVerificationResponse === 'Insufficient Balance'}" >
                    <input type="text" placeholder="Email" formControlName="email" name="email"  class="input form-control b-n" (keyup)="emailVerificationResponse = false; noEmail = false;">
                    <a *ngIf="!emailVerificationResponse" class="btn btn-primary input-group-addon bblue white" style="border: #0f3b68;" (click)="validateEmail(form.value.email)" >
                      Validate
                    </a>
                    <span *ngIf="emailVerificationResponse == 'deliverable'" class=" input-group-addon b-n"  >
                      <i  class="fa fa-check green"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'undeliverable' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-times red"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'risky' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-exclamation yellow"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'unknown' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-question blue"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'loading'" class=" input-group-addon b-n"  >
                      <i class="fa fa-spinner fa-spin"></i>
                    </span>
                    <span *ngIf="emailVerificationResponse == 'Insufficient Balance'" class=" input-group-addon b-n"  >
                      <i class="fa fa-question"></i>
                    </span>
                  </div>
                  <!--<div *ngIf="(detailsForm.controls['email'].invalid  && (detailsForm.controls['email'].touched || submitted) || emailVerificationResponse == 'undeliverable')"  >-->
                  <div *ngIf=" emailVerificationResponse == 'undeliverable'"  >
                    <h4><span  class="red">Invalid Address. </span><span *ngIf="didYouMean">Did you mean <a (click)="patchEmail()">{{didYouMean}}</a>? </span></h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'deliverable'">
                    <h4 class="green">Valid Address</h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'risky'">
                    <h4 class="yellow">Low Quality Address – Please provide an alternative email address if possible</h4>
                  </div>
                  <div *ngIf=" emailVerificationResponse == 'unknown'">
                    <h4 class="blue">Unknown - We were unable to check this email address</h4>
                  </div>
                  <div *ngIf="emailVerificationResponse == 'Insufficient Balance'">
                    <h4 >Email address checking is currently unavailable [IB]</h4>
                  </div>

                  <!--=----------=-------------=-------------=-------------=-------------=------------------>
                  <!--<input class="form-control" type="text" name="email" placeholder="Email" name="email" formControlName="email">-->
                  <!--<div *ngIf="(form.controls['email'].invalid) && (form.controls['email'].touched || submitted)" class="error">-->
                    <!--<span *ngIf="(form.controls['email'].hasError('maxlength'))"> Max. length 255 characters. </span>-->
                    <!--<span *ngIf="(form.controls['email'].hasError('minlength'))"> Min. length 8 characters. </span>-->
                  <!--</div>-->
                </div>
                <div class="form-group">
                  <textarea name="notes" class="form-control" formControlName="notes" placeholder="Notes" style="max-width: 100%; min-width: 100%;"></textarea>
                  <div *ngIf="(form.controls['notes'].invalid) && (form.controls['notes'].touched || submitted)" class="error">
                    <span *ngIf="(form.controls['notes'].hasError('maxlength'))"> Max. length 100 characters. </span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="m-r-sm">
                    <input type="radio" value="ROLE_USER" name="role" formControlName="role"> User
                  </label>
                  <label  class="m-r-sm">
                  <input type="radio" value="ROLE_SUPERVISOR" name="role" formControlName="role"> Supervisor
                  </label>
                  <label>
                    <input type="radio" value="ROLE_ADMIN" name="role" formControlName="role"> Admin
                  </label>
                </div>
                <div class="form-group " *ngIf="editDetails">
                  <button class="btn-white btn-sm " (click)="updateDetails();  submitted = true;">
                    Save</button>
                  <button class="btn-white btn-sm " (click)="editDetails = !editDetails; submitted = false;"> Cancel</button>
                </div>
              </form>
              <hr>
              <strong *ngIf="!editDetails">Users activity</strong>
              <div [chart]="usersChart" *ngIf="!editDetails"></div>
              <!--<div id="vertical-timeline" class="vertical-container dark-timeline">-->
                <!--<div class="vertical-timeline-block">-->
                  <!--<div class="vertical-timeline-icon gray-bg">-->
                    <!--<i class="fa fa-user-plus" aria-hidden="true"></i>-->
                  <!--</div>-->
                  <!--<div class="vertical-timeline-content">-->
                    <!--<p>Conference on the sales results for the previous year.-->
                    <!--</p>-->
                    <!--<span class="vertical-date small text-muted"> 2:10 pm - 12.06.2014 </span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="vertical-timeline-block">-->
                  <!--<div class="vertical-timeline-icon gray-bg">-->
                    <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
                  <!--</div>-->
                  <!--<div class="vertical-timeline-content">-->
                    <!--<p>Many desktop publishing packages and web page editors now use Lorem.-->
                    <!--</p>-->
                    <!--<span class="vertical-date small text-muted"> 4:20 pm - 10.05.2014 </span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="vertical-timeline-block">-->
                  <!--<div class="vertical-timeline-icon gray-bg">-->
                    <!--<i class="fa fa-sign-out" aria-hidden="true"></i>-->
                  <!--</div>-->
                  <!--<div class="vertical-timeline-content">-->
                    <!--<p>There are many variations of passages of Lorem Ipsum available.-->
                    <!--</p>-->
                    <!--<span class="vertical-date small text-muted"> 06:10 pm - 11.03.2014 </span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="vertical-timeline-block">-->
                  <!--<div class="vertical-timeline-icon navy-bg">-->
                    <!--<i class="fa fa-warning"></i>-->
                  <!--</div>-->
                  <!--<div class="vertical-timeline-content">-->
                    <!--<p>The generated Lorem Ipsum is therefore.-->
                    <!--</p>-->
                    <!--<span class="vertical-date small text-muted"> 02:50 pm - 03.10.2014 </span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="vertical-timeline-block">-->
                  <!--<div class="vertical-timeline-icon gray-bg">-->
                    <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
                  <!--</div>-->
                  <!--<div class="vertical-timeline-content">-->
                    <!--<p>Conference on the sales results for the previous year.-->
                    <!--</p>-->
                    <!--<span class="vertical-date small text-muted"> 2:10 pm - 12.06.2014 </span>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="vertical-timeline-block">-->
                  <!--<div class="vertical-timeline-icon gray-bg">-->
                    <!--<i class="fa fa-sign-out" aria-hidden="true"></i>-->
                  <!--</div>-->
                  <!--<div class="vertical-timeline-content">-->
                    <!--<p>Many desktop publishing packages and web page editors now use Lorem.-->
                    <!--</p>-->
                    <!--<span class="vertical-date small text-muted"> 4:20 pm - 10.05.2014 </span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 405.058px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
          </div>
        </div>
        <div class="tab-pane active"  *ngIf="addUserView">
          <h2><i class="fa fa-user-plus"></i> Add User</h2>
          <br>
          <form id="addUserForm" [formGroup]="addForm" autocomplete="off">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Username" name="name" formControlName="name">
              <div *ngIf="(addForm.controls['name'].invalid) && (addForm.controls['name'].touched || submitted)" class="error">
                <span *ngIf="(addForm.controls['name'].hasError('required'))"> Username is required. </span>
                <span *ngIf="(addForm.controls['name'].hasError('maxlength'))"> Max. length 255 characters. </span>
                <span *ngIf="(addForm.controls['name'].hasError('minlength'))"> Min. length 2 characters. </span>
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Password" name="password" formControlName="password">
              <div *ngIf="(addForm.controls['password'].invalid) && (addForm.controls['password'].touched || submitted)" class="error">
                <span *ngIf="(addForm.controls['password'].hasError('required'))"> Password is required. </span>
                <span *ngIf="(addForm.controls['password'].hasError('maxlength'))"> Max. length 255 characters. </span>
                <span *ngIf="(addForm.controls['password'].hasError('minlength'))"> Min. length 8 characters. </span>
                <span *ngIf="(addForm.controls['password'].hasError('forceSpecialChar'))"> At least 1 special char is required.</span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group" style="border: 1px solid #e5e6e7" [ngClass]="{'bcgreen': emailVerificationResponse === 'deliverable', 'bcred': emailVerificationResponse === 'undeliverable',
                  'bcyellow': emailVerificationResponse === 'risky', 'bcblue': emailVerificationResponse === 'unknown', 'bcgrey': emailVerificationResponse === 'Insufficient Balance'}" >
                <input type="text" placeholder="Email" formControlName="email" name="email"  class="input form-control b-n" (keyup)="emailVerificationResponse = false; noEmail = false;">
                <a *ngIf="!emailVerificationResponse" class="btn btn-primary input-group-addon bblue white" style="border: #0f3b68;" (click)="validateEmail(addForm.value.email)" >
                  Validate
                </a>
                <span *ngIf="emailVerificationResponse == 'deliverable'" class=" input-group-addon b-n"  >
                      <i  class="fa fa-check green"></i>
                    </span>
                <span *ngIf="emailVerificationResponse == 'undeliverable' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-times red"></i>
                    </span>
                <span *ngIf="emailVerificationResponse == 'risky' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-exclamation yellow"></i>
                    </span>
                <span *ngIf="emailVerificationResponse == 'unknown' " class=" input-group-addon b-n"  >
                      <i  class="fa fa-question blue"></i>
                    </span>
                <span *ngIf="emailVerificationResponse == 'loading'" class=" input-group-addon b-n"  >
                      <i class="fa fa-spinner fa-spin"></i>
                    </span>
                <span *ngIf="emailVerificationResponse == 'Insufficient Balance'" class=" input-group-addon b-n"  >
                      <i class="fa fa-question"></i>
                    </span>
              </div>
              <!--<div *ngIf="(detailsForm.controls['email'].invalid  && (detailsForm.controls['email'].touched || submitted) || emailVerificationResponse == 'undeliverable')"  >-->
              <div *ngIf=" emailVerificationResponse == 'undeliverable'"  >
                <h4><span  class="red">Invalid Address. </span><span *ngIf="didYouMean">Did you mean <a (click)="patchEmail()">{{didYouMean}}</a>? </span></h4>
              </div>
              <div *ngIf=" emailVerificationResponse == 'deliverable'">
                <h4 class="green">Valid Address</h4>
              </div>
              <div *ngIf=" emailVerificationResponse == 'risky'">
                <h4 class="yellow">Low Quality Address – Please provide an alternative email address if possible</h4>
              </div>
              <div *ngIf=" emailVerificationResponse == 'unknown'">
                <h4 class="blue">Unknown - We were unable to check this email address</h4>
              </div>
              <div *ngIf="emailVerificationResponse == 'Insufficient Balance'">
                <h4 >Email address checking is currently unavailable [IB]</h4>
              </div>

              <!---->
              <!--<input class="form-control" type="text" placeholder="Email" name="email" formControlName="email">-->
              <!--<div *ngIf="(addForm.controls['email'].invalid) && (addForm.controls['email'].touched || submitted)" class="error">-->
                <!--<span *ngIf="(addForm.controls['email'].hasError('required'))"> Email is required. </span>-->
                <!--<span *ngIf="(addForm.controls['email'].hasError('maxlength'))"> Max. length 255 characters. </span>-->
                <!--<span *ngIf="(addForm.controls['email'].hasError('minlength'))"> Min. length 8 characters. </span>-->
              <!--</div>-->
            </div>
            <div class="form-group">
              <textarea class="form-control"  placeholder="Notes" formControlName="notes" style="max-width: 100%;
    min-width: 100%; max-height: 100px;"></textarea>
              <div *ngIf="(addForm.controls['notes'].invalid) && (addForm.controls['notes'].touched || submitted)" class="error">
                <span *ngIf="(addForm.controls['notes'].hasError('maxlength'))"> Max. length 100 characters. </span>
              </div>
            </div>
            <div class="form-group">
              <label class="m-r-sm">
                <input type="radio" name="role" value="ROLE_USER" formControlName="role"> User </label>
              <label  class="m-r-sm" >
                <input type="radio" name="role" value="ROLE_SUPERVISOR" formControlName="role"> Supervisor</label>
              <label >
                <input type="radio" name="role" value="ROLE_ADMIN" formControlName="role"> Admin</label>
            </div>
            <div class="form-group">
              <button class="btn btn-white btn-sm" (click)="add();  submitted = true;">Save</button>
              <button class="btn btn-white btn-sm" (click)="addUserView = !addUserView; submitted = false;">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <!--<h2 *ngIf="error"> Error</h2>-->
      <!--<h3>{{error.message}}</h3>-->
      <!--<h3 *ngFor="let e of error.fieldErrors"> - {{e.field}} {{e.message}}</h3>-->

      <div *ngIf="error.field">
        <h2>Validation Error</h2>
        <h3>{{error.field}}: {{error.message}}</h3>
      </div>
      <div *ngIf="!error.field">
        <h2>Error</h2>
        <h3>{{error.message}}</h3>
      </div>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>{{success.message}}</h2>
      <h3>{{success.message2}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="success = null"> OK </button>
      </div>
    </div>
  </div>
</div>


<!-- DIALOG -->
<div class="overlay info" *ngIf="dialog">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>{{dialog.message}}</h2>
      <h2>{{dialog.message2}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="updateEnabled()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="userSelected.enabled = !userSelected.enabled; dialog = null"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

