#addUserForm textarea{
  height: 200px;
}
.mat-slide-toggle{
  position: relative;
  top: 4px;
}
/deep/.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #11c397 !important;
}
/deep/.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
background: rgba(182, 201, 196, 0.41)
}
.tableSelect {
  display: none;
  width: 10px;
}
tr:hover .tableSelect {
  display: block;
}

@media(max-width: 1200px){
  .locked{
    display: none;
  }
}
/deep/.highcharts-credits {
  color: transparent !important;
  fill: transparent !important;
}
.fa-ellipsis-h {
  cursor: pointer;
}
