<div class="footer">
    <div class="pull-right">
        <strong>Media Access Services v{{version}}</strong>
    </div>
    <div>
        <strong>Copyright</strong> MAS &copy; 2017
    </div>
</div>
