<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Home</a>
      </li>
      <li class="active">
        <strong>Search</strong>
      </li>
    </ol>
  </div>
</div>

<!--MULTIPLE LOCAL MATCH-->
<div class="wrapper wrapper-content  fadeInRight" *ngIf="multipleMatch && hidden">
  <div class="col-lg-12">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>
          <span *ngIf="searchParams.viewingCardNumber.length > 0">{{multipleMatch.length}} Potential match(es) found.
            <strong class="red" style="font-size: 16px" *ngIf="!match">(None match Viewing Card Number: {{searchParams.viewingCardNumber}})</strong>
          </span>
          <span *ngIf="searchParams.viewingCardNumber.length == 0">{{multipleMatch.length}} Potential match(es) found.
            <strong class="red" style="font-size: 16px" *ngIf="match">(Viewing Card Number Not Supplied)</strong>
          </span>
        </h5>
      </div>
      <div class="ibox-content">
        <div *ngIf="multipleMatch">
          <div class="col-md-12 m-b-md">
            <h2 class="m-b-md">Please select an Account.  </h2>
            <button class="btn btn-primary" (click)="vcnCheck();" *ngIf="searchRemoteAvailable && searchParams.viewingCardNumber.length > 0">Customer not listed below</button>
            <h3 class="yellow" *ngIf="!searchRemoteAvailable">Address Details not found. If customer is not listed below please click back and try searching with the Customer's address.</h3>
            <h3 class="yellow" *ngIf="searchParams.viewingCardNumber.length == 0">If customer is not listed below please click back and try searching with a different Address or Viewing Card Number.</h3>
          </div>
          <div *ngFor="let sub of multipleMatch" class="col-md-12 ibox-content multipleLocalResults">
            <!--(click)="selectResult(sub)"-->
            <div [routerLink]="['/viewSubscriber/' , sub.id]"> <h2>{{sub.title}} {{sub.surname}} </h2>
              <h3><strong>Address: </strong> {{sub.addressLine1}} {{sub.addressLine2}} </h3>
              <h3><strong>Home Telephone: </strong> {{sub.homeTelNo}} / <strong> Mobile Telephone: </strong> {{sub.mobTelNo}} / <strong> Work Telephone: </strong> {{sub.workTelNo}}</h3>
              <h3>
                <span *ngIf="sub.viewingCardNumber != null"><strong>Viewing Card Number: </strong>{{sub.viewingCardNumber}}</span>
                <span *ngIf="sub.viewingCardNumber == null"><strong>Viewing Card Number: </strong>Not found</span>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
              <!--<button type="button" class="btn btn-primary" [routerLink]="['/search']">Back</button>-->
              <button type="button" class="btn btn-primary" (click)="location.back();">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ONE REMOTE MATCH-->
<div class="wrapper wrapper-content  fadeInRight" *ngIf="remoteResult">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>Search Results</h5>
      </div>
      <div class="ibox-content">
        <div *ngIf="remoteResult">
          <h2 class="m-b-md red">Warning: The details shown are provided by Sky. </h2>
          <h3 class="red">Check the surname is correct and the address is the Customer’s current or previous address.</h3>
          <h3 class="red">These cannot be updated until after registration is complete.</h3>

          <div class="hr-line-dashed"></div>
          <div class="row details">
            <div class="col-md-12" *ngFor="let sub of remoteResult">
              <div class="row">
                <div class="col-md-6">
                  <h2>{{sub.title}} {{sub.firstname}}
                    <span *ngIf="!surnameCheck">{{sub.surname}}</span>
                    <span  *ngIf="surnameCheck"><del>{{sub.surname}}</del> {{parameters.surname}}</span>
                  </h2>
                  <h3 *ngIf="remoteResult[0].surname.toLowerCase() != parameters.surname.toLowerCase()">
                    <input type="checkbox" [(ngModel)]="surnameCheck" >
                    <strong>Use search surname:</strong>
                    {{parameters.surname}}
                  </h3>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <h3><strong>Card Holder Type:</strong> {{sub.cardHolderType}}</h3>
                </div>
                <div class="col-md-6">
                  <h3 ><strong>Viewing Card Number:</strong>
                    <!--<span *ngIf="sub.viewingCardNumber != null" > {{sub.viewingCardNumber}}</span>-->
                    <span *ngIf="!viewingCardNumberCheck">{{sub.viewingCardNumber}}</span>
                    <span  *ngIf="viewingCardNumberCheck"><del>{{sub.viewingCardNumber}}</del> {{parameters.viewingCardNumber}}</span>

                    <span *ngIf="sub.viewingCardNumber == null">Unknown number</span>
                  </h3>
                </div>
              </div>
              <br>
              <h4 class="primary"><i class="fa fa-map-marker" aria-hidden="true"></i> ADDRESS</h4>
              <div class="row">
                <div class="col-md-6">
                  <h3>
                    <span *ngIf="!addressLine1Check"> {{sub.addressLine1}}</span>
                    <span  *ngIf="addressLine1Check"><del> {{sub.addressLine1}}</del> {{parameters.addressLine1}}</span>
                  </h3>
                  <h3>
                    <span *ngIf="!addressLine2Check"> {{sub.addressLine2}}</span>
                    <span  *ngIf="addressLine2Check"><del> {{sub.addressLine2}}</del> {{parameters.addressLine2}}</span>
                  </h3>
                  <h3>{{sub.addressLine3}}</h3>
                  <h3>{{sub.addressLine4}}</h3>
                  <h3>{{sub.addressLine5}}</h3>
                </div>
                <div class="col-md-6">
                  <h3>
                    <strong>Postcode:</strong>
                    <span *ngIf="!postcodeCheck"> {{sub.postcode}}</span>
                    <span  *ngIf="postcodeCheck"><del> {{sub.postcode}}</del> {{parameters.postcode}}</span>
                  </h3>
                  <h3><strong>Country:</strong> {{sub.countryCode}}</h3>
                </div>
              </div>
              <br>
              <h4 class="primary"><i class="fa fa-phone"></i> PHONE NUMBERS</h4>
              <div class="row">
                <div class="col-md-6">
                  <h3><strong>Home Telephone:</strong> {{sub.homeTelNo}}</h3>
                  <h3><strong>Work Telephone:</strong> {{sub.workTelNo}}</h3>
                </div>
                <div class="col-md-6">
                  <h3><strong>Mobile Telephone:</strong> {{sub.mobTelNo}}</h3>
                  <h3><strong>Set Top Box Telephone: </strong> {{sub.cliTelNo}}</h3>
                </div>
              </div>
              <!--<hr>-->
              <!--<h4 class="primary">Sky has returned different subscriber data to the search parameters you entered. <br>-->
                <!--Please select below to overwrite the Sky data with your search parameters:</h4>-->

              <!--<h3 *ngIf="remoteResult[0].postcode.toLowerCase() != parameters.postcode.toLowerCase()">-->
                <!--<input type="checkbox" [(ngModel)]="postcodeCheck" >-->
                <!--<strong>Postcode:</strong>-->
                <!--{{parameters.postcode}}-->
              <!--</h3>-->
              <!--<h3 *ngIf="remoteResult[0].viewingCardNumber.toLowerCase() != parameters.viewingCardNumber.toLowerCase()">-->
                <!--<input type="checkbox" [(ngModel)]="viewingCardNumberCheck">-->
                <!--<strong>Viewing Card Number:</strong>-->
                <!--{{parameters.viewingCardNumber}}-->
              <!--</h3>-->
              <!--<h3 *ngIf="remoteResult[0].addressLine1.toLowerCase() != parameters.addressLine1.toLowerCase()">-->
                <!--<input type="checkbox" [(ngModel)]="addressLine1Check" >-->
                <!--<strong>Address Line 1:</strong>-->
                <!--{{parameters.addressLine1}}-->
              <!--</h3>-->
              <!--<h3 *ngIf="remoteResult[0].addressLine2.toLowerCase() != parameters.addressLine2.toLowerCase()">-->
                <!--<input type="checkbox" [(ngModel)]="addressLine2Check">-->
                <!--<strong >Address Line 2:</strong>-->
                <!--{{parameters.addressLine2}}-->
              <!--</h3>-->
            </div>
            <div class="col-md-12">
              <hr>
              <!--<button class="btn btn-danger" [routerLink]="['/search']">Cancel</button>-->
              <button class="btn btn-danger" (click)="location.back()">Cancel</button>
              <button class="btn btn-primary" (click)="proceedJoin()">Proceed</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- ---------
DIALOG BOXES
---------- -->

<!--JOIN CUSTOMER TO CHANNEL?-->
<div class="overlay info" *ngIf="joinBox">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2 class="red">We do not have a record for this customer.</h2>
      <h2>Would you like to add this customer?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="joinYes()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="joinNo()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--DOES THE CUSTOMER HAVE A VIEWING CARD?-->
<div class="overlay info" *ngIf="viewingCardBox">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Does the customer have a viewing card?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="vcYes()"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" (click)="vcNo()"><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--IF customer has viewing card, INPUT viewing card-->
<div class="overlay info" *ngIf="addViewingCardBox">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Please type Viewing Card Number</h2>
      <form  [formGroup]="vcnForm">
        <input type="text" class="form-control" placeholder="Viewing Card Number" formControlName="viewingCardNumber"  #viewingCardNumber >
        <div *ngIf="(vcnForm.controls['viewingCardNumber'].invalid) && (vcnForm.controls['viewingCardNumber'].touched || submitted)" class="error">
          Viewing Card Number Required (Only numbers).
        </div>
      </form>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger m-l-xs" [routerLink]="['/search']"><i class="fa fa-times"></i> Cancel</button>
        <button class="btn btn-success" (click)="addVCProceed(viewingCardNumber.value)"><i class="fa fa-check" style="color:white;"></i> Proceed</button>
      </div>
    </div>
  </div>
</div>

<!--CREATE A NEW CUSTOMER?-->
<div class="overlay info" *ngIf="createNewBox">
  <div class="overlayBox  oulse">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Would you like to create a new customer and request viewing card?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" [routerLink]="['/newsubscriber']"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" [routerLink]="['/search']" ><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.message}}</h3>
      <h3>{{error.message2}}</h3>
      <h3>{{error.message3}}</h3>
      <p>{{error.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SEARCH REMOTE ERROR-->
<div class="overlay err" *ngIf="searchError != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{searchError.status}}</h2>
      <h3>{{searchError.message}}</h3>
      <h3>{{searchError.message2}}</h3>
      <h3>{{searchError.message3}}</h3>
      <p>{{searchError.error_description}}</p>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="searchError = null" routerLink="/search"> OK </button>
      </div>
    </div>
  </div>
</div>
