<!----------------------------------
PROCESS 27: Request Replacement Card
----------------------------------->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li class="active">
        <strong>Cancel replacement card request </strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  fadeInRight"  *ngIf="true">
  <div  [ngClass]="{'col-md-6 col-md-offset-3': address, 'col-md-8 col-md-offset-2': !address}">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>Cancel replacement card request</h5>
      </div>
      <div class="ibox-content">
        <div class="col-md-12 m-t-md">
          <form class="form-horizontal"  [formGroup]="requestForm">
            <div class="form-group">
              <label class="col-lg-4 control-label">Cancel Replacement Reason:</label>
              <div class="col-lg-3">
                <select class="form-control" name="replacementReasonCode" formControlName="replacementReasonCode" >
                  <option value="" disabled selected>Select Reason</option>
                  <option *ngFor="let RRcode of replacementReasonCode" value="{{RRcode.code}}" selected>{{RRcode.code}} {{RRcode.text}}</option>
                </select>
                <div *ngIf="(requestForm.controls['replacementReasonCode'].invalid ) && ( submitted)" class="error">
                  Reason is required
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <button class="btn btn-danger"  routerLink="/viewSubscriber/{{subscriber.id}}">Back</button>
            <button class="btn btn-primary" (click)="requestCard()"><span *ngIf="!address">Change address &</span>Cancel Request Card</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-----------
DIALOG BOXES
------------>

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <h3>{{error.fieldErrors.field}} {{error.fieldErrors.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/search"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success" >
  <div class="overlayBox  fadeInDown" style="max-width: 422%">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>The replacement card request has been canceled.</h2>
      <hr>
      <h2 style="font-size: 20px">Please advise the customer to insert the original viewing card in the Sky box. <br><br> Has the viewing card been reactivated?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}"><i class="fa fa-check" style="color:white;"></i> YES</button>
        <button class="btn btn-danger m-l-xs" routerLink="/process21" ><i class="fa fa-times"></i> NO</button>
      </div>
    </div>
  </div>
</div>




