<div class="row">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <h2 class="primary" style="padding: 0; margin: 17px 10px">Media Access Services</h2>
          </div>
           <div class="col-md-6 col-sm-6 hidden-xs text-right">
             <div style="margin: 21px 0">
               <span *ngIf="role == 'admin'" class="m-r-sm" style="padding: 6px 16px; color: white; background: #086fe3; border-radius: 50px;"> ADMIN</span>
               <span class="m-r-sm" style="color: #32404c" *ngIf="globals.URL !== 'https://vca.mediaaccessservices.net'">
                 Environment:<span class="yellow">  {{environment}}</span>
               </span>
               <a class="" style="color: #32404c" [routerLink]="['/login']" (click)="logOut()">
                 <i class="fa fa-sign-out"></i> LOG OUT
               </a>

             </div>
           </div>
        </div>

    </nav>
</div>
