<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <div class="fh-breadcrumb">
      <div class="fh-column">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
          <div class="full-height-scroll" style="overflow: scroll; width: auto; max-height: 720px;">
            <ul class="list-group elements-list"  [dragula]='"first-bag"'  [dragulaModel]="salesItems">
              <li *ngFor="let sig of salesItems;"  class="list-group-item" [ngClass]="{'active' : sig.active}" id="{{sig.id + 99}}" > <!-- +99 to avoid to identical ids in the html -->
                <a data-toggle="tab" [href]="'#' + sig.id" (click)="resetToDefault(); changesSavedCheck(); displayOrder = sig.displayingOrder">
                  <small class="pull-right text-muted"> {{sig.createdAt * 1000 | date: 'dd.MM.yyyy'}}</small>
                  <h3><strong>{{sig.displayingOrder}}. {{sig.name}}</strong></h3>
                  <div class="small m-t-xs">
                    <p>
                      <ng-container *ngFor="let pg of sig.productGroupResponseDtoList">
                        <small> {{pg.titleLabel}} <span *ngIf="pg.validTo * 1000 < now ">(expired)</span>, <br></small>
                      </ng-container>
                    </p>
                    <p class="m-b-none">
                      <i class="fa fa-cube"></i> Number of Packages: {{sig.productGroupResponseDtoList.length}}
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 608.975px;"></div>
          <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
          <button class="btn btn-white bgreen white" style="width: 100%;" (click)="createNewSalesItemDialog = true;">Create New Sales Item Group</button>
        </div>
      </div>

      <div class="full-height">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
          <div class="full-height-scroll white-bg border-left" style="overflow: hidden; width: auto; height: 100%;">
          <div class="element-detail-box">
            <div class="tab-content">
              <div *ngFor="let si of salesItems; let i = index" id="{{si.id}}" class="tab-pane" [ngClass]="{'active' : si.active}">

                <div class="pull-right">
                  <div class="tooltip-demo">
                    <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as important" (click)="changeName = true; newName = si.name"><i class="fa fa-edit" ></i> Edit Name</button>
                    <button class="btn btn-white btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Move to trash"  (click)="deleteSalesItemDialog = si"><i class="fa fa-trash-o"></i> Remove</button>
                  </div>
                </div>
                <div class="small text-muted">
                  <i class="fa fa-clock-o"></i> Created At: {{si.createdAt * 1000| date : 'dd-MM-yyyy hh:mm:ss'}}
                </div>
                <h1>
                  <div  *ngIf="!changeName">{{si.name}}</div>
                  <div class="input-group" style="width: 400px;" *ngIf="changeName">
                    <input type="text" class="form-control" placeholder="Sales Item Group Name" [(ngModel)]="newName">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="saveName(si, i)">Save</button>
                    </span>
                  </div>
                </h1>
                <h3>
                 <div  *ngIf="!changeName"><strong >Display Order: {{si.displayingOrder}}</strong></div>
                  <div class="form-group" style="width: 400px;" *ngIf="false">
                    <label for="displayOrder" ><strong >Display Order: </strong></label>
                    <select class="form-control" [(ngModel)]="displayOrder" id="displayOrder" style="width: 100px">
                      <ng-container *ngFor="let s of salesItems; let i = index">
                        <option [value]="i"   [selected]="displayOrder == i">{{i}}</option>
                      </ng-container>
                    </select>
                  </div>
                </h3>
                <div class="row">
                  <div class="col-md-12">
                    <h2>Packages
                      <span class="pull-right">
                        <button class="btn btn-white" (click)="getAvailablePackages(si)"><i class="fa fa-plus"></i> Add Package</button>
                      </span>
                      <span class="pull-right m-r-sm">  <input type="text" class="form-control" (keyup)="filterPackages(si)" [(ngModel)]="filter" placeholder="Filter..."></span>
                      <span class="pull-right m-r-sm">
                        <label >
                          <input type="checkbox" value="false"  [(ngModel)]="displayValidToInThePast" (change)="displayValidToInThePast = $event.target.checked">
                          <small style="font-size: 14px">Display Expired Packages</small>
                        </label>
                      </span>
                    </h2>
                    <hr>
                    <div class="packagesBox">
                      <div *ngIf="si.packagesFound.length == 0"> <h3 class="emptyUnknown">No packages found...</h3></div>
                      <div *ngFor="let pg of si.packagesFound" class="file-box">
                        <div class="file" *ngIf="pg.validTo * 1000 > now || displayValidToInThePast">
                          <a>
                            <span class="corner"></span>
                            <div class="icon" >
                              <small style="color: #676a6c">Valid from {{pg.validFrom * 1000 | date: 'dd-MM-yy'}} to {{pg.validTo * 1000 | date: 'dd-MM-yy'}}
                                <span class="pull-right"><i style="padding: 4px;" class="fa fa-times" (click)="removePackage(si, pg);"></i></span>
                              </small>
                              <br>
                              {{pg.titleLabel}}
                              <br>
                              <small style="color: #676a6c">  Description: {{pg.titleDescription}} </small>
                            </div>
                            <div class="file-name">
                              <ng-container *ngIf="pg.pricing.subscription">
                                <small>Initial: {{pg.pricing.subscription.initialAmount | currency: pg.currencyCode: 'symbol'}} - {{pg.pricing.subscription.initialPeriod}}</small>
                                <br>
                                <small>Recurring: {{pg.pricing.subscription.initialAmount | currency: pg.currencyCode: 'symbol'}} - {{pg.pricing.subscription.recurringPeriod}}</small>
                              </ng-container>
                              <ng-container *ngIf="pg.pricing.oneOff">
                                Price: {{pg.pricing.oneOff.price |  currency: pg.currencyCode: 'symbol' }} <span *ngIf="pg.pricing.oneOff.indicative">(indicative)</span>
                              </ng-container>
                            </div>
                          </a>
                        </div>

                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <hr>
                    <button class="btn btn-white" (click)="getAllSalesItems(i)">Restore</button>
                    <button class="btn btn-primary" (click)="savePackageDialog = {si: si, i: i}">Save Packages</button>
                    <!--<span class="pull-right"><small>* Packages won't be added / removed unless click on save changes</small></span>-->
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 765px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- ------
  DIALOGS
------ -->


<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox ">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2 *ngIf="error"> Error</h2>
      <h3>{{error.message}}</h3>
      <h3 *ngFor="let e of error.fieldErrors"> - {{e.field}} {{e.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SAVE PACKAGE-->
<div class="overlay info" *ngIf="savePackageDialog">
  <div class="overlayBox  fadeInDown" style="max-width: 65%">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Are you sure you want to save these Packages?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger"  (click)="savePackageDialog = null"> NO </button>
        <button class="btn btn-success"  (click)="saveChanges(savePackageDialog);"> YES </button>
      </div>
    </div>
  </div>
</div>


<!--ADD NEW SALES ITEM -->
<div class="overlay info" *ngIf="createNewSalesItemDialog">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <h2 class="blue m-b-lg">Create New Sales Item</h2>
      <form class="text-left">
        <div class="form-group">
          <label class="control-label" for="name">New Sales Item Group Name:</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Name..." #name>
        </div>
        <div class="overlayButtons m-t-lg" >
          <button class="btn btn-danger"  (click)="createNewSalesItemDialog = null"> BACK </button>
          <button class="btn btn-success"  (click)="createNewSalesItem(name.value)"> ADD </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--REMOVE SALES ITEM-->
<div class="overlay info" *ngIf="deleteSalesItemDialog">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <h2>Are you sure you want to remove this Sales Item Group?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger"  (click)="deleteSalesItemDialog = null"> NO </button>
        <button class="btn btn-success"  (click)="deleteSalesItem(deleteSalesItemDialog);"> YES </button>
      </div>
    </div>
  </div>
</div>

  <!--ADD PACKAGE-->
  <div class="overlay info" *ngIf="addPackageDialog">
    <div class="overlayBox  fadeInDown" style="max-width: 70%">
      <div class="overlayContent text-center">
          <div class="container-fluid">
            <div class="row m-b-md">
              <div class="col-md-12">
                <h2 class="blue">Select Available Packages</h2>
                <span class="pull-right m-r-sm " *ngIf="availablePackages.length > 0"><input type="text" placeholder="Filter..." class="form-control" (keyup)="availablePackagesFilter($event.target.value)"></span>
                <span class="pull-right m-r-sm m-t-xs"  *ngIf="availablePackages.length > 0">
                  <strong >
                    <input type="checkbox" value="false" [(ngModel)]="displayValidToInThePast" (change)="displayValidToInThePast = $event.target.checked">
                    <small style="font-size: 14px">Display Expired Packages</small>
                  </strong>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div  style="max-height: 550px; overflow: scroll">
                  <div *ngFor="let pg of availablePackagesFound" class="file-box" (click)="selectPack(pg)">
                    <div class="file addPackageBox" *ngIf="pg.validTo * 1000 > now || displayValidToInThePast" [ngClass]="{'packSelected': pg.selected}" >
                      <a>
                        <span class="corner"></span>
                        <div class="icon" >
                          <small style="color: #676a6c">Valid From: {{pg.validFrom * 1000 | date: 'dd-MM-yy'}} to {{pg.validTo * 1000 | date: 'dd-MM-yy'}}</small>
                          <br>
                          {{pg.titleLabel}}
                          <br>
                          <small style="color: #676a6c">  Description: {{pg.titleDescription}} </small>
                        </div>
                        <div class="file-name text-left">
                          <ng-container *ngIf="pg.pricing.subscription">
                            <small>Initial: {{pg.pricing.subscription.initialAmount | currency: pg.currencyCode: 'symbol'}} - {{pg.pricing.subscription.initialPeriod}}</small>
                            <br>
                            <small>Recurring: {{pg.pricing.subscription.initialAmount | currency: pg.currencyCode: 'symbol'}} - {{pg.pricing.subscription.recurringPeriod}}</small>
                          </ng-container>
                          <ng-container *ngIf="pg.pricing.oneOff">
                            Price: {{pg.pricing.oneOff.price |  currency: pg.currencyCode: 'symbol' }} <span *ngIf="pg.pricing.oneOff.indicative">(indicative)</span>
                          </ng-container>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="clearfix"></div>
        <div class="overlayButtons m-t-lg" >
          <button class="btn btn-danger"  (click)="addPackageDialog = null"> BACK </button>
          <button class="btn btn-success"  (click)="addPackages(addPackageDialog)"> ADD ({{packagesToAdd.length}}) Packages Selected </button>
        </div>
      </div>
    </div>
  </div>

<!--CHANGES SAVED-->
<div class="overlay info" *ngIf="changesSavedDialog">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-exclamation fa-5x" style="color: #ffda70;"></i>
      </div>
      <h2>Do you want to save Package Changes?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-danger"  (click)=" getAllSalesItems(changesSavedDialog.i); changesSavedDialog = null;"> NO </button>
        <button class="btn btn-success"  (click)="saveChanges(changesSavedDialog);  changesSavedDialog = null;"> YES </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>{{success.message}}</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success" (click)="success = null"> OK </button>
      </div>
    </div>
  </div>
</div>

