.packagesBox {
  height: 450px;
  overflow: scroll;
}
.addPackageBox:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 1px rgba(0, 0, 0, 0.07), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.packSelected {
  background: #dbf2e4;
}
