<!--REQUIRE ADMIN USER-->
<div class="overlay info" *ngIf="requireAdmin">
  <div class="overlayBox  fadeIn">
    <div class="overlayContent text-left">
      <h2 class="yellow">Supervisor Authorization Required</h2><br>
      <div class="row m-b-lg">
        <div class="col-xs-12">
          <label class="control-label">User:</label>
          <input type="text" class="form-control" [(ngModel)]="user" autocomplete="user-user">
          <br>
          <label  class="control-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" autocomplete="password-password">
        </div>
      </div>
      <div class="overlayButtons m-t-lg">
        <button class="btn btn-danger m-l-xs" (click)="close(true)"> Back</button>
        <button class="btn btn-success" (click)="authorize()" > Proceed</button>
      </div>
    </div>
  </div>
</div>
