<!-- ---------------------
PROCESS 8: Change Address
---------------------- -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <ol class="breadcrumb">
      <li>
        <a >Search</a>
      </li>
      <li>
        <a >View Account</a>
      </li>
      <li class="active">
        <strong>Edit Personal Details</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  fadeInRight"  *ngIf="true" (click)="addressList = null">
  <div class="col-lg-8 col-lg-offset-2 ">
    <div class="ibox ibox-main float-e-margins" >
      <div class="ibox-title">
        <h5>Edit Personal Details</h5>
      </div>
      <div class="ibox-content">
        <div class="">
          <div class="col-md-12 m-t-md">
            <form class="form-horizontal"  [formGroup]="addressForm" autocomplete="off">
              <div class="form-group">
                <label class="col-lg-2 control-label">Title:</label>
                <div class="col-lg-3">
                  <select class="form-control" name="title" id="T" formControlName="title">
                    <option value="Mr" selected>Mr</option>
                    <option value="Mrs">Mrs </option>
                    <option value="Miss">Miss</option>
                    <option value="Ms">Ms</option>
                    <option value="Dr">Dr</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Initials:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Initials" formControlName="initials" name="initials"  class="form-control"  maxlength="3">
                  <div *ngIf="(addressForm.controls['initials'].hasError('required') || addressForm.controls['initials'].hasError('maxlength') || addressForm.controls['initials'].hasError('letterSpaces')) && (addressForm.controls['initials'].touched || submitted)" class="error ">
                    Initials are required (Letters and spaces only).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Surname:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Surname" formControlName="surname" name="surname" class="form-control">
                  <div *ngIf="(addressForm.controls['surname'].hasError('required') || addressForm.controls['surname'].hasError('maxlength') || addressForm.controls['surname'].hasError('letterSpaces')) && (addressForm.controls['surname'].touched || submitted)" class="error">
                    Surname is required (Letters and spaces only).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Postcode: </label>
                <div class="col-lg-10">
                  <div class="input-group">
                    <input type="text"  formControlName="postcode"  name="postcode" class="form-control" maxlength="9"   autocomplete="off">
                    <a class="input-group-addon btn-white" [ngClass]="{'bblue white': addressForm.value.postcode.length > 0}" *ngIf="addressForm.value.postcode.length > 0; else buttonDisabled"
                       (click)="findAddress()">Find address</a>
                    <ng-template #buttonDisabled>
                      <a class="input-group-addon btn-white" [ngClass]="{'bblue white': addressForm.value.postcode.length > 0}" disabled >Find address</a>
                    </ng-template>
                  </div>
                  <div *ngIf="addressForm.controls['postcode'].invalid  && (addressForm.controls['postcode'].touched || submitted)" class="error">
                    No special characters allowed
                  </div>
                  <div class="findAddress" *ngIf="addressList">
                    <ul>
                      <li *ngFor="let address of addressList" (click)="setAddress(address)">
                        <a>{{address.notFound}} {{address.addressLine1}} {{address.addressLine2}} {{address.addressLine3}} {{address.addressLine4}} {{address.addressLine5}}</a>
                      </li>
                    </ul>
                    <button class="btn btn-primary" (click)="showSearchRemote = true; disableInput = false; addressSelected = true" style="margin: 0; width: 100%;">Add address manually.</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Address Line 1:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 1" formControlName="addressLine1" name="addressLine1" class="form-control" [readonly]="role != 'admin'" >
                  <div *ngIf="(addressForm.controls['addressLine1'].hasError('required') || addressForm.controls['addressLine1'].hasError('maxlength') || addressForm.controls['addressLine1'].hasError('specialChar')) && (addressForm.controls['addressLine1'].touched || submitted)" class="error">
                    Address line 1 is required. (Only Letters/Numbers/Spaces ).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">*Address Line 2:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 2" formControlName="addressLine2" name="addressLine2" class="form-control" [readonly]="role != 'admin'">
                  <div *ngIf="(addressForm.controls['addressLine2'].hasError('required') || addressForm.controls['addressLine2'].hasError('maxlength') || addressForm.controls['addressLine2'].hasError('specialChar')) && (addressForm.controls['addressLine2'].touched || submitted)" class="error">
                    Address line 2 is required (Only Letters/Numbers/Spaces ).
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Address Line 3:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 3"  formControlName="addressLine3" name="addressLine3" class="form-control" maxlength="35" [readonly]="role != 'admin'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Address Line 4:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 4"  formControlName="addressLine4" name="addressLine4" class="form-control" maxlength="35" [readonly]="role != 'admin'">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Address Line 5:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Address Line 5"  formControlName="addressLine5" name="addressLine5" class="form-control" maxlength="35" [readonly]="role != 'admin'">
                </div>
              </div>
              <!--<div class="form-group">-->
              <!--<label class="col-lg-2 control-label">Postcode:</label>-->
              <!--<div class="col-lg-4">-->
              <!--<input type="text" placeholder="Postcode" formControlName="postcode" name="postcode" class="form-control"  maxlength="9">-->
              <!--<div *ngIf="(addressForm.controls['postcode'].hasError('required') || addressForm.controls['postcode'].hasError('maxlength')) && (addressForm.controls['postcode'].touched || submitted)" class="error">-->
              <!--Postcode is required-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->

              <div class="form-group">
                <label class="col-lg-2 control-label">Country:</label>
                <div class="col-lg-4">
                  <span style="padding: 7px; display: inline-block;"><strong>{{addressForm.value.countryCode}}</strong></span>
                </div>
              </div>
              <div formGroupName="phones">
                <div class="form-group">
                  <label class="col-lg-2 control-label">*Home Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Home Telephone" formControlName="homeTelNr" name="homeTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="( addressForm.controls['phones'].controls.homeTelNr.invalid) && (submitted || addressForm.controls['phones'].controls.homeTelNr.touched)" class="error">
                      Only numbers
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">*Work Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Work Telephone" formControlName="workTelNr" name="workTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="( addressForm.controls['phones'].controls.workTelNr.invalid) && (submitted || addressForm.controls['phones'].controls.workTelNr.touched)" class="error">
                      Only numbers
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">*Mobile Telephone:</label>
                  <div class="col-lg-10">
                    <input type="text" placeholder="Mobile Telephone" formControlName="mobTelNr" name="mobileTelephone" class="form-control phoneVal" maxlength="15" >
                    <div *ngIf="(addressForm.controls['phones'].controls.mobTelNr.invalid) && (submitted || addressForm.controls['phones'].controls.mobTelNr.touched)" class="error">
                      Only numbers
                    </div>
                    <div *ngIf="(!addressForm.controls['phones'].valid) && (submitted)" class="error">
                      At least one phone number is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">Set Top Box Telephone:</label>
                <div class="col-lg-10">
                  <input type="text" placeholder="Set Top Box Telephone" formControlName="cliTelNr" name="cliTelephone" class="form-control phoneVal" maxlength="15">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <button class="btn btn-danger"  routerLink="/viewSubscriber/{{subscriber.id}}">Back</button>
            <button class="btn btn-primary" (click)="spreadChanges = true">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------
DIALOG BOXES
--------- -->

<!--ERROR-->
<div class="overlay err" *ngIf="error != null">
  <div class="overlayBox  bounceIn">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-times fa-5x" style="color: #e23237;"></i>
      </div>
      <h2>Error {{error.status}}</h2>
      <h3>{{error.field}} {{error.message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="error = null" routerLink="/viewSubscriber/{{subscriber.id}}"> OK </button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESS-->
<div class="overlay success" *ngIf="success">
  <div class="overlayBox  fadeInDown">
    <div class="overlayContent text-center">
      <div class="overlayIcon">
        <i class="fa fa-check fa-5x" style="color: #42A948;"></i>
      </div>
      <h2>Address has been updated.</h2>
      <h3>{{message}}</h3>
      <div class="overlayButtons m-t-lg" >
        <div *ngIf="aI != null">
          <button class="btn btn-success"  (click)="backTo()"> OK </button>
        </div>
        <div *ngIf="aI == null">
          <button class="btn btn-success" routerLink="/viewSubscriber/{{subscriber.id}}" (click)="success = false"> OK </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--APPLY CHANGES TO CUSTOMER ACCOUNT-->
<div class="overlay info" *ngIf="spreadChanges">
  <div class="overlayBox  fadeInDown" style="max-width: 620px;">
    <div class="overlayContent text-center">
      <h2>Apply updates to Customer Account?</h2>
      <div class="overlayButtons m-t-lg" >
        <button class="btn btn-success"  (click)="spread(); message = 'Updates applied to this account and customer account.'"><i class="fa fa-check"></i> YES </button>
        <button class="btn btn-danger" (click)="updateAddress(); message = 'Updates applied only to this account.'"><i class="fa fa-times"></i> NO </button>
      </div>
    </div>
  </div>
</div>

