<!-- Wrapper-->
<div id="wrapper" style=" min-height: 100vh !important;">

    <!-- Left navigation bar -->
    <navigation></navigation>

    <!-- Main page wrapper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Top navigation -->
        <topnavbar></topnavbar>

        <!-- Main view/routes wrapper-->
        <router-outlet></router-outlet>

        <!-- Footer -->
        <footer></footer>

    </div>
    <!-- End page wrapper-->
</div>
<!-- End wrapper-->


