<div id="wrapper" class="gray-bg">
  <div id="page-wrapper" style="margin: 0!important; min-height: 100vh !important;">
    <!-- Top navigation -->
    <topnavbar></topnavbar>

    <!-- Main view/routes wrapper-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer></footer>

  </div>

</div>
